Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-11, with the labels that each got.

#2537 Release v4.6.5
  CHANGELOG.md
  resource/recruitment.json
  resource/stages.json
  tools/ResourceUpdater/main.cpp
Labels: MAA Team, release

#2546 refactor: 重构滑动任务
  docs/3.4-任务流程协议.md
  docs/maa_tasks_schema.json
  resource/tasks.json
  src/MeoAssistant/ImageAnalyzer/BattleImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/DepotImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.h
  src/MeoAssistant/Task/Sub/BattleFormationTask.cpp
  src/MeoAssistant/Task/Sub/DepotRecognitionTask.cpp
  src/MeoAssistant/Task/Sub/InfrastAbstractTask.cpp
  src/MeoAssistant/Task/Sub/InfrastAbstractTask.h
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/Utils/AsstTypes.h
Labels: MAA Team

#2562 feat: 分离不同肉鸽的招募、购物配置
  resource/roguelike_recruit.json
  resource/roguelike_shopping.json
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/Resource/RoguelikeShoppingConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeShoppingConfiger.h
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeShoppingTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MeoAssistant/Task/RoguelikeTask.cpp
  src/MeoAssistant/Utils/AsstBattleDef.h
Labels: module: roguelike, MAA Team

#2550 feat: tasks.json 中，国际服资源显式声明的参数覆写同名国服资源
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/EndOfAction.png
  resource/global/txwy/readme.md
  resource/global/txwy/resource/tasks.json
  src/MeoAssistant/TaskData.cpp
Labels: MAA Team, Client: EN

#2584 refactor: 滑动任务改为#next
  resource/tasks.json
Labels: MAA Team

#2573 feat: 更新基建作业243一日四换至2022年11月版本
  resource/custom_infrast/243_layout_4_times_per_day.json
Labels: module: infrast

#2587 refactor: 修改主线导航方式
  resource/tasks.json
  resource/template/EnterEpisode0.png
  resource/template/EnterEpisode11.png
  resource/template/EnterEpisode3.png
  resource/template/EnterEpisode4.png
  resource/template/EnterEpisode8.png
  resource/template/EnterEpisode9.png
  src/MeoAssistant/Task/Sub/StageNavigationTask.cpp
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
Labels: MAA Team

#2594 feat: 简单改了改影子哥肉鸽
  resource/roguelike_recruit.json
Labels: module: roguelike

#2591 feat: 关卡导航若进入章节界面时已经出现待选关卡则直接点击不再滑动
  resource/tasks.json
  src/MeoAssistant/Task/Sub/StageNavigationTask.cpp
Labels: MAA Team

#2612 feat: 优化主线关卡导航逻辑
  resource/tasks.json
Labels: MAA Team

#2623 feat: 完善繁中服基建任务
  resource/global/txwy/resource/tasks.json
Labels: module: infrast, Client: ZH_TW

#2621 feat: 优化关卡导航
  resource/tasks.json
Labels: MAA Team

#2626 feat: 优化 TaskData
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
Labels: MAA Team

#2629 Release v4.6.7-beta.3
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/ViewModels/ErrorView.xaml.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
  src/MeoAsstGui/Views/ErrorView.xaml
Labels: MAA Team, release

#2636 Release v4.6.7-beta.4
  CHANGELOG.md
  docs/3.6-基建排班协议.md
  resource/custom_infrast/153_layout_3_times_pre_day.json
  resource/custom_infrast/243_layout_3_times_pre_day.json
  resource/custom_infrast/252_layout_3_times_pre_day.json
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: MAA Team, release

#2633 doc: tweak and translation JP lines
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation

#2635 ci: Allow input nightly tag
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team

#2649 Release v4.6.7
  .github/issue-checker.yml
  .github/workflows/release-nightly-ota.yml
  CHANGELOG.md
  docs/3.4-任务流程协议.md
  resource/custom_infrast/243_layout_3_times_pre_day.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike_recruit.json
  resource/tasks.json
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: MAA Team, release

#2666 Release v4.6.9
  resource/tasks.json
Labels: MAA Team, release

#2668 Release v4.6.10
  resource/tasks.json
Labels: MAA Team, release

#2672 Release v4.6.12
  CHANGELOG.md
  resource/tasks.json
Labels: MAA Team, release

#2673 feat: 添加基建排班内置配置文件选择
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: module: infrast, MAA Team

#2683 docs: 修复文档中的一些拼写问题
  docs/2.1-Linux编译教程.md
  docs/3.3-战斗流程协议.md
  docs/en-us/2.1-LINUX_TUTORIAL.md
  docs/en-us/2.2-DEVELOPMENT.md
  docs/en-us/3.1-INTEGRATION.md
  docs/zh-tw/2.1-Linux編譯教程.md
Labels: documentation

#2706 Release v4.6.13
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  resource/custom_infrast/243_layout_3_times_pre_day.json
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/MaaUrls.cs
  src/MeoAsstGui/Helper/ToastNotification.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/AboutUserControl.xaml
  src/MeoAsstGui/UserControl/ConnectSettingsUserControl.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml.cs
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
  src/MeoAsstGui/Views/CopilotView.xaml
Labels: MAA Team, release

#2708 feat: 水月肉鸽支持活用安全屋选项
  resource/tasks.json
Labels: module: roguelike

#2717 feat: 优化 isAscii、withoutDet 参数的处理
  resource/tasks.json
  src/MeoAssistant/ImageAnalyzer/BattleImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/DepotImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/General/OcrImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/General/OcrImageAnalyzer.h
  src/MeoAssistant/ImageAnalyzer/ProcessTaskImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/ProcessTaskImageAnalyzer.h
  src/MeoAssistant/ImageAnalyzer/RoguelikeRecruitImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/Task/Plugin/DrGrandetTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/AutoRecruitTask.cpp
  src/MeoAssistant/Task/Sub/CreditShoppingTask.cpp
Labels: MAA Team

#2642 feat: 新增支持 minitouch
  3rdparty/resource/minitouch/arm64-v8a/minitouch
  3rdparty/resource/minitouch/armeabi-v7a/minitouch
  3rdparty/resource/minitouch/armeabi/minitouch
  3rdparty/resource/minitouch/x86/minitouch
  3rdparty/resource/minitouch/x86_64/minitouch
  include/AsstCaller.h
  resource/config.json
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/Assistant.h
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/Resource/GeneralConfiger.cpp
  src/MeoAssistant/Resource/GeneralConfiger.h
  src/MeoAssistant/ResourceLoader.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/StartGameTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/StopGameTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/BattleProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ReportDataTask.cpp
  src/MeoAssistant/Utils/AsstImageIo.hpp
  src/MeoAssistant/Utils/Platform.hpp
  src/MeoAssistant/Utils/Platform/AsstPlatform.h
  src/MeoAssistant/Utils/Platform/AsstPlatformPosix.cpp
  src/MeoAssistant/Utils/Platform/AsstPlatformWin32.cpp
Labels: MAA Team

#2743 feat: 优化 minitouch 滑动操作
  resource/tasks.json
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
Labels: module: roguelike, MAA Team

#2753 fix: 修复繁中肉鸽的 OCR 替换词
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike

#2759 perf: 优化所有滑动任务参数
  resource/tasks.json
  src/MeoAssistant/Task/Plugin/RoguelikeCustomStartTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeFormationTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/BattleFormationTask.cpp
  src/MeoAssistant/Task/Sub/DepotRecognitionTask.cpp
  src/MeoAssistant/Task/Sub/InfrastAbstractTask.cpp
  src/MeoAssistant/Task/Sub/InfrastControlTask.cpp
  src/MeoAssistant/Task/Sub/InfrastProductionTask.cpp
  src/MeoAssistant/Task/Sub/InfrastProductionTask.h
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.cpp
Labels: MAA Team

#2784 Release v4.7.0-alpha.3
  CHANGELOG.md
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  docs/1.2-常见问题.md
  resource/config.json
  resource/global/YoStarJP/resource/template/AnnihilationConfirm.png
  resource/global/YoStarJP/resource/template/StageAnnihilation.png
  resource/global/YoStarJP/resource/template/StageDrops-DropType-Reward.png
  resource/global/YoStarJP/resource/template/UsePrts-Annihilation.png
  resource/tasks.json
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/README.md
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAsstGui/README.md
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team, release

#2797 Release v4.7.0-alpha.4
  CHANGELOG.md
  README.md
  docs/3.6-基建排班协议.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
  resource/config.json
  resource/custom_infrast/153_layout_3_times_a_day.json
  resource/custom_infrast/243_layout_3_times_a_day.json
  resource/custom_infrast/243_layout_4_times_a_day.json
  resource/custom_infrast/252_layout_3_times_a_day.json
  resource/custom_infrast/333_layout_for_Orundum_3_times_a_day.json
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/Resource/GeneralConfiger.cpp
  src/MeoAssistant/Resource/GeneralConfiger.h
  src/MeoAssistant/ResourceLoader.cpp
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#2766 feat: 尝试为 MacOS 增加 minitouch 支持
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
Labels: MAA Team, macOS

#2811 Release v4.7.0-beta.1
  CHANGELOG.md
  docs/ja-jp/1.2-よくある質問.md
  resource/global/YoStarEN/resource/tasks.json
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team, release

#2820 Release v4.7.0-beta.2
  CHANGELOG.md
  resource/tasks.json
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/BattleProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
Labels: MAA Team, release

#2832 修复基建霜叶识别错误
  resource/tasks.json
Labels: module: infrast, MAA Team, ambiguous

#2834 fix: fix JP auto wakeup
  resource/global/YoStarJP/resource/tasks.json
Labels: Client: JP

#2819 fix: Fix JP Rewards Collection JP任务领取修复 JP報酬受取の修正
  resource/global/YoStarJP/resource/template/Task.png
Labels: Client: JP

#2842 更新 蓝叠模拟器，蓝叠模拟器国际版，夜神模拟器，MuMu模拟器，逍遥模拟器，MuMu模拟器X 说明
  docs/1.3-模拟器支持.md
Labels: documentation, MAA Team

#2843 Release v4.7.0-rc.1
  CHANGELOG.md
  README.md
  README_en-US.md
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
  docs/3.1-集成文档.md
  docs/en-us/1.2-FAQ.md
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/1.2-よくある質問.md
  docs/zh-tw/1.2-常見問題.md
  include/AsstCaller.h
  resource/config.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Task.png
  resource/tasks.json
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/Assistant.h
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/Resource/GeneralConfiger.cpp
  src/MeoAssistant/Resource/GeneralConfiger.h
  src/MeoAssistant/Task/Sub/AbstractTask.cpp
  src/MeoAssistant/Task/Sub/AbstractTask.h
  src/MeoAssistant/Task/Sub/InfrastProductionTask.cpp
  src/MeoAssistant/Utils/AsstTypes.h
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/ConnectSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#2854 日服基建线索相关
  resource/global/YoStarJP/resource/template/BattleQuickFormationClear.png
  resource/global/YoStarJP/resource/template/ContactSuspended.png
  resource/global/YoStarJP/resource/template/DepotMaterialTab.png
  resource/global/YoStarJP/resource/template/DepotMaterialTabClicked.png
  resource/global/YoStarJP/resource/template/EndOfClueExchange.png
  resource/global/YoStarJP/resource/template/RecruitRefresh.png
  resource/global/YoStarJP/resource/template/Task.png
Labels: module: infrast, ambiguous, Client: JP

#2859 doc: JP Text Update v4.7.0
  README_ja-JP.md
  docs/ja-jp/1.1-詳細説明.md
Labels: documentation

#2871 修复三个识别问题
  resource/tasks.json
Labels: ambiguous

#2874 Release v4.7.1 hotfix
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
Labels: MAA Team, release

#2880 Doc: hotfix
  docs/ja-jp/1.1-詳細説明.md
Labels: ambiguous

#2888 优化育生池干员朝向
  docs/ja-jp/1.1-詳細説明.md
  resource/roguelike_copilot.json
Labels: MAA Team, ambiguous

#2893 更新 夜神模拟器 介绍
  docs/1.3-模拟器支持.md
Labels: documentation, MAA Team

#2897 Revert "更新 夜神模拟器 介绍"
  docs/1.3-模拟器支持.md
Labels: MAA Team

#2849 feat: 添加借助战作战赚信用功能
  resource/credit_fight_copilot.json
  resource/tasks.json
  resource/template/BattleSupportUnitFormation.png
  resource/template/BattleSupportUnitFormationSelect.png
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/Resource/CopilotConfiger.cpp
  src/MeoAssistant/Resource/CopilotConfiger.h
  src/MeoAssistant/Task/CopilotTask.cpp
  src/MeoAssistant/Task/CopilotTask.h
  src/MeoAssistant/Task/CreditFightTask.cpp
  src/MeoAssistant/Task/CreditFightTask.h
  src/MeoAssistant/Task/Sub/BattleFormationTask.cpp
  src/MeoAssistant/Task/Sub/BattleFormationTask.h
  src/MeoAssistant/Task/VisitTask.cpp
  src/MeoAssistant/Task/VisitTask.h
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/MallSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: fight, module: others

#2899 Release v4.7.2
  CHANGELOG.md
  resource/global/txwy/resource/tasks.json
  resource/roguelike_copilot.json
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/ResourceLoader.cpp
  src/MeoAssistant/RuntimeStatus.h
  src/MeoAssistant/Task/Plugin/GameCrashRestartTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/StageDropsTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/StageDropsTaskPlugin.h
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/Utils/AsstHttp.hpp
  src/MeoAssistant/Utils/AsstImageIo.hpp
  src/MeoAssistant/Utils/Logger.hpp
  src/MeoAssistant/Utils/StringMisc.hpp
  src/MeoAssistant/Utils/UserDir.hpp
  src/MeoAssistant/Utils/WorkingDir.hpp
Labels: MAA Team, release

#2905 Doc: JP Missing text add and tweak.
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: ambiguous

#2922 Localization
  README.md
  README_en-US.md
  README_ja-JP.md
  README_ko-KR.md
  README_zh-TW.md
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
Labels: documentation

#2925 core docs localization for KR
  README_ko-KR.md
  docs/glossary/items.md
  docs/glossary/operators.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.2-FAQ.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  resource/global/YoStarKR/readme.md
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
Labels: ambiguous

#2931 Release v4.7.3
  3rdparty/resource/minitouch/maatouch/minitouch
  CHANGELOG.md
  resource/config.json
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Resource/GeneralConfiger.cpp
  src/MeoAssistant/Resource/GeneralConfiger.h
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team, release

#2935 fix: 修复借助战作战失败后卡住的问题
  resource/tasks.json
  src/MeoAssistant/Task/Miscellaneous/CreditFightTask.cpp
Labels: module: copilot

#2950 fix: 修复借助战刷信用无法进图 #2947
  resource/tasks.json
  resource/template/NotUsePrts.png
  src/MeoAssistant/Task/Miscellaneous/CreditFightTask.cpp
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
Labels: module: others

#2957 fix: fix visiting and add more ocrReplaces for KR
  README_ko-KR.md
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/VisitNextBlack.png
Labels: module: others
