Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-08, with the labels that each got.

#1391 refactor: 升级c++20
  CMakeLists.txt
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  src/MeoAssistant/AbstractImageAnalyzer.cpp
  src/MeoAssistant/AbstractImageAnalyzer.h
  src/MeoAssistant/AbstractTask.cpp
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/AsstBattleDef.h
  src/MeoAssistant/AsstConf.h
  src/MeoAssistant/AsstInfrastDef.h
  src/MeoAssistant/AsstTypes.h
  src/MeoAssistant/BattleImageAnalyzer.cpp
  src/MeoAssistant/BattleProcessTask.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/CreditShopImageAnalyzer.cpp
  src/MeoAssistant/CreditShoppingTask.cpp
  src/MeoAssistant/DebugTask.cpp
  src/MeoAssistant/DepotImageAnalyzer.cpp
  src/MeoAssistant/HashImageAnalyzer.cpp
  src/MeoAssistant/InfrastClueVacancyImageAnalyzer.cpp
  src/MeoAssistant/InfrastFacilityImageAnalyzer.cpp
  src/MeoAssistant/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/InfrastSmileyImageAnalyzer.cpp
  src/MeoAssistant/MatchImageAnalyzer.cpp
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/MultiMatchImageAnalyzer.cpp
  src/MeoAssistant/NoWarningCV.h
  src/MeoAssistant/NoWarningCVMat.h
  src/MeoAssistant/OcrPack.cpp
  src/MeoAssistant/OcrWithPreprocessImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/RoguelikeFormationImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/TemplResource.cpp
  src/MeoAssistant/TemplResource.h
  src/MeoAssistant/TilePack.cpp
  tools/ResourceUpdater/ResourceUpdater.vcxproj
  tools/ResourceUpdater/main.cpp
  tools/TestCaller/TestCaller.vcxproj
Labels: module: core, MAA Team

#1402 perf: 使用 concept 优化代码
  src/MeoAssistant/AbstractTask.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/TaskData.h
Labels: module: core, MAA Team

#1412 修复 Linux 下的部分编译错误和警告
  3rdparty/include/meojson/json.hpp
  src/MeoAssistant/AsstConf.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/InfrastPowerTask.cpp
  src/MeoAssistant/OcrWithFlagTemplImageAnalyzer.h
  src/MeoAssistant/OcrWithPreprocessImageAnalyzer.h
  src/MeoAssistant/RoguelikeBattleTaskPlugin.cpp
Labels: module: core, MAA Team

#1409 perf. 使用ranges及views及<=>及其他一些c++20优化及一般优化
  src/MeoAssistant/AbstractTaskPlugin.cpp
  src/MeoAssistant/AbstractTaskPlugin.h
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/BattleDataConfiger.cpp
  src/MeoAssistant/BattleFormationTask.cpp
  src/MeoAssistant/BattleImageAnalyzer.cpp
  src/MeoAssistant/BattleProcessTask.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/CopilotConfiger.h
  src/MeoAssistant/CreditShopImageAnalyzer.cpp
  src/MeoAssistant/DepotImageAnalyzer.cpp
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastFacilityImageAnalyzer.cpp
  src/MeoAssistant/InfrastOfficeTask.cpp
  src/MeoAssistant/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/InfrastPowerTask.cpp
  src/MeoAssistant/InfrastProductionTask.cpp
  src/MeoAssistant/InfrastReceptionTask.cpp
  src/MeoAssistant/ItemConfiger.cpp
  src/MeoAssistant/MultiMatchImageAnalyzer.cpp
  src/MeoAssistant/OcrImageAnalyzer.cpp
  src/MeoAssistant/RecruitConfiger.cpp
  src/MeoAssistant/RecruitConfiger.h
  src/MeoAssistant/RecruitImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/RoguelikeFormationTaskPlugin.cpp
  src/MeoAssistant/RoguelikeRecruitImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/RoguelikeShoppingTaskPlugin.cpp
  src/MeoAssistant/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/StageDropsTaskPlugin.cpp
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TemplResource.cpp
  tools/ResourceUpdater/main.cpp
Labels: module: core, MAA Team

#1458 chore: 调整 labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: MAA Team

#1464 Release v4.2.3
  .github/workflows/dev-build.yml
  CHANGELOG.md
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  resource/global/YoStarEN/resource/tasks.json
  resource/roguelike_shopping.json
  resource/tasks.json
  src/MeoAssistant/AbstractImageAnalyzer.cpp
  src/MeoAssistant/AbstractImageAnalyzer.h
  src/MeoAssistant/AbstractTask.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/CreditShopImageAnalyzer.h
  src/MeoAssistant/InfrastClueVacancyImageAnalyzer.h
  src/MeoAssistant/InfrastFacilityImageAnalyzer.h
  src/MeoAssistant/InfrastOperImageAnalyzer.h
  src/MeoAssistant/OcrImageAnalyzer.cpp
  src/MeoAssistant/OcrImageAnalyzer.h
  src/MeoAssistant/OcrWithFlagTemplImageAnalyzer.cpp
  src/MeoAssistant/OcrWithFlagTemplImageAnalyzer.h
  src/MeoAssistant/ProcessTaskImageAnalyzer.h
  src/MeoAssistant/RecruitImageAnalyzer.h
  src/MeoAssistant/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeSkillSelectionImageAnalyzer.h
  src/MeoAssistant/RoguelikeTask.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAsstGui/Helper/Localization.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/Views/TaskQueueView.xaml
  tools/MaaBuilder/Builder/CI/Build.CI.GitHubActions.DevBuild.cs
  tools/MaaBuilder/Builder/Job/Build.Job.Bundle.cs
Labels: release

#1479 fix. 尝试解决关闭模拟器关不了的问题
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI

#1485 feat: 启动UI时自动设置工作目录，避免启动UI时白屏闪退
  src/MeoAsstGui/Bootstrapper.cs
Labels: module: GUI

#1476 chore: 使用 zzyyyl/issue-checker
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: MAA Team

#1486 feat: 肉鸽投资开关
  resource/tasks.json
  src/MeoAssistant/RoguelikeTask.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/RoguelikeSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: roguelike

#1516 refactor. uniform color style
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/LogColor.cs
  src/MeoAsstGui/Helper/LogItemViewModel.cs
  src/MeoAsstGui/MeoAsstGui.csproj
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#1512 feat: 支持全部主线关卡导航（仅 core 部分）
  docs/集成文档.md
  resource/tasks.json
  src/MeoAssistant/FightTask.cpp
  src/MeoAssistant/FightTask.h
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/StageNavigationTask.cpp
  src/MeoAssistant/StageNavigationTask.h
Labels: module: fight, MAA Team

#1532 chore: 更新 Issue Template 使得在 GitHub 客户端排序正常
  .github/ISSUE_TEMPLATE/cn-others.md
  .github/ISSUE_TEMPLATE/cn-others.yaml
  .github/ISSUE_TEMPLATE/en-others-.md
  .github/ISSUE_TEMPLATE/en-others.yaml
Labels: MAA Team

#1535 修改了部分日文文本
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: module: GUI

#1519 允许自定义公开招募时间
  docs/集成文档.md
  resource/global/YoStarJP/resource/template/RecruitCheckTimeReduced.png
  resource/global/txwy/resource/template/RecruitCheckTimeReduced.png
  resource/tasks.json
  resource/template/RecruitCheckTimeReduced.png
  resource/template/RecruitTimerDecrement.png
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/RecruitImageAnalyzer.cpp
  src/MeoAssistant/RecruitImageAnalyzer.h
  src/MeoAssistant/RecruitTask.cpp
Labels: module: recruit

#1475 feat:dorm
  resource/tasks.json
  resource/template/InfrastFilterMenu.png
  resource/template/InfrastFilterMenuConfirmButton.png
  resource/template/InfrastFilterMenuNotStationedButton.png
  resource/template/InfrastSortByTrustButton.png
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAssistant/InfrastAbstractTask.h
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastDormTask.h
Labels: module: infrast

#1560 Update 模拟器支持.md
  docs/模拟器支持.md
Labels: documentation

#1568 feat: 增加备选关卡功能
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/UserControl/GUISettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team

#1571 docs. 更新《模拟器支持》
  docs/en/EMULATOR_SUPPORTS.md
Labels: documentation

#1579 fix: 修复肉鸽招募部分问题
  resource/tasks.json
  resource/template/Roguelike1RecruitElite0.png
  resource/template/Roguelike1RecruitElite1.png
  resource/template/Roguelike1RecruitElite2.png
  src/MeoAssistant/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#1585 merge: sync master
  .github/issue-checker.yml
  README.md
  docs/IssueBot使用方法.md
  docs/en/EMULATOR_SUPPORTS.md
Labels: MAA Team, ambiguous

#1589 docs: 更新 issue-checker 文档
  .github/issue-checker.yml
  docs/IssueBot使用方法.md
Labels: documentation, MAA Team

#1586 添加日文说明书支持
  README.md
  README_ja-JP.md
  docs/ja-jp/1.1-詳細な説明.md
  docs/ja-jp/1.2-よくある質問.md
  docs/ja-jp/1.3-エミュレータのサポート.md
  docs/ja-jp/2.1-Linuxチュートリアル.md
  docs/ja-jp/2.2-プルリクエスト.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ja-jp/3.3-自動作戦API.md
  docs/ja-jp/3.4-タスクAPI.md
  docs/ja-jp/3.5-統合戦略API.md
  docs/常见问题.md
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation

#1601 chore: 修复 Windows 下公招结果上传失败的问题
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/AutoRecruitTask.cpp
Labels: module: recruit, MAA Team

#1591 feat: upload recruitment to PenguinStats and YITULIU, and refactoring some code
  3rdparty/include/meojson/json.hpp
  docs/en-us/CALLBACK_SCHEMA.md
  docs/回调消息协议.md
  resource/config.json
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/GeneralConfiger.cpp
  src/MeoAssistant/GeneralConfiger.h
  src/MeoAssistant/RecruitTask.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: module: recruit, MAA Team

#1610 fix: 修复编译错误和 typo
  CHANGELOG.md
  src/MeoAssistant/Controller.cpp
Labels: MAA Team

#1614 格式化，消除警告
  .github/issue-checker.yml
  docs/IssueBot使用方法.md
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: ambiguous

#1608 docs: 更新公招数据自动上传的文档
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  docs/en-us/USER_MANUAL.md
  docs/ja-jp/1.1-詳細な説明.md
  docs/详细介绍.md
Labels: documentation, module: recruit, MAA Team

#1613 feat: 新增视频链接可以识别作业文件里BV号的功能
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
Labels: module: copilot

#1615 perf: fix c# warnings & suggestions
  src/MeoAsstGui/.editorconfig
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team

#1592 feat:宿舍中识别干员是否有异格在其他设施
  resource/tasks.json
  src/MeoAssistant/AsstInfrastDef.h
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastDormTask.h
  src/MeoAssistant/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/InfrastTask.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: infrast

#1626 chore: 增加 issue-checker 标签 `incomplete`
  .github/issue-checker.yml
Labels: MAA Team

#1628 feat: 公招相关调整
  resource/tasks.json
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
Labels: module: recruit

#1634 feat: 不再在肉鸽招募 `行商` 干员，加入一些 `傀儡师` 和 `伏击客` 干员
  resource/roguelike_recruit.json
Labels: module: roguelike, MAA Team

#1640 feat. copilot输入神秘代码后点旁边即可加载相关文本
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/Views/CopilotView.xaml
Labels: module: copilot, MAA Team

#1645 Release v4.3.0-beta.4
  CHANGELOG.md
  docs/en-us/COPILOT_SCHEMA.md
  docs/战斗流程协议.md
  resource/tasks.json
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/ProcessTask.cpp
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  src/MeoAsstGui/Views/CopilotView.xaml
  tools/CopilotDesinger/copilot-designer-deprecated/自动战斗作业生成器-v1.0.html
Labels: MAA Team, release

#1647 perf: fix c# warnings & suggestions
  src/MeoAsstGui/ViewModels/RootViewModel.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team

#1658 feat: 更新 Logger
  src/MeoAssistant/Logger.hpp
Labels: module: core, MAA Team

#1652 feat: 统一gui.json保存的内容，解决本地化不兼容问题
  src/MeoAsstGui/Helper/DragItemViewModel.cs
  src/MeoAsstGui/Helper/ViewStatusStorage.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#1643 perf: 改进肉鸽招募逻辑
  resource/tasks.json
  src/MeoAssistant/AsstBattleDef.h
  src/MeoAssistant/RoguelikeRecruitImageAnalyzer.cpp
  src/MeoAssistant/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#1648 feat: 优化图形化界面
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/Views/TaskQueueView.xaml
Labels: module: roguelike, module: GUI, MAA Team

#1662 Revert "feat: 统一gui.json保存的内容，解决本地化不兼容问题"
  src/MeoAsstGui/Helper/DragItemViewModel.cs
  src/MeoAsstGui/Helper/ViewStatusStorage.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#1663 Release v4.3.0-beta.6
  CHANGELOG.md
  src/MeoAsstGui/Helper/DragItemViewModel.cs
  src/MeoAsstGui/Helper/ViewStatusStorage.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#1664 feat: 优化图形化界面 (fix #1648)
  src/MeoAsstGui/Helper/LogItemViewModel.cs
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  src/MeoAsstGui/Views/RootView.xaml
  src/MeoAsstGui/Views/TaskQueueView.xaml
Labels: module: GUI, MAA Team

#1677 build: update to v143
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  src/MeoAssistant/MeoAssistant.vcxproj
  tools/ResourceUpdater/ResourceUpdater.vcxproj
  tools/TestCaller/TestCaller.vcxproj
Labels: module: core, MAA Team

#1678 docs: 部分翻译更新
  docs/ja-jp/2.2-プルリクエスト.md
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: documentation, MAA Team

#1690 perf: c# 代码逻辑&格式优化
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/ToastNotification.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
  src/MeoAsstGui/Views/TaskQueueView.xaml
Labels: MAA Team

#1686 docs: Update 模拟器支持.md
  docs/模拟器支持.md
Labels: documentation

#1705 docs. 最近大陆地区镜像站网页打不开但下载正常，添加一个readme提示
  README.md
Labels: MAA Team

#1710 Revert "docs. 最近大陆地区镜像站网页打不开但下载正常，添加一个readme提示"
  README.md
Labels: MAA Team

#1712 docs. re. 最近大陆地区镜像站网页打不开但下载正常，添加一个readme提示
  README.md
  docs/常见问题.md
Labels: MAA Team

#1720 feat: 重构 Response 类
  src/MeoAssistant/AsstHttp.hpp
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/ReportDataTask.cpp
  src/MeoAssistant/ReportDataTask.h
Labels: module: core, MAA Team

#1715 refactor: 重构数据汇报模块，新增支持企鹅物流的幂等机制
  resource/config.json
  src/MeoAssistant/AsstHttp.hpp
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/ReportDataTask.cpp
  src/MeoAssistant/ReportDataTask.h
  src/MeoAssistant/StageDropsTaskPlugin.cpp
  src/MeoAssistant/StageDropsTaskPlugin.h
Labels: MAA Team
