Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-09, with the labels that each got.

#1728 fix: 尝试修复部分模拟器行尾变化的问题
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
Labels: MAA Team

#1727 style: format json
  .clang-format
  .git-blame-ignore-revs
  3rdparty/resource/Arknights-Tile-Pos/.clang-format
  resource/global/txwy/resource/tasks.json
  resource/infrast.json
  tools/ClangFormater/clang-formater.py
  tools/ClangFormatter/clang-formatter.py
Labels: MAA Team

#1745 Release v4.3.1
  CHANGELOG.md
  resource/infrast.json
  resource/tasks.json
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/StageDropsTaskPlugin.cpp
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/AboutUserControl.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#1748 docs: 整理开发相关文档，增加 clang-format 配置相关文档
  README.md
  docs/开发相关.md
Labels: MAA Team

#1737 feat: 优化Gui关卡选择逻辑
  src/MeoAsstGui/Helper/StageActivityInfo.cs
  src/MeoAsstGui/Helper/StageInfo.cs
  src/MeoAsstGui/Helper/StageManager.cs
  src/MeoAsstGui/MeoAsstGui.csproj
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: fight

#1741 perf: 整理并优化
  3rdparty/include/zlib/decompress.hpp
  src/MeoAssistant/AbstractImageAnalyzer.cpp
  src/MeoAssistant/AbstractTask.cpp
  src/MeoAssistant/AbstractTask.h
  src/MeoAssistant/AsstHttp.hpp
  src/MeoAssistant/AsstTypes.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/DepotImageAnalyzer.h
  src/MeoAssistant/HashImageAnalyzer.cpp
  src/MeoAssistant/InfrastAbstractTask.h
  src/MeoAssistant/InfrastClueVacancyImageAnalyzer.h
  src/MeoAssistant/InfrastOperImageAnalyzer.h
  src/MeoAssistant/OcrPack.cpp
  src/MeoAssistant/OcrPack.h
  src/MeoAssistant/RecruitConfiger.h
  src/MeoAssistant/ReportDataTask.cpp
  src/MeoAssistant/Resource.cpp
  src/MeoAssistant/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/Version.h
Labels: MAA Team

#1765 chore: win32 improvements
  3rdparty/include/Arknights-Tile-Pos/TileCalc.hpp
  src/MeoAssistant/AbstractImageAnalyzer.cpp
  src/MeoAssistant/AbstractTask.cpp
  src/MeoAssistant/AsstCaller.cpp
  src/MeoAssistant/AsstImageIo.hpp
  src/MeoAssistant/AsstPlatformPosix.cpp
  src/MeoAssistant/AsstPlatformPosix.h
  src/MeoAssistant/AsstPlatformWin32.cpp
  src/MeoAssistant/AsstPlatformWin32.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/BattleProcessTask.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/DebugTask.cpp
  src/MeoAssistant/Logger.hpp
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/OcrPack.cpp
  src/MeoAssistant/ResourceLoader.cpp
  src/MeoAssistant/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/SafeWindows.h
  src/MeoAssistant/StageDropsImageAnalyzer.cpp
  src/MeoAssistant/TemplResource.cpp
  src/MeoAssistant/TilePack.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/MeoAsstGui.csproj
Labels: module: GUI

#1770 fix: fix linux build error
  src/MeoAssistant/AsstUtils.hpp
Labels: MAA Team

#1772 docs: Update README_ja-JP.md
  README_ja-JP.md
Labels: documentation

#1767 perf: AsstHttp 的各种优化
  src/MeoAssistant/AsstHttp.hpp
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/Logger.hpp
  src/MeoAssistant/ReportDataTask.cpp
Labels: MAA Team

#1787 Fixed and Tweaked.
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation, module: recruit, Client: JP

#1792 fix: 修复连接时间过长的问题
  src/MeoAssistant/Controller.cpp
Labels: MAA Team

#1805 chore: 优化 labeler
  .github/issue-checker.yml
Labels: MAA Team

#1816 Doc:Depot Recognition Text Tweak
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation, module: GUI, Client: JP

#1820 Doc:Update 4.4.1 text.
  docs/ja-jp/1.1-詳細な説明.md
Labels: ambiguous, Client: JP

#1822 Doc:Tweak JP line(4.4.1)
  docs/ja-jp/1.2-よくある質問.md
Labels: ambiguous

#1818 Doc:Text tweak Ver4.4.1
  README_ja-JP.md
Labels: documentation, Client: JP

#1826 chore: 增加 labeler 标签 `module: drop`
  .github/issue-checker.yml
Labels: MAA Team

#1827 docs: Update Chinese user manual
  README.md
  docs/1.1-详细介绍.md
Labels: documentation, MAA Team

#1828 doc:Japanese Manual text add and Screenshot change
  README_ja-JP.md
  docs/ja-jp/2.3-IssueBot使う方.md
  docs/ja-jp/3.5-統合戦略API.md
Labels: documentation

#1829 docs: Update en/zh-tw user manual
  README_en-US.md
  README_zh-TW.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/zh-tw/1.1-詳細介紹.md
Labels: documentation

#1833 fix: 修复仓库识别数量时数组越界的错误
  .github/issue-checker.yml
  src/MeoAssistant/DepotImageAnalyzer.cpp
Labels: module: depot

#1841 doc:Many text line added and tweaks（大幅な修正や翻訳の追加）
  README_ja-JP.md
  docs/ja-jp/1.1-詳細説明.md
  docs/ja-jp/1.2-よくある質問.md
  docs/ja-jp/2.3-IssueBotの使用方法.md
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ja-jp/3.3-自動作戦API.md
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation, module: GUI, Client: JP

#1845 perf: fix c# warnings & suggestions，优化代码
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/ComboBoxExtensions.cs
  src/MeoAsstGui/Helper/StageInfo.cs
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/CopilotViewModel.cs
  src/MeoAsstGui/ViewModels/DepotViewModel.cs
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team

#1850 doc: Quick fix README_ja-JP.md
  README_ja-JP.md
Labels: documentation

#1849 doc:japanese text fixed and added
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ja-jp/3.2-コールバックAPI.md
Labels: documentation

#1861 fix: 优化 Controller
  src/MeoAssistant/Assistant.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  src/MeoAsstGui/Views/TaskQueueView.xaml
Labels: module: core, MAA Team

#1860 feat: 新增支持基建自定义排班
  docs/3.1-集成文档.md
  docs/3.6-基建排班协议.md
  resource/custom_infrast/243_layout_3_times_pre_day.json
  resource/tasks.json
  resource/template/InfrastOperListTabSkillUnClicked.png
  src/MeoAssistant/AsstInfrastDef.h
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAssistant/InfrastAbstractTask.h
  src/MeoAssistant/InfrastControlTask.cpp
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastDormTask.h
  src/MeoAssistant/InfrastOfficeTask.cpp
  src/MeoAssistant/InfrastPowerTask.cpp
  src/MeoAssistant/InfrastProductionTask.cpp
  src/MeoAssistant/InfrastProductionTask.h
  src/MeoAssistant/InfrastTask.cpp
  src/MeoAssistant/InfrastTask.h
  src/MeoAssistant/OcrWithPreprocessImageAnalyzer.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: infrast, module: copilot, MAA Team

#1867 Release v4.5.0-alpha.2
  CHANGELOG.md
  docs/3.6-基建排班协议.md
  resource/custom_infrast/243_layout_3_times_pre_day.json
  src/MeoAssistant/InfrastTask.cpp
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#1886 Release v4.5.0-alpha.3
  .github/issue-checker.yml
  CHANGELOG.md
  README.md
  docs/3.1-集成文档.md
  docs/3.6-基建排班协议.md
  resource/custom_infrast/243_layout_3_times_pre_day.json
  resource/tasks.json
  resource/template/InfrastOperListTabMoodDoubleClick.png
  resource/template/InfrastOperListTabWorkStatusUnClicked.png
  src/MeoAssistant/AsstInfrastDef.h
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/FightTask.cpp
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAssistant/InfrastAbstractTask.h
  src/MeoAssistant/InfrastControlTask.cpp
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastOfficeTask.cpp
  src/MeoAssistant/InfrastPowerTask.cpp
  src/MeoAssistant/InfrastProductionTask.cpp
  src/MeoAssistant/InfrastReceptionTask.cpp
  src/MeoAssistant/InfrastTask.cpp
  src/MeoAssistant/ProcessTask.cpp
  src/MeoAssistant/StageNavigationTask.cpp
  src/MeoAsstGui/.editorconfig
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/ComboBoxExtensions.cs
  src/MeoAsstGui/Helper/Localization.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/UserControl/InfrastSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#1896 Release v4.5.0-beta.1
  CHANGELOG.md
  docs/3.6-基建排班协议.md
  resource/custom_infrast/153_layout_3_times_pre_day.json
  resource/infrast.json
  src/MeoAssistant/AsstPlatformPosix.cpp
  src/MeoAssistant/AsstPlatformWin32.cpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAssistant/InfrastAbstractTask.h
  src/MeoAssistant/InfrastControlTask.cpp
  src/MeoAssistant/InfrastDormTask.cpp
  src/MeoAssistant/InfrastOfficeTask.cpp
  src/MeoAssistant/InfrastPowerTask.cpp
  src/MeoAssistant/InfrastProductionTask.cpp
  src/MeoAssistant/InfrastReceptionTask.cpp
  src/MeoAssistant/InfrastReceptionTask.h
  src/MeoAssistant/Logger.hpp
  src/MeoAssistant/OcrPack.cpp
  src/MeoAssistant/OcrPack.h
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Helper/Localization.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/ConnectSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release

#1897 Release v4.5.0-beta.2
  resource/custom_infrast/153_layout_3_times_pre_day.json
  resource/tasks.json
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/InfrastProductionTask.cpp
  src/MeoAsstGui/Helper/StageManager.cs
Labels: MAA Team, release

#1906 Release v4.5.0-rc.2
  CHANGELOG.md
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAsstGui/Helper/StageManager.cs
Labels: MAA Team, release

#1908 chore: 更新企鹅关卡数据
  resource/stages.json
Labels: MAA Team

#1913 Release v4.5.0-rc.3
  CHANGELOG.md
  resource/custom_infrast/153_layout_3_times_pre_day.json
  resource/custom_infrast/243_layout_3_times_pre_day.json
  src/MeoAssistant/InfrastAbstractTask.cpp
  src/MeoAssistant/InfrastTask.cpp
Labels: MAA Team, release

#1907 docs: 修改开发相关文档
  docs/2.2-开发相关.md
  docs/en-us/2.2-DEVELOPMENT.md
  docs/zh-tw/2.2-開發相關.md
Labels: documentation

#1916 feat: 主界面参数实时生效，删除“修改”按钮
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#1918 doc:Create 3.6-インフラスケジュール設定.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
Labels: documentation

#1929 docs: 更新 IssueBot 文档
  docs/2.3-IssueBot使用方法.md
  docs/en-us/2.3-ISSUE_BOT_USAGE.md
  docs/ja-jp/2.3-IssueBotの使用方法.md
  docs/zh-tw/2.3-IssueBot使用方法.md
Labels: documentation, MAA Team

#1928 feat: Localize recruitment results and make resources auto updated
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  resource/global/YoStarEN/resource/recruit.json
  resource/global/YoStarEN/resource/recruitment.json
  resource/global/YoStarJP/resource/recruit.json
  resource/global/YoStarJP/resource/recruitment.json
  resource/global/YoStarKR/resource/recruit.json
  resource/global/YoStarKR/resource/recruitment.json
  resource/global/txwy/resource/recruit.json
  resource/global/txwy/resource/recruitment.json
  resource/recruit.json
  resource/recruitment.json
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/RecruitConfiger.cpp
  src/MeoAssistant/RecruitConfiger.h
  src/MeoAssistant/ResourceLoader.cpp
  tools/ResourceUpdater/main.cpp
Labels: module: recruit, MAA Team

#1924 doc:ja-jp.xaml add line.
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation

#1946 fix: 修复 hProcess 返回值 259（STILL_ACTIVE）导致重连的问题
  src/MeoAssistant/Controller.cpp
Labels: MAA Team

#1927 feat: 在信用值溢出时无视黑名单进行购物
  docs/3.1-集成文档.md
  docs/en-us/3.1-INTEGRATION.md
  resource/tasks.json
  src/MeoAssistant/CreditShoppingTask.cpp
  src/MeoAssistant/CreditShoppingTask.h
  src/MeoAssistant/MallTask.cpp
  src/MeoAssistant/MallTask.h
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/MallSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: others

#1930 feat: support more features for overseas clients
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  resource/global/YoStarEN/readme.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/CollectCredit.png
  resource/global/YoStarEN/resource/template/CreditStoreFailed.png
  resource/global/YoStarEN/resource/template/SoldOut.png
  resource/global/YoStarJP/readme.md
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/CollectCredit.png
  resource/global/YoStarJP/resource/template/CreditStoreFailed.png
  resource/global/YoStarJP/resource/template/SoldOut.png
  resource/tasks.json
  resource/template/BuyIt.png
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: module: infrast, module: fight, module: others, MAA Team, Client: EN, Client: ZH_TW, Client: JP

#1950 doc:add line Japanese traslate and minor change
  resource/global/YoStarJP/readme.md
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation

#1975 docs: Update issue template
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: documentation, MAA Team

#1986 Release v4.6.0-alpha.3
  .github/issue-checker.yml
  CHANGELOG.md
  resource/addition/Roguelike2/resource/roguelike_recruit.json
  resource/addition/Roguelike2/resource/roguelike_shopping.json
  resource/addition/Roguelike2/resource/tasks.json
  resource/addition/Roguelike2/resource/template/Roguelike1GetDropSelectReward.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageBoons.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageCambatDps.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageDreadfulFoe-5.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageDreadfulFoe.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageEmergencyDps.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageEncounter.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageEncounterLeaveConfirm.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageSafeHouse.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageTrader.png
  resource/addition/Roguelike2/resource/template/Roguelike2GetDropBox.png
  resource/addition/Roguelike2/resource/template/Roguelike2GetDropBoxSelect.png
  resource/addition/Roguelike2/resource/template/Roguelike2RegionalCommissioning.png
  resource/addition/Roguelike2/resource/template/Roguelike2StageGambling.png
  resource/addition/Roguelike2/resource/template/Roguelike2StageRegionalCommissioning.png
  resource/global/YoStarJP/readme.md
  resource/roguelike_copilot.json
  resource/tasks.json
  src/MeoAssistant/AbstractConfiger.cpp
  src/MeoAssistant/AbstractTask.cpp
  src/MeoAssistant/AbstractTask.h
  src/MeoAssistant/AsstUtils.hpp
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/CopilotTask.cpp
  src/MeoAssistant/InfrastTask.cpp
  src/MeoAssistant/InfrastTask.h
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/RoguelikeDebugTaskPlugin.cpp
  src/MeoAssistant/RoguelikeDebugTaskPlugin.h
  src/MeoAssistant/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/RoguelikeRecruitConfiger.h
  src/MeoAssistant/RoguelikeShoppingConfiger.cpp
  src/MeoAssistant/RoguelikeShoppingConfiger.h
  src/MeoAssistant/RoguelikeTask.cpp
  src/MeoAssistant/TilePack.cpp
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/AboutUserControl.xaml
Labels: MAA Team, release

#2008 feat: Update `roguelike_copilot.json` [Skip module label]
  resource/roguelike_copilot.json
Labels: module: roguelike

#1931 fix: 修复公招资源及其生成器
  resource/global/YoStarEN/resource/recruitment.json
  resource/global/YoStarJP/resource/recruitment.json
  resource/global/YoStarKR/resource/recruitment.json
  resource/global/txwy/resource/recruitment.json
  resource/recruitment.json
  src/MeoAssistant/Utils/AsstUtils.hpp
  tools/ResourceUpdater/ResourceUpdater.vcxproj
  tools/ResourceUpdater/main.cpp
Labels: module: recruit, MAA Team

#2021 docs: inline some translations for JSON in JP docs
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ja-jp/3.3-自動作戦API.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
Labels: documentation

#2026 feat: 界面上的日志保存到 `gui.log`
  src/MeoAsstGui/Bootstrapper.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#2039 Release v4.6.0-alpha.5
  CHANGELOG.md
  docs/3.2-回调消息协议.md
  docs/en-us/3.2-CALLBACK_SCHEMA.md
  docs/glossary/operators.md
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ja-jp/3.3-自動作戦API.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
  resource/addition/Roguelike2/resource/tasks.json
  resource/addition/Roguelike2/resource/template/Roguelike1Continue.png
  resource/addition/Roguelike2/resource/template/Roguelike2CommissionedMissionCompleted.png
  resource/addition/Roguelike2/resource/template/Roguelike2MapObject.png
  resource/custom_infrast/243_layout_3_times_pre_day.json
  resource/roguelike_copilot.json
  resource/roguelike_recruit.json
  resource/tasks.json
  resource/template/InfrastClearButton.png
  src/MeoAssistant/Controller.cpp
  src/MeoAssistant/Controller.h
  src/MeoAssistant/ImageAnalyzer/BattleImageAnalyzer.h
  src/MeoAssistant/ImageAnalyzer/InfrastOperImageAnalyzer.h
  src/MeoAssistant/ImageAnalyzer/RecruitImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/RoguelikeRecruitImageAnalyzer.h
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/PipelineTask.cpp
  src/MeoAssistant/PipelineTask.h
  src/MeoAssistant/Resource/BattleDataConfiger.h
  src/MeoAssistant/Resource/CopilotConfiger.h
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.h
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/Resource/RoguelikeShoppingConfiger.h
  src/MeoAssistant/Resource/TilePack.cpp
  src/MeoAssistant/Resource/TilePack.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.h
  src/MeoAssistant/Task/RoguelikeTask.cpp
  src/MeoAssistant/Task/Sub/BattleFormationTask.h
  src/MeoAssistant/Task/Sub/BattleProcessTask.h
  src/MeoAssistant/Task/Sub/InfrastAbstractTask.cpp
  src/MeoAssistant/Task/Sub/InfrastProductionTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/Utils/AsstBattleDef.h
  src/MeoAssistant/Utils/AsstUtils.hpp
  src/MeoAsstGui/Bootstrapper.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: MAA Team, release
