Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-12, with the labels that each got.

#2964 修改艾莉妮为一技能
  resource/roguelike_recruit.json
Labels: MAA Team, ambiguous

#2970 refactor: 优化活动关卡导航
  resource/tasks.json
Labels: MAA Team

#2974 Release v4.8.0-beta.2
  CHANGELOG.md
  resource/tasks.json
  src/MeoAssistant/Controller.cpp
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: MAA Team, release

#3000 docs, resources and localization update for KR
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.2-FAQ.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Office.png
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: documentation

#3001 更新霜华识别错误
  resource/tasks.json
Labels: ambiguous

#3004 修改可能产生歧义的语句
  docs/1.3-模拟器支持.md
Labels: ambiguous

#3009 Update 3.1-集成文档.md
  docs/3.1-集成文档.md
Labels: ambiguous

#3013 update resources for KR Client
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/ClearSelection.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@StageEncounterOptionUnknown.png
  resource/global/YoStarKR/resource/template/SelectClue.png
  resource/global/YoStarKR/resource/template/StageDrops-DropType-Furniture.png
  resource/global/YoStarKR/resource/template/VisitNext.png
  resource/global/YoStarKR/resource/template/VisitNextBlack.png
Labels: module: core, ambiguous, Client: KR

#2939 feat: 增加编译 Linux 版本的 workflow
  .github/workflows/dev-build-linux.yml
  CMakeLists.txt
  cmake/fastdeploy.cmake
  cmake/opencv.cmake
  cmake/utils.cmake
Labels: macOS

#3023 fix: [JP] fix the error msg occured on wakeup
  resource/global/YoStarJP/resource/tasks.json
Labels: macOS

#2869 feat: 修改战斗技能图标识别方法
  resource/tasks.json
  resource/template/BattleSkillReady.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Vision/AbstractImageAnalyzer.h
  src/MaaCore/Vision/Miscellaneous/BattleImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/BattleImageAnalyzer.h
  src/MaaCore/Vision/Miscellaneous/BattleSkillReadyImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/BattleSkillReadyImageAnalyzer.h
Labels: module: fight

#3076 Release v4.8.1
  resource/tasks.json
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
Labels: MAA Team, release

#3090 fix: 宿舍内sort和autofill同为true时的选人bug #2693
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: module: infrast

#3086 修改截图命令 && 添加Python额外配置(触控, 暂停下干员等)接口
  resource/config.json
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/Python/asst.py
  src/Python/sample.py
Labels: module: core

#3099 fix pr#3086 && 添加Python环境变量设置流程
  src/Python/asst.py
Labels: ambiguous

#3111 新增多个补充说明
  docs/1.1-详细介绍.md
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
Labels: MAA Team, ambiguous

#3106 feat:基建作业更新
  resource/custom_infrast/153_layout_3_times_a_day.json
  resource/custom_infrast/243_layout_4_times_a_day.json
  resource/custom_infrast/252_layout_3_times_a_day.json
  resource/custom_infrast/333_layout_for_Orundum_3_times_a_day.json
Labels: module: infrast, MAA Team

#3126 修改了一下英文文档
  docs/en-us/2.4-Oversea Service Adaptation.md
Labels: ambiguous

#3139 feat: 补全EN服缺少的截图&修改部分基建截图
  resource/global/YoStarEN/resource/template/BattleQuickFormationClear.png
  resource/global/YoStarEN/resource/template/BattleQuickFormationRole-All.png
  resource/global/YoStarEN/resource/template/BattleStartExercise.png
  resource/global/YoStarEN/resource/template/BattleStartNormal.png
  resource/global/YoStarEN/resource/template/BattleStartRaid.png
  resource/global/YoStarEN/resource/template/BattleStartSimulation.png
  resource/global/YoStarEN/resource/template/BattleSupportUnitFormation.png
  resource/global/YoStarEN/resource/template/ControlCenter.png
  resource/global/YoStarEN/resource/template/CrisisPopup.png
  resource/global/YoStarEN/resource/template/DepotMaterialTab.png
  resource/global/YoStarEN/resource/template/DepotMaterialTabClicked.png
  resource/global/YoStarEN/resource/template/EndOfClueExchange.png
  resource/global/YoStarEN/resource/template/Friends.png
  resource/global/YoStarEN/resource/template/InfrastMfgDogFoodFlag.png
  resource/global/YoStarEN/resource/template/InfrastMfgOriginStoneFlag.png
  resource/global/YoStarEN/resource/template/InfrastMfgPureGoldFlag.png
  resource/global/YoStarEN/resource/template/InfrastOperListTabMoodDoubleClick.png
  resource/global/YoStarEN/resource/template/InfrastOperListTabMoodDoubleClickWhenUnclicked.png
  resource/global/YoStarEN/resource/template/Recruit.png
  resource/global/YoStarEN/resource/template/RecruitFinish.png
  resource/global/YoStarEN/resource/template/RecruitRefresh.png
  resource/global/YoStarEN/resource/template/ReplenishToMax.png
  resource/global/YoStarEN/resource/template/StageAP.png
  resource/global/YoStarEN/resource/template/StageAnnihilation.png
  resource/global/YoStarEN/resource/template/StageCA.png
  resource/global/YoStarEN/resource/template/StageCE.png
  resource/global/YoStarEN/resource/template/StageLS.png
  resource/global/YoStarEN/resource/template/StagePR-A.png
  resource/global/YoStarEN/resource/template/StagePR-B.png
  resource/global/YoStarEN/resource/template/StagePR-C.png
  resource/global/YoStarEN/resource/template/StagePR-D.png
  resource/global/YoStarEN/resource/template/StartButton1.png
  resource/global/YoStarEN/resource/template/StartToVisit.png
  resource/global/YoStarEN/resource/template/Terminal.png
  resource/global/YoStarEN/resource/template/UnlockClues.png
  resource/global/YoStarEN/resource/template/VisitLimited.png
Labels: module: infrast, module: roguelike, Client: EN

#3146 錯字導致基建不會收赤金經驗
  resource/global/txwy/resource/tasks.json
Labels: module: infrast, ambiguous

#3147 採購中心/訪問信賴上限
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Mall.png
  resource/global/txwy/resource/template/UnlockClues.png
  resource/global/txwy/resource/template/VisitLimited.png
Labels: Client: ZH_TW

#3163 fix: 修复拉起模拟器失败报错
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/SettingsViewModel.cs
Labels: MAA Team

#3160 新增作业群链接
  docs/1.1-详细介绍.md
Labels: module: copilot, MAA Team, ambiguous

#3162 修复EN服自动基建卡在控制中心&领取任务奖励失败以及刷理智无法回到上次作战的问题
  resource/global/YoStarEN/resource/tasks.json
Labels: module: infrast, module: recruit, module: fight, ambiguous, Client: EN

#3168 Release v4.8.4
  docs/1.1-详细介绍.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/AddOperatorMfgAggressive.png
  resource/global/txwy/resource/template/AddOperatorTradeAggressive.png
  src/MaaWpfGui/Helper/Utils.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/SettingsViewModel.cs
Labels: MAA Team, release

#3176 修正肉鸽DF关卡标题
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike

#3186 Release v4.8.5
  CHANGELOG.md
  cmake/fastdeploy.cmake
  cmake/macos.cmake
  resource/global/YoStarEN/resource/tasks.json
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team, release

#3113 refactor: 重构战斗，抽出BattleHelper基类，新增头像持久化缓存
  .github/workflows/release-nightly-ota.yml
  3rdparty/include/meojson/json.hpp
  resource/battle_data.json
  resource/tasks.json
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.cpp
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.h
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Miscellaneous/CopilotConfig.h
  src/MaaCore/Config/Miscellaneous/RecruitConfig.cpp
  src/MaaCore/Config/Miscellaneous/RecruitConfig.h
  src/MaaCore/Config/Miscellaneous/TilePack.cpp
  src/MaaCore/Config/Miscellaneous/TilePack.h
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.h
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Config/Roguelike/RoguelikeShoppingConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeShoppingConfig.h
  src/MaaCore/Controller.cpp
  src/MaaCore/InstHelper.cpp
  src/MaaCore/InstHelper.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Task/AbstractTask.h
  src/MaaCore/Task/AbstractTaskPlugin.h
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Utils/Algorithm.hpp
  src/MaaCore/Vision/MatchImageAnalyzer.cpp
  src/MaaCore/Vision/MatchImageAnalyzer.h
  src/MaaCore/Vision/Miscellaneous/BattleImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/BattleImageAnalyzer.h
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitImageAnalyzer.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitImageAnalyzer.h
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitSupportAnalyzer.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitSupportAnalyzer.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  tools/ResourceUpdater/main.cpp
Labels: module: roguelike, module: fight, MAA Team

#3198 Doc: JP Update 塵影に交わる残響
  docs/glossary/operators.md
Labels: documentation, Client: JP

#3206 Release v4.9.0-alpha.2 hotfix
  CHANGELOG.md
  src/MaaWpfGui/Main/SettingsViewModel.cs
Labels: MAA Team, release

#3221 Release v4.9.0-rc.1
  CHANGELOG.md
  resource/global/YoStarJP/resource/template/RecruitFinish.png
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaWpfGui/Helper/StageActivityInfo.cs
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team, release

#3231 国际服更新干员和肉鸽内容拓展2
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, Client: EN

#3226 繁中服更新 SideStory「吾导先路」
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#3230 适配EN服自动公招&添加尘影余音活动数据&修复领取奖励，线索收集，肉鸽不投资的问题
  resource/global/YoStarEN/resource/item_index.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/EndOfClueExchange.png
  resource/global/YoStarEN/resource/template/RecruitFinish.png
  resource/global/YoStarEN/resource/template/Roguelike@StageTraderInvestConfirm.png
  resource/global/YoStarEN/resource/template/Roguelike@StageTraderInvestSystem.png
  resource/global/YoStarEN/resource/template/Roguelike@StageTraderInvestSystemEnter.png
  resource/stages.json
Labels: module: roguelike, Client: EN

#3237 修正EN服tasks.json格式错误
  resource/global/YoStarEN/resource/tasks.json
Labels: ambiguous, Client: EN
