Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-07, with the labels that each got.

#1327 重构公招相关的部分代码
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/MeoAssistant.vcxproj
  src/MeoAssistant/MeoAssistant.vcxproj.filters
  src/MeoAssistant/RecruitCalcTask.cpp
  src/MeoAssistant/RecruitCalcTask.h
  src/MeoAssistant/RecruitConfiger.h
  src/MeoAssistant/RecruitImageAnalyzer.cpp
  src/MeoAssistant/RecruitImageAnalyzer.h
  src/MeoAssistant/RecruitTask.cpp
  src/MeoAssistant/RecruitTask.h
Labels: module: recruit

#1373 feat: 优化更新时的 Changelog 弹窗样式
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
  src/MeoAsstGui/Views/VersionUpdateView.xaml
Labels: module: GUI

#1387 feat: 肉鸽招募券支持翻页
  src/MeoAssistant/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#1385 自动公招相关的调整
  src/MeoAssistant/AutoRecruitTask.cpp
  src/MeoAssistant/AutoRecruitTask.h
  src/MeoAssistant/RecruitConfiger.h
Labels: module: recruit
