Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2022-10, with the labels that each got.

#2059 Release v4.6.0-alpha.7
  CHANGELOG.md
  resource/addition/Roguelike2/resource/tasks.json
  resource/addition/Roguelike2/resource/template/Roguelike2CloseEvent.png
  resource/tasks.json
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
Labels: MAA Team, release

#2079 Improve Roguelike Recruitment
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#2089 feat[golang] update go code for AsstHandle
  src/Golang/MaaAssistantArknights/conf.yaml
  src/Golang/MaaAssistantArknights/conf/config.go
  src/Golang/MaaAssistantArknights/go.sum
  src/Golang/MaaAssistantArknights/internal/api/errors.go
  src/Golang/MaaAssistantArknights/internal/store/store.go
  src/Golang/MaaAssistantArknights/maa/asst_linux.go
  src/Golang/MaaAssistantArknights/maa/asst_widows.go
  src/Golang/MaaAssistantArknights/maa/hook.go
  src/Golang/MaaAssistantArknights/maa/mma.go
  src/Golang/MaaAssistantArknights/maa/task.go
  src/Golang/MaaAssistantArknights/maa/util.go
  src/Golang/MaaAssistantArknights/main.go
  src/Golang/MaaAssistantArknights/server/http/db/cache.go
  src/Golang/MaaAssistantArknights/server/http/handler.go
  src/Golang/MaaAssistantArknights/server/http/params/params.go
  src/Golang/MaaAssistantArknights/server/http/router.go
  src/Golang/MaaAssistantArknights/server/http/server.go
  src/Golang/MaaAssistantArknights/server/http/task_handler.go
  src/Golang/cli.go
  src/Golang/config.yaml
  src/Golang/go.sum
  src/Golang/maa/config.go
  src/Golang/maa/interface.go
  src/Golang/maa/win.go
Labels: ambiguous

#2084 fix: 修一些 tasks.json 的 bug，继续增加语法检查
  resource/tasks.json
  src/MeoAssistant/ImageAnalyzer/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
Labels: MAA Team

#2074 fix: 修复在战斗中进入刷理智任务时任务崩溃的问题
  resource/tasks.json
  src/MeoAssistant/Task/FightTask.cpp
Labels: module: fight

#2093 fix: update roguelike mode text for the change at 4.6.0.alpha.8
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
Labels: module: roguelike

#2094 perf: 优化刷理智任务逻辑
  resource/tasks.json
  src/MeoAssistant/Task/FightTask.cpp
Labels: module: fight, MAA Team

#2096 rft: 重构当前/上次作战的逻辑
  resource/tasks.json
  src/MeoAssistant/Task/FightTask.cpp
  src/MeoAssistant/Task/FightTask.h
Labels: module: fight, MAA Team

#2095 Release v4.6.0-beta.1
  .gitignore
  CHANGELOG.md
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  docs/maa-infra.schema.json
  resource/addition/Roguelike2/resource/tasks.json
  resource/addition/Roguelike2/resource/template/Roguelike1StageEncounterFree.png
  resource/addition/Roguelike2/resource/template/Roguelike1StageEncounterLeave.png
  resource/addition/Roguelike2/resource/template/Roguelike1TodoEnter.png
  resource/addition/Roguelike2/resource/template/Roguelike2DataTraceback.png
  resource/global/YoStarJP/resource/tasks.json
  resource/tasks.json
  resource/template/Roguelike1TodoEnter.png
  src/Golang/MaaAssistantArknights/conf.yaml
  src/Golang/MaaAssistantArknights/conf/config.go
  src/Golang/MaaAssistantArknights/go.mod
  src/Golang/MaaAssistantArknights/go.sum
  src/Golang/MaaAssistantArknights/internal/api/errors.go
  src/Golang/MaaAssistantArknights/internal/store/store.go
  src/Golang/MaaAssistantArknights/maa/asst_linux.go
  src/Golang/MaaAssistantArknights/maa/asst_widows.go
  src/Golang/MaaAssistantArknights/maa/hook.go
  src/Golang/MaaAssistantArknights/maa/maa.go
  src/Golang/MaaAssistantArknights/maa/task.go
  src/Golang/MaaAssistantArknights/maa/util.go
  src/Golang/MaaAssistantArknights/main.go
  src/Golang/MaaAssistantArknights/server/http/db/cache.go
  src/Golang/MaaAssistantArknights/server/http/handler.go
  src/Golang/MaaAssistantArknights/server/http/params/params.go
  src/Golang/MaaAssistantArknights/server/http/router.go
  src/Golang/MaaAssistantArknights/server/http/server.go
  src/Golang/MaaAssistantArknights/server/http/task_handler.go
  src/Golang/cli.go
  src/Golang/config.yaml
  src/Golang/go.sum
  src/Golang/maa/config.go
  src/Golang/maa/interface.go
  src/Golang/maa/win.go
  src/MeoAssistant/ImageAnalyzer/InfrastOperImageAnalyzer.cpp
  src/MeoAssistant/Resource/TilePack.cpp
  src/MeoAssistant/Resource/TilePack.h
  src/MeoAssistant/Task/FightTask.cpp
  src/MeoAssistant/Task/FightTask.h
  src/MeoAssistant/Task/MallTask.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAssistant/Utils/AsstBattleDef.h
  src/MeoAssistant/Utils/AsstTypes.h
  src/MeoAsstGui/Bootstrapper.cs
  src/MeoAsstGui/Helper/StageManager.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: MAA Team, release

#2108 fix: [workaround] 修复往水上放东西的问题
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
Labels: MAA Team

#2124 docs: 新增纯网页端PR教程
  docs/2.2-开发相关.md
  docs/2.4-纯网页端PR教程.md
Labels: documentation, MAA Team

#2125 feat: 优化水月肉鸽招募逻辑
  resource/roguelike_recruit.json
Labels: module: roguelike

#2141 Update roguelike_copilot.json
  resource/roguelike_copilot.json
Labels: module: roguelike, ambiguous

#2144 fix: Cant recruit Ling fix JP client #2143
  resource/global/YoStarJP/resource/tasks.json
Labels: module: recruit, Client: JP

#2174 perf: 将GUI日志信息改为上对齐
  src/MeoAsstGui/Views/TaskQueueView.xaml
Labels: module: GUI, MAA Team

#2168 feat: 删除 `asst::utils::string_split_view`, 使用 `asst::views::split`
  src/MeoAssistant/Utils/AsstHttp.hpp
  src/MeoAssistant/Utils/AsstUtils.hpp
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#2196 feat: 修改肉鸽主题选择方式
  src/MeoAsstGui/Helper/AsstProxy.cs
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/UserControl/RoguelikeSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
Labels: module: roguelike, MAA Team

#2204 perf: 调整水月肉鸽干员技能选取，略微提高个别干员的精英化优先级
  resource/roguelike_recruit.json
Labels: module: roguelike

#2178 fix: 修复了会客室把可以挂上的线索送出的问题
  resource/tasks.json
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.cpp
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.h
Labels: module: infrast, MAA Team

#2211 feat: 新增水月肉鸽关卡
  resource/custom_infrast/243_layout_4_times_per_day.json
  resource/roguelike_copilot.json
  resource/roguelike_recruit.json
  src/MeoAssistant/Utils/AsstHttp.hpp
  src/MeoAssistant/Utils/AsstUtils.hpp
  src/MeoAsstGui/Helper/ComboBoxExtensions.cs
  src/MeoAsstGui/UserControl/FightSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
  tools/ResourceUpdater/main.cpp
Labels: module: roguelike

#2221 肉鸽新版本
  resource/roguelike_copilot.json
Labels: module: roguelike, ambiguous

#2215 feat: 添加配置文件每日备份机制
  src/MeoAsstGui/Helper/ViewStatusStorage.cs
Labels: module: GUI

#2220 feat: 更新部分 string() 和 Logger
  src/MeoAssistant/ImageAnalyzer/General/MatchImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/General/MultiMatchImageAnalyzer.cpp
  src/MeoAssistant/Resource/OcrPack.cpp
  src/MeoAssistant/Utils/AsstTypes.h
  src/MeoAssistant/Utils/Logger.hpp
Labels: MAA Team

#2216 feat: 提供公孙长乐的243中枢永动基建方案（使用彩虹6号实现中枢永动）及333长期搓玉方案
  resource/custom_infrast/333_layout_for_Orundum_3_times_pre_day.json
Labels: module: infrast

#2234 Hotfix v4.6.0
  CHANGELOG.md
  resource/addition/Roguelike2/resource/tasks.json
  resource/tasks.json
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/AboutUserControl.xaml
Labels: MAA Team, ambiguous

#2116 feat: 增加模板任务逻辑
  resource/tasks.json
  src/MeoAssistant/Task/StartUpTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
Labels: module: core, MAA Team

#2167 perf: 优化肉鸽自动战斗逻辑
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike_copilot.json
  resource/roguelike_recruit.json
  resource/tasks.json
  resource/template/Roguelike1SkillSelectionTeamFull.png
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.h
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/Resource/TilePack.cpp
  src/MeoAssistant/RuntimeStatus.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeCustomStartTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MeoAssistant/Utils/AsstBattleDef.h
Labels: module: roguelike, MAA Team

#2235 Release v4.6.1-alpha.1
  CHANGELOG.md
  docs/3.5-肉鸽辅助协议.md
  resource/custom_infrast/333_layout_for_Orundum_3_times_pre_day.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike_copilot.json
  resource/roguelike_recruit.json
  resource/tasks.json
  resource/template/Roguelike1SkillSelectionTeamFull.png
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.h
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/Resource/TilePack.cpp
  src/MeoAssistant/RuntimeStatus.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeCustomStartTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MeoAssistant/Task/StartUpTask.cpp
  src/MeoAssistant/Task/Sub/InfrastAbstractTask.cpp
  src/MeoAssistant/Task/Sub/InfrastControlTask.cpp
  src/MeoAssistant/Task/Sub/InfrastDormTask.cpp
  src/MeoAssistant/Task/Sub/InfrastProductionTask.cpp
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAssistant/Utils/AsstBattleDef.h
Labels: MAA Team, release

#2248 perf: 略微优化水月肉鸽4-5层的部分高难度关卡
  resource/roguelike_copilot.json
Labels: module: roguelike

#2261 fix: period设定时间不能准时开始
  src/MeoAsstGui/ViewModels/TaskQueueViewModel.cs
Labels: module: infrast

#2256 perf: I.S. auto fight
  docs/3.5-肉鸽辅助协议.md
  resource/battle_data.json
  resource/roguelike_copilot.json
  src/MeoAssistant/Resource/BattleDataConfiger.cpp
  src/MeoAssistant/Resource/BattleDataConfiger.h
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.cpp
  src/MeoAssistant/Resource/TilePack.cpp
  src/MeoAssistant/Resource/TilePack.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Utils/AsstBattleDef.h
  tools/ResourceUpdater/main.cpp
Labels: module: roguelike, module: fight, MAA Team

#2289 fix: 修复了远程/近战位干员无空位时不能部署任何干员的问题
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
Labels: MAA Team

#2288 Release v4.6.4
  CHANGELOG.md
  resource/tasks.json
  src/MeoAssistant/ImageAnalyzer/RoguelikeRecruitImageAnalyzer.cpp
  src/MeoAssistant/ImageAnalyzer/RoguelikeSkillSelectionImageAnalyzer.cpp
  src/MeoAssistant/Resource/OcrPack.cpp
  src/MeoAssistant/Resource/OcrPack.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeDebugTaskPlugin.cpp
  src/MeoAssistant/Utils/AsstUtils.hpp
Labels: MAA Team, release

#2285 fix: 修复 reduce_other_times 不能正常工作的问题
  src/MeoAssistant/Task/Plugin/DrGrandetTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/GameCrashRestartTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/StageDropsTaskPlugin.cpp
  src/MeoAssistant/Task/Sub/AbstractTask.cpp
  src/MeoAssistant/Task/Sub/AbstractTask.h
  src/MeoAssistant/TaskData.h
Labels: module: fight, MAA Team

#2307 docs: Update 3.2-回调消息协议.md
  docs/3.2-回调消息协议.md
Labels: documentation

#2297 fix: 移除长夜临光关卡选择
  src/MeoAsstGui/Helper/StageManager.cs
Labels: module: GUI, MAA Team

#2302 docs: Update 1.1-详细介绍.md
  docs/1.1-详细介绍.md
Labels: documentation

#2322 feat: 適配台服肉鴿
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Roguelike1Abandon.png
  resource/global/txwy/resource/template/Roguelike1BattleAbandon.png
  resource/global/txwy/resource/template/Roguelike1BattleAbandonConfirm.png
  resource/global/txwy/resource/template/Roguelike1ChooseDifficulty.png
  resource/global/txwy/resource/template/Roguelike1ChooseOperConfirm.png
  resource/global/txwy/resource/template/Roguelike1Continue.png
  resource/global/txwy/resource/template/Roguelike1DropsFlag.png
  resource/global/txwy/resource/template/Roguelike1EnterAfterRecruit.png
  resource/global/txwy/resource/template/Roguelike1FormationConfirm.png
  resource/global/txwy/resource/template/Roguelike1GamePass.png
  resource/global/txwy/resource/template/Roguelike1GamePassSkip1.png
  resource/global/txwy/resource/template/Roguelike1GetDrop3.png
  resource/global/txwy/resource/template/Roguelike1GetDropCompleted.png
  resource/global/txwy/resource/template/Roguelike1GetDropSelect.png
  resource/global/txwy/resource/template/Roguelike1GetDropSelectReward.png
  resource/global/txwy/resource/template/Roguelike1LastReward.png
  resource/global/txwy/resource/template/Roguelike1LastReward2.png
  resource/global/txwy/resource/template/Roguelike1LastReward3.png
  resource/global/txwy/resource/template/Roguelike1MissionFailedFlag2.png
  resource/global/txwy/resource/template/Roguelike1QuickFormation.png
  resource/global/txwy/resource/template/Roguelike1Recruit1.png
  resource/global/txwy/resource/template/Roguelike1RecruitCloseGuide.png
  resource/global/txwy/resource/template/Roguelike1RecruitConfirm.png
  resource/global/txwy/resource/template/Roguelike1StageCambatDpsEnter.png
  resource/global/txwy/resource/template/Roguelike1StageDreadfulFoeEnter.png
  resource/global/txwy/resource/template/Roguelike1StageEmergencyDpsEnter.png
  resource/global/txwy/resource/template/Roguelike1StageEncounterEnter.png
  resource/global/txwy/resource/template/Roguelike1StageEncounterLeaveConfirm.png
  resource/global/txwy/resource/template/Roguelike1StageSafeHouseEnter.png
  resource/global/txwy/resource/template/Roguelike1StageTraderEnter.png
  resource/global/txwy/resource/template/Roguelike1StageTraderInvestConfirm.png
  resource/global/txwy/resource/template/Roguelike1StageTraderInvestSystem.png
  resource/global/txwy/resource/template/Roguelike1StageTraderInvestSystemEnter.png
  resource/global/txwy/resource/template/Roguelike1StageTraderLeave.png
  resource/global/txwy/resource/template/Roguelike1StageTraderLeaveConfirm.png
  resource/global/txwy/resource/template/Roguelike1Start.png
  resource/global/txwy/resource/template/Roguelike1StartAction.png
  resource/global/txwy/resource/template/Roguelike1Team3.png
  resource/global/txwy/resource/template/Roguelike1TeamConfirm.png
  resource/global/txwy/resource/template/Roguelike1TodoEnter.png
  resource/global/txwy/resource/template/Roguelike1TraderRandomShoppingConfirm.png
Labels: module: roguelike, Client: ZH_TW

#2328 build: Modify CI product name and remove unneeded files from the product package
  .github/workflows/dev-build-mac.yml
  .github/workflows/dev-build-win.yml
  .github/workflows/release-maa-mac.yml
  .github/workflows/release-maa-win.yml
  README.md
  README_en-US.md
  README_ja-JP.md
  README_zh-TW.md
  package-definition.json
  src/MeoAsstGui/MeoAsstGui.csproj
  tools/MaaBuilder/Build.cs
Labels: MAA Team

#2365 doc: JP Add update line
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
Labels: documentation, Client: JP

#2373 feat: 合并本次掉落和掉落统计
  src/MeoAssistant/Task/Plugin/StageDropsTaskPlugin.cpp
  src/MeoAsstGui/Helper/AsstProxy.cs
Labels: module: GUI, MAA Team

#2382 doc : Add operator
  docs/glossary/operators.md
Labels: documentation

#2407 perf: 修改 GUI 更新相关逻辑
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: module: GUI, MAA Team

#2381 feat: 增加 `#` 型任务 和 `baseTask` 字段
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@StageEncounterOptionUnknown.png
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@StageEncounterOptionUnknown.png
  resource/tasks.json
  resource/template/Mizuki@Roguelike@StageEncounterOptionFree.png
  resource/template/Mizuki@Roguelike@StageEncounterOptionLeave.png
  resource/template/Mizuki@Roguelike@StageEncounterOptionUnknown.png
  resource/template/Mizuki@Roguelike@StageEncounterOptionWonderland.png
  resource/template/Phantom@Roguelike@StageEncounterOptionFree.png
  resource/template/Phantom@Roguelike@StageEncounterOptionLeave.png
  resource/template/Phantom@Roguelike@StageEncounterOptionUnknown.png
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
Labels: MAA Team

#2412 feat: 为部分枚举类型增加与字符串类型的互转函数
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAssistant/Utils/AsstTypes.h
  src/MeoAssistant/Utils/Logger.hpp
  src/MeoAssistant/Utils/StringMisc.hpp
Labels: MAA Team

#2419 台服肉鴿識別文字轉換
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, ambiguous, Client: ZH_TW

#2443 fix: 修复252发电站界面返回以及未找到会客室时卡住的问题
  src/MeoAssistant/Task/Sub/InfrastPowerTask.cpp
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.cpp
Labels: module: infrast

#2455 feat: 台服識別圖檔更新
  resource/global/txwy/resource/template/DailyTask.png
  resource/global/txwy/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/txwy/resource/template/Phantom@Roguelike@GamePassSkip1.png
  resource/global/txwy/resource/template/ReceiveAward.png
  resource/global/txwy/resource/template/Task.png
  resource/global/txwy/resource/template/WeeklyTask.png
Labels: module: roguelike, Client: ZH_TW

#2405 perf: 改进肉鸽招募和部署逻辑
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike_copilot.json
  resource/roguelike_recruit.json
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/RuntimeStatus.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.h
  src/MeoAssistant/Task/Plugin/RoguelikeResetTaskPlugin.cpp
  src/MeoAssistant/Utils/AsstBattleDef.h
Labels: module: roguelike, MAA Team

#2461 doc: Update 1.1-详细介绍.md
  docs/1.1-详细介绍.md
Labels: documentation

#2489 根据队伍优化选取等级
  resource/roguelike_recruit.json
Labels: ambiguous

#2471 perf: 改进肉鸽招募逻辑并修复了部分bug
  resource/roguelike_recruit.json
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.cpp
  src/MeoAssistant/Resource/RoguelikeRecruitConfiger.h
  src/MeoAssistant/RuntimeStatus.h
  src/MeoAssistant/Task/Plugin/RoguelikeBattleTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.h
Labels: module: roguelike, MAA Team

#2490 chore: 增加 OTA 打包的 action workflow
  .github/workflows/release-ota.yml
  tools/OTAPacker/build.sh
Labels: MAA Team

#2506 feat: 更新 GUI 的 OTA 机制
  src/MeoAsstGui/Bootstrapper.cs
  src/MeoAsstGui/Helper/ViewStatusStorage.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: module: GUI, MAA Team

#2418 perf: 对任务流程及配置的一些优化
  resource/global/YoStarJP/resource/tasks.json
  resource/roguelike_copilot.json
  resource/tasks.json
  resource/template/BServerPrivacyPolicy.png
  resource/template/EnterEpisode11.png
  resource/template/EnterEpisode3.png
  resource/template/EnterEpisode8.png
  resource/template/Roguelike@IntegratedStrategies.png
  src/MeoAssistant/Resource/RoguelikeCopilotConfiger.cpp
  src/MeoAssistant/Task/Plugin/RoguelikeRecruitTaskPlugin.cpp
  src/MeoAssistant/Task/StartUpTask.cpp
  src/MeoAssistant/Task/Sub/InfrastReceptionTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.cpp
  src/MeoAssistant/Task/Sub/ProcessTask.h
  src/MeoAssistant/TaskData.cpp
  src/MeoAssistant/TaskData.h
  src/MeoAssistant/Utils/AsstBattleDef.h
  src/MeoAssistant/Utils/AsstTypes.h
Labels: module: core, MAA Team

#2517 feat: 内测版本更新 GUI 选项
  README.md
  README_zh-TW.md
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/ja-jp.xaml
  src/MeoAsstGui/Resources/Localizations/ko-kr.xaml
  src/MeoAsstGui/Resources/Localizations/pallas.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/Resources/Localizations/zh-tw.xaml
  src/MeoAsstGui/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: module: GUI, MAA Team

#2518 chore: 更新 OTA 脚本, 同步 Pre-release 类型
  .github/workflows/release-ota.yml
  tools/OTAPacker/build.sh
  tools/OTAPacker/makeota.sh
Labels: MAA Team

#2524 perf: 整理检查更新的弹出通知逻辑，做了一下i18n
  src/MeoAsstGui/Resources/Localizations/en-us.xaml
  src/MeoAsstGui/Resources/Localizations/zh-cn.xaml
  src/MeoAsstGui/ViewModels/SettingsViewModel.cs
  src/MeoAsstGui/ViewModels/VersionUpdateViewModel.cs
Labels: MAA Team
