Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-07, with the labels that each got.

#5295 Release v4.19.3-beta.2
  CHANGELOG.md
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/CrisisPopup.png
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ItemListHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team, release

#5293 refactor: 在RunningState类中用状态机替换idle处理
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/HotKeys/MaaHotKeyActionHandler.cs
  src/MaaWpfGui/States/RunningState.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#5311 feat: 对镜像进行延迟测试，并选择最优镜像
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/Services/Web/IHttpService.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#5333 Release v4.19.3
  CHANGELOG.md
Labels: MAA Team, release

#5327 fix: 尝试修复运行时下载完成更新包后卡死
  src/MaaWpfGui/States/RunningState.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#5325 feat: 肉鸽debug日志写入图片前限制文件夹内图片数量
  resource/config.json
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Task/AbstractTask.h
Labels: module: roguelike

#5358 fix: add CloseEvent task for Phantom Roguelike
  resource/tasks.json
  resource/template/Phantom@Roguelike@CloseEvent.png
Labels: module: roguelike

#5372 fix: 添加山的干员名字纠错规则
  resource/tasks.json
Labels: module: roguelike

#5323 feat: 定时任务可切换配置
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
Labels: MAA Team

#5381 使用字典推导式
  src/Python/asst/emulator.py
Labels: ambiguous

#5385 Update operators.md
  docs/glossary/operators.md
Labels: ambiguous

#5357 合并重复代码
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: module: GUI

#5400 【UPD】：更新肉鸽3shopping json
  resource/roguelike/shopping.json
Labels: module: roguelike, ambiguous

#5408 Stage encounter update
  resource/roguelike/stage_encounter.json
Labels: module: roguelike

#5416 完成对不期而遇选项所需抗干扰指数的标记
  resource/roguelike/recruitment.json
  resource/roguelike/shopping.json
  resource/roguelike/stage_encounter.json
Labels: module: roguelike, ambiguous

#5421 扩充不期而遇选项标记
  resource/roguelike/stage_encounter.json
Labels: ambiguous

#5390 同时请求多个url下载
  src/Python/downloader.py
Labels: ambiguous

#5424 fix: Visiting only 1 Friend Clue Exchange in YostarEN
  resource/global/YoStarEN/resource/tasks.json
Labels: module: others, Client: EN

#5430 feat: Sami rogue recruitment and copilot
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
Labels: module: roguelike

#5433 增加萨米肉鸽战斗关卡作业
  resource/roguelike/copilot.json
Labels: module: roguelike

#5444 合并萨米肉鸽中相同关卡的自动战斗逻辑
  resource/roguelike/copilot.json
Labels: module: roguelike

#5450 尝试修复萨米肉鸽卡杂货铺的问题
  resource/tasks.json
  resource/template/Sami@Roguelike@StageEncounterOptionUnknown.png
Labels: module: roguelike

#5458 Missing .png for YostarEN and modified tools/ignore_list_of_templates.txt (lack of Chinese characters)
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/ChooseMoneyOrder.png
  resource/global/YoStarEN/resource/template/ChooseSyntheticJadeOrder.png
  resource/global/YoStarEN/resource/template/ClickProductMax.png
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: ambiguous, Client: EN

#5466 优化萨米肉鸽死囚之夜战斗逻辑
  resource/roguelike/copilot.json
Labels: module: roguelike

#5471 feat: 修复萨米肉鸽部分问题，重构不期而遇插件识别部分
  resource/roguelike/shopping.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#5480 Fix 絮雨在肉鸽中想使用3技能的bug
  resource/roguelike/recruitment.json
Labels: module: roguelike

#5486 修改萨米肉鸽关卡“饥渴祭坛”摆放
  resource/roguelike/copilot.json
Labels: module: roguelike

#5494 fix: 修复了肉鸽掉线重连后死循环的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#5500 feat: 适配了抗干扰指数为6时的节点进入
  resource/tasks.json
  resource/template/Sami@Roguelike@StageBoonsAI6.png
  resource/template/Sami@Roguelike@StageBoskyPassageAI6.png
  resource/template/Sami@Roguelike@StageCambatDpsAI6.png
  resource/template/Sami@Roguelike@StageEmergencyDpsAI6.png
  resource/template/Sami@Roguelike@StageEmergencyTransportationAI6.png
  resource/template/Sami@Roguelike@StageEncounterAI6.png
  resource/template/Sami@Roguelike@StageGamblingAI6.png
  resource/template/Sami@Roguelike@StageProphecyAI6.png
  resource/template/Sami@Roguelike@StageSafeHouseAI6.png
  resource/template/Sami@Roguelike@StageTraderAI6.png
  resource/template/Sami@Roguelike@StageWindAndRainAI6.png
Labels: MAA Team

#5498 修改萨米肉鸽关卡低空机动摆放
  resource/roguelike/copilot.json
Labels: module: roguelike

#5516 优化萨米肉鸽部分关卡战斗逻辑
  resource/roguelike/copilot.json
Labels: module: roguelike, ambiguous

#5517 ci: 规范化step name
  .github/workflows/gen-changelog.yml
  .github/workflows/pr-auto-tag.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#5510 AsstConf.h 对 clang-tidy 不友好的问题
  src/MaaCore/Common/AsstConf.h
Labels: ambiguous

#5534 perf: 增加萨米肉鸽 焰苇，修改增加一些地图
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
Labels: module: roguelike

#5543 fix: 繁中服干员名识别错误
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW

#5546 根据MAA作业5群意见优化了死囚之夜、度假村冤魂、待宰的兽群、苔手的提丰放置方法
  resource/roguelike/copilot.json
Labels: module: copilot, ambiguous

#5553 新增萨米肉鸽公司纠葛和自然之怒
  resource/roguelike/copilot.json
Labels: module: roguelike, ambiguous

#5564 Improved operator awareness in infrastructure
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.4-Mac용_에뮬레이터_지원.md
  docs/ko-kr/2.5-해외_클라이언트_현지화.md
  resource/global/YoStarKR/resource/tasks.json
Labels: module: infrast, ambiguous

#5567 修改第一层提丰放置顺序以及站位
  resource/roguelike/copilot.json
Labels: module: roguelike

#5580 Update tasks.json
  resource/global/txwy/resource/tasks.json
Labels: module: copilot, ambiguous

#5571 fix: 0时的定时任务无法提前重启
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: GUI

#5576 优化水月部分地图部署逻辑
  resource/roguelike/copilot.json
Labels: ambiguous

#5590 docs: add tutorial docs for kr
  docs/glossary/items.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.2-FAQ.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  docs/ko-kr/1.4-Mac용_에뮬레이터_지원.md
  docs/ko-kr/1.5-LINUX용_에뮬레이터 지원.md
  docs/ko-kr/2.1-LINUX_튜토리얼.md
  docs/ko-kr/2.2-개발_환경_구축하기.md
  docs/ko-kr/2.3-Issue_Bot_사용방법.md
  docs/ko-kr/2.4-웹을_통한_풀리퀘스트_튜토리얼.md
  docs/ko-kr/2.5-해외_클라이언트_현지화.md
  docs/ko-kr/3.1-연동.md
  docs/ko-kr/3.2-콜백_스키마.md
  docs/ko-kr/3.3-전투_스키마.md
  docs/ko-kr/3.4-작업_스키마.md
  docs/ko-kr/3.5-통합전략_스키마.md
  docs/ko-kr/3.6-기반시설_예약_스키마.md
  docs/ko-kr/3.7-보안파견_스키마.md
  docs/ko-kr/readme.md
Labels: documentation, Client: KR

#5581 Release v4.20.0-rc.1
  .github/workflows/release-ota.yml
  CHANGELOG.md
  docs/glossary/items.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.2-FAQ.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  docs/ko-kr/1.4-Mac용_에뮬레이터_지원.md
  docs/ko-kr/1.5-LINUX용_에뮬레이터 지원.md
  docs/ko-kr/2.1-LINUX_튜토리얼.md
  docs/ko-kr/2.2-개발_환경_구축하기.md
  docs/ko-kr/2.3-Issue_Bot_사용방법.md
  docs/ko-kr/2.4-웹을_통한_풀리퀘스트_튜토리얼.md
  docs/ko-kr/2.5-해외_클라이언트_현지화.md
  docs/ko-kr/3.1-연동.md
  docs/ko-kr/3.2-콜백_스키마.md
  docs/ko-kr/3.3-전투_스키마.md
  docs/ko-kr/3.4-작업_스키마.md
  docs/ko-kr/3.5-통합전략_스키마.md
  docs/ko-kr/3.6-기반시설_예약_스키마.md
  docs/ko-kr/3.7-보안파견_스키마.md
  docs/ko-kr/readme.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike/copilot.json
  src/MaaCore/Common/AsstConf.h
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#5605 Release v4.20.0
  .github/workflows/release-ota.yml
  CHANGELOG.md
  maadeps-download.py
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/OperBoxRoleTab.png
  resource/global/YoStarEN/resource/template/OperBoxRoleTabSelect.png
  src/MaaCore/Utils/Algorithm.hpp
Labels: MAA Team, release

#5620 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#5621 优化肉鸽招募逻辑
  resource/roguelike/recruitment.json
Labels: module: roguelike, MAA Team

#5636 JP : add Operators 登臨意
  docs/glossary/operators.md
Labels: ambiguous

#5625 feat: 选择刷源石锭策略时强制启用投资选项
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#5663 perf: 进一步优化水月肉鸽部分关卡作战逻辑
  resource/roguelike/copilot.json
Labels: module: roguelike

#5670 貢獻台服水月三張小截圖
  resource/global/txwy/resource/template/Mizuki@Roguelike@Continue.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDrop1.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropLeave.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropRecruit.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropSelectReward.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@RolesDefault.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@SquadDefault.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageEncounterEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageSafeHouseEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@TodoEnter.png
  resource/global/txwy/resource/template/Roguelike@StageTraderRefreshWithDice.png.png
Labels: ambiguous, Client: ZH_TW

#5673 補充繁中服水月肉鴿截圖
  resource/global/txwy/resource/template/Mizuki@Roguelike@DataTraceback.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@EnterAfterRecruit.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GamePassSkip1.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropSelect.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@MapObject.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@MissionFailedFlag.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@MissionFailedFlag2.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StartExplore.png
Labels: module: roguelike, ambiguous, Client: ZH_TW

#5680 docs: 修复一处因 MarkdownIt 引入导致的404链接
  docs/1.3-模拟器支持.md
Labels: documentation

#5678 重製_tw服水月肉鴿 Mizuki@Roguelike@GetDropRecruit 圖像清晰化
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropRecruit.png
Labels: module: roguelike, Client: ZH_TW

#5684 TW水月肉鴿圖檔
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDrop3.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropBox.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropBoxOpen.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropBoxSelect.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDropSelectReward.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastRewardConfirm.png
Labels: module: roguelike, ambiguous

#5691 補充繁中服截圖、水月肉鴿新分隊名 & 嘗試修復一些問題
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/BattleStartAdverse.png
  resource/global/txwy/resource/template/ControlCenter.png
  resource/global/txwy/resource/template/ControlCenterMini.png
  resource/global/txwy/resource/template/CrisisPopup.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@CommissionedMissionCompleted.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GetDrop2.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@Recruit.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageCambatDpsEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageDreadfulFoeEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageEmergencyDpsEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageEncounterEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageSafeHouseEnter.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@StageTraderEnter.png
  resource/global/txwy/resource/template/PrtsErrorConfirm.png
  resource/global/txwy/resource/template/Roguelike@TempRecruitFlag.png
  resource/global/txwy/resource/template/SSSCloseTip.png
  resource/global/txwy/resource/template/StageAP.png
  resource/global/txwy/resource/template/StageAnnihilation.png
  resource/global/txwy/resource/template/StageCA.png
  resource/global/txwy/resource/template/StageCE.png
  resource/global/txwy/resource/template/StageDrops-DropType-Reward.png
  resource/global/txwy/resource/template/StageLS.png
  resource/global/txwy/resource/template/StagePR-A.png
  resource/global/txwy/resource/template/StagePR-B.png
  resource/global/txwy/resource/template/StagePR-C.png
  resource/global/txwy/resource/template/StagePR-D.png
  resource/global/txwy/resource/template/StageSK.png
  resource/global/txwy/resource/template/StartButton1.png
  resource/global/txwy/resource/template/StartUpConnectingFlag.png
Labels: module: roguelike, ambiguous, Client: ZH_TW

#5701 修正繁中服無法正確選擇 "物盡其用分隊" 的問題
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#5707 优化傀影肉鸽招募逻辑和棘刺队作战逻辑
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
Labels: module: roguelike, MAA Team

#5710 Fix:一些文字识别问题与死囚之夜部分高台站位
  resource/global/txwy/resource/tasks.json
  resource/roguelike/copilot.json
  resource/tasks.json
Labels: ambiguous

#5694 feat: 给牛牛抽卡提示增加阴间特效
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: MAA Team

#5666 Implement ADB hard restart.
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: ambiguous

#5712 fix:修复了傀影肉鸽部分关卡的部署逻辑
  resource/roguelike/copilot.json
  resource/roguelike/shopping.json
  resource/roguelike/stage_encounter.json
Labels: module: roguelike, MAA Team

#5717 繁中服肉鴿
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Mizuki@Roguelike@GamePass.png
Labels: module: roguelike, Client: ZH_TW

#5736 feat: 主目录存在 DEBUG.txt 时每次开始任务都重新解析tasks.json
  src/MaaCore/Config/TaskData.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#5731 fix: 修正繁中服水月肉鴿 "漩渦" 的關卡辨識問題
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, Client: ZH_TW
