Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-08, with the labels that each got.

#5748 fix: 重製繁中服部分截圖
  resource/global/txwy/resource/template/ControlCenter.png
  resource/global/txwy/resource/template/ControlCenterMini.png
  resource/global/txwy/resource/template/Dorm.png
  resource/global/txwy/resource/template/DormMini.png
  resource/global/txwy/resource/template/Manufacturing.png
  resource/global/txwy/resource/template/ManufacturingMini.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@DataTraceback.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@GamePassSkip1.png
  resource/global/txwy/resource/template/Office.png
  resource/global/txwy/resource/template/OfficeMini.png
  resource/global/txwy/resource/template/Power.png
  resource/global/txwy/resource/template/PowerMini.png
  resource/global/txwy/resource/template/Reception.png
  resource/global/txwy/resource/template/ReceptionMini.png
  resource/global/txwy/resource/template/StageAP.png
  resource/global/txwy/resource/template/StageCA.png
  resource/global/txwy/resource/template/StageCE.png
  resource/global/txwy/resource/template/StageLS.png
  resource/global/txwy/resource/template/StagePR-A.png
  resource/global/txwy/resource/template/StagePR-B.png
  resource/global/txwy/resource/template/StagePR-D.png
  resource/global/txwy/resource/template/Trade.png
  resource/global/txwy/resource/template/TradeMini.png
Labels: module: infrast, Client: ZH_TW

#5749 fix:日服水月肉鸽事件选项确认页面
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@StageEncounterLeaveConfirm.png
Labels: module: roguelike, Client: JP

#5725 feat: 新增萨米肉鸽4~5层部署策略
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
  resource/tasks.json
Labels: module: roguelike

#5662 增加 Qodana 静态扫描
  .github/workflows/qodana.yml
  qodana.yaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: enhancement, ambiguous

#5754 Ci: qodana
  .github/workflows/qodana.yml
  qodana.yaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: MAA Team, ambiguous

#5766 繁中服水月肉鴿「委託完成」卡住
  resource/global/txwy/resource/template/Mizuki@Roguelike@CommissionedMissionCompleted.png
Labels: module: roguelike, ambiguous, Client: ZH_TW

#5775 修复干员青枳识别
  resource/tasks.json
Labels: MAA Team, ambiguous

#5781 docs: 添加对于mumu12后台保活功能的设置的说明
  docs/1.3-模拟器支持.md
Labels: documentation, MAA Team

#5780 Release v4.21.0
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  resource/Arknights-Tile-Pos/act27side_01-activities-act27side-level_act27side_01.json
  resource/Arknights-Tile-Pos/act27side_02-activities-act27side-level_act27side_02.json
  resource/Arknights-Tile-Pos/act27side_03-activities-act27side-level_act27side_03.json
  resource/Arknights-Tile-Pos/act27side_04-activities-act27side-level_act27side_04.json
  resource/Arknights-Tile-Pos/act27side_05-activities-act27side-level_act27side_05.json
  resource/Arknights-Tile-Pos/act27side_06-activities-act27side-level_act27side_06.json
  resource/Arknights-Tile-Pos/act27side_07-activities-act27side-level_act27side_07.json
  resource/Arknights-Tile-Pos/act27side_08-activities-act27side-level_act27side_08.json
  resource/Arknights-Tile-Pos/act27side_sp01-activities-act27side-level_act27side_sp01.json
  resource/Arknights-Tile-Pos/act27side_sp02-activities-act27side-level_act27side_sp02.json
  resource/Arknights-Tile-Pos/act27side_sp03-activities-act27side-level_act27side_sp03.json
  resource/Arknights-Tile-Pos/act27side_tr01-activities-act27side-level_act27side_tr01.json
  resource/Arknights-Tile-Pos/act27side_tr02-activities-act27side-level_act27side_tr02.json
  resource/Arknights-Tile-Pos/overview.json
  resource/battle_data.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Mizuki@Roguelike@CommissionedMissionCompleted.png
  resource/tasks.json
Labels: MAA Team, release

#5790 fix: 修正繁中服水月肉鴿會卡在 "緊急運輸" 的問題
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, Client: ZH_TW

#5791 修复纯烬艾雅法拉识别
  resource/tasks.json
Labels: MAA Team, ambiguous

#5798 feat：适配萨米肉鸽关卡“豪华车队”
  resource/roguelike/copilot.json
Labels: module: roguelike, ambiguous

#5802 Update 1.3-模拟器支持.md
  docs/1.3-模拟器支持.md
Labels: ambiguous

#5817 feat: 傀影肉鸽适配更多干员
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
Labels: module: roguelike

#5794 Revert "feat:自动检测特定目录下的bluestacks.conf"
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#5838 feat: 增加强制替换adb的信息提示，增加异常处理
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#5785 feat(docs): 为文档添加docsearch和sitemap支持
  .gitignore
  docs/.gitignore
  docs/.vuepress/config.ts
  docs/.vuepress/plugins/search.ts
  docs/.vuepress/plugins/sitemap.ts
  docs/package-lock.json
  docs/package.json
Labels: documentation, MAA Team

#5824 feat: 肉鸽开局助战or自选干员后不再要求选用start属性干员
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#5844 未勾选"强制定时启动"时就不必重启了
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: ambiguous

#5852 fix(YoStarKR): Goldenglow(澄闪) & Surtr(史尔特尔) ocrReplace
  resource/global/YoStarKR/resource/tasks.json
Labels: ambiguous, Client: KR

#5861 Update zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: ambiguous

#5859 修复了傀影肉鸽的一些错误,更新了肉鸽协议
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Phantom/recruitment.json
Labels: module: roguelike, MAA Team, ambiguous

#5873 doc: 按照竹雨佬的意见修改了部分肉鸽文档
  docs/3.5-肉鸽辅助协议.md
Labels: documentation, module: roguelike, MAA Team

#5867 fix#根据反馈调整Qodana 忽略特定的警告
  qodana.yaml
Labels: ambiguous, Client: EN, Client: JP, Client: KR

#5890 feat: 萨米不再进入三个不期而遇战斗
  resource/roguelike/Sami/encounter.json
Labels: module: fight

#5903 feat: add roguelike encounter ocrReplace for JP and EN
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, Client: EN, Client: ZH_TW, Client: JP

#5753 refactor: 重构TaskQueueViewModel
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: MAA Team

#5926 feat: 適配繁中服保全派駐
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/NormalBattleAbandon.png
  resource/global/txwy/resource/template/SSSHalfTimeDropsCancelConfirm.png
Labels: module: copilot, Client: ZH_TW

#5933 添加繁中服对于鸿雪的OCR等价规则 #5931
  resource/global/txwy/ocr_config.json
Labels: ambiguous, Client: ZH_TW

#5920 fix: `CloseDown` not works on macOS
  resource/config.json
Labels: macOS

#5935 Revert "添加繁中服对于鸿雪的OCR等价规则 #5931"
  resource/global/txwy/ocr_config.json
Labels: MAA Team, Client: ZH_TW

#5944 feat: merge and re-structure stage.json
  resource/stages.json
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#5936 Fix: 新版萨米肉鸽商店文件&水月肉鸽商店文件提交
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Mizuki/shopping.json
  resource/roguelike/Sami/shopping.json
Labels: module: roguelike

#5946 fix:肉鸽在招募逻辑内可以将同一干员纳入多个群组,修复由于拆分文件造成的bug
  resource/roguelike/Sami/recruitment.json
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#5948 refactoring YostarEN/resource/tasks.json
  .github/workflows/res-update-game.yml
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  tools/ResourceUpdater/Tasks_Sorter.py
Labels: MAA Team, Client: EN, Client: ZH_TW, Client: JP, Client: KR

#5954 fix: link in mac-runtime release
  .github/workflows/release-ota.yml
Labels: macOS

#5977 fix: add ocr replace for YostarJP
  resource/global/YoStarJP/resource/tasks.json
Labels: Client: JP

#5981 refactor: 重构 VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#5966 feat:优化萨米肉鸽招募逻辑，优化前两层作战逻辑
  resource/roguelike/Sami/autopilot/低空机动.json
  resource/roguelike/Sami/autopilot/半吊子之旅.json
  resource/roguelike/Sami/autopilot/幽影与鬼魅.json
  resource/roguelike/Sami/autopilot/度假村冤魂.json
  resource/roguelike/Sami/autopilot/待宰的兽群.json
  resource/roguelike/Sami/autopilot/死囚之夜.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/苔手.json
  resource/roguelike/Sami/autopilot/虫虫别回头.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#5986 优化了萨米肉鸽第三层的部分打法,更新了肉鸽文档
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Sami/autopilot/冰海疑影.json
  resource/roguelike/Sami/autopilot/半吊子之旅.json
  resource/roguelike/Sami/autopilot/咫尺天涯.json
  resource/roguelike/Sami/autopilot/弄假成真.json
  resource/roguelike/Sami/autopilot/思维折断.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team, ambiguous

#5993 fix: 修复一些文字识别问题（txwy）
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW

#5990 feat: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/乐理之灾.json
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/何处无山海.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/呼吸.json
  resource/roguelike/Sami/autopilot/坍缩体的午后.json
  resource/roguelike/Sami/autopilot/大地醒转.json
  resource/roguelike/Sami/autopilot/大迁徙.json
  resource/roguelike/Sami/autopilot/夺树者.json
  resource/roguelike/Sami/autopilot/巍峨银淞.json
  resource/roguelike/Sami/autopilot/应用测试.json
  resource/roguelike/Sami/autopilot/新部族.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/求敌得敌.json
  resource/roguelike/Sami/autopilot/混乱的表象.json
  resource/roguelike/Sami/autopilot/生人勿进.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/autopilot/自然之怒.json
  resource/roguelike/Sami/autopilot/豪华车队.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6004 修正偶尔OCR错误造成的吃48小时理智药失效问题
  resource/tasks.json
Labels: ambiguous

#6000 fix: 仓库识别界面未在最左侧时，识别不全的问题
  resource/tasks.json
  resource/template/DepotAllTab.png
Labels: module: depot

#5987 [Roguelike] 优化刷源石锭模式的逻辑
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Mizuki/encounter_for_deposit.json
  resource/roguelike/Phantom/encounter_for_deposit.json
  resource/roguelike/Sami/encounter_for_deposit.json
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
Labels: module: roguelike

#6007 feat: 添加对 "skill_times" 字段的支持，再也不会狂点重岳辣
  docs/3.3-战斗流程协议.md
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
Labels: module: copilot

#6009 fix: all operators are marked as new for overseas clients (Toolbox-Recruitment)
  src/MaaCore/Config/Miscellaneous/RecruitConfig.cpp
  src/MaaCore/Config/Miscellaneous/RecruitConfig.h
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
Labels: module: recruit

#5988 perf(Golang): 从io/ioutil包更新为os包
  src/Golang/conf/config.go
Labels: ambiguous

#6020 fix: 修复自动编队部分干员文字识别错误
  resource/tasks.json
Labels: module: copilot

#6018 fix: remake StageSK & StagePR-C picture for txwy (#5999)
  resource/global/txwy/resource/template/StagePR-C.png
  resource/global/txwy/resource/template/StageSK.png
Labels: Client: ZH_TW

#6022 fix: 修复干员识别错误
  resource/tasks.json
Labels: module: copilot, MAA Team, ambiguous

#6025 feat: 内置国服现版本两个保全作业
  resource/copilot/SSS_保全荒废灯塔-重岳核v2.0（兼容应急）.json
  resource/copilot/SSS_保全阿尔斯特甜品制作平台-澄闪铃兰核v1.2（兼容应急）.json
Labels: module: copilot

#6026 Create SSS_荒废灯塔_浊蒂纯艾版.json
  resource/copilot/SSS_荒废灯塔_浊蒂纯艾版.json
Labels: module: copilot

#6029 chore: 删除小作文！
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/copilot/SSS_荒废灯塔_浊蒂纯艾版.json
  resource/copilot/SSS_阿尔斯特甜品制作平台_浊蒂版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: MAA Team

#6028 Tweaked the regex for the BattleQuickFormation AutoSquad new algorithm
  resource/global/YoStarEN/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
Labels: module: fight, module: copilot, MAA Team, Client: EN, Client: ZH_TW

#6032 chore: 小作文加上最后一句话
  resource/copilot/SSS_荒废灯塔_浊蒂纯艾版.json
  resource/copilot/SSS_阿尔斯特甜品制作平台_浊蒂版.json
Labels: ambiguous

#6033 fix: 修复肉鸽中干员 山 2 技能反复释放的问题
  docs/3.5-肉鸽辅助协议.md
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Status.h
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
Labels: module: roguelike

#6037 阿尔斯特6 开局小优化
  resource/copilot/SSS_阿尔斯特甜品制作平台_浊蒂版.json
Labels: ambiguous

#6039 Update(docs): 3.1-Integration.md
  docs/3.1-集成文档.md
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/zh-tw/3.1-集成文件.md
Labels: documentation

#6050 feat: Event Activity and Gacha Banner are displayed according to current time
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: enhancement, MAA Team

#6070 [JP] Readme Update
  docs/ja-jp/1.1-詳細説明.md
  docs/ja-jp/1.2-よくある質問.md
  docs/ja-jp/1.3-エミュレータのサポート.md
Labels: ambiguous, translation required

#6053 feat: 增加烧开水功能，优化萨米肉鸽策略
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/autopilot/度假村冤魂.json
  resource/roguelike/Sami/autopilot/待宰的兽群.json
  resource/roguelike/Sami/autopilot/死囚之夜.json
  resource/roguelike/Sami/autopilot/苔手.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  resource/template/Phantom@Roguelike@LastReward4.png
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, MAA Team

#6094 feat: 优化烧开水逻辑，现在能在低难度烧水，高难度开始
  resource/roguelike/Sami/encounter_for_deposit.json
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/template/Mizuki@Roguelike@ChooseDifficulty0.png
  resource/template/Roguelike@ExitThenAbandon_mode4.png
  resource/template/Sami@Roguelike@ChooseDifficulty.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/AbstractTaskPlugin.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#6102 roguelike: 适配刷源石锭模式不期而遇选择策略
  resource/roguelike/Mizuki/encounter.json
  resource/roguelike/Mizuki/encounter_for_deposit.json
  resource/roguelike/Phantom/encounter.json
  resource/roguelike/Phantom/encounter_for_deposit.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/encounter_for_deposit.json
Labels: module: roguelike, ambiguous

#6108 Release v4.23.0-beta.2
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  docs/3.4-任务流程协议.md
  docs/en-us/1.3-EMULATOR_SUPPORTS.md
  docs/en-us/3.4-TASK_SCHEMA.md
  docs/en-us/readme.md
  docs/ko-kr/3.4-작업_스키마.md
  docs/zh-tw/3.4-任務流程協定.md
  resource/Arknights-Tile-Pos/act3bossrush_04-activities-act3bossrush-level_bossrush3_04.json
  resource/Arknights-Tile-Pos/act3bossrush_tm04-activities-act3bossrush-level_bossrush3_04.json
  resource/copilot/SSS_保全阿尔斯特甜品制作平台-澄闪铃兰核v1.3（不兼容应急）.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike/Mizuki/encounter.json
  resource/roguelike/Mizuki/encounter_for_deposit.json
  resource/roguelike/Phantom/encounter.json
  resource/roguelike/Phantom/encounter_for_deposit.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/encounter_for_deposit.json
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/template/Mizuki@Roguelike@ChooseDifficulty0.png
  resource/template/Roguelike@ExitThenAbandon_mode4.png
  resource/template/Sami@Roguelike@ChooseDifficulty.png
  src/MaaCore/AsstCaller.cpp
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/AbstractTaskPlugin.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team, release

#5807 chore: fix rpath for macos
  CMakeLists.txt
Labels: macOS

#6093 fix: ocr replace for YostarJP
  resource/global/YoStarJP/resource/tasks.json
Labels: Client: JP

#6131 繁中服 快捷編隊 部署費用
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#6135 Release v4.23.0
  CHANGELOG.md
  CMakeLists.txt
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/tasks.json
Labels: MAA Team, release

#6146 feat: 增加刷理智每次打关卡之前时的理智剩余量输出
  resource/tasks.json
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: fight

#6151 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: module: GUI, MAA Team, ambiguous
