Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-01, with the labels that each got.

#3242 feat: WpfGUI 添加肉鸽助战选项
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, module: GUI

#3251 Release v4.9.0 hotfix
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
Labels: MAA Team, release

#3253 Release v4.9.1
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
Labels: MAA Team, release

#3269 修改详细介绍
  docs/1.1-详细介绍.md
Labels: documentation, MAA Team

#3281 feat: 显示后台下载进度
  src/MaaWpfGui/Helper/UILogColor.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: GUI

#3284 feat: 从 web 获取部分 UI 所需信息
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Helper/WebService.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
Labels: MAA Team

#3311 修复肉鸽助战翻页后不识别的问题
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike

#3319 docs: 更新 Linux 平台编译教程
  docs/2.1-Linux编译教程.md
  docs/en-us/2.1-LINUX_TUTORIAL.md
Labels: documentation

#3356 Release v4.10.0-alpha.3
  CHANGELOG.md
  docs/3.7-保全派驻协议.md
  resource/copilot/SSS_Test.json
  resource/tasks.json
  resource/template/NormalBattleAbandon.png
  src/MaaCore/AsstCaller.cpp
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.cpp
  src/MaaCore/Config/Miscellaneous/OcrPack.cpp
  src/MaaCore/Config/Miscellaneous/TilePack.cpp
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Task/AbstractTask.h
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.cpp
  src/MaaCore/Utils/ImageIo.hpp
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Vision/AbstractImageAnalyzer.cpp
  src/MaaCore/Vision/AbstractImageAnalyzer.h
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaWpfGui/Helper/Logger.cs
  src/MaaWpfGui/Helper/ViewStatusStorage.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team, release

#3366 Release v4.10.0-beta.1
  CHANGELOG.md
  resource/Arknights-Tile-Pos/act2bossrush_01-activities-act2bossrush-level_bossrush2_01.json
  resource/Arknights-Tile-Pos/act2bossrush_02-activities-act2bossrush-level_bossrush2_02.json
  resource/Arknights-Tile-Pos/act2bossrush_03-activities-act2bossrush-level_bossrush2_03.json
  resource/Arknights-Tile-Pos/act2bossrush_04-activities-act2bossrush-level_bossrush2_04.json
  resource/tasks.json
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/SSS/SSSBattleProcessTask.h
  src/MaaCore/Task/SSS/SSSStageManagerTask.cpp
  src/MaaCore/Task/SSS/SSSStageManagerTask.h
  src/MaaCore/Vision/BestMatchImageAnalyzer.cpp
  src/MaaCore/Vision/BestMatchImageAnalyzer.h
  src/MaaCore/Vision/MatchImageAnalyzer.cpp
  src/MaaCore/Vision/MatchImageAnalyzer.h
  src/MaaCore/Vision/Miscellaneous/BattleImageAnalyzer.cpp
  src/MaaWpfGui/Helper/ViewStatusStorage.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
Labels: MAA Team, release

#3368 Release v4.10.0-beta.2
  CHANGELOG.md
  docs/3.7-保全派驻协议.md
  resource/copilot/SSS_Test.json
  resource/tasks.json
  resource/template/SSSDropRecruitmentFlag.png
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.h
  src/MaaCore/Task/SSS/SSSDropRewardsTaskPlugin.cpp
Labels: module: copilot, MAA Team, release

#3381 Release v4.10.0
  CHANGELOG.md
  docs/3.7-保全派驻协议.md
  resource/global/YoStarEN/resource/item_index.json
  resource/global/YoStarEN/resource/recruitment.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/item_index.json
  resource/global/YoStarJP/resource/recruitment.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/item_index.json
  resource/global/YoStarKR/resource/recruitment.json
  resource/stages.json
  resource/tasks.json
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
  src/MaaCore/Task/SSS/SSSDropRewardsTaskPlugin.cpp
  src/MaaCore/Task/SSS/SSSStageManagerTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
Labels: MAA Team, release

#3403 修补了一下地图
  resource/roguelike/copilot.json
Labels: MAA Team, ambiguous

#3402 添加有关蓝叠模拟器中国内地 Hyper-V 版本的相关内容
  docs/1.3-模拟器支持.md
Labels: ambiguous

#3404 Release v4.10.2
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  resource/copilot/SSS_Test.json
  resource/copilot/SSS_多索雷斯在建地块.json
  resource/copilot/SSS_阿卡胡拉丛林.json
  resource/roguelike/copilot.json
  resource/tasks.json
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: MAA Team, release

#3406 繁中服更新第十章
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#3407 Release v4.10.3
  CHANGELOG.md
  resource/copilot/SSS_阿卡胡拉丛林.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/SSS/SSSStageManagerTask.cpp
Labels: MAA Team, release

#3410 修复日服公招五六星tag不识别问题，提高日服排班干员识别准确性
  resource/global/YoStarJP/resource/tasks.json
Labels: module: recruit, Client: JP

#3429 繁中服 潔西卡辨識問題/火藍之心導航/掉落物辨識
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/DepotEnter.png
  resource/global/txwy/resource/template/EndOfAction.png
  resource/global/txwy/resource/template/StageDrops-DropType-ExpAndLMB.png
  resource/global/txwy/resource/template/StageDrops-DropType-Extra.png
  resource/global/txwy/resource/template/StageDrops-DropType-Normal.png
  resource/global/txwy/resource/template/StageDrops-DropType-Special.png
Labels: ambiguous, Client: ZH_TW

#3434 国际服添加[开始试炼]按钮
  resource/global/YoStarEN/resource/template/BattleStartTrials.png
  resource/global/YoStarEN/resource/template/BattleStartTrialsRaid.png
Labels: ambiguous, Client: EN

#3420 chore:优化多索雷斯保全
  resource/copilot/SSS_多索雷斯在建地块.json
Labels: module: copilot, MAA Team

#3315 feat: 添加 adb-lite 组件
  3rdparty/include/adb-lite/client.hpp
  3rdparty/lib/adb-lite.lib
  CMakeLists.txt
  cmake/adb-lite.cmake
  src/MaaCore/Controller.cpp
  src/MaaCore/Controller.h
  src/MaaCore/MaaCore.vcxproj
Labels: module: GUI, macOS

#3440 feat: 记住主界面的位置和大小
  src/MaaWpfGui/Helper/MessageBoxManager.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Main/RootViewModel.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
Labels: module: GUI

#3459 Update 1.1-详细介绍.md
  docs/1.1-详细介绍.md
Labels: ambiguous

#3460 Update 1.2-常见问题.md
  docs/1.2-常见问题.md
Labels: ambiguous

#3461 feat: 更改 ui 坐标存储方式
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team

#3462 feat: some new JP server templates
  resource/global/YoStarJP/resource/template/BattleStartExercise.png
  resource/global/YoStarJP/resource/template/BattleStartNormal.png
  resource/global/YoStarJP/resource/template/BattleStartRaid.png
  resource/global/YoStarJP/resource/template/BattleStartSimulation.png
  resource/global/YoStarJP/resource/template/BattleSupportUnitFormation.png
  resource/global/YoStarJP/resource/template/CrisisPopup.png
  resource/global/YoStarJP/resource/template/SkipThePreBattlePlot.png
  resource/global/YoStarJP/resource/template/StageAP.png
  resource/global/YoStarJP/resource/template/StageCA.png
  resource/global/YoStarJP/resource/template/StageCE.png
  resource/global/YoStarJP/resource/template/StageLS.png
  resource/global/YoStarJP/resource/template/StagePR-A.png
  resource/global/YoStarJP/resource/template/StagePR-B.png
  resource/global/YoStarJP/resource/template/StagePR-C.png
  resource/global/YoStarJP/resource/template/StagePR-D.png
Labels: Client: JP

#3464 调整肉鸽助战刷新次数
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitSupportAnalyzer.cpp
Labels: module: roguelike, ambiguous

#3468 优化启动设置界面
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/UserControl/StartSettingsUserControl.xaml
Labels: ambiguous

#3473 繁中服 修復基建識別
  resource/global/txwy/resource/tasks.json
Labels: module: infrast, ambiguous, Client: ZH_TW

#3482 Release v4.10.5
  CHANGELOG.md
  resource/tasks.json
  src/MaaCore/Controller.cpp
  src/MaaCore/Utils/Platform/PlatformWin32.cpp
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: MAA Team, release

#3487 KR Localiztion Update
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: ambiguous

#3503 修复在缺线索但线索容量已满的情况下领取自己线索失败后续任务路流程错误的问题，原有冗余设计会导致不领取线索
  resource/tasks.json
Labels: ambiguous

#3504 feat: 五天流生息演算
  resource/tasks.json
  resource/template/Reclamation@ClickCenterBase.png
  resource/template/Reclamation@ClickChooseInitUnits.png
  resource/template/Reclamation@ClickExitLevel.png
  resource/template/Reclamation@ConfirmStart.png
  resource/template/Reclamation@Emergency.png
  resource/template/Reclamation@ExitAlgorithm.png
  resource/template/Reclamation@ExitLevelConfirm.png
  resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/template/Reclamation@GainReword.png
  resource/template/Reclamation@GiveupAlgorithm.png
  resource/template/Reclamation@GiveupReportSkip.png
  resource/template/Reclamation@GiveupSkipConfirm.png
  resource/template/Reclamation@InitSupplyAll.png
  resource/template/Reclamation@NextDay.png
  resource/template/Reclamation@ResetScope.png
  resource/template/Reclamation@StartActionConfirm.png
  resource/template/Reclamation@StartAlgorithm.png
  src/MaaCore/Assistant.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: fight

#3488 Update 1.3-模拟器支持.md
  docs/1.3-模拟器支持.md
Labels: ambiguous

#3505 Release v4.10.6-beta.1
  .github/workflows/release-mirrors.yml
  CHANGELOG.md
  resource/tasks.json
  resource/template/Reclamation@ClickCenterBase.png
  resource/template/Reclamation@ClickChooseInitUnits.png
  resource/template/Reclamation@ClickExitLevel.png
  resource/template/Reclamation@ConfirmStart.png
  resource/template/Reclamation@Emergency.png
  resource/template/Reclamation@ExitAlgorithm.png
  resource/template/Reclamation@ExitLevelConfirm.png
  resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/template/Reclamation@GainReword.png
  resource/template/Reclamation@GiveupAlgorithm.png
  resource/template/Reclamation@GiveupReportSkip.png
  resource/template/Reclamation@GiveupSkipConfirm.png
  resource/template/Reclamation@InitSupplyAll.png
  resource/template/Reclamation@NextDay.png
  resource/template/Reclamation@ResetScope.png
  resource/template/Reclamation@StartActionConfirm.png
  resource/template/Reclamation@StartAlgorithm.png
  src/MaaCore/Assistant.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaCore/Task/ReportDataTask.cpp
  src/MaaCore/Task/ReportDataTask.h
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/VersionUpdateView.xaml
Labels: MAA Team, release

#3522 243一天4换排班错误修复
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: ambiguous

#3524 修复领线索流程bug
  resource/tasks.json
Labels: ambiguous

#3530 fix：生息演算 修复跨域通信II，截屏报错等问题
  resource/tasks.json
  resource/template/Reclamation@AtHomePageFlag.png
  resource/template/Reclamation@ClickCmdCenter.png
  resource/template/Reclamation@GiveupAlgorithm.png
  resource/template/Reclamation@LabReturnToMap.png
Labels: ambiguous

#3519 Release v4.10.6-beta.3
  CHANGELOG.md
  resource/custom_infrast/243_layout_4_times_a_day.json
  resource/tasks.json
  resource/template/Reclamation@AtHomePageFlag.png
  resource/template/Reclamation@ClickCmdCenter.png
  resource/template/Reclamation@GiveupAlgorithm.png
  resource/template/Reclamation@LabReturnToMap.png
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team, release
