Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-10, with the labels that each got.

#6574 fix: 修复任务链结束后操作会在错误情况下被触发的错误
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: fight, module: copilot

#6599 style: VS22 Solution Explorer name change
  src/MaaCore/MaaCore.vcxproj.filters
Labels: MAA Team

#6607 fix: 修复连接错误
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#6583 feat: 运行期修改任务内容
  docs/3.4-任务流程协议.md
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
Labels: module: roguelike, MAA Team

#6630 fix: 修复肉鸽助战招募卡住放弃的问题
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#6608 feat: 支持多模板匹配，任一达到阈值即视为命中
  docs/maa_tasks_schema.json
  docs/maa_tasks_schema_en.json
  resource/tasks.json
  resource/template/EnterInfrast.png
  resource/template/EnterInfrastDark.png
  resource/template/EnterInfrastSami.png
  resource/template/EnterOperator.png
  resource/template/Friends.png
  resource/template/FriendsDark.png
  resource/template/FriendsSami.png
  resource/template/GachaEnter.png
  resource/template/GachaEnterDark.png
  resource/template/GachaEnterSami.png
  resource/template/OperBoxEnter.png
  resource/template/OperBoxEnterDark.png
  resource/template/OperBoxEnterSami.png
  resource/template/Recruit.png
  resource/template/RecruitDark.png
  resource/template/RecruitSami.png
  resource/template/Task.png
  resource/template/TaskDark.png
  resource/template/TaskSami.png
  resource/template/Terminal.png
  resource/template/TerminalDark.png
  resource/template/TerminalSami.png
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Experiment/CombatRecordRecognitionTask.cpp
  src/MaaCore/Vision/Config/MatcherConfig.cpp
  src/MaaCore/Vision/Config/MatcherConfig.h
  src/MaaCore/Vision/Infrast/InfrastOperImageAnalyzer.cpp
  src/MaaCore/Vision/Matcher.cpp
  src/MaaCore/Vision/Matcher.h
  src/MaaCore/Vision/Miscellaneous/PipelineAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaCore/Vision/MultiMatcher.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitSupportAnalyzer.cpp
Labels: module: GUI, module: core, MAA Team

#6632 fix: 修复Costura未正常启用的问题
  src/MaaWpfGui/FodyWeavers.xml
  src/MaaWpfGui/MaaWpfGui.csproj
Labels: MAA Team

#6625 perf: WpfGui自动战斗解析作业后，提示文本移动至最顶端
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: GUI, module: copilot

#6646 perf: 肉鸽主题从Status分离
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
Labels: module: roguelike

#6650 fix: 修复肉鸽自动撤退字段引发闪退的问题
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike

#6656 feat: 优化萨米肉鸽部关卡策略
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/低空机动.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/冰海疑影.json
  resource/roguelike/Sami/autopilot/夙愿将偿.json
  resource/roguelike/Sami/autopilot/大迁徙.json
  resource/roguelike/Sami/autopilot/幽影与鬼魅.json
  resource/roguelike/Sami/autopilot/应用测试.json
  resource/roguelike/Sami/autopilot/弄假成真.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/autopilot/自然之怒.json
  resource/roguelike/Sami/autopilot/虫虫别回头.json
  resource/roguelike/Sami/autopilot/豪华车队.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6661 fix: 修复模拟器连接错误的问题
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#6665 style: hidden "Manual switch" button
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
Labels: MAA Team, Client: EN

#6508 feat: 肉鸽不同层数逻辑
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.h
Labels: module: roguelike, MAA Team

#6676 fix: 修复错误条件下UI显示"投资后进入第二层"按钮的问题
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#6679 feat: 优化萨米肉鸽逻辑
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/recruitment.json
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, MAA Team

#6672 Should fix #6663
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Configuration/GUIConfig.cs
  src/MaaWpfGui/Configuration/Root.cs
  src/MaaWpfGui/Configuration/SpecificConfig.cs
  src/MaaWpfGui/Helper/ToastNotification.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: GUI

#6694 feat: 自动战斗-战斗列表-关卡名允许在作业标题未匹配到关卡名时，对文件名进行匹配。若还无法匹配到，则置空
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#6591 feat: WpfGui新增 肉鸽设置-中止行为等待至本次战斗结束后
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, module: GUI, module: core

#6573 feat: Add ThriftController
  CMakeLists.txt
  MAA.sln
  cmake/thrift-gen.cmake
  cmake/utils.cmake
  include/interfaces/ThriftController.thrift
  src/MaaCore/Controller/MaaThriftController.cpp
  src/MaaCore/Controller/MaaThriftController.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaThriftController/CMakeLists.txt
  src/MaaThriftController/Directory.Build.props
  src/MaaThriftController/Directory.Build.targets
  src/MaaThriftController/MaaThriftController.vcxproj
Labels: MAA Team

#6611 docs: 优化文档视觉效果，添加文档编写指南
  docs/.vuepress/sidebar/zh-cn.ts
  docs/.vuepress/styles/palette.scss
  docs/2.6-文档编写指南.md
  docs/ja-jp/readme.md
Labels: documentation, MAA Team

#6700 chore: add ability to download specific maadeps
  maadeps-download.py
Labels: MAA Team

#6697 feat: OCR manipulation params for QuickFormation
  resource/global/YoStarEN/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
Labels: MAA Team

#6686 fix: 修复无法对后续加载的图片资源进行存在检测的错误，跳过宿舍技能检查
  src/MaaCore/Config/Miscellaneous/InfrastConfig.cpp
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/TemplResource.cpp
  src/MaaCore/Config/TemplResource.h
Labels: module: infrast, MAA Team

#6727 fix: 修复 POSIX 平台上在一些情况下子进程不结束而使 MAA 永久性挂起的问题
  src/MaaCore/Controller/Platform/PosixIO.cpp
Labels: module: core

#6736 perf: 根据 qodana 优化代码
  MAA.sln.DotSettings
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Constants/UILogColor.cs
  src/MaaWpfGui/Extensions/DateTimeExtension.cs
  src/MaaWpfGui/Helper/BitmapImageExtensions.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Helper/ItemListHelper.cs
  src/MaaWpfGui/Helper/MessageBoxHelper.cs
  src/MaaWpfGui/Helper/ThemeHelper.cs
  src/MaaWpfGui/Helper/ToastNotification.cs
  src/MaaWpfGui/Helper/WinAdapter.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/ArkItem.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/HotKeys/IMaaHotKeyManager.cs
  src/MaaWpfGui/Services/HotKeys/MaaHotKeyManager.cs
  src/MaaWpfGui/Services/Managers/IMainWindowManager.cs
  src/MaaWpfGui/Services/Managers/MainWindowManager.cs
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/Services/TrayIcon.cs
  src/MaaWpfGui/Services/Web/IHttpService.cs
  src/MaaWpfGui/Services/Web/MaaApiService.cs
  src/MaaWpfGui/Styles/Controls/TextBlock.cs
  src/MaaWpfGui/Styles/Properties/AutoScroll.cs
  src/MaaWpfGui/Styles/Properties/ScrollViewerBinding.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml.cs
Labels: MAA Team

#6748 fix: 修复CloseDown任务导致的不执行完成后操作
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#6751 perf: 对DEBUG VERSION禁用版本更新及资源更新检查
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#6569 feat: 公招无招聘许可时继续尝试刷新
  docs/3.2-回调消息协议.md
  docs/en-us/3.2-CALLBACK_SCHEMA.md
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ko-kr/3.2-콜백_스키마.md
  docs/zh-tw/3.2-回呼訊息協議.md
  resource/tasks.json
  resource/template/RecruitNoPermit.png
  src/MaaCore/Task/Interface/RecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit

#6729 feat: 新增关卡导航在未找到设定关卡时，移动至最右侧、自动通关未通过的剧情关，再尝试查找关卡
  resource/tasks.json
  resource/template/BattleStartPlot.png
  resource/template/ClickPlotStage.png
  resource/template/EndOfPlot.png
Labels: MAA Team

#6721 feat: 抄作业自动跳过战斗中剧情
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
Labels: module: copilot, MAA Team

#6741 rft: 使用多模板匹配重构 ReturnButtons
  resource/tasks.json
Labels: MAA Team

#6730 perf: 优化StartUp速度，首页展开理智窗口时StartUp会关上
  resource/tasks.json
  resource/template/CloseHomeSanity.png
  resource/template/StartWithSanity.png
  src/MaaCore/Task/Interface/StartUpTask.cpp
Labels: MAA Team

#6717 feat: 为MaaWpfGui加入一个远程控制功能。
  docs/.vuepress/sidebar/zh-cn.ts
  docs/3.8-远程控制协议.md
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/RemoteControlUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RemoteControlUserControl.xaml.cs
Labels: module: GUI

#6739 rft: 优化 TaskData 的 json 解析
  src/MaaCore/Config/TaskData.cpp
Labels: MAA Team

#6723 feat: 使用MdXaml来提升Markdown渲染表现
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
Labels: MAA Team

#6726 feat: operbox name language based localization
  resource/battle_data.json
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.cpp
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.h
  src/MaaCore/Task/Miscellaneous/OperBoxRecognitionTask.cpp
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  tools/ResourceUpdater/main.cpp
Labels: module: GUI, MAA Team, Client: EN, Client: ZH_TW, Client: JP, Client: KR

#6360 Add collab operator & fix some operators OCR
  docs/glossary/operators.md
Labels: module: infrast, module: recruit, module: GUI, module: copilot, Client: KR

#6770 Revert "feat: 使用MdXaml来提升Markdown渲染表现"
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
Labels: MAA Team

#6772 fix: 修复作战列表跳过剧情关后不重新寻找关卡
  resource/tasks.json
Labels: module: fight, MAA Team

#6783 Fix #6752 & Fix #6776
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Configuration/SpecificConfig.cs
Labels: ambiguous

#6787 fix: 修复当"远程控制"没有填入任何内容时的界面问题
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/RemoteControlUserControl.xaml
Labels: ambiguous

#6793 perf: WpfGui关卡掉落输出增加千分位分隔符
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: GUI, MAA Team

#6806 fix: BlackReturn -> ReturnButton [skip ci]
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Interface/StartUpTask.cpp
Labels: MAA Team

#6820 feat: 添加了淬羽赫墨与多萝西的基建技能联动
  resource/infrast.json
Labels: module: infrast

#6827 fix: 修复战斗列表中跳过剧情确认识别问题
  resource/tasks.json
Labels: module: fight, MAA Team

#6829 Release v4.25.0-beta.3
  CHANGELOG.md
  resource/infrast.json
  resource/tasks.json
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.cpp
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
Labels: MAA Team, release

#6839 docs: 优化文档视觉效果，防止出现横向显示不全的情况
  docs/.vuepress/styles/palette.scss
Labels: documentation, MAA Team

#6840 Release v4.25.0
  CHANGELOG.md
  docs/.vuepress/styles/palette.scss
  resource/tasks.json
  src/Cpp/MaaSample.vcxproj.filters
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
Labels: MAA Team, release

#6847 feat: 适配"迷城"界面主题
  resource/tasks.json
  resource/template/EnterInfrastMistCity.png
  resource/template/FriendsMistCity.png
  resource/template/GachaEnterMistCity.png
  resource/template/OperBoxEnterMistCity.png
  resource/template/RecruitMistCity.png
  resource/template/TaskMistCity.png
  resource/template/TerminalMistCity.png
Labels: MAA Team

#6867 fix: 修复因 ocr_replace 与 m_eq_classes 冲突导致的 ocr 识别失效的问题
  src/MaaCore/Config/Miscellaneous/OcrConfig.h
  src/MaaCore/Vision/Config/OCRerConfig.cpp
  src/MaaCore/Vision/Config/OCRerConfig.h
  src/MaaCore/Vision/OCRer.cpp
  src/MaaCore/Vision/OCRer.h
Labels: MAA Team

#6885 perf: 重写理智识别
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaCore/Utils/StringMisc.hpp
Labels: MAA Team

#6857 feat: WpfGui 刷理智开始行动输出新增 每次开始行动时输出理智药和碎石次数（不记录临期药品使用次数）
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: fight, module: GUI, MAA Team

#6878 fix: 修复WpfGui肉鸽 等待&停止 重复调用AsstStop的错误
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: roguelike, module: GUI, MAA Team

#6846 feat: 用于快速适配新页面主题的小工具
  resource/tasks.json
  tools/CropRoi/main.py
  tools/GetImageFromROI/dst/.gitkeep
  tools/GetImageFromROI/main.py
  tools/GetImageFromROI/requirements.txt
  tools/GetImageFromROI/src/.gitkeep
  tools/GetImageFromROI/start.bat
Labels: MAA Team

#6884 rft: 重构 ResourceUpdater
  src/MaaWpfGui/Helper/HttpResponseHelper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
Labels: MAA Team

#6883 feat: 更新内置243一天四换极限效率
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: MAA Team

#6901 feat: Only check version.json for Resource OTA
  src/MaaWpfGui/Helper/ETagCache.cs
  src/MaaWpfGui/Helper/HttpResponseHelper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#6872 feat: support GPU OCR
  src/MaaCore/Assistant.cpp
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/Miscellaneous/OcrPack.cpp
  src/MaaCore/Config/Miscellaneous/OcrPack.h
Labels: module: recruit, MAA Team

#6928 docs: Fix README.md
  README.md
Labels: documentation

#6894 wpfGui: Taggify Version
  src/MaaWpfGui/.gitignore
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/TaggifyVersion.ps1
  src/SyncRes/SyncRes.csproj
Labels: module: GUI

#6920 doc: 添加 Google Play 游戏 支持说明
  docs/1.3-模拟器支持.md
  docs/en-us/1.3-EMULATOR_SUPPORTS.md
  docs/ja-jp/1.3-エミュレータのサポート.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  docs/zh-tw/1.3-模擬器支援.md
Labels: documentation

#6950 fix: 日服水月Rogue选择难度功能
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, Client: JP

#6946 feat: 投资不进入第二层则不买东西
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
Labels: module: roguelike, MAA Team

#6933 fix: 修复账号切换时可能卡在选择账号之后的错误
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
Labels: MAA Team

#6948 feat: 肉鸽适配新干员默认技能
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#6934 fix: 修复自动战斗-保全ver在开始行动时第二次点击可能过早导致无法正常开始的bug
  resource/tasks.json
Labels: module: copilot, MAA Team

#6917 feat: 新增 WpfGui选项-自动战斗-战斗列表-批量导入
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Res/Styles/Basic/Geometries.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: GUI, module: copilot, MAA Team

#6828 feat: 使用MdXaml来提升Markdown渲染表现
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Res/Style.xaml
  src/MaaWpfGui/Res/Styles/Markdig.xaml
  src/MaaWpfGui/Res/Styles/MdXaml.xaml
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
Labels: MAA Team

#6956 feat: update meojson to v3.1.1
  3rdparty/include/meojson/bitops.hpp
  3rdparty/include/meojson/json.hpp
  3rdparty/include/meojson/packed_bytes.hpp
  3rdparty/include/meojson/packed_bytes_arm.hpp
  3rdparty/include/meojson/packed_bytes_x86.hpp
Labels: MAA Team

#6944 feat: 显示 ui 版本号
  .github/workflows/ci.yml
  src/MaaWpfGui/.gitignore
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/TaggifyVersion.ps1
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
Labels: MAA Team

#6965 fix:台服肉鸽模式无法招募某些好友干员
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, Client: ZH_TW

#6967 fix: 修复干员头像保存错误
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#6960 fix: 修复待选干员在列表末尾时点击错位的问题
  resource/minitouch/maatouch/minitouch
  resource/tasks.json
Labels: MAA Team

#6962 perf: 修改刷理智每次开始战斗时输出：不再显示理智药、碎石的设定上限值，增加临期理智药使用次数
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: fight, MAA Team

#6977 fix: 調整繁中服某些不期而遇的 ocrReplace
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW

#6973 feat: 增加任务截图插件
  resource/global/YoStarEN/resource/tasks.json
  resource/tasks.json
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/AbstractTask.h
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/ScreenshotTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/ScreenshotTaskPlugin.h
Labels: module: roguelike, MAA Team

#6844 perf: TaskData 优化
  resource/tasks.json
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Utils/JsonMisc.hpp
Labels: MAA Team

#6993 fix: YostarEN Mizuki I.S. regex
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, MAA Team, Client: EN

#6998 docs: 补充基建排班协议中`period`字段不存在时的计划切换动作
  docs/3.6-基建排班协议.md
  docs/en-us/3.6-INFRASTRUCTURE_SCHEDULING_SCHEMA.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
  docs/ko-kr/3.6-기반시설_예약_스키마.md
  docs/zh-tw/3.6-基建排班協議.md
Labels: documentation, module: infrast, MAA Team

#6949 feat: 萨米肉鸽使用密文板
  resource/roguelike/Sami/ciphertext_board.json
  resource/tasks.json
  resource/template/Sami@Roguelike@CiphertextBoard.png
  resource/template/Sami@Roguelike@CiphertextBoardBack.png
  resource/template/Sami@Roguelike@CiphertextBoardGain.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnCombatDps.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnDreadfulFoe-5.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnEmergencyDps.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnEmergencyTransportation.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnEncounter.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnFerociousPresage.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnGambling.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnMysteriousPresage.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnTrader.png
  resource/template/Sami@Roguelike@CiphertextBoardUseOnWindAndRain.png
  resource/template/Sami@Roguelike@StageBoons.png
  resource/template/Sami@Roguelike@StageBoonsAI6.png
  resource/template/Sami@Roguelike@StageBoskyPassage.png
  resource/template/Sami@Roguelike@StageBoskyPassageAI6.png
  resource/template/Sami@Roguelike@StageCombatDps.png
  resource/template/Sami@Roguelike@StageCombatDpsAI6.png
  resource/template/Sami@Roguelike@StageDreadfulFoe-5.png
  resource/template/Sami@Roguelike@StageDreadfulFoe.png
  resource/template/Sami@Roguelike@StageEmergencyDps.png
  resource/template/Sami@Roguelike@StageEmergencyDpsAI6.png
  resource/template/Sami@Roguelike@StageEmergencyTransportation.png
  resource/template/Sami@Roguelike@StageEmergencyTransportationAI6.png
  resource/template/Sami@Roguelike@StageEncounter.png
  resource/template/Sami@Roguelike@StageEncounterAI6.png
  resource/template/Sami@Roguelike@StageFerociousPresage.png
  resource/template/Sami@Roguelike@StageGambling.png
  resource/template/Sami@Roguelike@StageGamblingAI6.png
  resource/template/Sami@Roguelike@StageMysteriousPresage.png
  resource/template/Sami@Roguelike@StageProphecyAI6.png
  resource/template/Sami@Roguelike@StageSafeHouse.png
  resource/template/Sami@Roguelike@StageSafeHouseAI6.png
  resource/template/Sami@Roguelike@StageTrader.png
  resource/template/Sami@Roguelike@StageTraderAI6.png
  resource/template/Sami@Roguelike@StageVerticalBoonsAI6.png
  resource/template/Sami@Roguelike@StageVerticalCombatDps.png
  resource/template/Sami@Roguelike@StageVerticalEmergencyDps.png
  resource/template/Sami@Roguelike@StageVerticalGamblingAI6.png
  resource/template/Sami@Roguelike@StageVerticalProphecy.png
  resource/template/Sami@Roguelike@StageVerticalProphecyAI6.png
  resource/template/Sami@Roguelike@StageVerticalSafeHouseAI6.png
  resource/template/Sami@Roguelike@StageWindAndRain.png
  resource/template/Sami@Roguelike@StageWindAndRainAI6.png
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCiphertextBoardConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCiphertextBoardConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeCiphertextBoardGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCiphertextBoardGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeCiphertextBoardUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCiphertextBoardUseTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#6994 perf: 当清空自动战斗-战斗列表中的所有任务时，移除缓存中的战斗列表文件夹
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#6988 fix: 修复Wpf自动战斗-战斗列表-批量导入时，缓存文件夹未存在导致报错的bug；调整关卡名匹配规则
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#7004 perf: 优化部分肉鸽逻辑
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/autopilot/坍缩体的午后.json
  resource/roguelike/Sami/autopilot/生人勿近.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#7012 feat: 日服保全派驻
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/SSSHalfTimeDropsCancelConfirm.png
Labels: Client: JP

#7002 feat: 繁中服「照我以火」活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/FC-Open.png
Labels: module: roguelike, Client: ZH_TW

#7021 feat: 繁中服 保全派駐
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW

#7016 feat: 声明 baseTask 的任务直接覆盖同名任务
  docs/3.4-任务流程协议.md
  docs/en-us/3.4-TASK_SCHEMA.md
  docs/ja-jp/3.4-タスクAPI.md
  docs/ko-kr/3.4-작업_스키마.md
  docs/zh-tw/3.4-任務流程協議.md
  src/MaaCore/Config/TaskData.cpp
Labels: MAA Team, help wanted

#7039 fix #7027
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
Labels: MAA Team, ambiguous

#7041 繁中服 保全派駐識別修正
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#7030 Change to Appimage Package on Linux
  .github/workflows/ci.yml
  tools/AppImage/io.github.maaassistantarknights.maaassistantarknights.metainfo.xml
Labels: MAA Team, ambiguous

#7043 perf: 优化水月肉鸽策略
  resource/roguelike/Mizuki/autopilot/失控.json
  resource/roguelike/Mizuki/autopilot/好梦在何方.json
  resource/roguelike/Mizuki/autopilot/铳与秩序.json
Labels: module: roguelike

#7046 chore: 增加 TaskSorter 脚本对 tasks.json 进行排序
  .github/workflows/res-update-game.yml
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  tools/ResourceUpdater/Tasks_Sorter.py
  tools/TaskSorter/TaskSorter.py
Labels: MAA Team

#7031 fix: fix some warnings from visual studio
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#6900 feat: 公招出高星干员时选中多个tag
  src/MaaCore/Task/Interface/RecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit, module: GUI

#7060 docs: fix code block in user guide for CLI
  docs/en-us/1.6-USER_GUIDE_FOR_CLI.md
Labels: documentation

#7065 fix: 修复公招多选 Tags 选项不保存的问题
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: recruit

#6945 refactor: Wpf迁移MaaCore引用，统一合并至MaaService
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/MaaService.cs
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#7066 fix: 修复 #7016 可能影响的部分任务
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
Labels: MAA Team

#7062 feat: 增加雷电模拟器 nc 截图方式
  resource/config.json
Labels: MAA Team

#7068 fix: 修复日服基建换班卡在宿舍
  resource/global/YoStarJP/resource/template/InfrastFilterMenuNotStationedButton.png
Labels: module: infrast, Client: JP

#7075 perf: 优化部分萨米肉鸽关卡策略
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/应用测试.json
  resource/roguelike/Sami/autopilot/新部族.json
Labels: module: roguelike, MAA Team

#7052 fix: 修复在点击停止后下一次开始任务时可能操作延时很高的问题
  src/MaaCore/Controller/Platform/Win32IO.cpp
Labels: module: fight, MAA Team

#7085 chore: 調整繁中服「照我以火」導航任務、替換水月肉鴿 "繼續探索" 圖片
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/FC-Open.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@Continue.png
Labels: module: roguelike, Client: ZH_TW

#7079 fix: resource updater + updated data
  resource/battle_data.json
  resource/global/YoStarEN/resource/item_index.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/item_index.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/item_index.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/version.json
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#7038 fix: 修复肉鸽编队会漏选干员的问题（比如>=3页）
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
Labels: module: roguelike

#7086 feat: 萨米肉鸽使用密文板
  resource/roguelike/Sami/foldartal.json
  resource/tasks.json
  resource/template/Sami@Roguelike@Foldartal.png
  resource/template/Sami@Roguelike@FoldartalBack.png
  resource/template/Sami@Roguelike@FoldartalGain.png
  resource/template/Sami@Roguelike@FoldartalUseOnCombatDps.png
  resource/template/Sami@Roguelike@FoldartalUseOnDreadfulFoe-5.png
  resource/template/Sami@Roguelike@FoldartalUseOnEmergencyDps.png
  resource/template/Sami@Roguelike@FoldartalUseOnEmergencyTransportation.png
  resource/template/Sami@Roguelike@FoldartalUseOnEncounter.png
  resource/template/Sami@Roguelike@FoldartalUseOnFerociousPresage.png
  resource/template/Sami@Roguelike@FoldartalUseOnGambling.png
  resource/template/Sami@Roguelike@FoldartalUseOnMysteriousPresage.png
  resource/template/Sami@Roguelike@FoldartalUseOnTrader.png
  resource/template/Sami@Roguelike@FoldartalUseOnWindAndRain.png
  resource/template/Sami@Roguelike@StageBoons.png
  resource/template/Sami@Roguelike@StageBoonsAI6.png
  resource/template/Sami@Roguelike@StageBoskyPassage.png
  resource/template/Sami@Roguelike@StageBoskyPassageAI6.png
  resource/template/Sami@Roguelike@StageCombatDps.png
  resource/template/Sami@Roguelike@StageCombatDpsAI6.png
  resource/template/Sami@Roguelike@StageDreadfulFoe-5.png
  resource/template/Sami@Roguelike@StageDreadfulFoe.png
  resource/template/Sami@Roguelike@StageEmergencyDps.png
  resource/template/Sami@Roguelike@StageEmergencyDpsAI6.png
  resource/template/Sami@Roguelike@StageEmergencyTransportation.png
  resource/template/Sami@Roguelike@StageEmergencyTransportationAI6.png
  resource/template/Sami@Roguelike@StageEncounter.png
  resource/template/Sami@Roguelike@StageEncounterAI6.png
  resource/template/Sami@Roguelike@StageFerociousPresage.png
  resource/template/Sami@Roguelike@StageGambling.png
  resource/template/Sami@Roguelike@StageGamblingAI6.png
  resource/template/Sami@Roguelike@StageMysteriousPresage.png
  resource/template/Sami@Roguelike@StageProphecyAI6.png
  resource/template/Sami@Roguelike@StageSafeHouse.png
  resource/template/Sami@Roguelike@StageSafeHouseAI6.png
  resource/template/Sami@Roguelike@StageTrader.png
  resource/template/Sami@Roguelike@StageTraderAI6.png
  resource/template/Sami@Roguelike@StageVerticalBoonsAI6.png
  resource/template/Sami@Roguelike@StageVerticalCombatDps.png
  resource/template/Sami@Roguelike@StageVerticalEmergencyDps.png
  resource/template/Sami@Roguelike@StageVerticalGamblingAI6.png
  resource/template/Sami@Roguelike@StageVerticalProphecy.png
  resource/template/Sami@Roguelike@StageVerticalProphecyAI6.png
  resource/template/Sami@Roguelike@StageVerticalSafeHouseAI6.png
  resource/template/Sami@Roguelike@StageWindAndRain.png
  resource/template/Sami@Roguelike@StageWindAndRainAI6.png
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeFoldartalConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeFoldartalConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7099 perf: 优化萨米肉鸽部分关卡策略
  resource/roguelike/Sami/autopilot/乐理之灾.json
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/何处无山海.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/禁区.json
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7061 feat: 新增获取信用-借助战时使用指定编队
  resource/tasks.json
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/MallTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/CreditFightTask.cpp
  src/MaaCore/Task/Miscellaneous/CreditFightTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/MallSettingsUserControl.xaml
Labels: module: copilot, module: others

#7113 perf: unused template removal
  resource/tasks.json
  resource/template/IS-Open.png
Labels: MAA Team

#7103 perf: 优化Wpf关卡数据更新提示，改为Growl.Info
  src/MaaWpfGui/Services/StageManager.cs
Labels: MAA Team

#7047 fix: 优化设置引导界面的视觉效果，并给 UI Theme 添加翻译
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
Labels: MAA Team

#7022 feat: 调整理智药使用为按瓶计数，移除了博朗台在使用理智药不溢出情况下的额外等待，调整Wpf理智药使用输出
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/MedicineReduceIcon.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/DrGrandetTaskPlugin.cpp
  src/MaaCore/Task/Fight/DrGrandetTaskPlugin.h
  src/MaaCore/Task/Fight/MedicineCounterPlugin.cpp
  src/MaaCore/Task/Fight/MedicineCounterPlugin.h
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#7109 fix: 修复Wpf无法复制版本号至剪贴板
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
Labels: MAA Team

#7108 perf: 优化部分情况下，单个刷理智任务在多次执行时等待时间过长
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.h
Labels: module: fight, MAA Team

#7112 feat: 肉鸽增加不期而遇事件名输出
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, MAA Team

#7119 fix: qodana
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#7126 在 AppImage 中添加 `Terminal=true`
  .github/workflows/ci.yml
Labels: MAA Team, ambiguous

#7133 繁中服 訪問好友修正
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#7084 perf: 理智识别模块优化：对识别区域预处理；增加失败后重试；优化log输出
  resource/tasks.json
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.h
Labels: MAA Team

#7139 Eyjafjalla 艾雅法拉 korean OcrReplace
  resource/global/YoStarKR/resource/tasks.json
Labels: ambiguous

#7140 fix: 修复密文板roi过小
  resource/tasks.json
Labels: module: roguelike, MAA Team
