Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-02, with the labels that each got.

#3534 繁中服更新愚人號
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/SN-Open.png
  resource/global/txwy/resource/template/StageDrops-DropType-Sanity.png
Labels: ambiguous, Client: ZH_TW

#3543 feat&fix: 生息演算 添加关卡导航、增加操作冗余、支持断线重连，修复循环点击问题
  resource/tasks.json
  resource/template/Reclamation@GainReward.png
  resource/template/Reclamation@ReturnInFocus.png
  resource/template/Reclamation@SmallReturn.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.h
Labels: ambiguous

#3549 Release v4.10.6-beta.4
  CHANGELOG.md
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/SN-Open.png
  resource/global/txwy/resource/template/StageDrops-DropType-Sanity.png
  resource/tasks.json
  resource/template/Reclamation@GainReward.png
  resource/template/Reclamation@ReturnInFocus.png
  resource/template/Reclamation@SmallReturn.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.h
Labels: MAA Team, release

#3560 feat: Python接口的MAA更新器
  src/Python/asst.py
  src/Python/sample.py
Labels: module: others

#3592 KR resources
  README_ko-KR.md
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/NormalBattleAbandon.png
  resource/global/YoStarKR/resource/template/NotUsePrts.png
  resource/global/YoStarKR/resource/template/StageAP.png
  resource/global/YoStarKR/resource/template/StageCA.png
  resource/global/YoStarKR/resource/template/StageCE.png
  resource/global/YoStarKR/resource/template/StageLS.png
  resource/global/YoStarKR/resource/template/StagePR-A.png
  resource/global/YoStarKR/resource/template/StagePR-B.png
  resource/global/YoStarKR/resource/template/StagePR-C.png
  resource/global/YoStarKR/resource/template/StagePR-D.png
  resource/global/YoStarKR/resource/template/StageSK.png
  resource/global/YoStarKR/resource/template/StageSNReturnFlag.png
  resource/global/YoStarKR/resource/template/StartButton1.png
  resource/global/YoStarKR/resource/template/UsePrts-StageSN.png
Labels: ambiguous

#3579 feat: 统一资源本和芯片本进入方式为ocr以支持外服
  resource/tasks.json
Labels: Client: JP

#3587 feat: 生息演算 添加回调Log
  resource/tasks.json
  resource/template/Reclamation@Badge.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationConclusionReportPlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationConclusionReportPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team

#3583 国际服添加一堆截图
  resource/global/YoStarEN/resource/template/AbandonAction.png
  resource/global/YoStarEN/resource/template/ContactSuspended.png
  resource/global/YoStarEN/resource/template/DormConfirm.png
  resource/global/YoStarEN/resource/template/NoFriends.png
  resource/global/YoStarEN/resource/template/NotUsePrts.png
  resource/global/YoStarEN/resource/template/PRTS.png
  resource/global/YoStarEN/resource/template/PrtsErrorConfirm.png
  resource/global/YoStarEN/resource/template/Roguelike@RefreshSupportBtn.png
  resource/global/YoStarEN/resource/template/SSSCloseTip.png
  resource/global/YoStarEN/resource/template/SSSHalfTimeDropsCancelConfirm.png
  resource/global/YoStarEN/resource/template/SkipThePreBattlePlot.png
  resource/global/YoStarEN/resource/template/StageSNReturnFlag.png
  resource/global/YoStarEN/resource/template/UsePrts-StageSN.png
Labels: ambiguous, Client: EN

#3584 重构了Python接口结构
  src/Python/asst.py
  src/Python/asst/__init__.py
  src/Python/asst/asst.py
  src/Python/asst/updater.py
  src/Python/asst/utils.py
  src/Python/sample.py
Labels: ambiguous

#3591 chore: 日服json及template更新
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/BattleStartTrials.png
  resource/global/YoStarJP/resource/template/BattleStartTrialsRaid.png
  resource/global/YoStarJP/resource/template/NotUsePrts.png
  tools/global_servers/ignore_list.txt
Labels: module: others, Client: JP

#3606 KR localization update
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/AbandonAction.png
  resource/global/YoStarKR/resource/template/EndOfClueExchange.png
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: ambiguous

#3585 仓库识别任务前先返回到首页再开始，增强任务启动时的可靠性
  resource/tasks.json
Labels: module: depot

#3611 基建圖檔/愚人號圖檔
  resource/global/txwy/resource/template/InfrastFilterMenuNotStationedButton.png
  resource/global/txwy/resource/template/InfrastFilterMenuNotStationedButtonAlreadyClicked.png
  resource/global/txwy/resource/template/SN-Chapter2.png
  resource/global/txwy/resource/template/SN-Chapter3.png
Labels: module: infrast, ambiguous

#3605 更新模拟器支持中蓝叠Hyper-V教程的部分描述
  docs/1.3-模拟器支持.md
Labels: ambiguous

#3616 Release v4.10.6-rc.1
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/AbandonAction.png
  resource/global/YoStarKR/resource/template/EndOfClueExchange.png
  resource/global/txwy/resource/template/InfrastFilterMenuNotStationedButton.png
  resource/global/txwy/resource/template/InfrastFilterMenuNotStationedButtonAlreadyClicked.png
  resource/global/txwy/resource/template/SN-Chapter2.png
  resource/global/txwy/resource/template/SN-Chapter3.png
  resource/tasks.json
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/OtherCombatSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/OtherCombatSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/PenguinReportSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
  src/Python/asst/asst.py
  src/Python/asst/updater.py
Labels: MAA Team, release

#3625 doc: 修正文档错误引用
  docs/2.3-IssueBot使用方法.md
Labels: documentation

#3635 繁中服 愚人號入口改為識別文字
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#3623 fix: `call_command_posix` in socket mode should return after child process finished
  src/MaaCore/Controller.cpp
Labels: macOS

#3636 Release v4.10.7-beta.1
  CHANGELOG.md
  docs/2.3-IssueBot使用方法.md
  src/MaaCore/Controller.cpp
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Helper/Utils.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team, release

#3653 修复因赠送线索弹窗遮挡new图标导致的因线索已满赠送后没有领取自己线索的问题
  resource/tasks.json
Labels: ambiguous

#3661 refactor: 重构注入方式
  src/MaaWpfGui/Helper/MaaHotKeys/MaaHotKeyActionHandler.cs
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
  src/MaaWpfGui/Main/DepotViewModel.cs
  src/MaaWpfGui/Main/RecruitViewModel.cs
  src/MaaWpfGui/Main/RootViewModel.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
Labels: MAA Team

#3652 fix: `Analyzer` should constructor with image and then set task info
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
Labels: macOS

#3695 Release v4.10.8-rc.1
  CHANGELOG.md
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
  src/MaaWpfGui/Main/DepotViewModel.cs
  src/MaaWpfGui/Main/RecruitViewModel.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team, release

#3702 chore: TextBlock使用自定义控件
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/Helper/CustomStyle/TextBlock.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/CopilotView.xaml
  src/MaaWpfGui/Views/DepotView.xaml
  src/MaaWpfGui/Views/ErrorView.xaml
  src/MaaWpfGui/Views/RecruitView.xaml
  src/MaaWpfGui/Views/RootView.xaml
  src/MaaWpfGui/Views/SettingsView.xaml
  src/MaaWpfGui/Views/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml
  src/MaaWpfGui/Views/UserControl/HotKeySettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/MallSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/OtherCombatSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/StartSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/VersionUpdateView.xaml
Labels: MAA Team

#3709 FIX:重新修复缄默德克萨斯的文字识别问题
  resource/tasks.json
Labels: ambiguous

#3704 fix: 生息演算 关卡导航
  resource/tasks.json
Labels: MAA Team

#3684 支持设置无限使用48小时内理智药
  resource/tasks.json
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/UserControl/OtherCombatSettingsUserControl.xaml
Labels: module: fight

#3688 Update 3.1-集成文档.md
  docs/3.1-集成文档.md
Labels: documentation, module: fight

#3491 feat: 复核干员选择是否符合期望
  resource/tasks.json
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
  src/MaaCore/Task/Infrast/InfrastDormTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
Labels: module: infrast

#3718 docs: 删除docs中的文档，readme中的网址换为官网地址
  README.md
  README_en-US.md
  README_ja-JP.md
  README_ko-KR.md
  README_zh-TW.md
  docs/1.1-详细介绍.md
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
  docs/2.1-Linux编译教程.md
  docs/2.2-开发相关.md
  docs/2.3-IssueBot使用方法.md
  docs/2.4-纯网页端PR教程.md
  docs/2.5-外服适配教程.md
  docs/3.1-集成文档.md
  docs/3.2-回调消息协议.md
  docs/3.3-战斗流程协议.md
  docs/3.4-任务流程协议.md
  docs/3.5-肉鸽辅助协议.md
  docs/3.6-基建排班协议.md
  docs/3.7-保全派驻协议.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/en-us/1.2-FAQ.md
  docs/en-us/1.3-EMULATOR_SUPPORTS.md
  docs/en-us/2.1-LINUX_TUTORIAL.md
  docs/en-us/2.2-DEVELOPMENT.md
  docs/en-us/2.3-ISSUE_BOT_USAGE.md
  docs/en-us/2.5-Overseas Clients Adaptation.md
  docs/en-us/3.1-INTEGRATION.md
  docs/en-us/3.2-CALLBACK_SCHEMA.md
  docs/en-us/3.3-COPILOT_SCHEMA.md
  docs/en-us/3.4-TASK_SCHEMA.md
  docs/en-us/3.5-INTEGRATED_STRATEGY_SCHEMA.md
  docs/ja-jp/1.1-詳細説明.md
  docs/ja-jp/1.2-よくある質問.md
  docs/ja-jp/1.3-エミュレータのサポート.md
  docs/ja-jp/2.1-Linuxチュートリアル.md
  docs/ja-jp/2.2-プルリクエスト.md
  docs/ja-jp/2.3-IssueBotの使用方法.md
  docs/ja-jp/2.5-Overseas Clients Adaptation.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ja-jp/3.2-コールバックAPI.md
  docs/ja-jp/3.3-自動作戦API.md
  docs/ja-jp/3.4-タスクAPI.md
  docs/ja-jp/3.5-統合戦略API.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/1.2-FAQ.md
  docs/ko-kr/1.3-에뮬레이터_지원.md
  docs/zh-tw/1.1-詳細介紹.md
  docs/zh-tw/1.2-常見問題.md
  docs/zh-tw/1.3-模擬器支援.md
  docs/zh-tw/2.1-Linux編譯教程.md
  docs/zh-tw/2.2-開發相關.md
  docs/zh-tw/2.3-IssueBot使用方法.md
  docs/zh-tw/2.5-外服適配教程.md
  docs/zh-tw/3.1-集成文件.md
  docs/zh-tw/3.2-回呼訊息協定.md
  docs/zh-tw/3.3-戰鬥流程協定.md
  docs/zh-tw/3.4-任務流程協定.md
  docs/zh-tw/3.5-肉鸽輔助協定.md
Labels: documentation, MAA Team

#3723 Release v4.11.0-alpha.2
  CHANGELOG.md
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
Labels: MAA Team, release

#3725 fix: 修复adb自动检测逻辑
  src/MaaWpfGui/Main/SettingsViewModel.cs
Labels: module: GUI

#3743 chore: 修改信用商店购物黑名单
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: others

#3738 Release v4.11.0-beta.1
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  CHANGELOG.md
  resource/tasks.json
  src/MaaCore/Controller.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaWpfGui/Helper/Localization.cs
  src/MaaWpfGui/Helper/MaaUrls.cs
  src/MaaWpfGui/Helper/TrayIcon.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/pallas.py
  src/MaaWpfGui/Res/Localizations/pallas.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/OtherCombatSettingsUserControl.xaml
Labels: MAA Team, release

#3760 feat: 实时更新战斗设置
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml.cs
Labels: module: fight, MAA Team

#3774 doc : Config JP text translate
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: ambiguous, translation required

#3780 feat: 增加任务的表达式计算
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
Labels: MAA Team

#3800 feat: 添加4点检查web是否更新关卡
  src/MaaWpfGui/Helper/StageManager.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team

#3799 feat: Python添加Hyperv蓝叠的端口获取与模拟器启动函数
  src/Python/asst/emulator.py
  src/Python/sample.py
Labels: MAA Team

#3773 fix: 修复一些关卡结算界面的问题
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/LoadingIcon.png
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
Labels: MAA Team

#3817 chore: 优化退出模拟器操作，添加超时时间
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team

#3795 feat: OCR字符等价类支持
  resource/global/YoStarJP/resource/ocr_config.json
  resource/ocr_config.json
  src/MaaCore/Config/Miscellaneous/OcrConfig.cpp
  src/MaaCore/Config/Miscellaneous/OcrConfig.h
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Vision/OcrImageAnalyzer.cpp
  src/MaaCore/Vision/OcrImageAnalyzer.h
Labels: module: infrast, Client: JP

#3812 feat: 加速肉鸽招募时滑动
  resource/tasks.json
  src/MaaCore/Controller.cpp
  src/MaaCore/Controller.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
Labels: module: roguelike, MAA Team

#3822 doc : Blue-ray items
  docs/glossary/items.md
Labels: ambiguous

#3809 feat: 更新至公孙长乐最新基建排班
  resource/custom_infrast/243_layout_3_times_a_day_yituliu_1677312017553916.json
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast
