Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-09, with the labels that each got.

#6168 Release v4.23.1
  CHANGELOG.md
  README.md
  resource/Arknights-Tile-Pos/camp_r_18-obt-campaign-level_camp_r_18.json
  resource/Arknights-Tile-Pos/mem_chnut_1-obt-memory-level_memory_chnut_1.json
  resource/Arknights-Tile-Pos/mem_grani_1-obt-memory-level_memory_grani_1.json
  resource/Arknights-Tile-Pos/mem_gvial2_1-obt-memory-level_memory_gvial2_1.json
  resource/Arknights-Tile-Pos/mem_hibisc_1-obt-memory-level_memory_hibisc_1.json
  resource/Arknights-Tile-Pos/mem_malist_1-obt-memory-level_memory_malist_1.json
  resource/Arknights-Tile-Pos/overview.json
  resource/battle_data.json
  resource/global/txwy/resource/tasks.json
  resource/stages.json
  resource/template/items/1stact.png
  resource/template/items/LINKAGE_TKT_GACHA_10_1701.png
  resource/template/items/LINKAGE_TKT_GACHA_10_3601.png
  resource/template/items/LINKAGE_TKT_GACHA_10_3602.png
  resource/template/items/LMTGS_COIN_1401.png
  resource/template/items/bilibili001.png
  resource/template/items/favor_add_ulika.png
  resource/template/items/mod_unlock_token.png
  resource/template/items/randomDiamondShd_1.png
  resource/template/items/randomDiamondShd_2.png
  resource/template/items/randomMaterialRune_0.png
  resource/template/items/randomMaterialRune_1.png
  resource/template/items/randomMaterialRune_10.png
  resource/template/items/randomMaterialRune_11.png
  resource/template/items/randomMaterialRune_12.png
  resource/template/items/randomMaterialRune_3.png
  resource/template/items/randomMaterialRune_4.png
  resource/template/items/randomMaterialRune_5.png
  resource/template/items/randomMaterialRune_6.png
  resource/template/items/randomMaterialRune_7.png
  resource/template/items/randomMaterialRune_8.png
  resource/template/items/randomMaterial_1.png
  resource/template/items/randomMaterial_2.png
  resource/template/items/randomMaterial_4.png
  resource/template/items/randomMaterial_5.png
  resource/template/items/randomMaterial_6.png
  resource/template/items/randomMaterial_7.png
  resource/template/items/randomMaterial_8.png
  resource/template/items/randomMaterial_rhine2.png
  resource/template/items/randomMaterial_siesta2.png
  resource/version.json
  src/Woolang/.gitignore
  src/Woolang/README.md
  src/Woolang/demo.wo
  src/Woolang/maa.wo
  src/Woolang/package.json
Labels: MAA Team, release

#6137 docs: 跟进蓝叠Hyper-V的连接指导 (#6083)
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
Labels: documentation, MAA Team

#6184 Release v4.23.2
  src/MaaCore/Config/Miscellaneous/TilePack.cpp
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#6189 Release v4.23.3
  src/MaaCore/Config/ResourceLoader.cpp
Labels: MAA Team, release

#6200 尽可能稳定的打更多层数 -> 尽可能稳定地打更多层数
  docs/3.1-集成文档.md
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  tools/AutoLocalization/example/en-us_force.xaml
  tools/AutoLocalization/example/zh-cn.xaml
  tools/AutoLocalization/example/zh-cn_new.xaml
Labels: ambiguous

#6198 feat: 优化萨米肉鸽部分关卡逻辑
  resource/roguelike/Sami/autopilot/咫尺天涯.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6211 fix: 萨米boss关正则替换错误
  resource/roguelike/Sami/autopilot/呼吸.json
  resource/roguelike/Sami/autopilot/大迁徙.json
  resource/roguelike/Sami/autopilot/生人勿进.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
Labels: MAA Team

#6196 chore: 對照陸服，整理與補充繁中服的 template 跟 tasks
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/BattleSupportUnitFormation.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@ChooseDifficulty0.png
  resource/global/txwy/resource/template/NoFriends.png
  resource/global/txwy/resource/template/NotUsePrts.png
  resource/global/txwy/resource/template/Phantom@Roguelike@LastReward4.png
  resource/global/txwy/resource/template/Roguelike@DialogSkip.png
  resource/global/txwy/resource/template/Roguelike@StageTraderRefreshWithDice.png.png
  resource/global/txwy/resource/template/StartButton2.png
  resource/global/txwy/resource/template/StartButton2Adverse.png
  resource/global/txwy/resource/template/UnableToAgent.png
  resource/global/txwy/resource/template/UsePrts-Annihilation.png
  resource/global/txwy/resource/template/UsePrts.png
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: Client: EN, Client: ZH_TW

#6213 feat: 更新萨米肉鸽作战策略
  resource/roguelike/Sami/autopilot/自然之怒.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6199 麒麟X夜刀->麒麟R夜刀，以及对CLI文档的侧边栏支持
  docs/.vuepress/sidebar/zh-cn.ts
  docs/1.6-CLI使用指南.md
  docs/3.5-肉鸽辅助协议.md
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/copilot/SSS_荒废灯塔_浊蒂纯艾版.json
  resource/copilot/SSS_阿尔斯特甜品制作平台_浊蒂版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: MAA Team, ambiguous

#6208 fix: 修复在部分情况下，刷理智的当前理智识别结果丢失分隔符
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
Labels: module: fight

#6221 fix: 修复肉鸽道中抓取干员 山 或 林 后重复开启技能的问题
  src/MaaCore/Status.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
Labels: module: roguelike

#6232 fix: 萨米商店不识别第二排商品
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6235 fix：修复萨米肉鸽作战关卡逻辑错误
  resource/roguelike/Sami/autopilot/禁区.json
Labels: module: roguelike, ambiguous

#6240 feat: 优化萨米肉鸽部分关卡逻辑，优化招募逻辑
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6230 feat: 新增复刻活动时，连续刷普通1-9关 (异形UI暂不支持，例如愚人号)，支持上报至企鹅物流
  docs/1.1-详细介绍.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/ja-jp/1.1-詳細説明.md
  docs/zh-tw/1.1-詳細介紹.md
  resource/tasks.json
  resource/template/UsePrtsSuccess.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.h
  src/MaaCore/Task/Fight/StageNavigationTask.h
  src/MaaCore/Task/Fight/StageQueueMissionCompletedPlugin.cpp
  src/MaaCore/Task/Fight/StageQueueMissionCompletedPlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI

#6220 fix: 尝试修复网络波动造成的碎石不用问题
  resource/tasks.json
Labels: module: fight, MAA Team

#6228 [JP] readme Update test / Japanese font readability
  docs/ja-jp/readme.md
Labels: documentation, Client: JP

#6241 feat: 新增肉鸽干员自动撤退字段
  docs/3.5-肉鸽辅助协议.md
  resource/roguelike/Sami/recruitment.json
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
Labels: module: roguelike

#6262 fix: 修复萨米肉鸽关卡json“生人勿进”->"生人勿近"
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/生人勿近.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6263 feat: 优化萨米肉鸽部分作战逻辑
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6266 feat: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/何处无山海.json
  resource/roguelike/Sami/autopilot/冰海疑影.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/求敌得敌.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6273 feat:生息演算 JP server images
  resource/global/YoStarJP/resource/template/Reclamation@AtHomePageFlag.png
  resource/global/YoStarJP/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/YoStarJP/resource/template/Reclamation@ConfirmStart.png.png
  resource/global/YoStarJP/resource/template/Reclamation@Emergency.png
  resource/global/YoStarJP/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@FormationConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@InitSupplyAll.png
  resource/global/YoStarJP/resource/template/Reclamation@NextDay.png
  resource/global/YoStarJP/resource/template/Reclamation@StartActionConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@StartAlgorithm.png
Labels: Client: JP

#6276 feat: 优化萨米肉鸽部分关卡策略
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/冰海疑影.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/混乱的表象.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6283 feat: update local resource by etag
  .github/workflows/res-update-game.yml
  src/MaaWpfGui/Helper/ETagCache.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#6287 perf: 优化刷理智的SSReopen导航逻辑，允许从普通关页面启动时短路开始于主页的导航逻辑
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.h
Labels: module: fight

#6288 feat: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6294 Release v4.24.0-beta.2
  .github/workflows/res-update-game.yml
  CHANGELOG.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/ja-jp/1.1-詳細説明.md
  docs/zh-tw/1.1-詳細介紹.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/NotDownloadVoice.png
  resource/global/YoStarEN/resource/template/Roguelike@RecruitCloseGuide.png
  resource/global/YoStarEN/resource/version.json
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/冰海疑影.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/混乱的表象.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/roguelike/Sami/recruitment.json
  resource/stages.json
  resource/tasks.json
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/ResourceLoader.h
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ETagCache.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/ViewModels/LogItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  tools/OverseasClients/FindMissingJsonTranslate.py
  tools/OverseasClients/ignore_list_of_templates.txt
  tools/ResourceUpdater/main.cpp
Labels: MAA Team, release

#6267 feat: 外服生息演算支持 | Reclamatiom Algorithm global implementation
  MAA.sln.DotSettings
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Reclamation@AtHomePageFlag.png
  resource/global/YoStarEN/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/YoStarEN/resource/template/Reclamation@ConfirmStart.png
  resource/global/YoStarEN/resource/template/Reclamation@Emergency.png
  resource/global/YoStarEN/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/YoStarEN/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/YoStarEN/resource/template/Reclamation@FormationConfirm.png
  resource/global/YoStarEN/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/YoStarEN/resource/template/Reclamation@InitSupplyAll.png
  resource/global/YoStarEN/resource/template/Reclamation@NextDay.png
  resource/global/YoStarEN/resource/template/Reclamation@StartActionConfirm.png
  resource/global/YoStarEN/resource/template/Reclamation@StartAlgorithm.png
  resource/global/YoStarJP/resource/template/Reclamation@AtHomePageFlag.png
  resource/global/YoStarJP/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/YoStarJP/resource/template/Reclamation@ConfirmStart.png.png
  resource/global/YoStarJP/resource/template/Reclamation@Emergency.png
  resource/global/YoStarJP/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@FormationConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@InitSupplyAll.png
  resource/global/YoStarJP/resource/template/Reclamation@NextDay.png
  resource/global/YoStarJP/resource/template/Reclamation@StartActionConfirm.png
  resource/global/YoStarJP/resource/template/Reclamation@StartAlgorithm.png
  resource/tasks.json
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  tools/OverseasClients/FindMissingJsonTranslate.py
  tools/OverseasClients/FindMissingTemplates.py
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: enhancement, module: fight, module: GUI, MAA Team, Client: EN, Client: JP

#6308 feat: 增加未通过企鹅检查的掉落截图，增加 UnknownStage 时的难度回调
  src/MaaCore/Config/Miscellaneous/StageDropsConfig.h
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.h
Labels: MAA Team

#6309 fix: 修复因部分皮肤造成的关卡难度识别问题
  resource/tasks.json
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
Labels: MAA Team, module: drop

#6268 feat: 新增开始唤醒时账号切换功能 (官服、B服 only)
  docs/1.1-详细介绍.md
  resource/tasks.json
  resource/template/AccountManager.png
  resource/template/AccountManagerBili.png
  resource/template/AccountManagerListAccount.png
  resource/template/AccountManagerListAccountBili.png
  resource/template/AccountManagerLoginButton.png
  resource/template/AccountManagerLoginButtonBili.png
  resource/template/AccountManagerOfficial.png
  resource/template/AccountManagerTrashButton.png
  resource/template/AccountManagerTrashButtonBili.png
  resource/template/ExitOld.png
  resource/template/ExitOldConfirm.png
  resource/template/Logout.png
  resource/template/LogoutConfirm.png
  resource/template/Settings.png
  resource/template/UserCenter.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/StartUpTask.cpp
  src/MaaCore/Task/Interface/StartUpTask.h
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
Labels: module: others

#6321 feat: 更新萨米肉鸽策略
  resource/roguelike/Sami/autopilot/腹背受敌.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6322 perf: 优化自动战斗-自动编队-追加自定干员选项UI，当选项禁用时，居中CheckBox
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot

#6300 doc: fix error
  docs/1.1-详细介绍.md
Labels: documentation

#6323 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#6333 fix: 修复肉鸽某些开局干员精二后首次进入关卡时不选三技能的问题
  resource/tasks.json
Labels: module: roguelike

#6330 feat: 繁中服「敘拉古人」活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/NotDownloadVoice.png
Labels: Client: ZH_TW

#6332 feat: 外部通知 （ServerChan 和 SMTP）
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Services/Notification/DummyNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/Services/Notification/IExternalNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml.cs
Labels: MAA Team

#6334 [skip ci] i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#6340 feat: 添加日服生息演算翻译
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
Labels: enhancement, Client: JP

#6303 docs: YostarEN recommended resolution
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/readme.md
  docs/zh-tw/readme.md
Labels: documentation, MAA Team, translation required, Client: EN

#6363 feat: WPF自动战斗对于作业描述的视频自动跳转增加av号支持
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot

#6364 fix: 修复SettingsView的Idle不生效，将开始唤醒-账号切换在非Idle情况下锁定
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
Labels: module: others

#6376 perf: 基建换班-干员编组增加可用干员缓存，同时在单次换班任务中避免重复匹配已匹配的干员
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: infrast

#6348 [skip ci] i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: GUI, MAA Team, ambiguous

#6391 fix: 将基建换班编组匹配的可用干员缓存移动至Status，以免多实例时发生冲突
  src/MaaCore/Status.h
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
Labels: module: infrast

#6350 feat: 自动战斗新增战斗列表选项（异形UI不支持）
  resource/tasks.json
  resource/template/AdverseDifficulty.png
  resource/template/MissionFailed.png
  resource/template/NormalDifficulty.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.cpp
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.h
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.cpp
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot

#6379 Release v4.24.0-beta.4
  CHANGELOG.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/readme.md
  docs/zh-tw/readme.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/InfrastProcessing.png
  resource/global/YoStarEN/resource/template/InfrastProcessingMini.png
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/AdverseDifficulty.png
  resource/template/MissionFailed.png
  resource/template/NormalDifficulty.png
  resource/template/Sami@Roguelike@GetCiphertextBoard.png
  resource/template/Sami@Roguelike@StageVerticalTraderAI6.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Status.h
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.h
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.cpp
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.h
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.cpp
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ETagCache.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#6404 fix: 基建换班-编组缓存 使用value_or替代empty检查
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: infrast

#6402 perf: 增加延迟以提高刷理智-当前理智识别成功率
  resource/tasks.json
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
Labels: module: fight

#6372 水月肉鸽：增加支援道具，新干员分组，优化大君遗脉策略
  resource/roguelike/Mizuki/autopilot/大君遗脉.json
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike

#6414 fix: 修复外部通知错误
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#6422 feat: 优化萨米招募逻辑
  resource/roguelike/Sami/recruitment.json
  resource/template/Sami@Roguelike@StageVerticalEncounterAI6.png
Labels: module: recruit, MAA Team

#6428 fix: 修复Status缓存跨任务清理在任务链正常完成情况下失效的错误
  src/MaaCore/Assistant.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: module: roguelike

#6413 fix: 修复自动战斗-战斗列表的导航失效问题
  resource/tasks.json
  resource/template/MissionFailed.png
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot

#6430 perf: 优化 自动战斗-战斗列表 跳过战斗后剧情的逻辑
  resource/tasks.json
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: copilot

#6436 feat: 适配高规格分队开局
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/生人勿近.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6435 feat: 投资达到上限后退出到肉鸽主界面
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.h
Labels: module: roguelike, MAA Team

#6447 feat: 优化傀影肉鸽招募和商店逻辑
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Phantom/shopping.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6448 perf: 激活自动战斗-战斗列表时将同时激活自动编队，调整自动战斗UI
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot

#6443 feat: 肉鸽烧开水模式增加凹开局直升
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Sami@Roguelike@StageVerticalEmergencyTransportation.png
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#6464 fix: 修复水月肉鸽卡在藏品
  resource/tasks.json
Labels: module: roguelike

#6465 更新qodana配置
  qodana.yaml
Labels: ambiguous

#6476 feat:优化傀影招募策略
  resource/roguelike/Phantom/recruitment.json
Labels: module: recruit, MAA Team

#6456 feat: 如果任务流程中勾选了刷理智，则在任务链结束时提供一个理智回满的预测时间
  resource/tasks.json
  src/MaaCore/Assistant.cpp
  src/MaaCore/Status.h
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: fight

#6433 feat: 开始唤醒-账号切换新增手动切换，可单独执行开始唤醒流程
  docs/1.1-详细介绍.md
  docs/zh-tw/1.1-詳細介紹.md
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
Labels: module: others

#6485 docs: 文档杂项修改
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
Labels: documentation

#6492 feat: 自动战斗跳过“以下干员出战后将被禁用，是否继续？”对话框 #4917 #4694 #5351
  resource/tasks.json
  resource/template/SkipForbiddenOperConfirm.png
  src/MaaCore/Task/Interface/CopilotTask.cpp
Labels: module: copilot, module: others

#6490 🐞 fix(Java-HTTP): 修复Java-HTTP api的编译问题
  src/Java/.gitignore
  src/Java/gradle/wrapper/gradle-wrapper.jar
Labels: ambiguous

#6502 fix: 修复凹直升功能造成的卡在招募立绘等bug
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  resource/template/Roguelike@RecruitWithoutButton.png
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: recruit, MAA Team

#6497 fix: 自动战斗-战斗列表，补充突袭结算图，修复从缓存文件夹添加作业时报错
  resource/tasks.json
  resource/template/StageDrops-Stars-Adverse.png
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot

#6504 perf: 优化 wpf 代码
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: MAA Team

#6510 perf: 优化部分 WPF 代码
  MAA.sln.DotSettings
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Utilities/AutoStart.cs
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
Labels: MAA Team

#6516 fix: 尝试修复肉鸽卡在招募界面
  resource/tasks.json
  resource/template/Roguelike@RecruitWithoutButton.png
Labels: module: roguelike, MAA Team

#6499 fix: 自动战斗-自动编队-补充低信赖干员: 修正补充顺序，避免在极端情况下补充错误
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
Labels: module: copilot

#6498 Release v4.24.0-rc.1
  CHANGELOG.md
  MAA.sln.DotSettings
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
  docs/3.5-肉鸽辅助协议.md
  resource/global/YoStarEN/resource/template/ReceiveMail.png
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  resource/template/Mail.png
  resource/template/MailWithoutAward.png
  resource/template/ReceiveMail.png
  resource/template/Return-White.png
  resource/template/Roguelike@RecruitWithoutButton.png
  resource/template/SkipForbiddenOperConfirm.png
  resource/template/StageDrops-Stars-Adverse.png
  src/Java/.gitignore
  src/Java/gradle/wrapper/gradle-wrapper.jar
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Task/Interface/AwardTask.cpp
  src/MaaCore/Task/Interface/AwardTask.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/Utilities/AutoStart.cs
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/AwardSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/AwardSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team, release

#6521 fix: 继续尝试修复肉鸽卡在招募界面
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Roguelike@RecruitWithoutButton.png
Labels: module: roguelike, MAA Team

#6500 docs: 添加对账号切换的说明
  docs/3.1-集成文档.md
  docs/zh-tw/3.1-集成文件.md
Labels: documentation

#6533 fix: 自动战斗-战斗列表启用时，对所有作业追加摆完挂机选项操作
  docs/3.1-集成文档.md
  docs/zh-tw/3.1-集成文件.md
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot

#6528 fix: 修复肉鸽招募卡住的问题
  resource/tasks.json
  resource/template/Roguelike@RecruitWithoutButton.png
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#6544 perf: Core不再缓存理智结果，Gui缓存理智读取结果，刷理智合并理智输出和战斗次数输出
  src/MaaCore/Assistant.cpp
  src/MaaCore/Status.h
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: fight, module: GUI

#6520 Release v4.24.0
  CHANGELOG.md
  docs/3.1-集成文档.md
  docs/zh-tw/3.1-集成文件.md
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Roguelike@RecruitWithoutButton.png
  src/MaaCore/Assistant.cpp
  src/MaaCore/Status.h
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: MAA Team, release

#6552 fix: 修复肉鸽编队时识别不到最下面一个干员名以及不能正确选技能的问题
  resource/tasks.json
  resource/template/RoguelikeSkillSelectionFlag.png
Labels: module: roguelike

#6549 重构：WPF 配置部分
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/GUIConfig.cs
  src/MaaWpfGui/Configuration/PropertyChangedEventDetailArgs.cs
  src/MaaWpfGui/Configuration/RootConfig.cs
  src/MaaWpfGui/Configuration/SpecificConfig.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/FodyWeavers.xml
  src/MaaWpfGui/Helper/ToastNotification.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: GUI, module: core

#6557 feat: 公告弹窗
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: GUI, MAA Team

#6566 docs: Linux编译教程中增加NUR
  docs/2.1-Linux编译教程.md
Labels: documentation

#6572 doc: 补充 Hyper-V 说明
  docs/1.3-模拟器支持.md
Labels: documentation

#6577 fix: 尝试修复#6552导致的死循环
  resource/tasks.json
Labels: module: roguelike, module: fight, MAA Team

#6580 fix: 修改肉鸽模式一些ocr参数
  resource/tasks.json
Labels: module: roguelike

#6579 feat: 优化肉鸽招募策略
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  resource/template/Sami@Roguelike@StageVerticalBoskyPassageAI6.png
Labels: module: roguelike, MAA Team

#6555 fix: 修复自动战斗-战斗列表拖拽导致崩溃
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot

#6563 perf: tasks.json 大修改
  resource/tasks.json
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Interface/StartUpTask.cpp
Labels: module: infrast, module: roguelike, MAA Team

#6478 feat: 多文件任务从 json 层面合并后再重新解析
  docs/3.4-任务流程协议.md
  docs/en-us/3.4-TASK_SCHEMA.md
  docs/ja-jp/3.4-タスクAPI.md
  docs/zh-tw/3.4-任務流程協議.md
  resource/global/YoStarEN/resource/tasks.json
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
Labels: module: copilot, module: core, MAA Team

#6578 feat: 肉鸽刷源石锭增加不去第二层的选项
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#6592 fix: 修复日服傀影肉鸽大盗当头识别错误
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, Client: JP

#6593 perf: 优化 刷源石锭模式是否进入第二层 的实现方式
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: MAA Team

#6596 perf: 肉鸽相关 tasks.json 优化
  resource/tasks.json
Labels: module: roguelike, MAA Team

#6590 feat: 优化部分肉鸽关卡策略
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Sami/autopilot/虫虫别回头.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#6597 refactor: 修改肉鸽开始行动和商店投资达到上限时退出的实现方式
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.h
Labels: module: roguelike, MAA Team

#6602 feat:优化肉鸽失败后，开始下一次探索的速度
  resource/tasks.json
Labels: module: roguelike, MAA Team
