Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-06, with the labels that each got.

#5016 Update YostarEN tasks.json Mizuki Roguelike: map drop Triple Recruit permit exception leads to abandon
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, ambiguous, Client: EN

#5020 Added BattleStartAdverse.png for CN and EN (copilot)
  resource/global/YoStarEN/resource/template/BattleStartAdverse.png
  resource/tasks.json
  resource/template/BattleStartAdverse.png
Labels: module: fight, module: copilot

#5031 1.5 linux docs update && translation
  docs/1.5-Linux模拟器支持.md
  docs/en-us/1.4-EMULATOR_SUPPORTS_FOR_MAC.md
  docs/en-us/1.5-EMULATOR_SUPPORTS_FOR_LINUX.md
Labels: ambiguous

#4981 ci: 将发版流程全部迁移至 MaaRelease
  .github/workflows/ci.yml
  .github/workflows/release-mirrors.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
Labels: macOS

#5011 chore: 增加log点 方便跟踪
  src/MaaWpfGui/Services/TrayIcon.cs
Labels: ambiguous

#5059 Update tasks.json for OperBoxNameOCR YostarEN
  resource/global/YoStarEN/resource/tasks.json
Labels: ambiguous, Client: EN

#5064 docs: update linux Containerized Android: waydroid
  docs/1.5-Linux模拟器支持.md
  docs/en-us/1.5-EMULATOR_SUPPORTS_FOR_LINUX.md
Labels: documentation

#5066 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#5085 Fix BattleQuickFormationClear.png for Auto Squad in YostarEN
  resource/global/YoStarEN/resource/template/BattleQuickFormationClear.png
Labels: module: copilot, ambiguous, Client: EN

#5086 Translated json schema for tasks.json
  docs/maa_tasks_schema_en.json
Labels: ambiguous

#5105 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: GUI, MAA Team, ambiguous

#5104 Release v4.19.0
  .github/workflows/release-ota.yml
  CHANGELOG.md
  resource/tasks.json
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Settings.XamlStyler
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team, release

#5111 Changed translation en-us.xaml
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: ambiguous

#5130 Typo on en-us.xaml
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: ambiguous

#5161 feat: 随机展示简中文档中模拟器支持列表
  docs/1.3-模拟器支持.md
  docs/package-lock.json
  docs/package.json
Labels: MAA Team

#5169 fix: OperBoxNameOCR tasks.json YostarEN
  resource/global/YoStarEN/resource/tasks.json
Labels: Client: EN

#5172 雷神保全浊蒂版&约翰保全浊蒂版修改 修改职业名称为英文，同步作业站版本
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: module: copilot, ambiguous

#5200 feat: Difficulty selection for YostarEN
  resource/global/YoStarEN/resource/tasks.json
Labels: module: fight, Client: EN

#5186 doc: 集成战略文档更新
  docs/3.5-肉鸽辅助协议.md
Labels: documentation, module: roguelike

#5198 translation refactoring of en-us.xaml for YostarEN
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: GUI, Client: EN

#5196 fix: Fight Task Adverse Start YostarEN
  resource/global/YoStarEN/resource/template/StartButton2Adverse.png
  resource/tasks.json
  resource/template/StartButton2Adverse.png
Labels: module: fight, Client: EN

#5202 Release v4.19.2-rc.1
  .github/workflows/release-ota.yml
  CHANGELOG.md
  docs/1.3-模拟器支持.md
  docs/3.5-肉鸽辅助协议.md
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/StartButton2Adverse.png
  resource/global/YoStarKR/resource/tasks.json
  resource/stages.json
  resource/tasks.json
  resource/template/StartButton2Adverse.png
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  tools/OverseasClients/SortJsonByZHServerOrder.py
Labels: MAA Team, release

#5209 Release v4.19.2
  CHANGELOG.md
  maadeps-build.py
  resource/Arknights-Tile-Pos/mem_ebnhlz_1-obt-memory-level_memory_ebnhlz_1.json
  resource/Arknights-Tile-Pos/mem_firwhl_1-obt-memory-level_memory_firwhl_1.json
  resource/Arknights-Tile-Pos/mem_hbisc2_1-obt-memory-level_memory_hbisc2_1.json
  resource/Arknights-Tile-Pos/mem_kafka_1-obt-memory-level_memory_kafka_1.json
  resource/Arknights-Tile-Pos/mem_pudd_1-obt-memory-level_memory_pudd_1.json
  resource/Arknights-Tile-Pos/mem_utage_1-obt-memory-level_memory_utage_1.json
  resource/Arknights-Tile-Pos/overview.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/recruitment.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/tasks.json
  resource/version.json
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
Labels: MAA Team, release

#5212 台服 理想城活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/ICChapterToIC.png
Labels: ambiguous, Client: ZH_TW

#5236 typo: useless \n in EN GUI
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: GUI, ambiguous

#5240 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: module: GUI, MAA Team, ambiguous

#5248 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#5249 fix: Modified operators regex for Auto Squad and role button
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/BattleQuickFormationExpandRole.png
Labels: module: fight

#5253 docs: 更新 Linux 编译 workflow 链接 (#5252)
  docs/2.1-Linux编译教程.md
Labels: documentation

#5256 台服 基建識別
  resource/global/txwy/resource/tasks.json
Labels: module: infrast, ambiguous, Client: ZH_TW

#5280 feat: 定时任务强制启动
  src/MaaCore/Assistant.cpp
  src/MaaCore/Assistant.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
Labels: MAA Team

#5283 台服 引航者试炼
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/BattleStartSimulation.png
  resource/global/txwy/resource/template/BattleStartTrials.png
  resource/global/txwy/resource/template/BattleStartTrialsRaid.png
Labels: ambiguous, Client: ZH_TW

#5281 Release v4.19.3-beta.1
  CHANGELOG.md
  docs/2.4-纯网页端PR教程.md
  resource/global/YoStarEN/resource/item_index.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/BattleQuickFormationExpandRole.png
  resource/global/YoStarJP/resource/item_index.json
  resource/global/YoStarKR/resource/item_index.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/BattleStartSimulation.png
  resource/global/txwy/resource/template/BattleStartTrials.png
  resource/global/txwy/resource/template/BattleStartTrialsRaid.png
  resource/global/txwy/resource/template/ICChapterToIC.png
  resource/stages.json
  src/MaaCore/Assistant.cpp
  src/MaaCore/Assistant.h
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/ResourceLoader.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Vision/Config/OCRerConfig.cpp
  src/MaaCore/Vision/Config/OCRerConfig.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/StageInfo.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConfigurationMgrUserControl.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
Labels: MAA Team, release
