Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-12, with the labels that each got.

#7412 refactor: 重构BattleHelper的m_cur_deployment_opers为vector
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: module: fight, MAA Team

#7185 feat: 完成后选项 模拟器返回桌面
  include/AsstCaller.h
  resource/config.json
  src/MaaCore/Assistant.cpp
  src/MaaCore/Assistant.h
  src/MaaCore/AsstCaller.cpp
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/Controller.h
  src/MaaCore/Controller/ControllerAPI.h
  src/MaaCore/Controller/MaaThriftController.cpp
  src/MaaCore/Controller/MaaThriftController.h
  src/MaaCore/Controller/MinitouchController.cpp
  src/MaaCore/Controller/MinitouchController.h
  src/MaaCore/Controller/PlayToolsController.cpp
  src/MaaCore/Controller/PlayToolsController.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/MaaService.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: others

#7441 feat: 新增检测最快截图方式后输出截图方法和截图测试耗时
  src/MaaCore/Controller/AdbController.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#7424 chore: 更新 Qodana 版本到 2023.3 EAP
  .github/workflows/qodana.yml
  qodana.yaml
Labels: MAA Team

#7450 fix: 修复重岳等干员带三技能时点错的问题
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
Labels: MAA Team

#7453 perf: 自动战斗部分操作增加时间输出并输出至gui.log
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/LogItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
Labels: module: copilot, MAA Team

#7451 ci: PR Checker在Merge之后不再运行
  .github/workflows/pr-checker.yml
Labels: MAA Team

#7457 ci: PR Checker增加合并检查，合并后不再检查commit message
  .github/workflows/pr-checker.yml
Labels: MAA Team

#7462 ci: PR Checker 忽略从 dev 发起合并的拉取请求
  .github/workflows/pr-checker.yml
Labels: MAA Team

#7467 fix: YoStarJP furniture drop
  resource/global/YoStarJP/resource/template/StageDrops-DropType-Furniture.png
Labels: client: JP

#7476 perf: reduced screencap timeout
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
Labels: MAA Team

#7488 feat: YoStarJP 狂人号 navigation change
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/SN-Open.png
Labels: module: fight, client: ZH_TW, client: JP

#7480 [skip ci] i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team, ambiguous

#7489 feat: 最快截图耗时超出阈值后，输出额外提示文本
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: copilot, MAA Team

#7478 fix: typo in task name
  resource/tasks.json
Labels: MAA Team

#7498 fix: wrong task `SN-Open`
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
Labels: MAA Team, client: EN, client: ZH_TW

#7500 perf: 肉鸽适配新干员用法
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#7512 ci: 规范化ci文件格式及命名，优化pr-checker的触发逻辑及表现形式
  .github/workflows/ci.yml
  .github/workflows/docs-build-test.yml
  .github/workflows/gen-changelog.yml
  .github/workflows/issue-checker.yml
  .github/workflows/pr-auto-tag.yml
  .github/workflows/pr-checker.yml
  .github/workflows/qodana.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  .github/workflows/res-update-game.yml
  .github/workflows/smoke-testing.yml
  .github/workflows/sync-resource.yml
Labels: MAA Team

#7501 perf: 遇到问题时提前结束选取密文板
  MAA.sln.DotSettings
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.h
Labels: MAA Team

#7511 ci: 修复smoke-testing重复加载外服和国服资源导致潜在的非预期TaskData字段问题
  .github/workflows/smoke-testing.yml
  src/Cpp/main.cpp
Labels: module: others, MAA Team

#7537 perf: 移除CheckBox右键额外调用
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml.cs
Labels: MAA Team

#7535 ci: 优化pr-checker的评论及日志格式，并自动删除先前的评论
  .github/workflows/pr-checker.yml
Labels: MAA Team

#7536 chore: 更新日志跳过资源更新
  .github/workflows/res-update-game.yml
Labels: MAA Team

#7463 feat: 增加公招多选策略
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ko-kr/3.1-연동.md
  docs/zh-tw/3.1-集成文件.md
  docs/协议文档/集成文档.md
  src/MaaCore/Config/Miscellaneous/RecruitConfig.h
  src/MaaCore/Task/Interface/RecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: infrast, module: recruit, client: WpfGui

#7559 feat: 繁中服生息演算 & 落葉逐火活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/txwy/resource/template/Reclamation@ConfirmStart.png
  resource/global/txwy/resource/template/Reclamation@Emergency.png
  resource/global/txwy/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/txwy/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/txwy/resource/template/Reclamation@FormationConfirm.png
  resource/global/txwy/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/txwy/resource/template/Reclamation@InitSupplyAll.png
  resource/global/txwy/resource/template/Reclamation@NextDay.png
  resource/global/txwy/resource/template/Reclamation@StartActionConfirm.png
  resource/global/txwy/resource/template/Reclamation@StartAlgorithm.png
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: client: WpfGui, client: ZH_TW

#7565 perf: 优化战斗列表部分逻辑
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.cpp
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: fight, MAA Team

#7557 Release v4.28.0
  .github/workflows/pr-checker.yml
  .github/workflows/res-update-game.yml
  CHANGELOG.md
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ko-kr/3.1-연동.md
  docs/zh-tw/3.1-集成文件.md
  docs/协议文档/集成文档.md
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/txwy/resource/template/Reclamation@ConfirmStart.png
  resource/global/txwy/resource/template/Reclamation@Emergency.png
  resource/global/txwy/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/txwy/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/txwy/resource/template/Reclamation@FormationConfirm.png
  resource/global/txwy/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/txwy/resource/template/Reclamation@InitSupplyAll.png
  resource/global/txwy/resource/template/Reclamation@NextDay.png
  resource/global/txwy/resource/template/Reclamation@StartActionConfirm.png
  resource/global/txwy/resource/template/Reclamation@StartAlgorithm.png
  resource/tasks.json
  resource/template/FightSeries-Default-1.png
  resource/template/FightSeries-Indicator.png
  resource/template/FightSeries-List-1.png
  src/MaaCore/Config/Miscellaneous/RecruitConfig.h
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/FightTimesPlugin.cpp
  src/MaaCore/Task/Fight/FightTimesPlugin.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Interface/RecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.cpp
  src/MaaCore/Task/Miscellaneous/CopilotListNotificationPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/DragItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: MAA Team, release

#7485 perf: removed unused templates
  resource/global/YoStarJP/resource/template/NoStone.png
  resource/global/YoStarKR/resource/template/NoStone.png
Labels: MAA Team

#7550 fix: 编队选择三技能的滑动整体上移 185px
  resource/tasks.json
Labels: MAA Team

#7164 feat: 基建新增领取专精功能
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Training.png
  resource/global/YoStarEN/resource/template/TrainingMini.png
  resource/tasks.json
  resource/template/InfrastTrainingConfirm.png
  resource/template/InfrastTrainingContinue.png
  resource/template/InfrastTrainingLocked.png
  resource/template/Training.png
  resource/template/TrainingMini.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Infrast/InfrastTrainingTask.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaCore/Task/Interface/InfrastTask.h
  src/MaaCore/Vision/Infrast/InfrastFacilityImageAnalyzer.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml
Labels: module: infrast

#7571 perf: 当战斗列表中添加多次相同作业时，只有都通过才会点赞
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#7582 fix(roguelike): 尝试修复肉鸽策略未随层数改变的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7581 fix(roguelike): 尝试修复肉鸽 OptionUnknown 引起的卡住的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7589 chore: 更改changelog生成时检查coauthor的逻辑
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team

#7612 Release v4.28.2
  CHANGELOG.md
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team, release

#7624 Revert 基建新增领取专精功能
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Training.png
  resource/global/YoStarEN/resource/template/TrainingMini.png
  resource/tasks.json
  resource/template/InfrastTrainingConfirm.png
  resource/template/InfrastTrainingContinue.png
  resource/template/InfrastTrainingLocked.png
  resource/template/Training.png
  resource/template/TrainingMini.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Infrast/InfrastTrainingTask.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaCore/Task/Interface/InfrastTask.h
  src/MaaCore/Vision/Infrast/InfrastFacilityImageAnalyzer.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml
Labels: module: infrast, MAA Team

#7646 fix: 修复部分情况下连续战斗次数无法正确调为1并导致卡在该流程的错误
  resource/tasks.json
  resource/template/FightSeries-Indicator.png
  src/MaaCore/Task/Fight/FightTimesPlugin.cpp
Labels: module: fight, MAA Team

#7662 perf: 优化萨米boss关打法
  resource/roguelike/Sami/autopilot/巍峨银凇.json
Labels: MAA Team

#7696 feat: 新增 自走机械搏斗场、塔山农业实验平台 保全作业
  resource/copilot/SSS_塔山农业实验平台_浊蒂纯艾澄闪银灰+提丰.json
  resource/copilot/SSS_塔山农业实验平台_浊蒂纯艾澄闪银灰+能天使.json
  resource/copilot/SSS_自走机械搏斗场_浊蒂重岳重岳星熊+塞雷娅棘刺（伪核）.json
Labels: module: copilot

#7675 fix(roguelike): 修复肉鸽 OptionUnknown 引起的卡住的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7597 fix(roguelike): 修复水月肉鸽策略未随层数改变的问题
  resource/tasks.json
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.h
Labels: module: roguelike, MAA Team

#7340 wpfGui: 增加`ScrollView`触屏支持
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
Labels: client: WpfGui, MAA Team

#7720 fix: 修复肉鸽商店投资退出过快卡在 `StageTraderInvestSystemLeave` 的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7717 feat: 提交 issue 时要求检查置顶议题
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#7724 fix: 修复肉鸽烧水逻辑错误、肉鸽卡在第三层 boss 等策略相关问题
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7730 feat: 添加一份保全作业
  resource/copilot/SSS_塔山农业实验平台_兼容应急_澄闪提丰核.json
Labels: module: copilot

#7631 perf: 优化CopilotTask参数设置
  src/MaaCore/Task/Interface/CopilotTask.cpp
Labels: module: copilot, MAA Team

#7691 fix: 修复部分情况下错误替换肉鸽结算中难度识别的文本
  resource/global/YoStarEN/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
Labels: module: roguelike, MAA Team, client: EN

#7657 perf: 账号切换 取消B服客户端检测流程
  src/MaaCore/Task/Interface/StartUpTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.h
Labels: module: others, MAA Team

#7756 Release v4.28.4
  .github/workflows/res-update-game.yml
  CHANGELOG.md
  docs/glossary/operators.md
  resource/copilot/SSS_塔山农业实验平台_兼容应急_澄闪提丰核.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/tasks.json
  resource/version.json
  src/MaaCore/Task/Fight/MedicineCounterPlugin.cpp
  src/MaaCore/Task/Fight/MedicineCounterPlugin.h
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/StartUpTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.h
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  tools/ResourceUpdater/main.cpp
Labels: MAA Team, release

#7773 feat: custom ocr range detection for JP
  resource/global/YoStarJP/resource/tasks.json
Labels: MAA Team

#7776 fix: YoStarJP ocr text
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#7764 chore: YoStarKR missing item modfied
  resource/global/YoStarKR/resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: fight, client: KR

#7748 perf: update `PosixIO::call_command`
  src/MaaCore/Controller/Platform/PosixIO.cpp
  src/MaaCore/Utils/Logger.hpp
Labels: client: MacGui

#7771 style: fix typo proced-proceed
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Vision/OCRer.cpp
Labels: MAA Team

#7798 feat: 新增 自走机械搏斗场_浊蒂重岳塞雷娅泥岩_速冷 保全作业
  resource/copilot/SSS_自走机械搏斗场_浊蒂重岳塞雷娅泥岩_速冷
Labels: module: copilot

#7806 perf: 优化搏斗场保全音响元件脚本打法及修改脚本名称
  resource/copilot/SSS_自走机械搏斗场_浊蒂重岳星熊塞雷娅棘刺_音响.json
Labels: module: copilot

#7781 fix: 修复 自动战斗-自动编队 当干员过于接近屏幕边缘时，编入操作可能被UI遮挡的问题
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
Labels: module: copilot, MAA Team

#7810 chore: YoStarJP 空想の花庭 EX Update
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#7804 chore: YoStarKR ocr text
  docs/glossary/operators.md
  resource/global/YoStarKR/resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: client: KR

#7816 Release v4.28.6
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
Labels: MAA Team, release

#7824 chore: 更新肉鸽地图
  resource/Arknights-Tile-Pos/overview.json
  resource/Arknights-Tile-Pos/ro3_b_4_b-obt-roguelike-ro3-level_rogue3_b-4-b.json
  resource/Arknights-Tile-Pos/ro3_b_5_b-obt-roguelike-ro3-level_rogue3_b-5-b.json
  resource/Arknights-Tile-Pos/ro3_b_6_b-obt-roguelike-ro3-level_rogue3_b-6-b.json
  resource/Arknights-Tile-Pos/ro3_b_7-obt-roguelike-ro3-level_rogue3_b-7.json
  resource/Arknights-Tile-Pos/ro3_b_7_b-obt-roguelike-ro3-level_rogue3_b-7-b.json
  resource/Arknights-Tile-Pos/ro3_e_1_5-obt-roguelike-ro3-level_rogue3_1-5.json
  resource/Arknights-Tile-Pos/ro3_e_2_6-obt-roguelike-ro3-level_rogue3_2-6.json
  resource/Arknights-Tile-Pos/ro3_e_3_7-obt-roguelike-ro3-level_rogue3_3-7.json
  resource/Arknights-Tile-Pos/ro3_e_4_8-obt-roguelike-ro3-level_rogue3_4-8.json
  resource/Arknights-Tile-Pos/ro3_e_5_8-obt-roguelike-ro3-level_rogue3_5-8.json
  resource/Arknights-Tile-Pos/ro3_ev_8-obt-roguelike-ro3-level_rogue3_ev-8.json
  resource/Arknights-Tile-Pos/ro3_ev_9-obt-roguelike-ro3-level_rogue3_ev-9.json
  resource/Arknights-Tile-Pos/ro3_n_1_5-obt-roguelike-ro3-level_rogue3_1-5.json
  resource/Arknights-Tile-Pos/ro3_n_2_6-obt-roguelike-ro3-level_rogue3_2-6.json
  resource/Arknights-Tile-Pos/ro3_n_3_7-obt-roguelike-ro3-level_rogue3_3-7.json
  resource/Arknights-Tile-Pos/ro3_n_4_8-obt-roguelike-ro3-level_rogue3_4-8.json
  resource/Arknights-Tile-Pos/ro3_n_5_8-obt-roguelike-ro3-level_rogue3_5-8.json
  resource/version.json
Labels: module: roguelike, MAA Team

#7819 chore: Remove YoStarJP Annihilation template
  resource/global/YoStarJP/resource/template/StageAnnihilation.png
Labels: module: fight, client: JP

#7829 Release v4.28.7
  CHANGELOG.md
  docs/en-us/3.6-INFRASTRUCTURE_SCHEDULING_SCHEMA.md
  docs/ja-jp/3.6-インフラスケジュール設定.md
  docs/ko-kr/3.6-기반시설_예약_스키마.md
  docs/zh-tw/3.6-基建排班協議.md
  docs/协议文档/基建排班协议.md
  resource/Arknights-Tile-Pos/overview.json
  resource/Arknights-Tile-Pos/ro3_b_4_b-obt-roguelike-ro3-level_rogue3_b-4-b.json
  resource/Arknights-Tile-Pos/ro3_b_5_b-obt-roguelike-ro3-level_rogue3_b-5-b.json
  resource/Arknights-Tile-Pos/ro3_b_6_b-obt-roguelike-ro3-level_rogue3_b-6-b.json
  resource/Arknights-Tile-Pos/ro3_b_7-obt-roguelike-ro3-level_rogue3_b-7.json
  resource/Arknights-Tile-Pos/ro3_b_7_b-obt-roguelike-ro3-level_rogue3_b-7-b.json
  resource/Arknights-Tile-Pos/ro3_e_1_5-obt-roguelike-ro3-level_rogue3_1-5.json
  resource/Arknights-Tile-Pos/ro3_e_2_6-obt-roguelike-ro3-level_rogue3_2-6.json
  resource/Arknights-Tile-Pos/ro3_e_3_7-obt-roguelike-ro3-level_rogue3_3-7.json
  resource/Arknights-Tile-Pos/ro3_e_4_8-obt-roguelike-ro3-level_rogue3_4-8.json
  resource/Arknights-Tile-Pos/ro3_e_5_8-obt-roguelike-ro3-level_rogue3_5-8.json
  resource/Arknights-Tile-Pos/ro3_ev_8-obt-roguelike-ro3-level_rogue3_ev-8.json
  resource/Arknights-Tile-Pos/ro3_ev_9-obt-roguelike-ro3-level_rogue3_ev-9.json
  resource/Arknights-Tile-Pos/ro3_n_1_5-obt-roguelike-ro3-level_rogue3_1-5.json
  resource/Arknights-Tile-Pos/ro3_n_2_6-obt-roguelike-ro3-level_rogue3_2-6.json
  resource/Arknights-Tile-Pos/ro3_n_3_7-obt-roguelike-ro3-level_rogue3_3-7.json
  resource/Arknights-Tile-Pos/ro3_n_4_8-obt-roguelike-ro3-level_rogue3_4-8.json
  resource/Arknights-Tile-Pos/ro3_n_5_8-obt-roguelike-ro3-level_rogue3_5-8.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/template/StageAnnihilation.png
  resource/tasks.json
  resource/template/Sami@Roguelike@AbandonPushDoor.png
  resource/version.json
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#7850 fix: 修复部分情况下，关卡掉落识别关卡名出错
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
Labels: MAA Team, module: drop

#7845 chore: YoStarKR ocr text replacement
  resource/global/YoStarKR/resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: infrast, module: roguelike, client: KR
