Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-11, with the labels that each got.

#7145 feat: DepotEnter适配界面主题
  resource/tasks.json
  resource/template/DepotEnterDark.png
  resource/template/DepotEnterMistCity.png
  resource/template/DepotEnterSami.png
Labels: module: depot

#7147 fix: 修复理智药插件中变量名错误；调整文档中理智药相关说明
  docs/1.1-详细介绍.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/ja-jp/1.1-詳細説明.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/zh-tw/1.1-詳細介紹.md
  src/MaaCore/Task/Fight/MedicineCounterPlugin.cpp
Labels: module: GUI, MAA Team

#7158 chore: 繁中服「將進酒」復刻活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
Labels: module: GUI, Client: ZH_TW

#7179 perf: 使用 `std::erase` 取代 erase-remove 惯用法
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Utils/Ranges.hpp
Labels: MAA Team

#7181 perf: 肉鸽适配新干员默认技能
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#7186 Add Sync-Resource-CI
  .github/workflows/sync-resource.yml
Labels: MAA Team, ambiguous

#7191 fix: 移除游戏资源更新中提示信息的`请勿关闭MAA`说明
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#7207 chore: 调整GetImageFromROI对未声明`template`任务截图时，直接使用任务名命名输出图片
  tools/GetImageFromROI/main.py
Labels: MAA Team

#7195 fix: 修复移除超额理智药后，如果没有使用任何药品会导致反复识别的错误
  src/MaaCore/Task/Fight/MedicineCounterPlugin.cpp
  src/MaaCore/Task/Fight/MedicineCounterPlugin.h
Labels: MAA Team

#7180 docs: 详细介绍：抄作业:优化 + 刷理智:自动重复代理相关
  docs/1.1-详细介绍.md
Labels: documentation, module: copilot

#7223 feat: GetImageFromRoi小工具支持直接上mask
  resource/tasks.json
  tools/GetImageFromROI/main.py
Labels: MAA Team

#7203 feat: Furniture Drop localization
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#7229 fix: Missing Text OCR when Limited + Expire monthly
  resource/tasks.json
Labels: MAA Team

#7236 Update JP/LONETRAIL 孤星
  docs/glossary/operators.md
Labels: ambiguous, translation required

#7239 perf: 战斗列表输入关卡名的文本框新增提示文本
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: fight, MAA Team

#7190 fix: 修复吃理智药在网络波动时可能产生重复使用的错误
  resource/tasks.json
  src/MaaCore/Task/Fight/MedicineCounterPlugin.cpp
Labels: module: fight, MAA Team

#7242 feat: YoStarJP 孤星 sidestory navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: Client: JP

#7218 feat: 支持运行任务时阻止休眠
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Utilities/SleepManagement.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/StartSettingsUserControl.xaml
Labels: MAA Team

#7244 feat: 外部通知设置显示移至UI判断
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
Labels: MAA Team

#7138 refactor: 重构肉鸽数据存储，迁移肉鸽主题
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.h
Labels: module: roguelike, MAA Team

#7184 refactor: 迁移肉鸽部分数据
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7259 feat: txwy resource updater
  .github/workflows/res-update-game.yml
  tools/ResourceUpdater/main.cpp
Labels: module: roguelike, module: GUI, MAA Team, Client: ZH_TW

#7269 fix: 移动cpp文件的位置
  src/MaaCore/MaaCore.vcxproj.filters
Labels: MAA Team

#7240 feat: 自动战斗-战斗列表新增无限吃理智药选项
  resource/tasks.json
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot, MAA Team

#7277 revert: 回调部署干员朝向滑动距离为400，回调滑动duration为100，增加补偿距离上限
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
Labels: MAA Team

#7280 perf: 优化理智识别模块，取消预处理，取消内部重试
  src/MaaCore/Task/Fight/SanityBeforeStagePlugin.cpp
Labels: MAA Team

#7281 perf: 移除未使用的变量
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#7284 fix: 修复部署时补偿距离过大，导致部署朝向滑动起始点超出范围
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#7253 fix: 修复在部分情况下，自动战斗-自动编队时干员页面最边缘干员名字未露出，导致编队时表现错误
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
Labels: module: copilot, MAA Team

#7286 doc: 修改adb pair部分
  docs/1.3-模拟器支持.md
Labels: documentation

#7210 perf: 自动在刷理智第一次执行时调整连战次数为1
  resource/tasks.json
  resource/template/FightSeries-Default-1.png
  resource/template/FightSeries-Icon.png
  resource/template/FightSeries-List-1.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/FightTimesPlugin.cpp
  src/MaaCore/Task/Fight/FightTimesPlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
Labels: module: fight, MAA Team

#7294 fix: 修复外服未实装连续战斗导致多次尝试
  src/MaaCore/Task/Fight/FightTimesPlugin.cpp
Labels: module: fight, MAA Team

#7301 fix: vcxproj & filters
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
Labels: MAA Team

#7289 fix: 修复肉鸽修改参数后不生效的问题
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
Labels: module: roguelike, module: GUI, MAA Team

#7303 fix: 修复 刷理智-指定材料 选项取消无效的问题
  src/MaaCore/Task/Interface/FightTask.cpp
Labels: module: fight, MAA Team

#7305 fix: YoStarJP 孤星 sidestory navigation update
  resource/global/YoStarJP/resource/tasks.json
Labels: Client: JP

#7304 refactor: 迁移肉鸽主题，迁移肉鸽主题和模式检查
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7276 feat: 肉鸽刷等级模式新增结算输出并保存截图至achievement文件夹
  resource/tasks.json
  resource/template/RoguelikeSettlementConfirm.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, MAA Team

#7313 fix: 修复Wpf自动战斗-作业代码直接读取剪贴板会带入换行的错误
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#7329 fix: 游戏资源下载失败
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
Labels: MAA Team

#7310 refactor: 迁移肉鸽密文板
  resource/tasks.json
  src/MaaCore/Status.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7341 docs：update萨米肉鸽密文板文档
  docs/3.5-肉鸽辅助协议.md
Labels: module: roguelike, MAA Team, ambiguous

#7332 fix: 优化部分情况下肉鸽技结算时技能增长未完全显示导致识别不正确
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.h
Labels: module: roguelike, MAA Team

#7322 feat: YoStarJP SSS#2
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/global/YoStarJP/resource/ocr_config.json
  resource/global/YoStarJP/resource/tasks.json
Labels: module: copilot, Client: JP

#7338 docs: 增加Wpf自动战斗-战斗列表关于批量导入的提示
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, module: copilot, MAA Team

#7361 docs: update glossary
  docs/glossary/class.md
  docs/glossary/items.md
  docs/glossary/operators.md
Labels: documentation

#7368 perf：优化傀影肉鸽部分逻辑
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Phantom/recruitment.json
Labels: module: roguelike, MAA Team, ambiguous

#7367 chore: 繁中服「登臨意」活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/WBChapterToWB.png
Labels: Client: ZH_TW

#7374 ci: 优化更新日志生成逻辑
  .github/workflows/gen-changelog.yml
Labels: MAA Team

#7347 feat: 保全支持开局替换部分满足条件的非核心干员
  resource/tasks.json
  resource/template/SSSFightStart-PreSelect-Clear.png
  resource/template/SSSFightStart-PreSelect-Confirm.png
  resource/template/SSSFightStart-PreSelect.png
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
Labels: MAA Team

#7384 fix: 修正命名大小写
  resource/tasks.json
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: MAA Team

#7383 fix: 修复使用临期理智药设置无法在任务中修改的错误
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: GUI, MAA Team

#7398 fix: 修复傀影肉鸽结算识别可能导致崩溃的错误
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7399 resource: 更新新版危机合约地图
  resource/Arknights-Tile-Pos/level_crisis_v2_01-01-obt-crisis-v2-level_crisis_v2_01-01.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-02-obt-crisis-v2-level_crisis_v2_01-02.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-03-obt-crisis-v2-level_crisis_v2_01-03.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-04-obt-crisis-v2-level_crisis_v2_01-04.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-05-obt-crisis-v2-level_crisis_v2_01-05.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-06-obt-crisis-v2-level_crisis_v2_01-06.json
  resource/Arknights-Tile-Pos/level_crisis_v2_01-07-obt-crisis-v2-level_crisis_v2_01-07.json
  resource/Arknights-Tile-Pos/overview.json
Labels: MAA Team, ambiguous

#7331 refactor: 迁移剩下的肉鸽数据，移除Status相关逻辑
  src/MaaCore/Status.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7409 fix: 修复剿灭退出时卡在情报汇总的问题
  resource/tasks.json
  resource/template/AnnihilationReturnFlag.png
Labels: module: fight, MAA Team

#7413 docs: 补全战斗流程协议 actions 的 skill_times 参数
  docs/3.3-战斗流程协议.md
Labels: documentation, module: fight

#7410 feat: 重构 TaskData
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/Config/TaskData/TaskDataSymbol.cpp
  src/MaaCore/Config/TaskData/TaskDataSymbol.h
  src/MaaCore/Config/TaskData/TaskDataSymbolStream.cpp
  src/MaaCore/Config/TaskData/TaskDataSymbolStream.h
  src/MaaCore/Config/TaskData/TaskDataTypes.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
Labels: MAA Team

#7418 ci: line overwrite bypass in res-update
  .github/workflows/res-update-game.yml
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
Labels: MAA Team, ci

#7393 fix: 修复肉鸽编队时选择干员重复点击导致未选中的问题
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
Labels: module: roguelike, MAA Team

#7426 feat: 重构 TaskData
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/Config/TaskData/TaskDataSymbol.cpp
  src/MaaCore/Config/TaskData/TaskDataSymbol.h
  src/MaaCore/Config/TaskData/TaskDataSymbolStream.cpp
  src/MaaCore/Config/TaskData/TaskDataSymbolStream.h
  src/MaaCore/Config/TaskData/TaskDataTypes.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.cpp
Labels: MAA Team

#7414 ci: 对PR提交的commit名进行检查
  .github/workflows/pr-checker.yml
Labels: MAA Team
