Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-05, with the labels that each got.

#4576 Release v4.16.0
  .github/workflows/pr-auto-tag.yml
  .github/workflows/release-maa-linux.yml
  .github/workflows/release-maa-mac.yml
  .github/workflows/release-maa-win.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/res-update-game.yml
  CHANGELOG.md
  resource/recruitment.json
  resource/stages.json
  tools/OTAPacker/build.sh
  tools/OTAPacker/ziplist.sh
  tools/OTAPacker/zipota.sh
Labels: MAA Team, release

#4586 Release v4.16.2
  CHANGELOG.md
  resource/tasks.json
  src/MaaCore/Config/AbstractConfig.cpp
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team, release

#4597 docs: changelog
  CHANGELOG.md
Labels: documentation, MAA Team

#4596 Release v4.16.3
  .github/workflows/ci.yml
  .github/workflows/release-mirrors.yml
  CHANGELOG.md
  resource/battle_data.json
  resource/stages.json
  src/MaaCore/Assistant.cpp
  src/MaaCore/Config/AbstractConfig.cpp
  src/MaaCore/Config/AbstractConfig.h
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.cpp
  src/MaaCore/Config/Miscellaneous/InfrastConfig.cpp
  src/MaaCore/Config/Miscellaneous/RecruitConfig.cpp
  src/MaaCore/Config/Miscellaneous/StageDropsConfig.cpp
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/ResourceLoader.h
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeShoppingConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  tools/ResourceUpdater/ResourceUpdater.vcxproj
Labels: MAA Team, release

#4612 fix: 肉鸽作战时无故投骰子
  resource/roguelike/recruitment.json
Labels: module: roguelike

#4615 chore: 保全派驻 新增_约翰老妈在建地块_浊蒂水陈版
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
Labels: ambiguous

#4619 fix: 水月肉鸽部分不期而遇卡死
  resource/tasks.json
Labels: module: roguelike

#4626 docs: Update 1.4-Mac模拟器支持.md
  docs/1.4-Mac模拟器支持.md
Labels: documentation

#4636 繁中服 「多索雷斯假日」復刻
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#4643 EN服适配牛牛抽卡，肉鸽开局使用助战
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/GachaConfirm.png
  resource/global/YoStarEN/resource/template/GachaEnter.png
  resource/global/YoStarEN/resource/template/OperBoxEnter.png
  resource/global/YoStarEN/resource/template/OperBoxRoleTab.png
  resource/global/YoStarEN/resource/template/OperBoxRoleTabSelect.png
Labels: module: roguelike, ambiguous, Client: EN

#4645 docs: 补全蓝叠模拟器Hyper-V版本的指示
  docs/1.3-模拟器支持.md
Labels: documentation

#4654 Release v4.16.4
  .github/workflows/ci.yml
  .github/workflows/gen-changelog.yml
  CHANGELOG.md
  README.md
  docs/.vuepress/theme.config.ts
  docs/1.3-模拟器支持.md
  docs/1.4-Mac模拟器支持.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/readme.md
  docs/zh-tw/readme.md
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/GachaConfirm.png
  resource/global/YoStarEN/resource/template/GachaEnter.png
  resource/global/YoStarEN/resource/template/OperBoxEnter.png
  resource/global/YoStarEN/resource/template/OperBoxRoleTab.png
  resource/global/YoStarEN/resource/template/OperBoxRoleTabSelect.png
  resource/global/txwy/resource/tasks.json
  resource/infrast.json
  resource/roguelike/recruitment.json
  resource/stages.json
  resource/tasks.json
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/BitmapImageExtensions.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UI/RootView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  tools/ChangelogGenerator/changelog_generator.py
  tools/MaaBuilder/Builder/BuildParameters.cs
  tools/MaaBuilder/Builder/Job/Build.Job.Version.cs
  tools/ResourceUpdater/main.cpp
  tools/version.sh
Labels: MAA Team, release

#4660 ci: auto gen changelogs 仅在非草稿状态下生成
  .github/workflows/gen-changelog.yml
Labels: MAA Team

#4661 ci: 打开自动更新资源，并且只在主仓库跑
  .github/workflows/res-update-game.yml
Labels: MAA Team

#4672 docs: 文档补充 maadeps-download.py 位置
  docs/2.2-开发相关.md
Labels: ambiguous

#4677 docs: 修正战斗流程协议链接
  docs/3.3-战斗流程协议.md
Labels: documentation

#4686 Update SSS_约翰老妈在建地块_浊蒂水陈版.json
  resource/copilot/SSS_约翰老妈在建地块_浊蒂水陈版.json
Labels: ambiguous

#4749 Fix getting stuck in RIIC for KR
  resource/global/YoStarKR/resource/tasks.json
Labels: ambiguous

#4767 Release v4.17.0-beta.1
  .github/workflows/pr-auto-tag.yml
Labels: MAA Team, release

#4775 fix：修复关卡名窒息的识别错误
  resource/tasks.json
Labels: ambiguous

#4776 chore: 更新自动战斗点赞反馈提示语
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: copilot

#4782 Doc : JP シラクザーノ
  docs/glossary/operators.md
Labels: ambiguous

#4793 docs: 添加关于 MuMu 模拟器 12 的说明
  docs/1.3-模拟器支持.md
Labels: documentation

#4803 Release v4.17.0
  CHANGELOG.md
  resource/roguelike/copilot.json
  resource/tasks.json
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team, release

#4814 Release v4.17.1
  CHANGELOG.md
  docs/1.2-常见问题.md
  docs/1.3-模拟器支持.md
  resource/tasks.json
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/Helper/LocalizationHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Properties/DesignTimeResources.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
Labels: MAA Team, release

#4825 肉鸽中不再进阶未精二的干员
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, ambiguous

#4827 fix: update InfrastFilterMenuNotStationedButton for EN
  resource/global/YoStarEN/resource/tasks.json
Labels: module: infrast

#4866 docs: 对蓝叠模拟器Hyper-V的补充说明(#4806)
  docs/1.2-常见问题.md
Labels: documentation

#4868 Update resources for KR
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/DormConfirm.png
  resource/global/YoStarKR/resource/template/OperBoxEnter.png
  resource/global/YoStarKR/resource/template/OperBoxRoleTab.png
  resource/global/YoStarKR/resource/template/OperBoxRoleTabSelect.png
  resource/global/YoStarKR/resource/template/PRTS.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePassSkip1.png
  resource/global/YoStarKR/resource/template/Roguelike@StageTraderInvestConfirm.png
  resource/global/YoStarKR/resource/template/Roguelike@StageTraderRefreshWithDice.png
  resource/global/YoStarKR/resource/template/Roguelike@TempRecruitFlag.png
  resource/global/YoStarKR/resource/template/SkipThePreBattlePlot.png
  resource/global/YoStarKR/resource/template/UnableToAgent.png
Labels: ambiguous

#4883 Update README.md
  README.md
Labels: ambiguous

#4894 Update for YostarKR
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/GachaConfirm.png
  resource/global/YoStarKR/resource/template/GachaEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@CommissionedMissionCompleted.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@Continue.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@DataTraceback.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GamePassSkip1.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDrop1.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDrop2.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDrop3.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBox.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBoxOpen.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBoxSelect.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropLeave.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropRecruit.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropSelect.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropSelectReward.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastRewardConfirm.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@MapObject.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@MissionFailedFlag.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@Recruit.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@RolesDefault.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@SquadDefault.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageCambatDpsEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEncounterEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageTraderEnter.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StartExplore.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@TodoEnter.png
  resource/global/YoStarKR/resource/template/Roguelike@StageTraderRefreshWithDice.png
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: roguelike, ambiguous, Client: KR

#4789 feat: update meojson to v3.0.0-beta.1
  3rdparty/include/meojson/.clang-format
  3rdparty/include/meojson/json.hpp
  resource/config.json
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#4914 Update resources for YostarKR (roguelike)
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDrop0.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBox.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBoxOpen.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropBoxSelect.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GetDropSelectReward.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastRewardConfirm.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEncounterOptionUnknown.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarKR/resource/template/NoStone.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@LastRewardConfirm.png
Labels: module: roguelike, ambiguous, Client: KR

#4927 EN服适配水月肉鸽（含刷指路麟），增加碳本导航，修复信用购物
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Mall.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@CommissionedMissionCompleted.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@Continue.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@DataTraceback.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GamePass.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GamePassSkip1.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDrop1.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDrop2.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDrop3.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropLeave.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropRecruit.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropSelect.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropSelectRecruit.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropSelectReward.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastRewardConfirm.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@MapObject.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@MissionFailedFlag.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@Recruit.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@RolesDefault.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@SquadDefault.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageCambatDpsEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageEncounterEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageTraderEnter.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StartExplore.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@TodoEnter.png
  resource/global/YoStarEN/resource/template/NormalBattleAbandon.png
  resource/global/YoStarEN/resource/template/Roguelike@StageTraderRefreshWithDice.png
  resource/global/YoStarEN/resource/template/Roguelike@TempRecruitFlag.png
  resource/global/YoStarEN/resource/template/StageSK.png
Labels: module: roguelike, module: others, Client: EN

#4934 日服 添加关卡名 修改浪离灯熄logo的roi
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, ambiguous, Client: JP

#4936 EN服水月肉鸽新增漂流密匣截图
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropBox.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@GetDropBoxSelect.png
Labels: module: roguelike, ambiguous, Client: EN

#4940 Update for YostarKR (roguelike & credit store)
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/BattleQuickFormationRole-All.png
  resource/global/YoStarKR/resource/template/ChooseMoneyOrder.png
  resource/global/YoStarKR/resource/template/ChooseSyntheticJadeOrder.png
  resource/global/YoStarKR/resource/template/ClickProductMax.png
  resource/global/YoStarKR/resource/template/Friends.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@ChooseDifficulty.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@GamePassSkip1.png
Labels: module: roguelike, Client: KR

#4912 创建本地化文档自动翻译工具 & 更新本地化文档
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  tools/AutoLocalization/.gitattributes
  tools/AutoLocalization/.gitignore
  tools/AutoLocalization/README.md
  tools/AutoLocalization/copy.env
  tools/AutoLocalization/githook_sample/post-commit
  tools/AutoLocalization/githook_sample/pre-commit
  tools/AutoLocalization/main.py
  tools/AutoLocalization/requirements.txt
  tools/AutoLocalization/src/__init__.py
  tools/AutoLocalization/src/cli.py
  tools/AutoLocalization/src/file_loader/__init__.py
  tools/AutoLocalization/src/file_loader/test_xaml_load.py
  tools/AutoLocalization/src/file_loader/xaml_load.py
  tools/AutoLocalization/src/git.py
  tools/AutoLocalization/src/translator/__init__.py
  tools/AutoLocalization/src/translator/test_translate.py
  tools/AutoLocalization/src/translator/translate.py
Labels: documentation, module: GUI

#4930 Localization fix for ko-KR
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: Client: KR

#4945 修复EN服肉鸽不抓预备干员&添加百嘉鸿雪识别容错
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, Client: EN

#4948 fix:解决EN服水月肉鸽 不期而遇卡死的问题
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@StageEncounterOptionUnknown.png
Labels: module: roguelike, Client: EN

#4951 修复自动翻译工具 python3.11无法安装依赖的问题 & 重构项目结构，方便后续打包，并调整部分模块
  tools/AutoLocalization/.gitattributes
  tools/AutoLocalization/.gitignore
  tools/AutoLocalization/README.md
  tools/AutoLocalization/copy.env
  tools/AutoLocalization/example/en-us.xaml
  tools/AutoLocalization/example/en-us_compare.xaml
  tools/AutoLocalization/example/en-us_force.xaml
  tools/AutoLocalization/example/en-us_update.xaml
  tools/AutoLocalization/example/githook/post-commit
  tools/AutoLocalization/example/githook/pre-commit
  tools/AutoLocalization/example/ja-jp.xaml
  tools/AutoLocalization/example/ko-kr.xaml
  tools/AutoLocalization/example/zh-cn.xaml
  tools/AutoLocalization/example/zh-cn_new.xaml
  tools/AutoLocalization/example/zh-tw.xaml
  tools/AutoLocalization/githook_sample/post-commit
  tools/AutoLocalization/githook_sample/pre-commit
  tools/AutoLocalization/main.py
  tools/AutoLocalization/requirements-dev.txt
  tools/AutoLocalization/requirements.txt
  tools/AutoLocalization/run.py
  tools/AutoLocalization/setup.py
  tools/AutoLocalization/src/auto_localization/__init__.py
  tools/AutoLocalization/src/auto_localization/cli.py
  tools/AutoLocalization/src/auto_localization/git.py
  tools/AutoLocalization/src/auto_localization/translate.py
  tools/AutoLocalization/src/auto_localization/xaml_load.py
  tools/AutoLocalization/src/file_loader/__init__.py
  tools/AutoLocalization/src/git.py
  tools/AutoLocalization/src/translator/__init__.py
  tools/AutoLocalization/tests/__init__.py
  tools/AutoLocalization/tests/_test_all.py
  tools/AutoLocalization/tests/test_translate.py
  tools/AutoLocalization/tests/test_xaml_load.py
Labels: ambiguous, macOS

#4971 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: GUI, MAA Team, ambiguous

#4972 修复EN服肉鸽不放预备干员，不选非默认分队，添加复用安全屋文本
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, Client: EN

#4985 Update tasks.json (EN, #4978)
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, module: recruit, Client: EN

#4993 YostarEN Mr. Nothing, Shirayuki not recognized because of capitalization error / missing space in tasks.json
  resource/global/YoStarEN/resource/tasks.json
Labels: ambiguous, Client: EN

#4997 Fix: 修复干员夕的识别问题
  resource/tasks.json
Labels: ambiguous

#4990 Release v4.19.0-rc.1
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@StageEncounterOptionUnknown.png
  resource/tasks.json
  resource/version.json
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Vision/Miscellaneous/OperBoxImageAnalyzer.cpp
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
  tools/ResourceUpdater/main.cpp
Labels: MAA Team, release

#4998 YostarEN: Skadi Alter / Wild Mane fixed in oper recognition
  resource/global/YoStarEN/resource/tasks.json
Labels: Client: EN

#5000 Release v4.19.0
  CHANGELOG.md
  docs/1.5-Linux模拟器支持.md
  resource/global/YoStarEN/resource/tasks.json
  src/MaaWpfGui/Helper/WindowManager.cs
Labels: MAA Team, release

#5002 docs: typo & code block
  docs/1.5-Linux模拟器支持.md
Labels: documentation

#5008 将运行完成后选项中不便理解的*修改为更易懂的文本
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: ambiguous
