Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-03, with the labels that each got.

#3852 修复重岳的识别错误
  resource/tasks.json
Labels: ambiguous

#3844 fix: #3816
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
Labels: module: infrast, module: GUI

#3862 feat: 自动公招时增加掉线识别
  resource/tasks.json
Labels: module: recruit, module: others

#3873 feat: 添加帮助链接
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Helper/MaaUrls.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/CopilotView.xaml
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml.cs
Labels: MAA Team

#3874 fix: Fix CustomInfrastGenerator URL
  src/MaaWpfGui/Helper/MaaUrls.cs
Labels: module: infrast

#3875 feat: 增加 “更新日志” 按钮
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team

#3719 feat: 添加给作业点赞的接口
  src/MaaWpfGui/Helper/WebService.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/CopilotView.xaml
Labels: module: copilot, MAA Team

#3882 feat: 优化 changelog 弹窗
  src/MaaWpfGui/Main/RootViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/VersionUpdateView.xaml
Labels: MAA Team

#3899 feat: 为连接历史记录添加删除按钮
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: MAA Team

#3901 chore: 增加了一个分析 task 转移关系画图的脚本
  tools/TasksTransitionVisualizer/.gitignore
  tools/TasksTransitionVisualizer/README.md
  tools/TasksTransitionVisualizer/requirements.txt
  tools/TasksTransitionVisualizer/tasks_transition_visualizer.py
Labels: module: others

#3918 perf: 优化战斗中技能识别，改用深度学习模型
  CMakeLists.txt
  resource/onnx/skill_ready_rec.onnx
  resource/tasks.json
  src/MaaCore/Config/OnnxSession.cpp
  src/MaaCore/Config/OnnxSession.h
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Vision/Miscellaneous/BattleSkillReadyImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/BattleSkillReadyImageAnalyzer.h
Labels: module: fight, MAA Team

#3919 Update act24side_09-activities-act24side-level_act24side_09.json
  resource/Arknights-Tile-Pos/act24side_09-activities-act24side-level_act24side_09.json
Labels: ambiguous

#3921 fix: 修复 WpfGui 自动更新时 x64 也下载 arm64 的 ota 的问题
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
Labels: module: GUI, MAA Team

#3930 增加一个task，可以执行tasks.json内任意一个task
  src/MaaCore/Assistant.cpp
  src/MaaCore/Task/Interface/CustomTask.cpp
  src/MaaCore/Task/Interface/CustomTask.h
  src/Python/sample.py
Labels: ambiguous

#3935 Release v4.12.0-rc.1
  .github/workflows/release-ota.yml
  CHANGELOG.md
  resource/onnx/skill_ready_rec.onnx
  resource/tasks.json
  src/MaaCore/Assistant.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/Task/Interface/CustomTask.cpp
  src/MaaCore/Task/Interface/CustomTask.h
  src/MaaCore/Task/Interface/DebugTask.cpp
  src/MaaCore/Task/Interface/DebugTask.h
  src/MaaWpfGui/Views/VersionUpdateView.xaml
  src/Python/sample.py
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team, release

#3940 fix: 修复“借助战一日只执行一次”没有生效的问题。
  src/MaaWpfGui/Helper/Utils.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: fight, module: others

#3949 Doc : Update JP 翠玉の夢 and add Operators
  docs/glossary/operators.md
Labels: ambiguous

#3947 perf: First step to async web service
  src/MaaWpfGui/Helper/WebService.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
Labels: module: copilot

#3961 feat: 新增支持 CF 关卡掉落识别
  .gitignore
  resource/stages.json
  resource/tasks.json
  resource/template/items/act24side_melding_1.png
  resource/template/items/act24side_melding_2.png
  resource/template/items/act24side_melding_3.png
  resource/template/items/act24side_melding_4.png
  resource/template/items/act24side_melding_5.png
  resource/template/items/act24side_melding_6.png
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.h
Labels: MAA Team, module: drop

#3964 添加一些EN服务器翻译
  resource/global/YoStarEN/resource/tasks.json
Labels: ambiguous, Client: EN

#3982 Release v4.12.2
  .github/workflows/ci.yml
  CHANGELOG.md
  resource/tasks.json
  src/MaaWpfGui/Main/RootViewModel.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/VersionUpdateViewModel.cs
Labels: MAA Team, release

#3980 feat:更好的退出模拟器方式
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: module: GUI

#4009 fix:修复承曦グレイ （YoStarJP）与礫（txwy）的文字识别问题
  resource/global/YoStarJP/resource/tasks.json
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW, Client: JP

#4020 feat: 反色显示
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Helper/Config.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
  src/MaaWpfGui/Main/DepotViewModel.cs
  src/MaaWpfGui/Main/RecruitViewModel.cs
  src/MaaWpfGui/Main/RootViewModel.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Views/CopilotView.xaml
  src/MaaWpfGui/Views/RootView.xaml
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#4018 feat: 在模拟器启动期间可取消任务
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/SettingsViewModel.cs
  src/MaaWpfGui/Main/TaskQueueViewModel.cs
Labels: MAA Team

#3977 perf: 加速 `tasks.json` 的读取
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
Labels: module: core, MAA Team

#4044 fix:将海蒂加入阿卡胡拉作业黑名单
  resource/copilot/SSS_阿卡胡拉丛林.json
Labels: module: copilot

#4065 feat: 增加json请求超时限制
  src/MaaWpfGui/Helper/WebService.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
Labels: MAA Team

#4071 Revert "feat: 增加json请求超时限制"
  src/MaaWpfGui/Helper/WebService.cs
  src/MaaWpfGui/Main/CopilotViewModel.cs
Labels: MAA Team

#4090 fix: set the params after controller created
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/Controller.h
Labels: MAA Team

#4095 fix: add timeout for IOHandler read
  src/MaaCore/Controller/MinitouchController.cpp
  src/MaaCore/Controller/Platform/AdbLiteIO.cpp
  src/MaaCore/Controller/Platform/AdbLiteIO.h
  src/MaaCore/Controller/Platform/PlatformIO.h
  src/MaaCore/Controller/Platform/PosixIO.cpp
  src/MaaCore/Controller/Platform/PosixIO.h
  src/MaaCore/Controller/Platform/Win32IO.cpp
  src/MaaCore/Controller/Platform/Win32IO.h
Labels: MAA Team

#4093 fix: clientKR Roguelike@Dropsflag update
  resource/global/YoStarKR/resource/template/Roguelike@DropsFlag.png
Labels: module: roguelike

#4088 refactor: 从curl迁移到libcpr
  CMakeLists.txt
  resource/config.json
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/ReportDataTask.cpp
  src/MaaCore/Task/ReportDataTask.h
  src/MaaCore/Utils/Http.hpp
Labels: MAA Team

#4100 fix: proxy default protocol / start location
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: MAA Team

#4104 繁中服更新塵影餘音
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#4112 修改活動導航入口
  resource/global/txwy/resource/tasks.json
Labels: ambiguous

#4109 fix: fallback to NativeIO when AdbLite not inited
  src/MaaCore/Controller/Platform/AdbLiteIO.cpp
Labels: MAA Team
