Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2023-04, with the labels that each got.

#4142 Doc : Update 夕景に影ありて + また会えたね (JP)
  docs/glossary/operators.md
Labels: documentation, Client: JP

#4151 修复连接错误和闪退
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/ControllerFactory.h
Labels: module: core, MAA Team

#4154 fix: 修复傀影肉鸽开局招募闪退问题
  resource/roguelike/recruitment.json
Labels: module: roguelike

#4176 doc: 同步官网修改
  README.md
Labels: documentation

#4174 Add auto dark mode
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
Labels: module: GUI

#4161 feat: 初步实现MacController
  src/MaaCore/Assistant.cpp
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/ControllerAPI.h
  src/MaaCore/Controller/ControllerFactory.h
  src/MaaCore/Controller/PlayToolsController.cpp
  src/MaaCore/Controller/PlayToolsController.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
Labels: macOS

#4207 Release v4.13.0
  CHANGELOG.md
  CMakeLists.txt
  resource/config.json
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/StartSettingsUserControl.xaml
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team, release

#4210 fix: 过滤中坚信物
  tools/ResourceUpdater/main.cpp
Labels: module: depot

#4246 perf: 简化肉鸽编队界面的选中识别
  resource/tasks.json
  src/MaaCore/Vision/Roguelike/RoguelikeFormationImageAnalyzer.cpp
Labels: module: roguelike

#4200 perf: 改用HandyControls
  README.md
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Helper/MessageBoxHelper.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/DepotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/RecruitViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml
  src/MaaWpfGui/Views/UI/RootView.xaml
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: GUI

#4241 Feat: 新增不期而遇插件，优化招募与战斗策略
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
  resource/roguelike/stage_encounter.json
  resource/tasks.json
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
Labels: module: roguelike

#4280 fix: reinit minitouch when reconnect
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/Controller/MinitouchController.cpp
  src/MaaCore/Controller/MinitouchController.h
Labels: MAA Team

#4300 Release v4.14.0
  CHANGELOG.md
  src/MaaCore/Config/TemplResource.cpp
  src/MaaWpfGui/Services/StageManager.cs
Labels: MAA Team, release

#4307 fix: 修复12章活动期间需要确认两次 & StartButton2偶尔点不上
  resource/tasks.json
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
Labels: MAA Team

#4309 fix: 修复最小化和在DarkMode下的问题
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml
Labels: module: GUI

#4312 Release v4.14.1
  CHANGELOG.md
  resource/Arknights-Tile-Pos/hard_12-01-obt-hard-level_hard_12-01.json
  resource/Arknights-Tile-Pos/hard_12-02-obt-hard-level_hard_12-02.json
  resource/Arknights-Tile-Pos/hard_12-03-obt-hard-level_hard_12-03.json
  resource/Arknights-Tile-Pos/hard_12-04-obt-hard-level_hard_12-04.json
  resource/Arknights-Tile-Pos/lt_07_01-obt-legion-lt07-level_lt07_01.json
  resource/Arknights-Tile-Pos/lt_07_02-obt-legion-lt07-level_lt07_02.json
  resource/Arknights-Tile-Pos/lt_07_03-obt-legion-lt07-level_lt07_03.json
  resource/Arknights-Tile-Pos/lt_07_04-obt-legion-lt07-level_lt07_04.json
  resource/Arknights-Tile-Pos/lt_07_05-obt-legion-lt07-level_lt07_05.json
  resource/Arknights-Tile-Pos/lt_07_06-obt-legion-lt07-level_lt07_06.json
  resource/Arknights-Tile-Pos/lt_08_01-obt-legion-lt08-level_lt08_01.json
  resource/Arknights-Tile-Pos/lt_08_02-obt-legion-lt08-level_lt08_02.json
  resource/Arknights-Tile-Pos/lt_08_03-obt-legion-lt08-level_lt08_03.json
  resource/Arknights-Tile-Pos/lt_08_04-obt-legion-lt08-level_lt08_04.json
  resource/Arknights-Tile-Pos/lt_08_05-obt-legion-lt08-level_lt08_05.json
  resource/Arknights-Tile-Pos/lt_08_06-obt-legion-lt08-level_lt08_06.json
  resource/Arknights-Tile-Pos/overview.json
  resource/Arknights-Tile-Pos/ro2_b_7-obt-roguelike-ro2-level_rogue2_b-7.json
  resource/Arknights-Tile-Pos/ro2_e_1_5-obt-roguelike-ro2-level_rogue2_1-5.json
  resource/Arknights-Tile-Pos/ro2_e_2_6-obt-roguelike-ro2-level_rogue2_2-6.json
  resource/Arknights-Tile-Pos/ro2_e_3_8-obt-roguelike-ro2-level_rogue2_3-8.json
  resource/Arknights-Tile-Pos/ro2_e_4_8-obt-roguelike-ro2-level_rogue2_4-8.json
  resource/Arknights-Tile-Pos/ro2_e_5_8-obt-roguelike-ro2-level_rogue2_5-8.json
  resource/Arknights-Tile-Pos/ro2_n_1_5-obt-roguelike-ro2-level_rogue2_1-5.json
  resource/Arknights-Tile-Pos/ro2_n_2_6-obt-roguelike-ro2-level_rogue2_2-6.json
  resource/Arknights-Tile-Pos/ro2_n_3_8-obt-roguelike-ro2-level_rogue2_3-8.json
  resource/Arknights-Tile-Pos/ro2_n_4_8-obt-roguelike-ro2-level_rogue2_4-8.json
  resource/Arknights-Tile-Pos/ro2_n_5_8-obt-roguelike-ro2-level_rogue2_5-8.json
  resource/battle_data.json
Labels: MAA Team, release

#4317 繁中服 綠野幻夢活動
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/tasks.json
Labels: Client: ZH_TW

#4316 fix: 修复UI Theme跟随应用模式后的非预期同步
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: GUI

#4329 fix: 肉鸽骑士结局无法自动作战（Issue #4320），更新了新地图
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
Labels: module: roguelike

#4305 feat: 为 MaaCore 添加神秘代码支持
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Miscellaneous/CopilotConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/ReportDataTask.h
  src/MaaCore/Utils/NoWarningCPR.h
Labels: MAA Team

#4367 新增保全作业
  resource/copilot/SSS_约翰老妈新建地块.json
Labels: module: copilot, MAA Team, ambiguous

#4373 feat: 为 Config 文件写入添加锁
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
Labels: MAA Team

#4352 feat: UiColor适配DarkMode & feat: 在主界面保存位置时进行检查
  src/MaaWpfGui/Constants/UILogColor.cs
  src/MaaWpfGui/Helper/ThemeHelper.cs
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
  src/MaaWpfGui/Styles/Controls/TextBlock.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
Labels: module: GUI, module: copilot

#4376 perf: 更新内置保全作业JSON
  resource/copilot/SSS_约翰老妈新建地块.json
Labels: module: copilot, MAA Team

#4293 根据自定义配置修改订单/产物种类
  resource/tasks.json
  resource/template/ChooseBattleRecord.png
  resource/template/ChooseMoneyOrder.png
  resource/template/ChooseOriginiumShard.png
  resource/template/ChooseOriginiumShardTab.png
  resource/template/ChooseProductList.png
  resource/template/ChoosePureGold.png
  resource/template/ChoosePureGoldTab.png
  resource/template/ChooseSyntheticJadeOrder.png
  resource/template/ClickProductMax.png
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Task/Infrast/InfrastProductionTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: infrast, module: GUI

#4384 Operator add for KR
  docs/glossary/operators.md
  resource/global/YoStarKR/resource/tasks.json
Labels: ambiguous

#4390 Add missing comma
  resource/global/YoStarKR/resource/tasks.json
Labels: ambiguous

#4396 feat: 新增保全雷神工业测试平台作业
  resource/copilot/SSS_雷神工业测试平台.json
Labels: module: copilot

#4401 修复约翰老妈保全关卡混乱“派对”的识别错误
  resource/tasks.json
Labels: ambiguous

#4403 Update SSS_约翰老妈新建地块.json
  resource/copilot/SSS_约翰老妈新建地块.json
Labels: MAA Team, ambiguous

#4405 chore: 优化雷神工业测试平台作业
  resource/copilot/SSS_雷神工业测试平台.json
Labels: module: copilot

#4382 fix: 改进掉落识别中的 `analyze_baseline`
  resource/tasks.json
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
Labels: module: drop

#4406 chore: 优化雷神工业测试平台作业
  resource/copilot/SSS_雷神工业测试平台.json
Labels: module: copilot

#4408 fix: 打开 debug 模式下的任务 JustReturn 检查
  resource/tasks.json
  src/MaaCore/Config/TaskData.cpp
Labels: MAA Team

#4410 feat: 优化肉鸽编队逻辑
  resource/roguelike/recruitment.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Vision/OcrWithFlagTemplImageAnalyzer.cpp
  src/MaaCore/Vision/OcrWithFlagTemplImageAnalyzer.h
  src/MaaCore/Vision/Roguelike/RoguelikeFormationImageAnalyzer.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeFormationImageAnalyzer.h
Labels: module: roguelike

#4368 feat: 干员识别
  resource/tasks.json
  resource/template/OperBoxEnter.png
  resource/template/OperBoxFlagLV.png
  resource/template/OperBoxRoleTab.png
  resource/template/OperBoxRoleTabSelect.png
  src/MaaCore/Assistant.cpp
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.cpp
  src/MaaCore/Config/Miscellaneous/BattleDataConfig.h
  src/MaaCore/Controller/ControllerFactory.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/OperBoxTask.cpp
  src/MaaCore/Task/Interface/OperBoxTask.h
  src/MaaCore/Task/Miscellaneous/OperBoxRecognitionTask.cpp
  src/MaaCore/Task/Miscellaneous/OperBoxRecognitionTask.h
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Vision/Miscellaneous/OperBoxImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/OperBoxImageAnalyzer.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: module: core

#4419 fix typo in CopilotTip
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: copilot, ambiguous

#4418 chore: 优化约翰老妈保全
  resource/copilot/SSS_约翰老妈新建地块.json
Labels: MAA Team

#4428 chore: 优化约翰老妈保全
  resource/copilot/SSS_约翰老妈新建地块.json
Labels: MAA Team

#4433 feat: 支持识别并选择临时招募干员
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
  resource/roguelike/stage_encounter.json
  resource/tasks.json
  resource/template/Roguelike@TempRecruitFlag.png
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeRecruitImageAnalyzer.cpp
Labels: module: roguelike

#4489 繁中服 保全物件/傀影關卡識別
  resource/global/txwy/resource/tasks.json
Labels: ambiguous, Client: ZH_TW

#4491 繁中服 傀影肉鴿道具
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, ambiguous, Client: ZH_TW

#4504 Doc : JP Update EPISODE11「淬火煙塵」
  docs/glossary/operators.md
Labels: documentation, Client: JP

#4506 Doc : Add EPISODE11 Depot
  docs/glossary/items.md
Labels: ambiguous, module: depot

#4508 chore: 通过 CI 更新游戏资源
  .github/workflows/res-update-game.yml
  tools/ResourceUpdater/ResourceUpdater.vcxproj
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#4524 chore: 再再优化保全雷神工业作业
  resource/copilot/SSS_雷神工业测试平台.json
Labels: module: copilot

#4528 新增 雷神保全 浊蒂版
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: ambiguous

#4530 perf: 更多的惰性加载！
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.cpp
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.h
  src/MaaCore/Config/Miscellaneous/OcrPack.cpp
  src/MaaCore/Config/Miscellaneous/StageDropsConfig.cpp
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/StageManager.cs
Labels: MAA Team

#4522 fix: 部分肉鸽地图无法正确部署
  resource/roguelike/copilot.json
  resource/roguelike/recruitment.json
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike

#4537 Update SSS_雷神工业测试平台_浊蒂版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: ambiguous

#4552 Update SSS_雷神工业测试平台_浊蒂版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: ambiguous

#4561 chore: 只在源码相关文件被修改时才触发 build CI
  .github/workflows/ci.yml
Labels: MAA Team

#4563 Update SSS_雷神工业测试平台_浊蒂版.json
  resource/copilot/SSS_雷神工业测试平台_浊蒂版.json
Labels: ambiguous

#4565 chore: CI 冒烟测试
  .github/workflows/dev-build-linux.yml
  .github/workflows/dev-build-mac.yml
  .github/workflows/dev-build-win.yml
  .github/workflows/smoke-testing.yml
  src/Cpp/MaaSample.slnf
Labels: MAA Team

#4572 Release v4.16.0-rc.2
  CHANGELOG.md
  resource/tasks.json
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
Labels: MAA Team, release
