Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-09, with the labels that each got.

#10414 fix: Reclamation for YostarJP
  resource/global/YoStarJP/resource/tasks.json
  resource/tasks.json
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: client: JP, module: reclamation

#10407 refactor: 重构 FightSettingsUserControl
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: module: fight, MAA Team

#10395 feat: 外部通知支持多选
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/Services/Notification/TelegramNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#10020 fix: OTA打包时对跳过的版本做删除处理
  tools/OTAPacker/build.sh
Labels: MAA Team

#10385 perf: 全肉鸽招募适配娜仁图亚、艾拉
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike

#10331 feat: 适配「词祭」界面主题
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Mall.png
  resource/global/YoStarEN/resource/template/MallDark.png
  resource/global/YoStarEN/resource/template/MallMistCity.png
  resource/global/YoStarEN/resource/template/MallSami.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Mall.png
  resource/global/YoStarJP/resource/template/MallDark.png
  resource/global/YoStarJP/resource/template/MallMistCity.png
  resource/global/YoStarJP/resource/template/MallSami.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Mall.png
  resource/global/YoStarKR/resource/template/MallDark.png
  resource/global/YoStarKR/resource/template/MallMistCity.png
  resource/global/YoStarKR/resource/template/MallSami.png
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Mall.png
  resource/global/txwy/resource/template/MallDark.png
  resource/global/txwy/resource/template/MallSami.png
  resource/tasks.json
  resource/template/DepotEnterSarkaz.png
  resource/template/EnterInfrastSarkaz.png
  resource/template/FriendsSarkaz.png
  resource/template/GachaEnterSarkaz.png
  resource/template/Mall.png
  resource/template/MallDark.png
  resource/template/MallMistCity.png
  resource/template/MallSami.png
  resource/template/MallSarkaz.png
  resource/template/MallSiege.png
  resource/template/OperBoxEnterSarkaz.png
  resource/template/RecruitSarkaz.png
  resource/template/TaskSarkaz.png
  resource/template/TerminalSarkaz.png
  tools/GetImageFromROI/cutter.py
  tools/GetImageFromROI/main.py
  tools/GetImageFromROI/start.bat
  tools/GetImageFromROI/updater.py
Labels: module: others, MAA Team, client: ZH_TW

#10411 feat: 生息演算模式 1 道具组装任务链插件化
  resource/tasks.json
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Reclamation/AbstractReclamationTaskPlugin.cpp
  src/MaaCore/Task/Reclamation/AbstractReclamationTaskPlugin.h
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationBattlePlugin.h
  src/MaaCore/Task/Reclamation/ReclamationConclusionReportPlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationConclusionReportPlugin.h
  src/MaaCore/Task/Reclamation/ReclamationConfig.cpp
  src/MaaCore/Task/Reclamation/ReclamationConfig.h
  src/MaaCore/Task/Reclamation/ReclamationControlTask.cpp
  src/MaaCore/Task/Reclamation/ReclamationControlTask.h
  src/MaaCore/Task/Reclamation/ReclamationCraftTaskPlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationCraftTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ReclamationSettingsUserControl.xaml
Labels: module: roguelike, module: reclamation

#10423 chore: YostarKR CR stage navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#10429 chore: YostarJP CR navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#10427 feat: 适配「滋味」界面主题
  resource/tasks.json
  resource/template/DepotEnterDelicious.png
  resource/template/EnterInfrastDelicious.png
  resource/template/FriendsDelicious.png
  resource/template/GachaEnterDelicious.png
  resource/template/MallDelicious.png
  resource/template/OperBoxEnterDelicious.png
  resource/template/RecruitDelicious.png
  resource/template/TaskDelicious.png
  resource/template/TerminalDelicious.png
  tools/OverseasClients/FindMissingTemplates.py
Labels: MAA Team

#10446 docs: 添加缺失的生息演算参数
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
Labels: documentation, MAA Team, module: reclamation

#9865 chore(tools): 查找肉鸽招募中未提及的干员
  tools/RoguelikeOperSearch/.gitignore
  tools/RoguelikeOperSearch/RoguelikeOperSearch.py
Labels: module: roguelike

#10445 docs: 添加缺少的 HSV 文档
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/protocol/task-schema.md
  docs/zh-tw/protocol/task-schema.md
  tools/MaskRangeTool/main.py
  tools/MaskRangeTool/start.bat
Labels: documentation, MAA Team

#10442 perf: 全肉鸽招募适配玛露西尔
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike

#10457 chore: 移除错误的基建作业
  resource/custom_infrast/252_layout_3_times_a_day.json
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: infrast, MAA Team

#10453 ci: 当仅 version.json 的 last_updated 有变动时，回退对应服务器所有资源文件改动
  .github/workflows/res-update-game.yml
  tools/ResourceUpdateValidator/index.mjs
Labels: MAA Team

#10439 fix: 界面更新后悖论模拟无法开始战斗
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/BattleStartSimulation.png
  tools/OptimizeTemplates/optimize_templates.json
Labels: module: fight, MAA Team

#10458 refactor: 重构CheckAfterCompleted，添加睡眠
  src/MaaWpfGui/Models/PostActionSetting.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/States/RunningState.cs
  src/MaaWpfGui/Utilities/SleepManagement.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/AfterActionUserControl.xaml
Labels: MAA Team

#10434 ci: 更新 issue-checker
  .github/issue-checker.yml
  .github/workflows/issue-checker.yml
Labels: MAA Team

#10482 fix: 生息演算将"Tales@RA@FinishCalc"的roi回退到第二次refactor前
  resource/tasks.json
Labels: module: reclamation

#10484 ci: 修复 bug
  tools/ResourceUpdateValidator/index.mjs
Labels: MAA Team

#10483 feat: YostarKR siege theme
  resource/global/YoStarKR/resource/template/GachaEnterSiege.png
  resource/global/YoStarKR/resource/template/MallSiege.png
  resource/global/YoStarKR/resource/template/RecruitSiege.png
Labels: MAA Team, client: KR

#10485 chore: YostarJP siege theme
  resource/global/YoStarJP/resource/template/GachaEnterSiege.png
  resource/global/YoStarJP/resource/template/MallSiege.png
  resource/global/YoStarJP/resource/template/RecruitSiege.png
Labels: client: JP

#10487 chore: YostarJP CR new operators ocr
  resource/global/YoStarJP/resource/ocr_config.json
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#10488 chore: YostarKR CR new operators ocr
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#10490 fix: convert a Symbol value to a string
  tools/ResourceUpdateValidator/index.mjs
Labels: MAA Team, client: EN, client: ZH_TW, client: JP, client: KR

#10424 feat: date format language based
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-mumu-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  MAA.sln.DotSettings
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Extensions/DateTimeExtension.cs
  src/MaaWpfGui/Helper/LocalizationHelper.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Properties/BuildDateTimeAttribute.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
Labels: MAA Team, client: EN

#10472 ci: 更新 issue checker 配置并补充注释
  .github/issue-checker.yml
Labels: MAA Team

#10501 Add JP「オペレーション ルーセントアローヘッド」
  docs/glossary/ja-jp.json
Labels: ambiguous, translation required

#10498 fix: Reclamation for Yostar servers
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
Labels: module: reclamation

#10493 perf: resource updater validator in native powershell
  .github/workflows/res-update-game.yml
  tools/ResourceUpdateValidator/script.ps1
Labels: MAA Team

#10510 docs: update glossary
  docs/glossary/en-us.json
  docs/glossary/ja-jp.json
  docs/glossary/ko-kr.json
  docs/glossary/zh-cn.json
Labels: documentation, module: others, MAA Team

#10509 ci: create macOS runtime files in CI
  .github/workflows/ci.yml
  .github/workflows/release-ota.yml
Labels: MAA Team, client: MacGui

#10478 ci: issue-checker 补全生息演算 lable 关键字
  .github/issue-checker.yml
Labels: module: reclamation

#10441 perf: 优化傀影肉鸽雕匠与石像部署策略
  resource/roguelike/Phantom/autopilot/雕匠与石像.json
Labels: module: roguelike

#10552 docs: 肉鸽文档招募 offset 添加默认值描述
  docs/en-us/protocol/integrated-strategy-schema.md
  docs/zh-cn/protocol/integrated-strategy-schema.md
Labels: documentation, module: roguelike, MAA Team, translation required

#10536 perf: 拆分技能识别与使用
  MAA.sln.DotSettings
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
Labels: MAA Team

#10464 fix: 修复生息演算任务中的若干问题
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Tales@RA@Navigation-FromTodoList.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Tales@RA@Navigation-FromTodoList.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Tales@RA@Navigation-FromTodoList.png
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/Tales@RA@Navigation-FromTodoList.png
Labels: module: fight, client: EN, module: reclamation

#10554 fix: Reclamation scroll down
  resource/tasks.json
Labels: module: reclamation

#10001 refactor: 重构 ProcessTask
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Task/ProcessTask.h
Labels: MAA Team

#10560 i18n: KR tweaked translations
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: MAA Team

#10566 feat: new theme for txwy
  resource/global/txwy/resource/template/DepotEnterDark.png
  resource/global/txwy/resource/template/DepotEnterMistCity.png
  resource/global/txwy/resource/template/DepotEnterSami.png
  resource/global/txwy/resource/template/EnterInfrastDark.png
  resource/global/txwy/resource/template/EnterInfrastMistCity.png
  resource/global/txwy/resource/template/EnterInfrastSami.png
  resource/global/txwy/resource/template/FriendsDark.png
  resource/global/txwy/resource/template/FriendsMistCity.png
  resource/global/txwy/resource/template/FriendsSami.png
  resource/global/txwy/resource/template/GachaEnterDark.png
  resource/global/txwy/resource/template/GachaEnterMistCity.png
  resource/global/txwy/resource/template/GachaEnterSami.png
  resource/global/txwy/resource/template/MallMistCity.png
  resource/global/txwy/resource/template/OperBoxEnterDark.png
  resource/global/txwy/resource/template/OperBoxEnterMistCity.png
  resource/global/txwy/resource/template/OperBoxEnterSami.png
  resource/global/txwy/resource/template/RecruitDark.png
  resource/global/txwy/resource/template/RecruitMistCity.png
  resource/global/txwy/resource/template/RecruitSami.png
  resource/global/txwy/resource/template/TaskDark.png
  resource/global/txwy/resource/template/TaskMistCity.png
  resource/global/txwy/resource/template/TaskSami.png
  resource/global/txwy/resource/template/TerminalDark.png
  resource/global/txwy/resource/template/TerminalMistCity.png
  resource/global/txwy/resource/template/TerminalSami.png
  resource/tasks.json
Labels: module: infrast, client: ZH_TW, module: depot

#10570 ci: 机器人也想要 verified
  .github/workflows/gen-changelog.yml
Labels: MAA Team

#10565 chore: 添加移动 MAA.exe 的解决方案
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
Labels: MAA Team

#10541 perf: 优化傀影肉鸽覆水难收撤退策略
  resource/roguelike/Phantom/autopilot/覆水难收.json
Labels: module: roguelike, MAA Team

#10572 docs: 更新 google play beta 开发者模拟器相关文档
  docs/en-us/manual/device/windows.md
  docs/zh-cn/manual/device/windows.md
Labels: documentation, MAA Team

#10562 feat: time diff log output and notification
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team

#10556 fix: 修正生息演算滑动参数，为离开区域节点相关任务添加回滚
  resource/tasks.json
Labels: module: reclamation

#10571 perf: 优化 connect 逻辑
  src/MaaCore/Controller/AdbController.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#10593 docs: 修正容器的默认标题介绍
  docs/zh-cn/develop/documentation-guidelines.md
Labels: documentation

#10576 perf: 优化萨米肉鸽半吊子之旅部署策略
  resource/roguelike/Sami/autopilot/半吊子之旅.json
Labels: module: roguelike

#10606 perf: 使用 devices 判断是否需要连接
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
Labels: MAA Team

#10609 fix: macOS build script
  tools/build_macos_universal.zsh
Labels: module: others, client: MacGui

#10610 i18n: RA2 replace brush with farm
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: reclamation

#10613 perf: 傀影肉鸽优化雕匠与石像作战策略
  resource/roguelike/Phantom/autopilot/雕匠与石像.json
Labels: module: roguelike

#9680 feat: 移除在非windows上locale的实现
  src/MaaCore/Utils/Locale.hpp
  src/MaaCore/Utils/Logger.hpp
Labels: client: MacGui

#10618 chore: fix txwy 琳瑯詩懷雅 ocr
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#10601 fix: 配置问题
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: MAA Team

#10620 chore: 更新繁中服「日間」主題介面截圖
  resource/global/txwy/resource/template/DepotEnter.png
  resource/global/txwy/resource/template/EnterInfrast.png
  resource/global/txwy/resource/template/Friends.png
  resource/global/txwy/resource/template/GachaEnter.png
  resource/global/txwy/resource/template/Mall.png
  resource/global/txwy/resource/template/OperBoxEnter.png
  resource/global/txwy/resource/template/Recruit.png
  resource/global/txwy/resource/template/Task.png
  resource/global/txwy/resource/template/Terminal.png
Labels: module: infrast, client: ZH_TW

#10624 Release v5.6.2
  CHANGELOG.md
  resource/global/txwy/resource/template/DepotEnter.png
  resource/global/txwy/resource/template/EnterInfrast.png
  resource/global/txwy/resource/template/Friends.png
  resource/global/txwy/resource/template/GachaEnter.png
  resource/global/txwy/resource/template/Mall.png
  resource/global/txwy/resource/template/OperBoxEnter.png
  resource/global/txwy/resource/template/Recruit.png
  resource/global/txwy/resource/template/Task.png
  resource/global/txwy/resource/template/Terminal.png
  resource/stages.json
  resource/version.json
  src/MaaCore/Controller/AdbController.cpp
  tools/OptimizeTemplates/optimize_templates.json
Labels: MAA Team, release

#10460 feat: capture fresh image
  resource/tasks.json
  src/MaaCore/Assistant.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/MaaService.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: MAA Team

#10646 feat: CV-4 navigation
  resource/tasks.json
Labels: MAA Team

#10648 chore: YostarKR ocr fix
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#10641 perf: 优化 RecognizerViewModel
  resource/tasks.json
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: MAA Team

#10675 chore: 更新 bug-issue 模板
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#10680 perf: 开始唤醒增加资源更新Ocr
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  resource/tasks.json
Labels: MAA Team, client: EN, module: core

#10683 feat(perf): multithreaded resource updater
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#10684 Revert "feat(perf): multithreaded resource updater"
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#10686 fix: 调整肉鸽 StageTraderRefreshWithDice 任务的 roi 参数
  resource/tasks.json
Labels: module: roguelike

#10689 refactor: ResourceUpdater tweaks and code optimizations
  .github/workflows/res-update-game.yml
  tools/ResourceUpdater/main.cpp
  tools/ResourceUpdater/penguin_stages.ps1
  tools/ResourceUpdater/penguin_stages.sh
Labels: MAA Team

#10678 fix: 繁中服干员Ocr辨識更新 煌、艾雅法拉、涤火杰西卡、史尔特尔、湮滅之相
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#10701 perf: switch to StageSideStory.png for OD YostarKR
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/OD-Open.png
Labels: MAA Team, client: KR

#10702 feat: 为战斗界面识别模块添加部署费用左侧图标的识别
  resource/tasks.json
  resource/template/BattleCostFlag.png
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.h
Labels: module: fight

#10659 docs: LD screenshot JP translate
  docs/ja-jp/manual/connection.md
  docs/ja-jp/manual/device/windows.md
Labels: documentation

#10465 fix: 肉鸽重新编队应在首页执行
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
Labels: module: roguelike
