Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-02, with the labels that each got.

#8124 feat: SideStory「怀黍离」导航
  resource/tasks.json
Labels: MAA Team

#8159 feat: 连战次数选择
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: MAA Team

#8133 ci: 更新使用的Node版本至最新的LTS版本
  .github/workflows/ci.yml
  .github/workflows/docs-build-test.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#8184 chore: YoStarJP ocr fix #8180
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#7659 feat: 新增只购买折扣信用商品（白名单商品除外）的选项和少于300信用点停止购物的选项
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/3.1-統合ドキュメント.md
  docs/ko-kr/3.1-연동.md
  docs/zh-tw/3.1-集成文件.md
  docs/协议文档/集成文档.md
  resource/tasks.json
  src/MaaCore/Task/Interface/MallTask.cpp
  src/MaaCore/Task/Miscellaneous/CreditShoppingTask.cpp
  src/MaaCore/Task/Miscellaneous/CreditShoppingTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/MallSettingsUserControl.xaml
Labels: module: others

#8194 chore: YoStarJP ocr fix shamare, ansel, nien
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8206 chore: 更新界面文字
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#8214 chore: Update zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team

#8218 chore: Update zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team

#8236 chore: YoStarKR ocr fix
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8239 chore: YoStarKR update StageAnnihilation.png
  resource/global/YoStarKR/resource/template/StageAnnihilation.png
Labels: client: KR

#8235 docs: modified ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: documentation

#8177 perf: 优化肉鸽投资速度
  resource/tasks.json
  resource/template/Roguelike@StageTraderInvest-Arrow.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, MAA Team

#8233 fix: 修复没有赠送次数时单抽任务报错的问题
  resource/tasks.json
Labels: MAA Team

#8263 chore: YoStarJP 理想都市 navigation
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/ICChapterToIC.png
Labels: client: JP

#8265 chore: YoStarKR 理想都市 navigation
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/ICChapterToIC.png
Labels: client: KR

#8260 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8204 fix: 写剪贴板时应该用Unicode而不是ANSI
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
Labels: client: WpfGui

#8268 perf: 肉鸽投资后结束本次战斗
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#8273 perf: 肉鸽适配新干员用法
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#8061 feat: 远程控制对非 https 连接仅提出警告
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
Labels: module: others, MAA Team

#8223 feat: 合成玉签到task
  resource/tasks.json
  resource/template/OrundumActivitiesClick.png
  resource/template/OrundumActivitiesConfirm.png
  resource/template/OrundumActivitiesEarnRewards.png
  src/MaaCore/Task/Interface/AwardTask.cpp
  src/MaaCore/Task/Interface/AwardTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AwardSettingsUserControl.xaml
Labels: module: recruit, MAA Team

#8280 fix: 启动时连续截图出错10次导致MAA崩溃
  src/MaaCore/Controller/AdbController.cpp
Labels: MAA Team

#8283 docs: 更新文档
  docs/协议文档/远程控制协议.md
  docs/用户手册/常见问题.md
  docs/用户手册/模拟器和设备支持/Android实体设备.md
  docs/用户手册/模拟器和设备支持/Linux模拟器.md
  docs/用户手册/模拟器和设备支持/Mac模拟器.md
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
  docs/用户手册/详细介绍.md
Labels: documentation

#8275 perf: 优化待部署区识别，减少CPU占用
  src/MaaCore/Task/BattleHelper.cpp
Labels: module: fight, MAA Team

#8288 fix: 修复自动检测失败时可能导致WpfGui崩溃
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: client: WpfGui, MAA Team

#8295 chore: YoStarKR add training template image and text
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Training.png
  resource/global/YoStarKR/resource/template/TrainingMini.png
Labels: client: KR

#8302 ci: added regex for module-reclamation
  .github/issue-checker.yml
Labels: MAA Team

#8308 docs: 更新连战文档
  docs/index.md
  docs/用户手册/常见问题.md
  docs/用户手册/详细介绍.md
Labels: documentation

#8207 perf: 优化基建领取专精
  resource/tasks.json
  src/MaaCore/Task/Infrast/InfrastTrainingTask.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: infrast

#8313 Release v5.1.0
  .github/issue-checker.yml
  .github/workflows/docs-build-test.yml
  CHANGELOG.md
  docs/.vuepress/styles/palette.scss
  docs/index.md
  docs/package-lock.json
  docs/package.json
  docs/用户手册/常见问题.md
  docs/用户手册/详细介绍.md
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Training.png
  resource/global/YoStarKR/resource/template/TrainingMini.png
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/tasks.json
  resource/version.json
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team, release

#8326 fix: 修复投资系统出错时，余额ocr可能出错
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#8336 fix: 修复部分情况下待部署区干员无法正确识别为冷却中
  resource/tasks.json
Labels: MAA Team

#8337 perf: 如果待部署区未识别干员全部为冷却中，则跳过暂停识别
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#8082 fix: 自动战斗-战斗列表的突袭关描述从`Adverse`修正为`Raid`
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot, MAA Team

#8351 chore: YoStarJP training template
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Training.png
  resource/global/YoStarJP/resource/template/TrainingMini.png
Labels: client: JP

#8355 docs: 用户手册补充备选关卡相关
  docs/用户手册/详细介绍.md
Labels: documentation, MAA Team

#8366 fix: 修复部分角色冷却识别错误
  resource/tasks.json
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
Labels: MAA Team

#8371 fix: 修复未识别到幸运墙时报错的问题
  resource/tasks.json
Labels: MAA Team

#8339 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team

#8359 chore: 增加连接配置项 CompatPOSIXShellWithoutScreencapErr
  resource/config.json
Labels: module: roguelike

#7904 feat: 支持肉鸽事件choice_require解析
  resource/roguelike/Sami/encounter.json
  resource/tasks.json
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
Labels: module: roguelike, MAA Team

#8389 perf: 将肉鸽开局干员组和开局干员移动至常规设置，未勾选`使用助战`时隐藏`可选非好友助战`
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#8387 perf: 结束后动作`仅一次`在执行后不恢复为`无动作`，而是上一次的选择项
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team

#8401 perf: 优化傀影肉鸽部分关卡策略
  resource/roguelike/Phantom/autopilot/再启新篇.json
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Phantom/autopilot/观察.json
Labels: module: roguelike, MAA Team

#8385 perf: asst.log中的输出使用相对路径取代绝对路径
  src/MaaCore/Config/AbstractConfig.cpp
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.cpp
  src/MaaCore/Config/Miscellaneous/OcrPack.cpp
  src/MaaCore/Config/OnnxSessions.cpp
  src/MaaCore/Config/TemplResource.cpp
Labels: MAA Team

#8393 perf: 优化自动编队逻辑
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: copilot, MAA Team

#8410 fix: 修复使用干员组切换技能用法失效
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
Labels: MAA Team

#8316 docs: 更新&重构文档
  README.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/en-us/2.4-PURE_WEB_PR_TUTORIAL.md
  docs/en-us/3.1-INTEGRATION.md
  docs/en-us/3.2-CALLBACK_SCHEMA.md
  docs/en-us/3.6-INFRASTRUCTURE_SCHEDULING_SCHEMA.md
  docs/en-us/3.7-SECURITY_PRESENCE_SCHEMA.md
  docs/en-us/readme.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/ko-kr/2.4-웹을_통한_풀리퀘스트_튜토리얼.md
  docs/ko-kr/3.1-연동.md
  docs/ko-kr/3.2-콜백_스키마.md
  docs/ko-kr/3.6-기반시설_예약_스키마.md
  docs/ko-kr/3.7-보안파견_스키마.md
  docs/ko-kr/readme.md
  docs/readme.md
  docs/zh-tw/1.1-詳細介紹.md
  docs/zh-tw/1.2-常見問題.md
  docs/zh-tw/2.2-開發相關.md
  docs/zh-tw/2.3-IssueBot使用方法.md
  docs/zh-tw/2.4-純網頁端PR教學.md
  docs/zh-tw/3.1-集成文件.md
  docs/zh-tw/3.2-回呼訊息協議.md
  docs/zh-tw/3.6-基建排班協議.md
  docs/zh-tw/3.7-保全派駐協議.md
  docs/zh-tw/readme.md
  docs/协议文档/保全派驻协议.md
  docs/协议文档/回调消息协议.md
  docs/协议文档/基建排班协议.md
  docs/协议文档/肉鸽辅助协议.md
  docs/协议文档/集成文档.md
  docs/开发文档/IssueBot使用方法.md
  docs/开发文档/开始开发.md
  docs/开发文档/纯网页端PR教程.md
  docs/用户手册/常见问题.md
  docs/用户手册/模拟器和设备支持/Android实体设备.md
  docs/用户手册/模拟器和设备支持/Linux模拟器.md
  docs/用户手册/模拟器和设备支持/Mac模拟器.md
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
  docs/用户手册/详细介绍.md
  src/MaaCore/Config/GeneralConfig.h
Labels: documentation

#8418 chore: YoStarKR modified ocrReplace and template image
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/DepotEnter.png
  resource/global/YoStarKR/resource/template/EnterInfrast.png
  resource/global/YoStarKR/resource/template/EnterOperator.png
  resource/global/YoStarKR/resource/template/Friends.png
  resource/global/YoStarKR/resource/template/GachaEnter.png
  resource/global/YoStarKR/resource/template/OperBoxEnter.png
  resource/global/YoStarKR/resource/template/Recruit.png
  resource/global/YoStarKR/resource/template/Task.png
  resource/global/YoStarKR/resource/template/Terminal.png
Labels: client: KR

#8423 chore: YoStarJP modified template image
  resource/global/YoStarJP/resource/template/DepotEnter.png
  resource/global/YoStarJP/resource/template/Recruit.png
  resource/global/YoStarJP/resource/template/Terminal.png
Labels: client: JP

#8408 feat: 刷开局模式增加萨米肉鸽生活队凹密文板
  resource/roguelike/Sami/encounter_for_deposit.json
  resource/tasks.json
  resource/template/Sami@Roguelike@LastRewardChoose.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#8437 docs: update glossary
  docs/glossary/class.md
  docs/glossary/items.md
  docs/glossary/operators.md
Labels: documentation

#8436 perf: 肉鸽开局干员 隐藏未实装干员
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, client: ZH_TW
