Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-01, with the labels that each got.

#7554 rft: dotnet8.0
  .github/workflows/ci.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/smoke-testing.yml
  MAA.sln
  qodana.yaml
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/PropertyChangedEventDetailArgs.cs
  src/MaaWpfGui/Helper/HttpResponseHelper.cs
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Helper/MessageBoxHelper.cs
  src/MaaWpfGui/Helper/ToastNotification.cs
  src/MaaWpfGui/Helper/WinAdapter.cs
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/MeoAsstGui.csproj.DotSettings
  src/MaaWpfGui/Services/Notification/DummyNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/Services/TrayIcon.cs
  src/MaaWpfGui/ViewModels/CopilotItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml.cs
  src/MaaWpfGui/Views/UI/RootView.xaml
  src/MaaWpfGui/Views/UserControl/ConfigurationMgrUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/RemoteControlUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml.cs
  tools/MaaBuilder/Builder/BuildParameters.cs
  tools/MaaBuilder/Builder/Job/Build.Job.Compile.cs
  tools/MaaBuilder/MaaBuilder.csproj
Labels: module: roguelike, client: WpfGui, MAA Team

#7868 perf: 优化截图耗时额外提示文本触发条件，改为由平均耗时触发
  src/MaaCore/Controller/AdbController.cpp
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#7846 perf: 优化刷理智-已开始战斗x次时临期理智药使用输出以增加可读性
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: fight, MAA Team

#7859 chore: YoStarJP roguelike nextlevel ocr
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, module: others, client: ZH_TW, client: JP

#7887 fix: 移除 StageEncounterClickToLeave 任务
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7888 chore: YoStarJP 塵影に交わる残響 復刻 navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#7894 chore: YoStarKR LE Stage navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#7895 chore: YoStarKR template image replacement
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEncounterOptionUnknown.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePassSkip1.png
Labels: client: KR

#7896 chore: YoStarKR LE stage navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#7897 chore: YoStarKR ocrReplace text replacement
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#7903 chore: 更新繁中服生息演算最後一天的日期
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: others, client: ZH_TW

#7901 chore: YoStarKR ocrReplace regex fix
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#7905 doc: 修复README的一处链接错误
  README.md
Labels: documentation

#7863 fix: 修复肉鸽-刷钱模式下仍然会在商店进行招募、购物的错误
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7924 perf:初步适配萨米肉鸽dlc关卡等
  resource/roguelike/Sami/autopilot/事不过四.json
  resource/roguelike/Sami/autopilot/人造物狂欢节.json
  resource/roguelike/Sami/autopilot/冰凝之所.json
  resource/roguelike/Sami/autopilot/恃强凌弱.json
  resource/roguelike/Sami/autopilot/还之彼身.json
  resource/roguelike/Sami/foldartal.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
Labels: module: roguelike, MAA Team

#7925 perf: 优化萨米肉鸽部分关卡逻辑
  resource/roguelike/Sami/autopilot/人造物狂欢节.json
  resource/roguelike/Sami/autopilot/恃强凌弱.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/还之彼身.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#7918 chore: 修改公招多选tag选项描述
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: recruit

#7934 perf: 优化肉鸽作战逻辑，使不能空放的干员技能不影响后续部署指令的执行
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#7935 perf: 优化萨米肉鸽部分关卡逻辑
  resource/roguelike/Sami/autopilot/咫尺天涯.json
Labels: module: roguelike, MAA Team

#7733 perf: update skill_ready_cls model
  skill_ready_cls.onnx
Labels: MAA Team

#7936 perf: 优化萨米肉鸽部分关卡逻辑
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/无中生钱.json
Labels: module: roguelike, MAA Team

#7939 perf: 优化萨米锏精二优先度
  resource/roguelike/Sami/recruitment.json
Labels: MAA Team

#7942 fix: 修复刷理智调整战斗次数时可能错误点击关卡报酬
  resource/tasks.json
  resource/template/FightSeries-Indicator.png
Labels: module: fight, MAA Team

#7866 Release v4.28.8
  .gitignore
  CHANGELOG.md
  README.md
  docs/en-us/1.5-EMULATOR_SUPPORTS_FOR_LINUX.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/readme.md
  docs/zh-tw/readme.md
  docs/用户手册/模拟器和设备支持/Linux模拟器.md
  resource/copilot/SSS_自走机械搏斗场_浊蒂重岳塞雷娅泥岩_速冷.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@StageEncounterOptionUnknown.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@GamePassSkip1.png
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/platform_diff/iOS/resource/tasks.json
  resource/roguelike/Sami/autopilot/事不过四.json
  resource/roguelike/Sami/autopilot/人造物狂欢节.json
  resource/roguelike/Sami/autopilot/冰凝之所.json
  resource/roguelike/Sami/autopilot/恃强凌弱.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/还之彼身.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/encounter_for_deposit.json
  resource/roguelike/Sami/foldartal.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
  resource/stages.json
  resource/tasks.json
  resource/template/FightSeries-Indicator.png
  resource/version.json
  src/MaaCore/Controller/Platform/Win32IO.cpp
  src/MaaCore/Task/Fight/DrGrandetTaskPlugin.cpp
  src/MaaCore/Utils/Platform/PlatformWin32.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaWpfGui/Helper/WindowManager.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/SyncRes/SyncRes.csproj
Labels: MAA Team, release

#7705 feat: 增加肉鸽刷开局模式下只凹精二选项
  docs/协议文档/集成文档.md
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike

#7889 i18n: translated some infrast log lines
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: module: infrast, MAA Team

#7960 chore: YoStarKR modified ocr text
  resource/global/YoStarKR/resource/tasks.json
Labels: module: copilot, client: KR

#7964 chore: YoStarJP AnnihilationReturnFlag.png
  resource/global/YoStarJP/resource/template/AnnihilationReturnFlag.png
Labels: client: JP

#7945 feat: 减少重复截图
  src/MaaCore/Task/Miscellaneous/ScreenshotTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/ScreenshotTaskPlugin.h
Labels: MAA Team

#7946 fix: 修复肉鸽烧水选择难度可能不对的问题
  resource/tasks.json
Labels: module: roguelike, MAA Team

#7954 feat: 允许插件停用ProcessTask
  src/MaaCore/Task/ProcessTask.cpp
Labels: MAA Team

#7788 chore: 修复基建排班的 JSON schema
  docs/maa-infra.schema.json
Labels: module: infrast

#7974 chore: YoStarKR added template image
  resource/global/YoStarKR/resource/template/AnnihilationReturnFlag.png
  resource/global/YoStarKR/resource/template/InfrastProcessing.png
  resource/global/YoStarKR/resource/template/InfrastProcessingMini.png
Labels: module: infrast, client: KR

#7980 fix: 修复#7733文件路径错误
  resource/onnx/skill_ready_cls.onnx
  skill_ready_cls.onnx
Labels: MAA Team

#7975 perf: Logger析构时不滚动日志
  src/MaaCore/Utils/Logger.hpp
Labels: client: WpfGui, MAA Team

#8004 chore: YoStarJP ReceiveMail.png
  resource/global/YoStarJP/resource/template/ReceiveMail.png
Labels: client: JP

#8008 docs: add korean operator name for so long adele
  docs/glossary/operators.md
Labels: documentation, client: KR

#8009 chore: YoStarKR add ReceiveMail.png
  resource/global/YoStarKR/resource/template/ReceiveMail.png
Labels: client: KR

#8015 chore: YoStarJP 火山と雲と夢色の旅路 navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8014 chore: YoStarKR modifiy tasks.json
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, client: KR

#8024 chore: YoStarKR ocr text update for SO LONG ADELE
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8028 fix(temp): skipping recruit YostarJP, until further fix
  tools/ResourceUpdater/main.cpp
Labels: module: recruit, MAA Team, client: JP

#8033 perf: 萨米肉鸽适配新干员用法
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#8011 perf: 优化wpf肉鸽结算输出格式 for i18n
  resource/global/YoStarEN/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, MAA Team

#7968 chore: YoStarJP operator name ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: fight, client: JP

#8038 chore: YoStarJP ocr fix Swire & Eyjafjalla Alter
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8047 docs: YoStarKR translation modify
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: documentation, client: KR

#8044 perf: 优化自动战斗部署栏识别条件，保全增加节能模式
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.h
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.h
Labels: module: copilot, MAA Team

#7726 feat: 肉鸽开局干员支持输入任意客户端对应名称
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#8069 chore: YoStarKR added some missing task
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8059 perf: 优化萨米事不过四策略
  resource/roguelike/Sami/autopilot/事不过四.json
Labels: MAA Team

#8070 chore: YoStarKR "CharsNameOcrReplace" modification
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8071 chore: 繁中服「吾導先路」復刻活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#8072 chore: YoStarKR ocrReplace modification (Infrast, Recruit, Roguelike)
  resource/global/YoStarKR/resource/tasks.json
Labels: module: infrast, module: roguelike, client: KR

#8074 chore: YoStarKR fixed ocr '紧急调遣' and '龙腾.(A/F/L)'
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8077 fix: YoStarJP ocr fix Chestnut, Bena
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8086 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8121 docs: moved version requirement for faster triaging
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: documentation, MAA Team
