Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-06, with the labels that each got.

#9268 feat: 生息演算支持制造物品刷点数
  resource/tasks.json
  resource/template/Reclamation2ExAdd.png
  resource/template/Reclamation2ExAssemblyStation.png
  resource/template/Reclamation2SkipDays1.png
  resource/template/Reclamation2SkipDays2.png
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ReclamationSettingsUserControl.xaml
Labels: MAA Team, module: reclamation

#9273 fix: 尝试修复生息演算不进入下一天
  resource/template/Reclamation2SkipDays1.png
Labels: module: reclamation

#9258 fix: 公招 `m_first_tag` 匹配个数少于 3 个时的非预期情况
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  tools/AutoLocalization/example/en-us_force.xaml
  tools/AutoLocalization/example/zh-cn.xaml
  tools/AutoLocalization/example/zh-cn_new.xaml
Labels: module: recruit, client: WpfGui

#9262 fix: 尝试修复肉鸽编队错误,max page误判时仍然重置回最左边
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9280 perf: 优化萨米肉鸽自然之怒ew部署
  resource/roguelike/Sami/autopilot/自然之怒.json
Labels: module: roguelike

#9276 fix: 尝试修复水月肉鸽卡数据回溯
  resource/tasks.json
  resource/template/Mizuki@Roguelike@DataTraceback.png
Labels: module: roguelike, MAA Team

#9260 perf: 在掉落不超出一页时，不额外滑动掉落列表及截图拼接
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.h
Labels: MAA Team

#9264 docs: fix a wrong link
  docs/readme.md
Labels: documentation

#9281 fix: 修复公招没有使用足量的加急许可
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
Labels: module: recruit

#9285 feat: 在理智恢复满时推送信息
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#9322 fix: 保全文件命名错误
  resource/copilot/SSS_多索雷斯商业地块_1.json
Labels: module: copilot, MAA Team

#9294 perf: 优化萨米肉鸽夺树者高台对boss输出策略
  resource/roguelike/Sami/autopilot/夺树者.json
Labels: module: roguelike

#9332 perf: 优化肉鸽shopping策略
  resource/roguelike/Mizuki/shopping.json
  resource/roguelike/Phantom/shopping.json
  resource/roguelike/Sami/shopping.json
Labels: module: roguelike, MAA Team

#9344 docs: 修正临时招募优先度描述错误
  docs/协议文档/肉鸽辅助协议.md
Labels: documentation, module: recruit

#9343 fix: depot analyzer to detect multipliers for KR
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
Labels: module: depot, client: KR

#9348 feat: 增加暂停放技能和暂停撤退
  resource/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#9363 fix: 战斗列表禁用包含非法字符的关卡名添加
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: fight, MAA Team

#9380 fix: 自动战斗跳过对话模板更新
  resource/template/SkipThePreBattlePlot.png
  resource/template/SkipThePreBattlePlotConfirm.png
Labels: module: copilot

#9377 chore: Amiya new promotion in RoguelikeBattleTaskPlugin
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike

#9400 perf: 优化萨米肉鸽棘刺技能携带
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike

#9426 chore: YoStarJP roguelike ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#9427 chore: YoStarJP RS navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9429 chore: 初步適配繁中服薩米肉鴿
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Sami@Roguelike@ChooseDifficulty.png
  resource/global/txwy/resource/template/Sami@Roguelike@Continue.png
  resource/global/txwy/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/txwy/resource/template/Sami@Roguelike@Foldartal.png
  resource/global/txwy/resource/template/Sami@Roguelike@GamePassSkip2.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDrop1.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDrop2.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDrop3.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDrop4.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDropLeave.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDropRecruit.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDropSelect.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDropSelectReward2.png
  resource/global/txwy/resource/template/Sami@Roguelike@LastRewardConfirm.png
  resource/global/txwy/resource/template/Sami@Roguelike@MapObject.png
  resource/global/txwy/resource/template/Sami@Roguelike@MissionFailedFlag.png
  resource/global/txwy/resource/template/Sami@Roguelike@MissionFailedFlag2.png
  resource/global/txwy/resource/template/Sami@Roguelike@RolesDefault.png
  resource/global/txwy/resource/template/Sami@Roguelike@SquadDefault.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageCombatDpsEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageDreadfulFoeEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageEmergencyDpsEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageEncounterEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageMysteriousPresageEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageTraderEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageTraderRefresh.png
  resource/global/txwy/resource/template/Sami@Roguelike@StartExplore.png
  resource/global/txwy/resource/template/Sami@Roguelike@TodoEnter.png
Labels: module: roguelike, client: ZH_TW

#9434 perf: 优化仓库识别结果展示，支持多语言显示
  src/MaaWpfGui/Helper/ItemListHelper.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: MAA Team, module: depot

#9439 docs: update arkntools name
  docs/en-us/protocol/callback-schema.md
  docs/ja-jp/protocol/callback-schema.md
  docs/ko-kr/protocol/callback-schema.md
  docs/ko-kr/readme.md
  docs/zh-cn/protocol/callback-schema.md
  docs/zh-tw/protocol/callback-schema.md
Labels: documentation

#9441 docs: fix image viewer
  docs/zh-cn/readme.md
Labels: documentation

#9447 chore: YoStarJP ocr fix 锏
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9446 fix: increase mask range for SkipThePreBattlePlotConfirm
  resource/tasks.json
Labels: module: fight, MAA Team

#9450 chore: 補充繁中服薩米肉鴿相關內容
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/txwy/resource/template/Sami@Roguelike@Foldartal.png
  resource/global/txwy/resource/template/Sami@Roguelike@GamePass.png
  resource/global/txwy/resource/template/Sami@Roguelike@GamePassSkip1.png
  resource/global/txwy/resource/template/Sami@Roguelike@GamePassSkip2.png
  resource/global/txwy/resource/template/Sami@Roguelike@GetDropSelectReward.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageBoskyPassageEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageFerociousPresageEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageMysteriousPresageEnter.png
  resource/global/txwy/resource/template/Sami@Roguelike@StageSafeHouseEnter.png
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, client: ZH_TW

#9471 chore: unlocks update options
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
Labels: module: others, MAA Team

#9484 fix: 修正繁中服薩米肉鴿無法開始探索、密文板無法宣告的問題
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/txwy/resource/template/Sami@Roguelike@Foldartal.png
Labels: module: roguelike, client: ZH_TW

#9497 chore: 繁中服「火山旅夢」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW
