Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-08, with the labels that each got.

#10011 fix: 幸运墙适配夏活
  resource/tasks.json
  resource/template/OrundumActivitiesClickBazaar.png
  resource/template/OrundumActivitiesConfirm.png
Labels: MAA Team

#10007 docs: use gpt to translate zh-cn to en-us
  docs/en-us/manual/introduction/combat.md
  docs/en-us/manual/introduction/copilot.md
  docs/en-us/manual/introduction/credit.md
  docs/en-us/manual/introduction/infrastructure.md
  docs/en-us/manual/introduction/integrated-strategy.md
  docs/en-us/manual/introduction/reclamation-algorithm.md
  docs/en-us/manual/introduction/recruit.md
  docs/en-us/manual/introduction/rewards.md
  docs/en-us/manual/introduction/startup.md
  docs/en-us/manual/introduction/tools.md
Labels: documentation, MAA Team

#10013 feat: SideStory「太阳甩在身后」导航
  resource/tasks.json
Labels: MAA Team

#9932 ci(perf): add concurrency to block previous runs in case of new pushes
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#10019 chore: lucky wall, StartToVisit for YostarJP
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/StartToVisit.png
Labels: module: others, client: JP

#10034 Release v5.5.11451
  src/MaaWpfGui/Models/PostActionSetting.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team, release

#10041 chore: remove YostarJP Sami@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MissionFailedFlag2.png
Labels: module: roguelike, client: JP

#10003 feat: 删除 action `ClickRand`
  docs/zh-cn/protocol/task-schema.md
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Task/ProcessTask.cpp
Labels: MAA Team

#10056 chore: add some OCR replace for txwy
  resource/global/txwy/resource/tasks.json
Labels: MAA Team, client: ZH_TW

#10052 Release v5.5.11452
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  CHANGELOG.md
  MAA.sln.DotSettings
  docs/zh-cn/protocol/task-schema.md
  resource/config.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageFilterTruthCannotCombine.png
  resource/version.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Vision/OCRer.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/PostActionSetting.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml.cs
  src/MaaWpfGui/Views/UserControl/AfterActionUserControl.xaml
  tools/OptimizeTemplates/optimize_templates.json
Labels: MAA Team, release

#10066 chore: 提醒用户如gui相关的bug可以跳过配置信息
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: client: WpfGui

#10069 feat: 肉鸽适配新干员用法
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/应用测试.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/autopilot/紧急授课.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#10070 chore: update ocr text for YostarJP
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#10076 chore: 台服增加OCR替换
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#10090 chore: Add OCR for EN Roguelike
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike

#10098 ci: 允许Merge出现在pr中的commit name
  .github/workflows/pr-checker.yml
Labels: MAA Team, ci

#10101 Revert "chore: Add OCR for EN Roguelike"
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, MAA Team

#10115 fix: 萨米肉鸽无法正常识别Level name
  resource/tasks.json
Labels: module: roguelike

#10118 ci: stop running ci test workflow when new changes are pushed in a branch
  .github/workflows/ci.yml
Labels: MAA Team

#10128 chore: YostarJP HS navigation update
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/HS-Open.png
Labels: client: WpfGui, client: JP

#10113 feat: visiting only once a day logic and gui
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/MallSettingsUserControl.xaml
Labels: module: infrast, module: fight, client: WpfGui, module: others, MAA Team

#10126 i18n: EN translate for reclamation
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: reclamation

#10129 chore: YostarKR HS navigation update
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/HS-Open.png
Labels: client: KR

#10127 feat: YostarKR Reclamation2
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Reclamation2SkipDays1.png
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: client: WpfGui, client: KR, module: reclamation

#10131 feat: YostarJP Reclamation2
  resource/global/YoStarJP/resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: client: JP, module: reclamation

#10132 chore: YostarJP Reclamation2 ocr replace
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP, module: reclamation

#10116 fix: 修改肉鸽编队滑页触底判断 (#9243, #9328)
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
Labels: module: roguelike

#9700 feat: 肉鸽招募设置 recruitment.json 文件维护工具
  .gitignore
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
  tools/RoguelikeRecruitmentTool/main.py
  tools/RoguelikeRecruitmentTool/roguelike/config/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike/config/main.py
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/export.py
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/main.py
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/validation.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/common/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/delegates/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/delegates/editable_delegate.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/dialogs/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/dialogs/group_edit_dialog.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/main.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/main_window.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/group_list_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/oper_info_table_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/oper_list_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/oper_offset_A_table_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/oper_offset_B_table_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/visualisation_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/group_list_view.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/offset_A_table_view.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/offset_B_table_view.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/oper_list_view.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/tab_bar.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/table_view.py
Labels: module: roguelike, MAA Team

#10143 feat: YostarEN Reclamation2
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Reclamation2SkipDays1.png
Labels: client: EN, module: reclamation

#10152 feat: improve recruitment_tool
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/main.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/common/__init__.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/main.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/main_window.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/models/oper_info_table_model.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/tab_bar.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/views/table_view.py
Labels: module: recruit

#10151 chore: convert workflow input values to int
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team

#10156 chore: 为肉鸽编队滑页触底判定的代码添加注释
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.h
Labels: module: roguelike

#10153 chore: 繁中服「不義之財」活動導航
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/StageSideStory.png
Labels: module: roguelike, client: ZH_TW

#9812 feat: 加入肉鸽节点地图识别功能，并应用于萨卡兹肉鸽蓝图快速过图
  resource/roguelike/Sarkaz/map.json
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@MapNodeCombatOps.png
  resource/template/Sarkaz@Roguelike@MapNodeCombatOpsGrey.png
  resource/template/Sarkaz@Roguelike@MapNodeEmergencyOps.png
  resource/template/Sarkaz@Roguelike@MapNodeEmergencyOpsGrey.png
  resource/template/Sarkaz@Roguelike@MapNodeEncounter.png
  resource/template/Sarkaz@Roguelike@MapNodeEncounterGrey.png
  resource/template/Sarkaz@Roguelike@MapNodeRogueTraderGrey.png
  resource/template/Sarkaz@Roguelike@RoutingRefreshNode.png
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeMapConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeMapConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/Map/RoguelikeMap.cpp
  src/MaaCore/Task/Roguelike/Map/RoguelikeMap.h
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Vision/Miscellaneous/BrightPointAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/BrightPointAnalyzer.h
Labels: module: roguelike, MAA Team

#10174 chore: add int convertion to release-ota
  .github/workflows/release-ota.yml
Labels: client: WpfGui, module: others, MAA Team

#10157 chore: coding style upgrade
  maadeps-download.py
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: client: WpfGui, module: others, module: depot

#10169 chore: 修改生息演算不同模式的介绍
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: recruit, client: WpfGui, module: others, MAA Team, client: ZH_TW, module: reclamation

#10177 fix: 肉鸽探索失败后执行ClickToStartPointAfterFailed点进讲述者
  resource/tasks.json
Labels: module: roguelike, client: WpfGui, module: others

#10182 docs: 仅一次提示文本优化
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/AfterActionUserControl.xaml
Labels: documentation, client: WpfGui, module: others, MAA Team

#10186 fix: 台服目前坍縮值改为當前坍縮值
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, client: ZH_TW

#9658 refactor: StopGame
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  resource/config.json
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/Controller.h
  src/MaaCore/Controller/ControllerAPI.h
  src/MaaCore/Controller/MaaThriftController.cpp
  src/MaaCore/Controller/PlayToolsController.cpp
  src/MaaCore/Controller/PlayToolsController.h
  src/MaaCore/Task/Interface/CloseDownTask.cpp
  src/MaaCore/Task/Interface/CloseDownTask.h
  src/MaaCore/Task/Miscellaneous/StopGameTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/StopGameTaskPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: client: WpfGui, module: others, MAA Team, client: EN, client: ZH_TW, client: JP, client: KR, module: core

#10184 fix: 在舍弃思绪过程中识别可关闭弹窗
  resource/tasks.json
Labels: module: roguelike, client: WpfGui, module: others

#10197 feat: 生息演算刷满后停止任务
  resource/tasks.json
  resource/template/Reclamation2RightMax.png
Labels: module: reclamation

#10211 chore: added regex for EX stages
  resource/tasks.json
Labels: MAA Team

#10218 fix: 战斗结束掉落过程弹窗
  resource/tasks.json
Labels: module: fight

#10229 refactor!: 将生息演算：沙洲遗闻由任务树重构为任务环，以便使用出口、后续重构
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  resource/template/Reclamation2BeginStageTalk.png
  resource/template/Reclamation2DeleteArchiveEnter.png
  resource/template/Reclamation2ProsperityMax.png
  resource/template/Reclamation2StageLeave.png
Labels: ambiguous, module: reclamation

#10230 refactor: 将生息演算：沙洲遗闻由任务树重构为任务环，以便使用出口、后续重构 (#10229)
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  resource/template/Reclamation2BeginStageTalk.png
  resource/template/Reclamation2DeleteArchiveEnter.png
  resource/template/Reclamation2ProsperityMax.png
  resource/template/Reclamation2StageLeave.png
Labels: MAA Team, help wanted, module: reclamation

#10228 perf: 添加萨卡兹肉鸽作业"炉工志愿队","血脉之辩","见闻峰会"
  resource/roguelike/Sarkaz/autopilot/炉工志愿队.json
  resource/roguelike/Sarkaz/autopilot/血脉之辨.json
  resource/roguelike/Sarkaz/autopilot/见闻峰会.json
  resource/roguelike/Sarkaz/encounter/default.json
Labels: module: roguelike

#10236 fix: 傀影肉鸽卡在商店界面
  resource/tasks.json
Labels: module: roguelike

#10237 refactor: 允许用户在不同位置开始生息演算任务
  resource/tasks.json
Labels: module: reclamation

#10238 refactor: 在生息演算内任意位置开始任务，进出关卡、跳过天数任务复用
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Reclamation2SkipDay.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Reclamation2SkipDay.png
  resource/tasks.json
  resource/template/Reclamation2SkipDay.png
  resource/template/Reclamation2SkipTime.png
Labels: client: KR, module: reclamation

#10249 feat: 不義之財 導航更新
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#10253 feat: 新增 交战荒野、玉门市集 保全派驻作业
  resource/copilot/SSS_交战荒野_澄闪+塞雷娅+纯烬艾雅法拉or流明+重岳or水月or阿斯卡纶_皇家科学院望远镜.json
  resource/copilot/SSS_玉门市集_澄闪+塞雷娅+维什戴尔+纯烬艾雅法拉+重岳or水月or阿斯卡纶_攀云机.json
Labels: module: copilot

#10250 feat!: 拆分 maskRange，允许禁用数色时闭运算
  docs/zh-cn/protocol/task-schema.md
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Interface/DebugTask.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
  src/MaaCore/Vision/Config/MatcherConfig.cpp
  src/MaaCore/Vision/Config/MatcherConfig.h
  src/MaaCore/Vision/Infrast/InfrastOperImageAnalyzer.cpp
  src/MaaCore/Vision/Matcher.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
Labels: MAA Team

#10252 chore: 替換繁中服薩米肉鴿結算截圖
  resource/global/txwy/resource/template/Sami@Roguelike@MissionFailedFlag2.png
Labels: module: roguelike, client: ZH_TW

#10266 ci: 修复 changelog 错误的问题
  .github/workflows/release-nightly-ota.yml
Labels: module: others, MAA Team

#10263 fix: 修复 "-MO-" 会被替换为 "-M0-" 导致的关卡识别错误
  resource/tasks.json
Labels: module: copilot, MAA Team

#10133 refactor(config) : reorganize settings loading
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: client: WpfGui

#10273 perf: 优化 交战荒野、玉门市集 保全派驻作业
  resource/copilot/SSS_交战荒野_澄闪+塞雷娅+纯烬艾雅法拉or流明+重岳or水月or阿斯卡纶_皇家科学院望远镜.json
  resource/copilot/SSS_玉门市集_澄闪+塞雷娅+维什戴尔+纯烬艾雅法拉+重岳or水月or阿斯卡纶_攀云机.json
Labels: module: copilot

#10275 perf: 删除萨卡兹肉鸽作战策略空数组
  resource/roguelike/Sarkaz/autopilot/卫士不语功.json
  resource/roguelike/Sarkaz/autopilot/奉献.json
  resource/roguelike/Sarkaz/autopilot/存亡之战.json
  resource/roguelike/Sarkaz/autopilot/守望的河水.json
  resource/roguelike/Sarkaz/autopilot/或然面纱.json
  resource/roguelike/Sarkaz/autopilot/拆东补西.json
  resource/roguelike/Sarkaz/autopilot/斩首.json
  resource/roguelike/Sarkaz/autopilot/王冠之下.json
  resource/roguelike/Sarkaz/autopilot/离歌的庭院.json
  resource/roguelike/Sarkaz/autopilot/赴敌者.json
Labels: module: roguelike

#10276 perf: 优化 玉门市集 保全派驻作业
  resource/copilot/SSS_玉门市集_澄闪+塞雷娅+维什戴尔+纯烬艾雅法拉+重岳or水月or阿斯卡纶_攀云机.json
Labels: module: copilot

#10079 feat: 允许选择WPFGUI中的干员名称显示语言
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
Labels: module: recruit, client: WpfGui, module: copilot

#10281 refactor: 生息演算2用户界面提醒
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: reclamation

#10280 fix: 去除干员 OCR 识别结果中的前导下划线
  resource/tasks.json
Labels: module: infrast, MAA Team

#10284 chore: 保全作战相同location以json写的策略顺序执行、全局保留core干员不作为过牌干员
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: module: copilot

#10285 Revert "chore: 保全作战相同location以json写的策略顺序执行、全局保留core干员不作为过牌干员"
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: module: copilot, MAA Team

#10286 chore: 添加交战荒野保全作业
  resource/copilot/SSS_交战荒野-维什戴尔-澄闪-浊蒂-纯烬艾雅法拉兼容应急.json
Labels: module: copilot

#10283 chore: git blame added styling commits
  .git-blame-ignore-revs
Labels: module: others, MAA Team

#10295 feat(ci): automation for blame ignore
  .git-blame-ignore-revs
  .github/workflows/blame-ignore.yml
Labels: MAA Team

#10296 perf: blame ignore
  .github/workflows/blame-ignore.yml
Labels: MAA Team

#10290 chore: 整理 tasks.json 中记录的肉鸽插件参数
  resource/tasks.json
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.h
Labels: module: roguelike

#10306 fix: 修复保全战斗在core干员重复时只会放1次bug
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.h
Labels: module: copilot, MAA Team

#10307 perf: Win10以上系统在退出时Wpf不再清除Toast
  src/MaaWpfGui/Helper/Notification/NotificationImplWinRT.cs
Labels: MAA Team

#10309 fix: `std::ranges::views::join` with LLVM clang 16 on darwin
  CMakeLists.txt
Labels: MAA Team

#10310 feat: 允许手动指定WPFGUI中干员名称显示语言
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: client: WpfGui, module: others

#10316 chore: YostarJP FC navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#10322 i18n: KR GpuDeprecated translation
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: MAA Team

#10078 refactor: 重构定时器和重启询问
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#10320 refactor: 重构 OperBox 输出与显示
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UI/RecognizerView.xaml.cs
Labels: MAA Team

#10327 i18n: JP ZH-TW GPU option & reclamation translation
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: reclamation

#10326 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#10335 feat: GetLocalizedNames for Infrast and Copilot output
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: infrast, module: copilot, MAA Team

#10351 docs: 贡献者头像添加 105 上限
  README.md
  docs/en-us/develop/pr-tutorial.md
  docs/en-us/readme.md
  docs/ja-jp/develop/pr-tutorial.md
  docs/ja-jp/readme.md
  docs/ko-kr/develop/pr-tutorial.md
  docs/ko-kr/readme.md
  docs/zh-cn/develop/pr-tutorial.md
  docs/zh-cn/readme.md
  docs/zh-tw/develop/pr-tutorial.md
  docs/zh-tw/readme.md
Labels: documentation, MAA Team

#10353 fix: 生息演算2"Reclamation2StageEnter"->next纠正
  resource/tasks.json
Labels: module: others, module: reclamation

#10355 perf: 生息演算2将第四日开启今日的识别改为模板匹配
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  resource/template/Reclamation2SkipDayBeginNewDay.png
Labels: module: reclamation

#10358 feat: add Qmsg notification
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/Services/Notification/QmsgNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
Labels: client: WpfGui

#10362 fix: add ocrReplace for JP "Reclamation2CopiousCoppice"
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP, module: reclamation

#10359 feat: 生息演算2刷开局清空编队干员
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  resource/template/Reclamation2StageSquadClear.png
  resource/template/Reclamation2StageSquadCookingQuit.png
  resource/template/Reclamation2StageSquadQuit.png
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: module: reclamation

#10357 chore: 更新 bug issue 模板
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#10371 chore: ignore MaaDeps
  .gitignore
Labels: module: others, MAA Team

#10374 fix: 使用匹配后偏移代替每日任务
  resource/tasks.json
Labels: MAA Team

#10375 chore: 保全作业添加玉门市集并优化交战荒野
  resource/copilot/SSS_交战荒野-维什戴尔+澄闪+浊心斯卡蒂+纯烬艾雅法拉or流明-皇家科学院望远镜.json
  resource/copilot/SSS_玉门市集-维什戴尔+澄闪+浊心斯卡蒂+纯烬艾雅法拉or流明-攀云机.json
  resource/tasks.json
Labels: module: copilot

#10376 perf: duplicates templates from I.S.
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Roguelike@StageTraderRefresh.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageTraderRefresh.png.png
  resource/global/YoStarJP/resource/template/Roguelike@StageTraderRefresh.png
  resource/global/YoStarKR/resource/template/Roguelike@StageTraderRefresh.png
  resource/tasks.json
  resource/template/Roguelike@StageTraderRefresh.png
  resource/template/Roguelike@StageTraderRefreshConfirm.png
  resource/template/Sami@Roguelike@StageTraderRefresh.png
  resource/template/Sarkaz@Roguelike@StageTraderRefresh.png
  resource/template/Sarkaz@Roguelike@StageTraderRefreshConfirm.png
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: module: roguelike, MAA Team, help wanted

#10356 refactor: 重构生息演算
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/DialogueLog.png
  resource/template/Tales@RA@ActsLeft1.png
  resource/template/Tales@RA@ActsLeft2.png
  resource/template/Tales@RA@BackDark.png
  resource/template/Tales@RA@BackLight.png
  resource/template/Tales@RA@ClearSquad.png
  resource/template/Tales@RA@Craft.png
  resource/template/Tales@RA@DialogConfirmRed.png
  resource/template/Tales@RA@DialogConfirmYellow.png
  resource/template/Tales@RA@Dots.png
  resource/template/Tales@RA@Headquarters.png
  resource/template/Tales@RA@HeadquartersButton.png
  resource/template/Tales@RA@IncreaseCraftAmount.png
  resource/template/Tales@RA@LeaveCurrentZone.png
  resource/template/Tales@RA@LoadSave.png
  resource/template/Tales@RA@Max.png
  resource/template/Tales@RA@NextDay.png
  resource/template/Tales@RA@SentToWarehouse.png
  resource/template/Tales@RA@SkipDay.png
  resource/template/Tales@RA@SquadSizeIndicator0.png
  resource/template/Tales@RA@StartTodayConfirmHollow.png
  resource/template/Tales@RA@StartTodayConfirmYellow.png
  resource/template/Tales@RA@SwipeSave.png
  resource/template/Tales@RA@WorkbenchButton.png
  resource/template/Tales@RA@WorkbenchIcon.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/ReclamationTask.cpp
  src/MaaCore/Task/Interface/ReclamationTask.h
  src/MaaCore/Task/Reclamation/ReclamationConfig.cpp
  src/MaaCore/Task/Reclamation/ReclamationConfig.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/TaskSettingVisibilityInfo.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/ReclamationSettingsUserControl.xaml
  tools/TaskSorter/TaskSorter.py
Labels: module: reclamation, module: core

#10368 fix: DoDragDrop 拖动操作已在进行中
  src/MaaWpfGui/Main/Bootstrapper.cs
Labels: MAA Team

#10396 fix: 肉鸽编队检测在未触底时返回 true
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
Labels: module: roguelike

#10399 refactor: 迁移公告相关配置
  src/MaaWpfGui/Configuration/AnnouncementInfo.cs
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/Root.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
Labels: MAA Team

#10314 feat!: 更新保全 strategies 逻辑
  docs/zh-cn/protocol/sss-schema.md
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/SSSCopilotConfig.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Interface/SSSCopilotTask.cpp
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: module: copilot, MAA Team, module: core
