Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-07, with the labels that each got.

#9539 feat: YoStarEN resolution warning on client switch
  .github/workflows/res-update-game.yml
  docs/ja-jp/readme.md
  docs/用户手册/新手上路.md
  resource/tasks.json
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml
  tools/ResourceUpdater/main.cpp
Labels: MAA Team, client: EN

#9172 feat: 增加识别坍缩范式的插件，增加萨米肉鸽刷隐藏坍缩范式模式
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/roguelike/Sami/autopilot/事不过四_for_collapse.json
  resource/roguelike/Sami/autopilot/半吊子之旅_for_collapse.json
  resource/roguelike/Sami/autopilot/度假村冤魂_for_collapse.json
  resource/roguelike/Sami/autopilot/待宰的兽群_for_collapse.json
  resource/roguelike/Sami/autopilot/死囚之夜_for_collapse.json
  resource/roguelike/Sami/autopilot/苔手_for_collapse.json
  resource/roguelike/Sami/collapsal_paradigms.json
  resource/roguelike/Sami/encounter_for_collapse.json
  resource/roguelike/Sami/shopping.json
  resource/tasks.json
  resource/template/Sami@Roguelike@OnStage_0.png
  resource/template/Sami@Roguelike@OnStage_1.png
  resource/template/Sami@Roguelike@OnStage_2.png
  resource/template/Sami@Roguelike@OnStage_3.png
  resource/template/Sami@Roguelike@OnStage_4.png
  resource/template/Sami@Roguelike@OnStage_5.png
  resource/template/Sami@Roguelike@OnStage_6.png
  resource/template/Sami@Roguelike@OnStage_7.png
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCollapsalParadigmConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCollapsalParadigmConfig.h
  src/MaaCore/Config/Roguelike/RoguelikeShoppingConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeShoppingConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
  src/MaaCore/Vision/Matcher.cpp
Labels: module: roguelike, client: WpfGui, module: others, client: EN, client: ZH_TW, module: reclamation

#9552 docs: 增加关于肉鸽任务刷探索范式功能的说明
  docs/zh-cn/protocol/integrated-strategy-schema.md
  docs/zh-cn/protocol/integration.md
Labels: documentation, module: roguelike

#9548 refactor: YoStar -> Yostar only for interfaces
  .github/workflows/res-update-game.yml
  .github/workflows/smoke-testing.yml
  CHANGELOG.md
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  tools/AutoLocalization/example/en-us.xaml
  tools/AutoLocalization/example/en-us_compare.xaml
  tools/AutoLocalization/example/en-us_update.xaml
  tools/AutoLocalization/example/ja-jp.xaml
  tools/ResourceUpdater/clone_data_repo.ps1
Labels: MAA Team

#9337 feat: 添加萨米肉鸽天途半道关卡战斗策略
  resource/roguelike/Sami/autopilot/天途半道.json
Labels: module: roguelike

#9584 fix: 修正繁中服薩米肉鴿獎勵無法多選一的問題
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, client: ZH_TW

#9591 chore: YostarJP cor fix and roguelike shop text
  resource/global/YoStarJP/resource/tasks.json
Labels: module: infrast, module: roguelike, client: JP

#9590 fix: Roguelike Invest System offset
  resource/tasks.json
Labels: module: roguelike

#9598 i18n: Translations update from MAA Weblate
  docs/glossary/zh-tw.json
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team

#9605 fix: allow CMake build MaaCore with ASST_DEBUG under macOS
  CMakeLists.txt
  src/MaaCore/Vision/VisionHelper.cpp
Labels: module: others, client: MacGui

#9616 docs: fix Weblate status preview in README
  README.md
Labels: documentation

#9597 fix: 为InfrastEnteredFlag添加延迟以避免信用通知对右上角基建提醒的遮挡
  resource/tasks.json
Labels: module: infrast, module: others

#9555 refactor: 肉鸽资源加载逻辑及目录结构重构
  docs/en-us/protocol/integrated-strategy-schema.md
  docs/ja-jp/protocol/integrated-strategy-schema.md
  docs/ko-kr/protocol/integrated-strategy-schema.md
  docs/zh-cn/protocol/integrated-strategy-schema.md
  docs/zh-tw/protocol/integrated-strategy-schema.md
  resource/roguelike/Mizuki/encounter/default.json
  resource/roguelike/Mizuki/encounter/deposit.json
  resource/roguelike/Mizuki/encounter_for_deposit.json
  resource/roguelike/Phantom/encounter/default.json
  resource/roguelike/Phantom/encounter/deposit.json
  resource/roguelike/Phantom/encounter_for_deposit.json
  resource/roguelike/Sami/encounter/collapse.json
  resource/roguelike/Sami/encounter/default.json
  resource/roguelike/Sami/encounter/deposit.json
  resource/roguelike/Sami/encounter_for_collapse.json
  resource/roguelike/Sami/encounter_for_deposit.json
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, MAA Team

#9567 Style/gui consistency
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/GameClientUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team, ambiguous

#9633 fix: 修复萨米肉鸽因插件注册顺序导致的无法运行问题
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
Labels: module: roguelike

#9636 perf: add log output
  src/MaaCore/Task/Fight/MedicineCounterTaskPlugin.cpp
Labels: MAA Team

#9632 feat: 由ci生成的非正式/公测/内测版判断为调试版本并且不再检查更新
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#9640 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: client: WpfGui, MAA Team

#9583 feat: 重新加入 tasks.json 的默认值检查
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Utils/JsonMisc.hpp
Labels: MAA Team

#9642 feat: cache 统一默认为 false
  src/MaaCore/Config/TaskData.cpp
Labels: MAA Team

#9644 fix: 修复连接前同步参数时日志报错的问题
  src/MaaCore/Controller/Controller.cpp
Labels: MAA Team

#9647 fix: 繁中服部分角色無法正確辨識
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#9645 perf: 删除 tasks.json 冗余行
  resource/tasks.json
Labels: MAA Team

#9648 feat: WPF Gui support for roguelike collapsal paradigm task plugin
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, client: WpfGui, MAA Team

#9649 fix: 自动战斗开始时移除召唤物类头像缓存，以避免跨局错误识别相似技能的召唤物
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.cpp
  src/MaaCore/Config/Miscellaneous/AvatarCacheManager.h
  src/MaaCore/Task/BattleHelper.cpp
Labels: module: copilot, MAA Team

#9659 chore: CHANGELOG中文档修改为独立分类
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team

#9669 refactor: 统一肉鸽模式介绍文字
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike

#9651 refactor: 萨米肉鸽配置文件/插件单独文件夹
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/Roguelike/Sami/RoguelikeCollapsalParadigmConfig.cpp
  src/MaaCore/Config/Roguelike/Sami/RoguelikeCollapsalParadigmConfig.h
  src/MaaCore/Config/Roguelike/Sami/RoguelikeFoldartalConfig.cpp
  src/MaaCore/Config/Roguelike/Sami/RoguelikeFoldartalConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike, MAA Team

#9685 feat: 第一层战斗策略
  resource/roguelike/Sarkaz/autopilot/公害.json
  resource/roguelike/Sarkaz/autopilot/坏邻居.json
  resource/roguelike/Sarkaz/autopilot/夺路而跳.json
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: fight

#9687 feat: 萨卡兹肉鸽模板图更新
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@Abandon.png
  resource/template/Sarkaz@Roguelike@ChooseDifficulty.png
  resource/template/Sarkaz@Roguelike@GamePassSkip2.png
  resource/template/Sarkaz@Roguelike@GetDrop1.png
  resource/template/Sarkaz@Roguelike@GetDrop2.png
  resource/template/Sarkaz@Roguelike@GetDrop3.png
  resource/template/Sarkaz@Roguelike@GetDropCompleted.png
  resource/template/Sarkaz@Roguelike@GetDropLeave.png
  resource/template/Sarkaz@Roguelike@GetDropRecruit.png
  resource/template/Sarkaz@Roguelike@GetDropSelect.png
  resource/template/Sarkaz@Roguelike@StageBoons.png
  resource/template/Sarkaz@Roguelike@StageConfrontation.png
  resource/template/Sarkaz@Roguelike@StageFilterTruth.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthLeave.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthLeaveConfirm.png
  resource/template/Sarkaz@Roguelike@StageSafeHouse.png
  resource/template/Sarkaz@Roguelike@StageTrader.png
Labels: module: roguelike

#9682 perf: 复用RoguelikeCollapsalParadigmTaskPlugin插件
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
Labels: module: roguelike, MAA Team

#9691 fix: 第一层作战策略改进
  resource/roguelike/Sarkaz/autopilot/公害.json
  resource/roguelike/Sarkaz/autopilot/坏邻居.json
  resource/roguelike/Sarkaz/autopilot/夺路而跳.json
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: fight

#9692 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9694 style: 优化战斗策略格式
  resource/roguelike/Sarkaz/autopilot/公害.json
  resource/roguelike/Sarkaz/autopilot/坏邻居.json
  resource/roguelike/Sarkaz/autopilot/夺路而跳.json
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: fight

#9698 ci: ignore more site
  .github/workflows/markdown-checker.yml
Labels: MAA Team

#9702 perf: 优化战斗策略应对天灾年代之刺
  resource/roguelike/Sarkaz/autopilot/公害.json
  resource/roguelike/Sarkaz/autopilot/坏邻居.json
  resource/roguelike/Sarkaz/autopilot/夺路而跳.json
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: fight

#9701 chore: 補充繁中服保全派駐#3 相關內容
  resource/global/txwy/resource/tasks.json
Labels: module: copilot, client: ZH_TW

#9713 perf: 适配新干员用法&调整萨卡兹肉鸽4星优先度
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#9710 perf: 优化第一层作战策略黑名单
  resource/roguelike/Sarkaz/autopilot/公害.json
  resource/roguelike/Sarkaz/autopilot/坏邻居.json
  resource/roguelike/Sarkaz/autopilot/夺路而跳.json
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: fight

#9711 feat: 萨卡兹肉鸽添加混乱与阻滞时舍弃思维功能
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@DecreaseBurdenAbandon.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenChaos.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckChaos.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckClear.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckRetardation.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenRetardation.png
Labels: module: roguelike

#9715 chore: YostarJP WB navigation
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/WBChapterToWB.png
Labels: client: JP

#9717 fix: 萨卡兹肉鸽舍弃思绪识别位置修改
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckChaos.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckClear.png
  resource/template/Sarkaz@Roguelike@DecreaseBurdenCheckRetardation.png
Labels: module: roguelike

#9722 fix: 删除萨卡兹肉鸽开局负荷干员与舍弃思绪功能模板匹配文件名重复描述
  resource/tasks.json
Labels: module: roguelike

#9723 perf: 自动战斗-战斗列表 批量导入关卡名正则优化
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#9721 perf: update Sarkaz shopping.json
  resource/roguelike/Sarkaz/shopping.json
Labels: module: roguelike

#9725 perf: 扩大肉鸽商店投资roi
  resource/tasks.json
Labels: module: roguelike, MAA Team

#9727 feat: 萨卡兹肉鸽混乱或阻滞时先使用一个再舍弃
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@DecreaseBurdenUse.png
Labels: module: roguelike

#9731 fix: 萨卡兹肉鸽战斗结束领奖励时因思绪异常而卡死
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault1.png
Labels: module: roguelike

#9738 fix: 萨卡兹肉鸽重复使用思绪导致卡死
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@DecreaseBurdenUseButDuplicate.png
Labels: module: roguelike

#9739 perf: 优化萨卡兹肉鸽安全检查部署策略
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: roguelike

#9744 perf: 优化萨卡兹肉鸽拆东补西部署策略
  resource/roguelike/Sarkaz/autopilot/拆东补西.json
Labels: module: roguelike

#9746 fix: 修复萨卡兹肉鸽卡死在思绪界面
  resource/roguelike/Sarkaz/autopilot/拆东补西.json
  resource/tasks.json
Labels: module: roguelike

#9756 fix: 修复肉鸽主题选择的导航问题
  resource/tasks.json
Labels: module: roguelike

#9759 perf: 优化萨卡兹肉鸽安全检查部署策略
  resource/roguelike/Sarkaz/autopilot/安全检查.json
Labels: module: roguelike

#9767 fix: 修复萨卡兹肉鸽无法识别思绪阻滞
  resource/tasks.json
Labels: module: roguelike

#9766 chore: 优化萨卡兹肉鸽公害部署策略
  resource/roguelike/Sarkaz/autopilot/公害.json
Labels: module: roguelike

#9772 perf: 萨卡兹肉鸽碰到战斗节点尝试刷新
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageRefresh.png
  resource/template/Sarkaz@Roguelike@StageRefreshConfirm.png
Labels: module: roguelike, MAA Team

#9769 feat: 支持自定义 MatchTemplate 匹配算法
  docs/zh-cn/protocol/task-schema.md
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Vision/Config/MatcherConfig.cpp
  src/MaaCore/Vision/Config/MatcherConfig.h
  src/MaaCore/Vision/Matcher.cpp
Labels: MAA Team

#9777 perf: cache and targeting for prettier res update game
  .github/workflows/res-update-game.yml
Labels: MAA Team

#9741 perf: 肉鸽Config部分返回改为const ref，移除部分变量
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9785 feat: 支持自定义 MatchTemplate 匹配方法
  docs/zh-cn/protocol/task-schema.md
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Utils/JsonMisc.hpp
  src/MaaCore/Vision/Config/MatcherConfig.cpp
  src/MaaCore/Vision/Config/MatcherConfig.h
  src/MaaCore/Vision/Matcher.cpp
Labels: MAA Team

#9786 fix: 修复多次设置参数时肉鸽插件重复注册
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
Labels: module: roguelike, MAA Team

#9771 chore: issue-bot 增加关键词
  .github/issue-checker.yml
Labels: MAA Team

#9787 fix: 扩大肉鸽投资检测阈值，减少识别错误
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.h
Labels: module: roguelike, module: others, MAA Team

#9773 perf: 蓝图队速刷肉鸽
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageRefresh.png
  resource/template/Sarkaz@Roguelike@StageRefreshConfirm.png
  resource/template/Sarkaz@Roguelike@StageRefreshNoThought.png
Labels: module: roguelike, MAA Team

#9792 feat: 萨卡兹去伪存真节点尝试合成思绪
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageFilterTruthCanCombine.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthCancelCombine.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthCannotCombine.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthConfirm.png
  resource/template/Sarkaz@Roguelike@StageFilterTruthTryCombine1.png
Labels: module: others, MAA Team

#9789 feat: 萨卡兹肉鸽自动印象重建
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageCanDeepen.png
  resource/template/Sarkaz@Roguelike@StageCanDeepenConfirm.png
  resource/template/Sarkaz@Roguelike@StageCanReconstruct.png
  resource/template/Sarkaz@Roguelike@StageCanReconstructClose.png
  resource/template/Sarkaz@Roguelike@StageCanReconstructConfirmFilterTruth.png
  resource/template/Sarkaz@Roguelike@StageCanReconstructConfirmSafeHouse.png
  resource/template/Sarkaz@Roguelike@StageCanReconstructConfirmTrader.png
Labels: module: roguelike, module: others, MAA Team

#9803 feat: 投资模式增加非开局干员直接招募第一位
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
Labels: module: roguelike, module: recruit, MAA Team

#9813 feat: 第五层boss停止
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: others, MAA Team

#9817 fix: 修复肉鸽插件重复注册
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike, MAA Team

#9827 fix: 错误获取到萨米塌缩插件
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: MAA Team

#9804 fix: 修正文档网页右上角search组件本地化显示问题
  docs/.vuepress/plugins/search.ts
Labels: website

#9822 perf: 简化肉鸽Config和部分设置
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
Labels: module: roguelike, MAA Team, module: core

#9828 feat: 肉鸽插件增加每局重置，以免全部堆积到Config
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9724 feat: 删除 HashTaskInfo 相关
  docs/maa_tasks_schema.json
  docs/maa_tasks_schema_en.json
  docs/zh-cn/protocol/task-schema.md
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Vision/Infrast/InfrastOperImageAnalyzer.cpp
Labels: MAA Team

#9845 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team

#9818 feat!: mask_range 支持彩色掩码
  docs/zh-cn/protocol/task-schema.md
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
  src/MaaCore/Vision/Config/MatcherConfig.cpp
  src/MaaCore/Vision/Config/MatcherConfig.h
  src/MaaCore/Vision/Infrast/InfrastOperImageAnalyzer.cpp
  src/MaaCore/Vision/Matcher.cpp
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  tools/GenerateMaskRange/generate_mask_range.py
Labels: MAA Team

#9843 fix: 肉鸽卡在干员技能面板
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9816 feat: AbstractTask新增附加已有插件、插件查找
  src/MaaCore/Task/AbstractTask.h
Labels: module: roguelike, MAA Team

#9841 perf: 拆分肉鸽数据
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike, MAA Team

#9635 chore: 优化资源更新流程
  .github/workflows/res-update-game.yml
Labels: module: others, MAA Team

#9674 feat: 增加特定情况下检查到 roi 为全屏的警告
  resource/tasks.json
  src/MaaCore/Config/TaskData.cpp
Labels: module: roguelike, MAA Team

#9836 ci: dependabot gh actions automation
  .github/dependabot.yaml
Labels: MAA Team

#9795 feat!: 增加图像匹配算法 RGBCount, HSVCount
  docs/zh-cn/protocol/task-schema.md
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Task/Interface/DebugTask.cpp
  src/MaaCore/Vision/Matcher.cpp
Labels: MAA Team

#9864 perf: 刷经验模式不齐而遇也优先避战
  resource/roguelike/Sarkaz/encounter/default.json
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
Labels: MAA Team

#9862 feat: 肉鸽插件添加设置参数功能，设置失败的插件会被自动disable
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
Labels: module: roguelike

#9868 feat: 添加并修改三层boss肉鸽作业
  resource/roguelike/Sarkaz/autopilot/卫士不语功.json
  resource/roguelike/Sarkaz/autopilot/奉献.json
  resource/roguelike/Sarkaz/autopilot/存亡之战.json
  resource/roguelike/Sarkaz/autopilot/守望的河水.json
  resource/roguelike/Sarkaz/autopilot/或然面纱.json
  resource/roguelike/Sarkaz/autopilot/斩首.json
  resource/roguelike/Sarkaz/autopilot/王冠之下.json
  resource/roguelike/Sarkaz/autopilot/离歌的庭院.json
  resource/roguelike/Sarkaz/autopilot/赴敌者.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike

#9871 perf: 优化萨卡兹肉鸽部分策略
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/encounter/default.json
  resource/roguelike/Sarkaz/encounter/deposit.json
  resource/roguelike/Sarkaz/recruitment.json
  resource/roguelike/Sarkaz/shopping.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#9866 feat: close inactive issues
  .github/workflows/stale.yml
Labels: MAA Team

#9879 ci: 让我也康康今天又更新了啥
  .github/dependabot.yaml
Labels: MAA Team

#9876 feat!: 允许插件Verify期间自变更enable，以禁用非预期的启用
  src/MaaCore/Task/AbstractTask.h
Labels: MAA Team

#9880 perf: 非萨米肉鸽时禁用仅萨米用插件
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9848 perf: WpfGui添加对坍缩范式插件callback的nullable check
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: client: WpfGui

#9883 fix: 合成思绪出现藏品二选一时卡住
  resource/tasks.json
Labels: MAA Team

#9887 chore: dont close issue too early
  .github/workflows/stale.yml
Labels: MAA Team

#9888 perf: 非萨米肉鸽时禁用仅萨米用插件
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9607 feat: win32 console-aware debug logger
  src/MaaCore/Utils/Locale.hpp
  src/MaaCore/Utils/Logger.hpp
Labels: client: MacGui

#9850 feat: MultiTemplMatcher
  src/MaaCore/Vision/MultiMatcher.cpp
Labels: module: roguelike

#9893 fix: 肉鸽插件set_params补充
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike, MAA Team

#9833 refactor: 肉鸽坍缩范式插件代码整理
  resource/tasks.json
  src/MaaCore/Task/Roguelike/AbstractRoguelikeTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike

#9899 chore: dont close stale issue too late
  .github/workflows/stale.yml
Labels: MAA Team

#9903 fix: 修复萨卡兹肉鸽的自动战斗文件 拆东补西.json 的语法问题
  resource/roguelike/Sarkaz/autopilot/拆东补西.json
Labels: module: roguelike

#9913 chore: 繁中服「綠野幻夢」復刻活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#9801 feat: 肉鸽五层 BOSS 前暂停功能
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, module: others, MAA Team

#9927 feat: first implementation
  .github/workflows/optimize-templates.yml
Labels: MAA Team

#9938 Release v5.5.0-beta.2
  .github/workflows/ci.yml
  .github/workflows/optimize-templates.yml
  CHANGELOG.md
  docs/package.json
  resource/global/YoStarEN/resource/tasks.json
  resource/tasks.json
  resource/template/debug_test_image.png
  src/MaaCore/Task/Interface/DebugTask.cpp
  tools/OTAPacker/ziplist.sh
  tools/OTAPacker/zipota.sh
  tools/OptimizeTemplates/optimize_templates.json
  tools/OptimizeTemplates/requirements.txt
  website/pnpm-lock.yaml
Labels: MAA Team, release

#9935 ci: remove stale cache for ci
  .github/workflows/ci.yml
Labels: MAA Team

#9931 fix: 萨卡兹肉鸽部分关卡识别使用 HSVCount 避免达不到阈值
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StageBoskyPassage.png
  resource/template/Sarkaz@Roguelike@StageEmergencyTransportation.png
  resource/template/Sarkaz@Roguelike@StageWindAndRain.png
  tools/OptimizeTemplates/optimize_templates.json
Labels: module: roguelike, MAA Team

#9881 perf: Mumu截图增强设置增加测试按钮
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: MAA Team

#9855 ci: only check github and github raw links
  .github/workflows/markdown-checker.yml
Labels: MAA Team

#9949 perf: implement actionsx/prettier for resource updater
  .github/workflows/res-update-game.yml
Labels: MAA Team

#9905 perf: 简化RoguelikeTask set_param
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.h
Labels: module: roguelike, MAA Team

#9958 chore: YostarJP HS navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9959 feat: change penguin CN mirror domain to alvorna.com
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Task/Miscellaneous/DepotRecognitionTask.cpp
  src/MaaCore/Task/ReportDataTask.cpp
Labels: client: WpfGui, MAA Team

#9946 fix: 萨卡兹肉鸽进入新一层识别太快导致先点击思绪后驼兽归队/混沌未来中逃脱
  resource/tasks.json
Labels: module: roguelike

#9953 fix: 肉鸽部分范围点击任务点进萨卡兹肉鸽思绪界面
  resource/tasks.json
Labels: module: roguelike

#9971 perf: 萨卡兹肉鸽添加浮空城接舷战作战策略
  resource/roguelike/Sarkaz/autopilot/浮空城接舷战.json
Labels: module: roguelike

#9952 feat: 战斗流程协议命令块增强
  docs/zh-cn/protocol/copilot-schema.md
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Miscellaneous/CopilotConfig.h
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
  src/MaaCore/Task/SSS/SSSBattleProcessTask.cpp
Labels: module: fight, module: copilot

#9967 feat: HTTP2
  src/MaaCore/Task/ReportDataTask.cpp
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: MAA Team

#9984 perf: 优化萨卡兹肉鸽ew精二优先级
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike

#9978 perf: 添加萨卡兹肉鸽排风口战斗策略
  resource/roguelike/Sarkaz/autopilot/排风口.json
Labels: module: roguelike, MAA Team

#9987 perf: 优化萨卡兹肉鸽排风口作战策略
  resource/roguelike/Sarkaz/autopilot/排风口.json
Labels: module: roguelike

#9995 chore: roguelike navigation for YostarJP
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Roguelike@IntegratedStrategies.png
Labels: module: roguelike, client: JP

#9996 chore: StartToVisit ROI for Yostar servers
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
Labels: module: others

#9875 feat: 增加一些肉鸽参数
  resource/roguelike/Sarkaz/recruitment.json
  resource/tasks.json
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeParameterAnalyzer.cpp
  src/MaaCore/Vision/Roguelike/RoguelikeParameterAnalyzer.h
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: roguelike, MAA Team

#10006 chore: YostarJP ocr fix 黍
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP
