Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-03, with the labels that each got.

#8113 perf: 优化仓库识别速度
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/DepotRecognitionTask.cpp
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.h
Labels: module: depot

#8447 fix: 修复肉鸽重复部署一个干员后不会开启技能
  src/MaaCore/Task/BattleHelper.cpp
Labels: module: roguelike, MAA Team

#8415 perf(WpfGui): 碎石时锁定理智药使用量为9999
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#8459 fix: 助战勾选框不出现bug
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#8467 refactor: 调整SettingsViewModel的init
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#8468 fix: 傀影肉鸽选项造成的卡死
  resource/roguelike/Phantom/encounter.json
Labels: module: roguelike, MAA Team

#8450 chore: update resources for YostarKR
  docs/glossary/operators.md
  docs/glossary/operators_generator.py
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/BattleStartTrials.png
  resource/global/YoStarKR/resource/template/BattleStartTrialsRaid.png
  resource/global/YoStarKR/resource/template/NoStone.png
  resource/global/YoStarKR/resource/template/Reclamation@AtHomePageFlag.png
  resource/global/YoStarKR/resource/template/Reclamation@ClickChooseInitUnits.png
  resource/global/YoStarKR/resource/template/Reclamation@ConfirmStart.png
  resource/global/YoStarKR/resource/template/Reclamation@Emergency.png
  resource/global/YoStarKR/resource/template/Reclamation@ExitLevelConfirm.png
  resource/global/YoStarKR/resource/template/Reclamation@ExitLevelWithEnermyConfirm.png
  resource/global/YoStarKR/resource/template/Reclamation@FormationConfirm.png
  resource/global/YoStarKR/resource/template/Reclamation@GiveupSkipConfirm.png
  resource/global/YoStarKR/resource/template/Reclamation@InitSupplyAll.png
  resource/global/YoStarKR/resource/template/Reclamation@NextDay.png
  resource/global/YoStarKR/resource/template/Reclamation@StartActionConfirm.png
  resource/global/YoStarKR/resource/template/Reclamation@StartAlgorithm.png
Labels: client: KR

#8452 docs: 更正同时使用理智药+碎石的短路说明
  docs/en-us/1.1-USER_MANUAL.md
  docs/ja-jp/使用説明/詳細説明.md
  docs/ko-kr/1.1-사용자_설명서.md
  docs/zh-tw/1.1-詳細介紹.md
  docs/用户手册/详细介绍.md
Labels: documentation, MAA Team

#7991 feat: standardized rewards for all clients, add more rewards of mizuki rogue
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@LastReward.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@LastReward2.png
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@LastReward.png
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@LastReward2.png
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@LastReward3.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/YoStarKR/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@LastReward.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@LastReward2.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@LastReward3.png
  resource/global/YoStarKR/resource/template/Phantom@Roguelike@LastReward4.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward2.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward3.png
  resource/global/txwy/resource/template/Mizuki@Roguelike@LastReward4.png
  resource/global/txwy/resource/template/Phantom@Roguelike@LastReward.png
  resource/global/txwy/resource/template/Phantom@Roguelike@LastReward2.png
  resource/global/txwy/resource/template/Phantom@Roguelike@LastReward3.png
  resource/global/txwy/resource/template/Phantom@Roguelike@LastReward4.png
  resource/tasks.json
  resource/template/Mizuki@Roguelike@LastReward.png
  resource/template/Mizuki@Roguelike@LastReward2.png
  resource/template/Mizuki@Roguelike@LastReward3.png
  resource/template/Mizuki@Roguelike@LastReward4.png
  resource/template/Mizuki@Roguelike@LastReward5.png
  resource/template/Mizuki@Roguelike@LastReward6.png
  resource/template/Mizuki@Roguelike@LastRewardRand.png
  resource/template/Phantom@Roguelike@LastReward.png
  resource/template/Phantom@Roguelike@LastReward2.png
  resource/template/Phantom@Roguelike@LastReward3.png
  resource/template/Phantom@Roguelike@LastReward4.png
  resource/template/Phantom@Roguelike@LastRewardRand.png
  resource/template/Sami@Roguelike@LastReward.png
  resource/template/Sami@Roguelike@LastReward2.png
  resource/template/Sami@Roguelike@LastReward3.png
  resource/template/Sami@Roguelike@LastReward4.png
  resource/template/Sami@Roguelike@LastRewardRand.png
Labels: module: roguelike

#8475 chore: YoStarJP task for 翠玉の夢 and sami rogue
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#8455 perf: 战斗列表添加作业时自动滚动到底部
  src/MaaWpfGui/Styles/Properties/AutoScroll.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: fight, module: copilot, MAA Team

#8487 chore: YoStarKR Sami roguelike templates and tasks
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Sami@Roguelike@ChooseDifficulty.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@Continue.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@Foldartal.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GamePassSkip1.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDrop1.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDrop2.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDrop3.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDrop4.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDropLeave.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDropRecruit.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDropSelect.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDropSelectReward.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@GetDropSelectReward2.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@LastRewardConfirm.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@MapObject.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@MissionFailedFlag.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@Recruit.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@RolesDefault.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@SquadDefault.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageBoskyPassageEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageEncounterEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageMysteriousPresageEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageTraderEnter.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StartExplore.png
  resource/global/YoStarKR/resource/template/Sami@Roguelike@TodoEnter.png
Labels: module: roguelike, client: KR

#8486 chore: YoStarJP Sami rogue templates and tasks
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Roguelike@TempRecruitFlag.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@ChooseDifficulty.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@Continue.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@Foldartal.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GamePass.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GamePassSkip1.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDrop1.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDrop2.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDrop3.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDrop4.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDropLeave.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDropRecruit.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDropSelect.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDropSelectReward.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@GetDropSelectReward2.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@LastRewardConfirm.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MapObject.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MissionFailedFlag.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@Recruit.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@Recruit2.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@RolesDefault.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@SquadDefault.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageBoskyPassageEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageEncounterEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageFerociousPresageEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageMysteriousPresageEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageTraderEnter.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StartExplore.png
  resource/global/YoStarJP/resource/template/Sami@Roguelike@TodoEnter.png
Labels: module: roguelike, client: JP

#8409 perf(WpfGui): 指定Wpf目标操作系统版本为win10
  src/MaaWpfGui/MaaWpfGui.csproj
Labels: client: WpfGui, MAA Team

#8488 feat: Visit Friends can be toggled off
  src/MaaCore/Task/Interface/MallTask.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/MallSettingsUserControl.xaml
Labels: module: others, MAA Team

#8495 chore: YoStarKR update tasks for Sami roguelike
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, client: KR

#8505 chore: 繁中服「愚人號」復刻活動導航
  resource/global/txwy/resource/tasks.json
Labels: module: fight, client: ZH_TW

#8510 feat: Templates for new GUI (Siege) and fix #8503
  resource/tasks.json
  resource/template/DepotEnterSiege.png
  resource/template/EnterInfrastSiege.png
  resource/template/FriendsSiege.png
  resource/template/GachaEnterSiege.png
  resource/template/OperBoxEnterSiege.png
  resource/template/RecruitSiege.png
  resource/template/StartToVisit.png
  resource/template/StartToVisitDetermine.png
  resource/template/TaskSiege.png
  resource/template/TerminalSiege.png
Labels: client: WpfGui

#7848 feat: 根据灰度二值化关卡名后再识别
  src/MaaCore/Vision/Miscellaneous/StageDropsImageAnalyzer.cpp
  src/MaaCore/Vision/RegionOCRer.cpp
  src/MaaCore/Vision/RegionOCRer.h
Labels: MAA Team

#8521 chore: YoStarJP roguelike data remove duplicate and fixes
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#8485 docs: fix links&winget&rip wsa
  docs/用户手册/CLI使用指南.md
  docs/用户手册/常见问题.md
  docs/用户手册/模拟器和设备支持/Mac模拟器.md
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
  docs/用户手册/详细介绍.md
Labels: documentation

#8499 chore: update clang-format
  .clang-format
  .editorconfig
  docs/en-us/2.2-DEVELOPMENT.md
  docs/ja-jp/開発関連/開発を開始.md
  docs/ko-kr/2.2-개발_환경_구축하기.md
  docs/zh-tw/2.2-開發相關.md
  docs/开发文档/开始开发.md
Labels: MAA Team

#8539 feat: 萨米肉鸽增加凹远见密文板
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#8544 perf: 格式化#8539
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#8545 perf: 密文板输入框支持全角分号
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#8555 chore: YoStarJP ROI for StartToVisit, sami template StageFerociousPre…
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Sami@Roguelike@StageFerociousPresageEnter.png
Labels: module: others, client: JP

#8558 chore: YoStarKR ROI for StartToVisit
  resource/global/YoStarKR/resource/tasks.json
Labels: module: others, client: KR

#8565 perf: 肉鸽适配新干员用法
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/autopilot/覆水难收.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/autopilot/冰凝之所.json
  resource/roguelike/Sami/autopilot/恃强凌弱.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#8568 chore: YoStarKR update tasks
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, client: KR

#8524 Feat: IS4 - YostarEN adaptation
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Mizuki@Roguelike@MapObject.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@ChooseDifficulty.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@Foldartal.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GetDrop1.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GetDrop2.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GetDrop3.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GetDropLeave.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GetDropRecruit.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@MapObject.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@MissionFailedFlag.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@Recruit.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@RolesDefault.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@SquadDefault.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageEncounterEnter.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageTraderEnter.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StartExplore.png
  resource/global/YoStarEN/resource/template/Sami@Roguelike@TodoEnter.png
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: roguelike, module: recruit, MAA Team, client: EN

#8574 perf: 水月肉鸽添加缺失干员用法
  resource/roguelike/Mizuki/recruitment.json
Labels: module: roguelike

#8542 perf: 自动战斗-自动编队存储编队信息
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.h
Labels: module: copilot, MAA Team

#8608 ci: 优化changelog
  .github/workflows/gen-changelog.yml
Labels: MAA Team

#8612 fix: Foldartal use for IS4 - overseas
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#8513 docs: rename Linux模拟器.md to Linux模拟器&容器.md
  docs/用户手册/模拟器和设备支持/Linux模拟器&容器.md
Labels: documentation

#8614 ci: nightly auto changelog
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team

#8626 chore: YoStarKR update operator.md
  docs/glossary/operators.md
Labels: client: KR

#8630 feat: YoStarJP SSS#4
  resource/global/YoStarJP/resource/tasks.json
  resource/tasks.json
Labels: client: JP

#8641 feat: 台服保全開場選元件ocr替换
  resource/global/txwy/resource/tasks.json
Labels: module: copilot, client: ZH_TW

#8643 feat: YoStarKR SSS#3
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8645 Feat: YostarEN SSS#3
  resource/copilot/SSS_AbandonedLighthouse_SkadiAlterEyjaAlter.json
  resource/copilot/SSS_AbandonedLightouse_Chongyue_v2.0 (Emergency).json
  resource/copilot/SSS_AlsteriiManufacturePlatform_GoldenglowSuzuran_v1.3 (No Emer).json
  resource/copilot/SSS_AlsteriiManufacturePlatform_SkadiAlter.json
  resource/copilot/old/SSS_MamaJohnsNewPlate.json
  resource/copilot/old/SSS_MamaJohnsNewPlate_SkadiAlterChenAlter.json
  resource/copilot/old/SSS_RaytheanIndustriesTestPlatform.json
  resource/copilot/old/SSS_RaytheanIndustriesTestPlatform_SkadiAlter.json
  resource/global/YoStarEN/resource/tasks.json
Labels: MAA Team, ambiguous, client: EN

#8647 chore: YoStarJP ダーティマネー navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8649 chore: YoStarKR CV stage navigation and add Conductive Unit Upgrade
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8633 fix: match the correst file suffix
  src/Python/asst/updater.py
Labels: client: Python

#8655 fix: txwy ocrreplace
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#8662 chore: 繁中服「孤星」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#8663 fix: YoStarJP ocrreplace
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8665 fix: YoStarKR ocrReplace
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8671 fix: YoStarKR SkipThePreBattlePlot
  resource/global/YoStarKR/resource/tasks.json
Labels: module: fight, module: copilot, client: KR

#8682 fix: custom ROI and notes for StartToVisit txwy
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
Labels: module: others, client: ZH_TW

#8620 perf: 肉鸽投资模式`进入第二层`拓展为`投资模式启用购物、招募`
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#8703 doc: Update 肉鸽辅助协议.md
  docs/协议文档/肉鸽辅助协议.md
Labels: documentation, module: roguelike

#8688 doc: 添加蓝叠核心版本推荐
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
Labels: documentation

#8679 chore: 去掉太慢的clang-format配置
  .clang-format
Labels: MAA Team

#8628 feat: add multi external notifications
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/DiscordNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/TelegramNotificationProvider.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/Services/Web/IHttpService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
Labels: client: WpfGui, module: others

#8723 fix: YoStarKR Executor alter regex
  resource/global/YoStarKR/resource/tasks.json
Labels: client: KR

#8696 docs: declare license AGPL-3.0-only
  README.md
Labels: documentation, MAA Team
