Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-05, with the labels that each got.

#8951 fix: 避免识别到不存在的连续作战图标
  resource/tasks.json
Labels: module: fight, client: JP

#8952 feat: 开放限时开采许可的ui
  docs/协议文档/集成文档.md
  resource/tasks.json
  resource/template/MiningActivityConfirm.png
  resource/template/MiningActivityDiggingEnd.png
  src/MaaCore/Task/Interface/AwardTask.cpp
  src/MaaCore/Task/Interface/AwardTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AwardSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#8868 feat: 新增公招 3 星 Tag 的倾向策略
  docs/en-us/3.1-INTEGRATION.md
  docs/ja-jp/プロトコルドキュメント/統合ドキュメント.md
  docs/ko-kr/스키마/1.통합문서.md
  docs/zh-tw/3.1-集成文件.md
  docs/协议文档/集成文档.md
  src/MaaCore/Task/Interface/RecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit, client: WpfGui

#8838 fix: 一图流 243 一天四换换班结束时的日志信息
  resource/custom_infrast/243_layout_4_times_a_day_yituliu_1713115015768723.json
Labels: module: infrast

#8964 docs: 更新文档
  docs/用户手册/新手上路.md
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
  docs/用户手册/详细介绍.md
Labels: documentation

#9001 feat: 添加状态监测站
  website/apps/web/src/components/home/HomeActions/HomeActions.tsx
Labels: MAA Team

#8950 fix: increase delay post "Mission Start" button
  resource/tasks.json
Labels: MAA Team

#8991 chore: YoStarJP roguelike fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#9015 Update cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team, ambiguous

#9020 perf: 优化肉鸽ew优先度
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#9022 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: others, client: JP

#9033 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9041 ci: 修复受损引用
  .github/workflows/release-ota.yml
Labels: MAA Team

#9042 ci: 更新 actions/checkout@v4
  .github/workflows/release-ota.yml
Labels: MAA Team

#9044 ci: 补上另一个actions/checkout@v4
  .github/workflows/release-ota.yml
Labels: MAA Team

#9048 fix(ocr):干员识别修正: 崖心8 -> 崖心
  resource/tasks.json
Labels: module: others

#8981 docs: 更新文档
  README.md
  docs/en-us/1.0-BEGINNER'S_GUIDE.md
  docs/en-us/1.4-EMULATOR_SUPPORTS_FOR_MAC.md
  docs/en-us/2.2-DEVELOPMENT.md
  docs/en-us/readme.md
  docs/readme.md
  docs/协议文档/集成文档.md
  docs/开发文档/开始开发.md
  docs/用户手册/常见问题.md
  docs/用户手册/新手上路.md
  docs/用户手册/模拟器和设备支持/Windows模拟器.md
  docs/用户手册/详细介绍.md
Labels: documentation

#9047 fix: Recruit 公招手动确认『元素』
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: recruit

#9051 i18n: add favourite tip for i18n
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: client: WpfGui, MAA Team, translation required, help wanted

#9066 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team

#9070 ci: 无需手动验证 doc
  .github/workflows/release-ota.yml
Labels: MAA Team

#9071 ci: macOS 版本使用运行于 M1 芯片的 macOS 14 系统编译
  .github/workflows/ci.yml
  .github/workflows/release-ota.yml
Labels: MAA Team, client: MacGui

#9068 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9085 docs: fix a bad link
  docs/用户手册/新手上路.md
Labels: documentation

#8960 feat: Wine 支持
  docs/用户手册/模拟器和设备支持/Linux模拟器与容器.md
  include/AsstPort.h
  src/MaaCore/Assistant.cpp
  src/MaaCore/Common/AsstMsg.h
  src/MaaWineBridge/CMakeLists.txt
  src/MaaWineBridge/MaaCoreForwarder/CMakeLists.txt
  src/MaaWineBridge/MaaCoreForwarder/MaaCore.spec
  src/MaaWineBridge/MaaCoreForwarder/dl_maacore.c
  src/MaaWineBridge/MaaCoreForwarder/dl_maacore.h
  src/MaaWineBridge/MaaCoreForwarder/dlshim.h
  src/MaaWineBridge/MaaCoreForwarder/entry.c
  src/MaaWineBridge/MaaCoreForwarder/maacore.c
  src/MaaWineBridge/MaaCoreForwarder/task_queue.c
  src/MaaWineBridge/MaaCoreForwarder/task_queue.h
  src/MaaWineBridge/MaaCoreForwarder/task_queue_wine.c
  src/MaaWineBridge/MaaCoreForwarder/task_queue_wine.h
  src/MaaWineBridge/MaaDesktopIntegration/CMakeLists.txt
  src/MaaWineBridge/MaaDesktopIntegration/MaaDesktopIntegration.spec
  src/MaaWineBridge/MaaDesktopIntegration/fontconfig.c
  src/MaaWineBridge/MaaDesktopIntegration/gdk-pixbuf.c
  src/MaaWineBridge/MaaDesktopIntegration/gobject.c
  src/MaaWineBridge/MaaDesktopIntegration/main_loop.c
  src/MaaWineBridge/MaaDesktopIntegration/main_loop.h
  src/MaaWineBridge/MaaDesktopIntegration/notification.c
  src/MaaWineBridge/README.md
  src/MaaWineBridge/winegcc.cmake
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Helper/AppIcon.cs
  src/MaaWpfGui/Helper/Notification/INotificationPoster.cs
  src/MaaWpfGui/Helper/Notification/NotificationAction.cs
  src/MaaWpfGui/Helper/Notification/NotificationContent.cs
  src/MaaWpfGui/Helper/Notification/NotificationHint.cs
  src/MaaWpfGui/Helper/Notification/NotificationImplLibNotify.cs
  src/MaaWpfGui/Helper/Notification/NotificationImplWinRT.cs
  src/MaaWpfGui/Helper/Notification/NotificationImplWpf.cs
  src/MaaWpfGui/Helper/ThemeHelper.cs
  src/MaaWpfGui/Helper/ToastNotification.cs
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Styles/MdXaml.xaml
  src/MaaWpfGui/Utilities/AutoStart.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
  src/MaaWpfGui/Views/UI/ErrorView.xaml
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
  src/MaaWpfGui/WineCompat/FontConfig/FontConfigIntegration.cs
  src/MaaWpfGui/WineCompat/FontConfig/Native.cs
  src/MaaWpfGui/WineCompat/FontConfig/Types.cs
  src/MaaWpfGui/WineCompat/GObject.cs
  src/MaaWpfGui/WineCompat/GdkPixBuf.cs
  src/MaaWpfGui/WineCompat/LibNotifyNotification.cs
  src/MaaWpfGui/WineCompat/MaaDesktopIntegration.cs
  src/MaaWpfGui/WineCompat/MaaWineBridge.cs
  src/MaaWpfGui/WineCompat/WineBridgeAvailability.cs
  src/MaaWpfGui/WineCompat/WineRuntimeInformation.cs
Labels: module: others

#9111 fix: 部署失败后不清除已占用格子
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#9114 perf: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/人造物狂欢节.json
  resource/roguelike/Sami/autopilot/何处无山海.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/冰凝之所.json
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/咫尺天涯.json
  resource/roguelike/Sami/autopilot/大迁徙.json
  resource/roguelike/Sami/autopilot/幽影与鬼魅.json
  resource/roguelike/Sami/autopilot/弄假成真.json
  resource/roguelike/Sami/autopilot/思维折断.json
  resource/roguelike/Sami/autopilot/恃强凌弱.json
  resource/roguelike/Sami/autopilot/杂音干扰.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/autopilot/饥渴祭坛.json
  resource/roguelike/Sami/encounter.json
  resource/roguelike/Sami/encounter_for_deposit.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
Labels: module: roguelike, MAA Team

#9083 perf: auto start optimization + MAC fix
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/Controller.h
  src/MaaCore/Task/Miscellaneous/StartGameTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/StartGameTaskPlugin.h
Labels: MAA Team

#9142 feat: 萨米肉鸽刷等级增加商店刷新
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageTraderRefresh.png.png
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  resource/template/Sami@Roguelike@StageTraderRefresh.png
  resource/template/Sami@Roguelike@StageTraderRefreshConfirm.png
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.h
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: module: roguelike, MAA Team

#9149 perf: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/新部族.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/深寒造像.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/autopilot/还之彼身.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9148 fix: 尝试修复肉鸽编队不选干员
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#9154 fix: adding delay between swipe and click
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: module: infrast, MAA Team

#9155 feat: 限制肉鸽截图速度
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: roguelike

#9164 chore: YoStarJP IS rerun navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#9167 fix: 掉落物识别时滑动起始位置过于偏右导致崩溃
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
Labels: module: drop

#9182 Release v5.3.0-beta.3
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Sami@Roguelike@StageTraderRefresh.png.png
  resource/global/YoStarEN/resource/template/StartUpConnectingFlag.png
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/version.json
  resource/roguelike/Sami/autopilot/利刃所指.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/新部族.json
  resource/roguelike/Sami/autopilot/没有尽头的路.json
  resource/roguelike/Sami/autopilot/深寒造像.json
  resource/roguelike/Sami/autopilot/狡兽九窟.json
  resource/roguelike/Sami/autopilot/还之彼身.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sami/shopping.json
  resource/stages.json
  resource/tasks.json
  resource/template/Sami@Roguelike@StageTraderRefresh.png
  resource/template/Sami@Roguelike@StageTraderRefreshConfirm.png
  resource/version.json
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Miscellaneous/StartGameTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.h
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/Helper/Notification/NotificationImplWinRT.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#9185 perf: 优化萨米肉鸽策略
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/幽影与鬼魅.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#7683 refactor(WpfGui): config
  src/MaaWpfGui/Configuration/AnnouncementInfo.cs
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Configuration/Root.cs
  src/MaaWpfGui/Configuration/SpecificConfig.cs
  src/MaaWpfGui/Configuration/Timer.cs
  src/MaaWpfGui/Configuration/VersionUpdate.cs
Labels: client: WpfGui, MAA Team

#9194 feat: Sami theme for YoStarJP
  resource/global/YoStarJP/resource/template/DepotEnterSami.png
  resource/global/YoStarJP/resource/template/FriendsSami.png
  resource/global/YoStarJP/resource/template/GachaEnterSami.png
  resource/global/YoStarJP/resource/template/OperBoxEnterSami.png
  resource/global/YoStarJP/resource/template/RecruitSami.png
  resource/global/YoStarJP/resource/template/TaskSami.png
  resource/global/YoStarJP/resource/template/TerminalSami.png
Labels: client: JP

#9196 Release v5.3.0
  CHANGELOG.md
  CMakeLists.txt
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/DepotEnterDark.png
  resource/global/YoStarEN/resource/template/DepotEnterMistCity.png
  resource/global/YoStarEN/resource/template/DepotEnterSami.png
  resource/global/YoStarEN/resource/template/FriendsSami.png
  resource/global/YoStarEN/resource/template/GachaEnterSami.png
  resource/global/YoStarEN/resource/template/OperBoxEnterSami.png
  resource/global/YoStarEN/resource/template/RecruitSami.png
  resource/global/YoStarEN/resource/template/TaskSami.png
  resource/global/YoStarEN/resource/template/TerminalSami.png
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/template/DepotEnterSami.png
  resource/global/YoStarJP/resource/template/FriendsSami.png
  resource/global/YoStarJP/resource/template/GachaEnterSami.png
  resource/global/YoStarJP/resource/template/OperBoxEnterSami.png
  resource/global/YoStarJP/resource/template/RecruitSami.png
  resource/global/YoStarJP/resource/template/TaskSami.png
  resource/global/YoStarJP/resource/template/TerminalSami.png
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/template/DepotEnterSami.png
  resource/global/YoStarKR/resource/template/EnterInfrastSami.png
  resource/global/YoStarKR/resource/template/FriendsSami.png
  resource/global/YoStarKR/resource/template/GachaEnterSami.png
  resource/global/YoStarKR/resource/template/OperBoxEnterSami.png
  resource/global/YoStarKR/resource/template/RecruitSami.png
  resource/global/YoStarKR/resource/template/TaskSami.png
  resource/global/YoStarKR/resource/template/TerminalSami.png
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/version.json
  resource/roguelike/Sami/autopilot/亡者行军.json
  resource/roguelike/Sami/autopilot/公司纠葛.json
  resource/roguelike/Sami/autopilot/巍峨银凇.json
  resource/roguelike/Sami/autopilot/幽影与鬼魅.json
  resource/roguelike/Sami/autopilot/禁区.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/recruitment.json
  resource/stages.json
  resource/tasks.json
  resource/template/TerminalSami.png
  resource/version.json
  src/MaaCore/Config/OnnxSessions.h
  src/MaaCore/Vision/Battle/BattlefieldClassifier.cpp
  src/MaaCore/Vision/Battle/BattlefieldDetector.cpp
  src/MaaWpfGui/Configuration/AnnouncementInfo.cs
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Configuration/Root.cs
  src/MaaWpfGui/Configuration/SpecificConfig.cs
  src/MaaWpfGui/Configuration/Timer.cs
  src/MaaWpfGui/Configuration/VersionUpdate.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  tools/OverseasClients/FindMissingTemplates.py
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#9209 Release v5.3.1
  CHANGELOG.md
  CMakeLists.txt
  src/MaaWpfGui/Helper/Notification/NotificationImplWinRT.cs
  src/MaaWpfGui/Helper/Notification/NotificationImplWpf.cs
Labels: MAA Team, release

#9203 chore: YoStarJP roguelike ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#9201 docs(回调消息协议): 增加「实例已销毁」
  docs/协议文档/回调消息协议.md
Labels: documentation

#9170 Revert "fix: adding delay between swipe and click"
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: MAA Team

#9153 feat:在特定环节执行启动前/后脚本
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: module: copilot, module: others, module: depot

#9220 ci: no need to checkout sumodule after #9168
  .github/workflows/ci.yml
Labels: MAA Team

#9222 fix: 肉鸽特殊情况下第三层boss门口退出
  resource/roguelike/Sami/autopilot/乐理之灾.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#9223 fix: 尝试修复萨米卡0干扰并优化密文板使用策略
  resource/roguelike/Sami/autopilot/以守代攻.json
  resource/roguelike/Sami/autopilot/何处无山海.json
  resource/roguelike/Sami/autopilot/大迁徙.json
  resource/roguelike/Sami/autopilot/本能污染.json
  resource/roguelike/Sami/autopilot/违和.json
  resource/roguelike/Sami/foldartal.json
  resource/roguelike/Sami/recruitment.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: MAA Team

#9224 perf: 优化萨米肉鸽部分关卡策略
  resource/roguelike/Sami/autopilot/本能污染.json
Labels: module: roguelike, MAA Team
