Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-11, with the labels that each got.

#10993 perf: 肉鸽难度不可用 / 不切换时禁用插件
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: roguelike, MAA Team

#11003 chore: PV 关卡地图数据
  resource/Arknights-Tile-Pos/level_act38side_01.json
  resource/Arknights-Tile-Pos/level_act38side_02.json
  resource/Arknights-Tile-Pos/level_act38side_03.json
  resource/Arknights-Tile-Pos/level_act38side_04.json
  resource/Arknights-Tile-Pos/level_act38side_05.json
  resource/Arknights-Tile-Pos/level_act38side_06.json
  resource/Arknights-Tile-Pos/level_act38side_07.json
  resource/Arknights-Tile-Pos/level_act38side_08.json
  resource/Arknights-Tile-Pos/level_act38side_09.json
  resource/Arknights-Tile-Pos/level_act38side_10.json
  resource/Arknights-Tile-Pos/level_act38side_sp01.json
  resource/Arknights-Tile-Pos/level_act38side_sp02.json
  resource/Arknights-Tile-Pos/level_act38side_sp03.json
  resource/Arknights-Tile-Pos/level_act38side_tr01.json
  resource/Arknights-Tile-Pos/overview.json
Labels: MAA Team

#11001 fix: 修改基建 InfrastOperListTab 部分的 roi (#10999)
  resource/tasks.json
Labels: module: infrast

#10988 chore: YostarKR EP14 update
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/MiningActivityConfirm.png
Labels: MAA Team, client: KR

#11008 feat: 支持最新的幸运墙任务
  resource/tasks.json
  resource/template/OrundumActivitiesClickParty.png
Labels: MAA Team

#11022 perf: 优化关卡列表更新
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/FightSettingsUserControl.xaml
Labels: MAA Team

#11016 chore: ChangelogGenerator检查commit message中的skip changelog是否为自动追加
  tools/ChangelogGenerator/changelog_generator.py
Labels: module: others, MAA Team

#11019 refactor: 可自定义3~5星招募时间
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit, MAA Team

#11025 perf: 自动公招时间属性设置优化
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit, MAA Team

#11030 Release v5.9.0-beta.3
  resource/tasks.json
  resource/version.json
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team, release

#11032 Release v5.9.0-beta.3
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team, release

#11035 fix: 为生息演算无存档刷点模式，点击区域节点任务加上 1 秒的 postDelay
  resource/tasks.json
Labels: module: reclamation

#11029 build: Update turbo from v2.0.9 to v2.2.3
  website/package.json
  website/pnpm-lock.yaml
Labels: MAA Team

#11028 docs: 补充连战次数文档
  docs/zh-cn/manual/introduction/combat.md
Labels: documentation, MAA Team

#11075 feat: 自动编队允许指定助战单位
  resource/tasks.json
  resource/template/Caster@UseSupportUnit-RoleSelected.png
  resource/template/Caster@UseSupportUnit-SelectRole.png
  resource/template/Medic@UseSupportUnit-RoleSelected.png
  resource/template/Medic@UseSupportUnit-SelectRole.png
  resource/template/Pioneer@UseSupportUnit-RoleSelected.png
  resource/template/Pioneer@UseSupportUnit-SelectRole.png
  resource/template/Sniper@UseSupportUnit-RoleSelected.png
  resource/template/Sniper@UseSupportUnit-SelectRole.png
  resource/template/Special@UseSupportUnit-RoleSelected.png
  resource/template/Special@UseSupportUnit-SelectRole.png
  resource/template/Support@UseSupportUnit-RoleSelected.png
  resource/template/Support@UseSupportUnit-SelectRole.png
  resource/template/SupportListAnalyzer-Elite-1.png
  resource/template/SupportListAnalyzer-Elite-2.png
  resource/template/SupportListAnalyzer-Friend.png
  resource/template/SupportListAnalyzer-NonFriend.png
  resource/template/Tank@UseSupportUnit-RoleSelected.png
  resource/template/Tank@UseSupportUnit-SelectRole.png
  resource/template/UseSupportUnit-Enter.png
  resource/template/UseSupportUnit-MaxSpecLvl.png
  resource/template/UseSupportUnit-Refresh.png
  resource/template/UseSupportUnit-RefreshCooldown.png
  resource/template/UseSupportUnit-SelectSkill.png
  resource/template/Warrior@UseSupportUnit-RoleSelected.png
  resource/template/Warrior@UseSupportUnit-SelectRole.png
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Miscellaneous/CreditFightTask.cpp
  src/MaaCore/Task/Miscellaneous/UseSupportUnitTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/UseSupportUnitTaskPlugin.h
  src/MaaCore/Vision/Battle/SupportListAnalyzer.cpp
  src/MaaCore/Vision/Battle/SupportListAnalyzer.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  tools/TaskSorter/TaskSorter.py
Labels: module: copilot

#11078 i18n: YostarKR fixed the reversed description for ReclamationEarlyTip
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: MAA Team, client: KR, module: reclamation

#11084 chore: YostarJP phantom roguelike ocr update
  resource/global/YoStarJP/resource/tasks.json
  resource/roguelike/Phantom/encounter/deposit.json
Labels: module: roguelike, client: JP

#11076 feat: 远程通知配置加密
  MAA.sln.DotSettings
  src/MaaWpfGui/Helper/SimpleEncryptionHelper.cs
  src/MaaWpfGui/Services/Notification/BarkNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/DiscordNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/QmsgNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/TelegramNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: MAA Team

#11093 fix: ExternalNotificationTips 未居中
  resource/custom_infrast/153_layout_4_times_a_day.json
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
Labels: MAA Team

#11085 rft: 拆分设置-软件更新
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/ViewModels/UI/RootViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/VersionUpdateSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml.cs
Labels: client: WpfGui, MAA Team

#11101 chore: 更新 macos.cmake 中的库版本
  cmake/macos.cmake
  resource/tasks.json
Labels: client: MacGui

#11090 fix: 萨卡兹肉鸽降低 Sarkaz@Roguelike@CloseCollectionContinue 阈值
  resource/tasks.json
Labels: module: roguelike, MAA Team

#11097 perf: 公招三星优先tag 改为复选框
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Helper/ItemListHelper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AutoRecruitSettingsUserControl.xaml
Labels: module: recruit, client: WpfGui, module: others, client: EN

#11106 fix: 萨卡兹肉鸽 原初异途 点进一片莲瓣
  resource/roguelike/Sarkaz/encounter/default.json
  resource/roguelike/Sarkaz/encounter/deposit.json
Labels: module: roguelike, MAA Team

#11087 fix: 肉鸽不期而遇闪退
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#11113 rft: 拆分 设置-外部通知
  src/MaaWpfGui/Services/Notification/BarkNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/DiscordNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/Services/Notification/QmsgNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ServerChanNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/TelegramNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/ExternalNotificationSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#11125 fix: 从 wpf 层面上不再允许用户在萨卡兹肉鸽用奇怪的分队刷源石锭
  MAA.sln.DotSettings
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike

#11055 perf: WpfGui优化任务进度显示
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/ViewModels/UI/RootViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/RootView.xaml
Labels: client: WpfGui, MAA Team

#11136 docs: update ko-kr docs
  docs/ko-kr/manual/introduction/copilot.md
  docs/ko-kr/manual/introduction/reclamation-algorithm.md
Labels: documentation

#11131 fix: 修复肉鸽选难度的若干 Bug
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
Labels: module: roguelike

#11148 chore: YostarEN Sami@Roguelike@GamePassSkip1
  resource/global/YoStarEN/resource/template/Sami@Roguelike@GamePassSkip1.png
Labels: module: roguelike, client: EN

#11120 rft: 拆分 设置-连接设置
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ConnectSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml.cs
Labels: MAA Team

#11149 i18n: Translations update from MAA Weblate
  docs/glossary/ko-kr.json
Labels: client: WpfGui, MAA Team

#11114 fix: 根据roi进行截图的小工具无法识别文件路径
  tools/GetImageFromROI/cutter.py
Labels: MAA Team

#11155 chore: YostarJP ocr update
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11153 rft: 拆分 设置-界面设置
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/ViewModels/LogItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GUISettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GUISettingsUserControl.xaml.cs
Labels: MAA Team

#11152 rft: 拆分 设置-启动设置
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ConnectSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/StartSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/StartSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/StartSettingsUserControl.xaml.cs
Labels: MAA Team

#11157 fix: 臺服薩米肉鴿 "恃强凌弱" 辨識錯誤
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike

#11167 fix: 完成招募后点击进入但无响应
  resource/tasks.json
Labels: module: recruit, MAA Team

#11166 rft: 拆分 一键长草-生息演算 任务设置
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/ReclamationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/ReclamationSettingsUserControl.xaml.cs
Labels: MAA Team, module: reclamation

#11171 Release v5.10.1
  CHANGELOG.md
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ConnectSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/StartSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/StartSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/StartSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/ReclamationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/ReclamationSettingsUserControl.xaml.cs
Labels: MAA Team, release

#11178 Release v5.10.2
  CHANGELOG.md
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
Labels: MAA Team, release

#11185 rft: 拆分 设置-游戏设置
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GameSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/StartSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/ConnectSettingsOnWakeUpUserControl.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
  src/MaaWpfGui/Views/UserControl/InfrastSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/PerformanceUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml.cs
Labels: MAA Team

#11190 chore: 繁中服保全派駐新圖的定向導能元件
  resource/global/txwy/resource/tasks.json
Labels: module: copilot, client: ZH_TW

#11188 rft: 拆分 设置-界面设置
  src/MaaWpfGui/Configuration/GUI.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/ViewModels/LogItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GUISettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/NotifyIcon.xaml.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GUISettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GUISettingsUserControl.xaml.cs
Labels: MAA Team

#11196 fix(EN): IS2 missing templates for recruiting and obtaining relics
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@GamePassSkip1.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@GetDropSelect.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@GetDropSelectRecruit.png
  resource/global/YoStarEN/resource/template/Phantom@Roguelike@GetDropSelectReward.png
Labels: module: recruit, client: EN

#11200 chore: YostarKR SSS#5 ocr added
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11202 rft: WpfGui重构 拆分`设置-远程控制`
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/RemoteControlUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/RemoteControlUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/RemoteControlUserControl.xaml.cs
Labels: client: WpfGui, MAA Team

#11204 chore: YostarKR SSS#5 ocr fix
  resource/global/YoStarKR/resource/tasks.json
Labels: module: others, MAA Team, client: KR

#11201 rft: WpfGui重构 拆分`一键长草-自动肉鸽`
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml.cs
Labels: module: roguelike, client: WpfGui, MAA Team

#11210 Revert "fix: 刷理智失败次数限制未生效"
  resource/tasks.json
Labels: module: fight, MAA Team

#11218 rft: WpfGui重构 拆分`一键长草-获取信用及购物任务`
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/MallSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/MallSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/MallSettingsUserControl.xaml.cs
Labels: client: WpfGui, module: others, MAA Team

#11219 rft: WpfGui重构 拆分`一键长草-基建任务`任务
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml.cs
Labels: module: infrast, client: WpfGui, MAA Team

#11222 chore: YostarJP ocr replace 魔王
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11224 ci(perf): remove compression from res-update-game
  .github/workflows/res-update-game.yml
Labels: MAA Team

#11226 fix: 肉鸽构想不足过高阈值导致 mac 版无法识别
  resource/tasks.json
Labels: module: roguelike, MAA Team, client: MacGui

#11228 rft: WpfGui重构 拆分`一键长草-领取奖励任务`
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/AwardSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/AwardSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/AwardSettingsUserControl.xaml.cs
Labels: client: WpfGui, MAA Team

#11229 docs: 修改常见问题中的下载/安装问题的描述
  docs/en-us/manual/faq.md
  docs/ja-jp/manual/faq.md
  docs/ko-kr/manual/faq.md
  docs/zh-cn/manual/faq.md
  docs/zh-tw/manual/faq.md
Labels: documentation

#11232 fix: 避免非预期的任务参数设置检查
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team

#11233 refactor: 优化 StageManager 代码结构
  src/MaaWpfGui/Services/StageManager.cs
Labels: MAA Team

#11209 rft: WpfGui`游戏设置`修改为`运行设置`
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ConnectSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GameSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#11248 fix: 繁中服無法訪問好友
  resource/global/txwy/resource/template/StartToVisit.png
Labels: client: ZH_TW

#11255 i18n: Translations update from MAA Weblate
  docs/glossary/ja-jp.json
Labels: client: WpfGui, MAA Team
