Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-04, with the labels that each got.

#8739 chore: 修复changelog_generator编码问题，以及部分重构
  .github/workflows/release-nightly-ota.yml
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team

#8756 ci: 修复gen_changelog的错误操作
  .github/workflows/gen-changelog.yml
Labels: MAA Team

#8733 docs: sync with upstream, re-arrange for linux users
  docs/en-us/1.5-EMULATOR_SUPPORTS_FOR_LINUX.md
  docs/en-us/1.6-USER_GUIDE_FOR_CLI.md
  docs/en-us/2.1-LINUX_TUTORIAL.md
  docs/zh-tw/1.5-Linux模擬器支援.md
  docs/zh-tw/1.6-CLI使用說明.md
  docs/zh-tw/2.1-Linux編譯教學.md
  docs/开发文档/Linux编译教程.md
  docs/用户手册/CLI使用指南.md
  docs/用户手册/模拟器和设备支持/Linux模拟器与容器.md
Labels: documentation, MAA Team

#8764 fix: 尝试修复肉鸽导航
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  resource/template/Roguelike@IntegratedStrategies.png
Labels: module: roguelike

#8769 fix: 尝试修复肉鸽导航 oversea clients
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Roguelike@IntegratedStrategies.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Roguelike@IntegratedStrategies.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Roguelike@IntegratedStrategies.png
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Roguelike@IntegratedStrategies.png
Labels: module: roguelike, client: JP

#8768 chore: YoStarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8780 fix: YoStarJP ocr グラベル
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8788 fix: 特米米 in battle ocr detection
  resource/tasks.json
Labels: module: fight, MAA Team

#8795 fix: 假日场景下，银淞主题UI无法进入基建
  resource/tasks.json
  resource/template/EnterInfrastSami.png
Labels: module: infrast

#8491 perf: 战斗列表处于激活时，浏览带有难度标识的作业会自动添加对应难度到战斗列表
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#8802 docs: change image transparency
  docs/ja-jp/使用説明/詳細説明.md
Labels: documentation

#8807 fix: 繁中服幹員識別修正
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#8817 fix: 替換繁中服 StartToVisit 圖片
  resource/global/txwy/resource/template/StartToVisit.png
Labels: module: others, client: ZH_TW

#8827 feat: 巴别塔导航数据
  resource/tasks.json
Labels: MAA Team

#8829 feat: 巴别塔二、三阶段导航预载
  resource/tasks.json
Labels: MAA Team

#8825 feat: 更新一图流生成 243 极限效率一天四换排班表
  resource/custom_infrast/243_layout_4_times_a_day_yituliu_1713115015768723.json
Labels: module: infrast, module: copilot

#8839 doc: 修复404的链接
  docs/zh-tw/1.5-Linux模擬器支援.md
Labels: documentation

#8843 feat: 新增 多索雷斯商业地块、边地移动城镇 保全派驻作业
  resource/copilot/SSS_多索雷斯商业地块_浊心斯卡蒂+纯烬艾雅法拉+重岳+塞雷娅+澄闪_法术调和能量场.json
  resource/copilot/SSS_边地移动城镇_浊心斯卡蒂+纯烬艾雅法拉+重岳+塞雷娅+提丰_声波记录扩音器.json
Labels: module: copilot

#8846 ci: 无变动时不再发起更新资源
  .github/workflows/res-update-game.yml
Labels: MAA Team

#8847 feat: 阿尔斯特甜品制作平台追加作业
  resource/copilot/old/SSS_阿尔斯特甜品制作平台_浊蒂艾丽妮版.json
  resource/copilot/old/SSS_阿尔斯特甜品制作平台_浊蒂重岳版.json
  resource/copilot/old/SSS_阿尔斯特甜品制作平台_浊蒂锏版.json
Labels: module: copilot

#8848 feat: 新增 多索雷斯商业地块 保全派驻作业
  resource/copilot/SSS_多索雷斯商业地块_浊心斯卡蒂+纯烬艾雅法拉+剑豪系（锏艾丽妮陈）+塞雷娅+澄闪_法术调和能量场.json
Labels: module: copilot

#8851 chore: YoStarJP new UI theme templates
  resource/global/YoStarJP/resource/template/DepotEnterDark.png
  resource/global/YoStarJP/resource/template/DepotEnterMistCity.png
  resource/global/YoStarJP/resource/template/EnterInfrastDark.png
  resource/global/YoStarJP/resource/template/EnterInfrastMistCity.png
  resource/global/YoStarJP/resource/template/FriendsDark.png
  resource/global/YoStarJP/resource/template/FriendsMistCity.png
  resource/global/YoStarJP/resource/template/GachaEnterDark.png
  resource/global/YoStarJP/resource/template/GachaEnterMistCity.png
  resource/global/YoStarJP/resource/template/OperBoxEnterDark.png
  resource/global/YoStarJP/resource/template/OperBoxEnterMistCity.png
  resource/global/YoStarJP/resource/template/RecruitDark.png
  resource/global/YoStarJP/resource/template/RecruitMistCity.png
  resource/global/YoStarJP/resource/template/TaskDark.png
  resource/global/YoStarJP/resource/template/TaskMistCity.png
  resource/global/YoStarJP/resource/template/TerminalDark.png
  resource/global/YoStarJP/resource/template/TerminalMistCity.png
Labels: client: JP

#8857 perf: 优化边城保全声波记录扩音器脚本打法及修改脚本名称
  resource/copilot/SSS_边地移动城镇_浊心斯卡蒂+纯烬艾雅法拉or流明or闪灵+重岳or煌or水月+塞雷娅+提丰or早露_声波记录扩音器.json
Labels: module: copilot

#8858 feat: 新增 边地移动城镇另外两个元件的保全派驻作业
  resource/copilot/SSS_边地移动城镇_浊心斯卡蒂+纯烬艾雅法拉or流明or闪灵+重岳or煌or水月+塞雷娅+提丰or早露_可充能督战音响.json
  resource/copilot/SSS_边地移动城镇_浊心斯卡蒂+纯烬艾雅法拉or流明or闪灵+重岳or煌or水月+塞雷娅+提丰or早露_尖端研究成果共享终端.json
Labels: module: copilot

#8835 docs: 更新明日方舟工具箱地址
  README.md
  docs/en-us/1.1-USER_MANUAL.md
  docs/en-us/3.2-CALLBACK_SCHEMA.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ja-jp/プロトコルドキュメント/コールバックAPI.md
  docs/ja-jp/使用説明/詳細説明.md
  docs/ko-kr/readme.md
  docs/ko-kr/사용자설명서/사용자설명서.md
  docs/ko-kr/스키마/2.콜백.md
  docs/readme.md
  docs/zh-tw/1.1-詳細介紹.md
  docs/zh-tw/3.2-回呼訊息協議.md
  docs/zh-tw/readme.md
  docs/协议文档/回调消息协议.md
  docs/用户手册/详细介绍.md
  src/MaaCore/Task/Miscellaneous/DepotRecognitionTask.cpp
Labels: documentation, client: WpfGui

#8885 chore: update YoStarJP DepotEnterMistCity
  resource/global/YoStarJP/resource/template/DepotEnterMistCity.png
Labels: client: JP, module: depot

#8892 fix: Copilot Combatlist H-1x-x Stage recognition
  resource/tasks.json
Labels: module: copilot, client: KR

#8895 fix: 增加对地图文件检查，避免只存在索引
  src/MaaCore/Task/BattleHelper.cpp
Labels: MAA Team

#8897 chore: 繁中服「空想花庭」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#8912 chore: YoStarJP ZT navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#8918 feat: 支持五周年赠送月卡的领取
  resource/tasks.json
  resource/template/CloseSpecialAccess.png
  src/MaaCore/Task/Interface/AwardTask.cpp
  src/MaaCore/Task/Interface/AwardTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/AwardSettingsUserControl.xaml
Labels: MAA Team

#8932 feat: 标题栏显示多选框
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/GUISettingsUserControl.xaml
Labels: MAA Team

#8935 feat: CC 镜像路径变动
  src/MaaWpfGui/Constants/MaaUrls.cs
Labels: MAA Team
