Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-10, with the labels that each got.

#10719 chore: v5.7.0 highlight
  CHANGELOG.md
Labels: MAA Team

#10716 Release v5.7.0
  .github/workflows/optimize-templates.yml
  CHANGELOG.md
  resource/tasks.json
  resource/template/BattleQuickFormationRole-All.png
  resource/template/BattleQuickFormationRole-Caster.png
  resource/template/BattleQuickFormationRole-Medic.png
  resource/template/BattleQuickFormationRole-Pioneer.png
  resource/template/BattleQuickFormationRole-Sniper.png
  resource/template/BattleQuickFormationRole-Special.png
  resource/template/BattleQuickFormationRole-Support.png
  resource/template/BattleQuickFormationRole-Tank.png
  resource/template/BattleQuickFormationRole-Warrior.png
  src/MaaCore/Config/OnnxSessions.h
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UserControl/ReclamationSettingsUserControl.xaml
  tools/MaskRangeTool/main.py
  tools/OptimizeTemplates/optimize_templates.json
Labels: MAA Team, release

#10733 ci: Resource Updater push perfs
  .github/workflows/res-update-game.yml
Labels: MAA Team

#10734 docs: 明确文档中的 MacOS 称呼
  .github/issue-checker.yml
  docs/en-us/manual/device/macos.md
  docs/zh-cn/manual/device/macos.md
Labels: documentation, MAA Team, client: MacGui

#10757 fix: 为随机借助战功能添加点击确认按钮的步骤
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
Labels: module: roguelike

#10758 doc: Update JP バベル
  docs/glossary/ja-jp.json
Labels: client: JP

#10754 chore: Issue 模板添加雷电截图增强相关
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#10762 fix: 更换确认助战 roi 时填写值错误
  resource/tasks.json
Labels: MAA Team

#10765 perf: 萨米/萨卡兹肉鸽招募适配维娜 · 维多利亚
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike

#10767 fix: YostarKR tweak Sami StageEnterBattleAgain specificRect
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, module: fight, MAA Team, client: KR

#10764 feat: 自动战斗-战斗列表增加单任务作业查看
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot, MAA Team

#10713 feat: 支持mumu后台保活，通过包名获取display_id
  resource/config.json
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/Controller/MumuExtras.cpp
  src/MaaCore/Controller/MumuExtras.h
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/ConnectSettingsUserControl.xaml
Labels: MAA Team

#10763 fix: 维娜·维多利亚 OcrReplace
  resource/tasks.json
Labels: MAA Team

#10786 fix: mumu display id error when ark not startup
  src/MaaCore/Controller/MumuExtras.cpp
Labels: MAA Team, module: core

#10787 fix: mumu display id error if startup ark manually
  src/MaaCore/Controller/MumuExtras.cpp
Labels: MAA Team, module: core

#10793 perf: 降低萨卡兹肉鸽 维娜·维多利亚 招募优先级
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#10798 perf: 傀影肉鸽招募适配乌尔比安
  resource/roguelike/Phantom/recruitment.json
Labels: module: roguelike, MAA Team

#10792 perf: 降低萨米、萨卡兹肉鸽 维娜·维多利亚 招募优先级
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#10801 fix: YostarKR replaced StageFerociousPresageEnter.png to improve recognition score
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageFerociousPresageEnter.png
Labels: module: roguelike, module: others, MAA Team, client: KR

#10804 fix: 修复错误的`定时 7`分钟最大值
  src/MaaWpfGui/Views/UserControl/TimerSettingsUserControl.xaml
Labels: MAA Team

#10811 chore: 更新 bug-issue 模板
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#10819 chore: revert 09cdf4e
  resource/global/YoStarJP/resource/tasks.json
Labels: module: others

#10824 perf: RA加快开局教程对话
  resource/tasks.json
Labels: MAA Team

#10831 perf: 将萨米、萨卡兹肉鸽阵容完备度的 益达、玛恩纳、水陈 组调为2
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#10830 perf: 更新肉鸽 ew 优先级
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
Labels: module: roguelike, MAA Team

#10829 perf: IS Phantom Update 雕匠与石像.json
  resource/roguelike/Phantom/autopilot/雕匠与石像.json
Labels: MAA Team

#10827 ci: update DirectML to 1.15.2 for Windows
  maadeps-download.py
Labels: MAA Team

#10817 feat: b服支持多分辨率多 dpi 登录
  resource/tasks.json
  resource/template/AccountManagerBili.png
  resource/template/AccountManagerLoginButton.png
  resource/template/AccountManagerLoginButtonBili.png
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: others, MAA Team

#10818 fix: CharsNameOcrReplace 维娜·维多利亚
  resource/tasks.json
Labels: MAA Team

#10783 docs: MuMu 截图增强适配后台保活&雷电截图增强文档
  docs/en-us/manual/connection.md
  docs/ja-jp/manual/connection.md
  docs/ko-kr/manual/connection.md
  docs/zh-cn/manual/connection.md
  docs/zh-tw/manual/connection.md
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, MAA Team, MuMu API

#10839 Release v5.8.0-beta.1
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/version.json
Labels: MAA Team, release

#10844 fix: GO 识别错误
  resource/tasks.json
Labels: MAA Team

#10851 docs: 更新MuMu截图增强模式中端口的文本描述
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: documentation, MuMu API

#10857 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: client: WpfGui, MAA Team

#10864 fix: 降低 肉鸽投资确认 模板匹配阈值
  resource/tasks.json
Labels: module: roguelike, MAA Team

#10846 fix: 公开招募检测 Tag 失败时尝试识别 <继续招募> 按钮
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
Labels: module: recruit

#10807 docs: 更新肉鸽文档
  docs/zh-cn/protocol/integrated-strategy-schema.md
Labels: documentation, module: roguelike, MAA Team

#10753 docs: 更新文档（自动检测 雷电端口 截图增强）
  docs/en-us/manual/connection.md
  docs/en-us/manual/device/windows.md
  docs/en-us/manual/faq.md
  docs/en-us/manual/newbie.md
  docs/ja-jp/manual/connection.md
  docs/ja-jp/manual/device/windows.md
  docs/ja-jp/manual/faq.md
  docs/ko-kr/manual/connection.md
  docs/ko-kr/manual/device/windows.md
  docs/ko-kr/manual/faq.md
  docs/zh-cn/manual/connection.md
  docs/zh-cn/manual/device/windows.md
  docs/zh-cn/manual/faq.md
  docs/zh-cn/manual/newbie.md
  docs/zh-tw/manual/connection.md
  docs/zh-tw/manual/device/windows.md
  docs/zh-tw/manual/faq.md
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, client: WpfGui, MAA Team

#10877 feat: 软件更新中添加手动更新资源版本
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
Labels: client: WpfGui, MAA Team

#10806 fix: 修复肉鸽阵容完备度中单个干员重复出现于多个干员组的问题
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
Labels: module: roguelike, MAA Team

#10881 docs: 更正错误说明
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, module: others, MAA Team

#10879 Release v5.8.0-beta.2
  CHANGELOG.md
  docs/en-us/manual/connection.md
  docs/en-us/manual/device/windows.md
  docs/en-us/manual/faq.md
  docs/en-us/manual/newbie.md
  docs/ja-jp/manual/connection.md
  docs/ja-jp/manual/device/windows.md
  docs/ja-jp/manual/faq.md
  docs/ko-kr/manual/connection.md
  docs/ko-kr/manual/device/windows.md
  docs/ko-kr/manual/faq.md
  docs/zh-cn/manual/connection.md
  docs/zh-cn/manual/device/windows.md
  docs/zh-cn/manual/faq.md
  docs/zh-cn/manual/newbie.md
  docs/zh-cn/protocol/integrated-strategy-schema.md
  docs/zh-tw/manual/connection.md
  docs/zh-tw/manual/device/windows.md
  docs/zh-tw/manual/faq.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/tasks.json
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeRecruitConfig.h
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/Views/UserControl/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team, release

#10883 fix: YostarKR add ocrReplace on RecruitSupportConfirm
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, module: recruit, MAA Team, client: KR

#10893 fix: 部分情况下信用购物因过度动画购买错误
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/CreditShoppingTask.cpp
Labels: module: others

#10887 fix: 错误分类 changelog
  tools/ChangelogGenerator/changelog_generator.py
Labels: module: others, MAA Team

#10925 chore: v5.8.0 highlight
  CHANGELOG.md
Labels: MAA Team

#10930 i18n: Translations update from MAA Weblate
  docs/glossary/ja-jp.json
Labels: client: WpfGui, MAA Team

#10933 Release v5.8.1
  CHANGELOG.md
  docs/glossary/ja-jp.json
  resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team, release

#10944 i18n: Translations update from MAA Weblate
  docs/glossary/ja-jp.json
Labels: client: WpfGui, MAA Team

#10918 feat: 支持肉鸽选难度
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  resource/tasks.json
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#10965 fix: 为生息演算无存档刷点数模式最后的删除存档任务添加重试机制
  resource/tasks.json
Labels: MAA Team, module: reclamation

#10913 perf: 调整关卡选择更新逻辑
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/StageManager.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: module: fight, MAA Team

#10968 fix: 要求每次进入基建宿舍后都重新选择一遍筛选条件
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
Labels: module: infrast

#10977 docs: 移除赘字
  docs/zh-cn/develop/overseas-client-adaptation.md
Labels: documentation

#10986 chore: YostarJP EP14 ocr update
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/MiningActivityConfirm.png
Labels: module: copilot, client: JP

#10987 chore: 繁中服「銀心湖列車」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#10978 fix: 修复对 expected_collapsal_paradigms 参数支持
  MAA.sln.DotSettings
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UserControl/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike

#10979 perf: 肉鸽选难度允许不选难度
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
Labels: module: roguelike, MAA Team

#10953 docs: MuMu 网络桥接
  docs/en-us/manual/connection.md
  docs/ja-jp/manual/connection.md
  docs/ko-kr/manual/connection.md
  docs/zh-cn/manual/connection.md
  docs/zh-tw/manual/connection.md
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, MAA Team

#10950 docs: 运行库问题
  README.md
  docs/en-us/manual/faq.md
  docs/en-us/readme.md
  docs/ja-jp/manual/faq.md
  docs/ja-jp/readme.md
  docs/ko-kr/manual/faq.md
  docs/ko-kr/readme.md
  docs/zh-cn/manual/connection.md
  docs/zh-cn/manual/faq.md
  docs/zh-cn/manual/newbie.md
  docs/zh-cn/readme.md
  docs/zh-tw/manual/faq.md
  docs/zh-tw/readme.md
Labels: documentation, MAA Team
