Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2024-12, with the labels that each got.

#11258 perf: 账号切换退出账号增加OCR
  resource/tasks.json
Labels: module: others, MAA Team

#11263 chore: YostarJP BP navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11223 rft: WpfGui重构 拆分`一键长草-刷理智任务`
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: fight, client: WpfGui, MAA Team

#11279 chore: YostarKR BP navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11285 chore: YostarKR add BP new operators
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11286 feat: YostarJP manually add BP new operators
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11290 chore: 管理员权限启动无法使用开机自启
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Utilities/AutoStart.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/StartSettingsUserControlModel.cs
Labels: MAA Team

#11276 fix: 萨卡兹肉鸽点刺成锭分队开局思维阻塞
  resource/tasks.json
Labels: module: roguelike, MAA Team

#11293 chore: remove Yostar servers reclamation algorithm temp edits
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
Labels: module: reclamation

#11294 feat: SideStory「出苍白海」导航
  resource/tasks.json
Labels: MAA Team

#11299 Release v5.11.0-beta.1
  .github/workflows/ci.yml
Labels: MAA Team, release

#11301 fix: 移除多余的阻止休眠设置选项
  src/MaaWpfGui/Views/UserControl/Settings/ConnectSettingsUserControl.xaml
Labels: MAA Team

#11302 fix: 将萨卡兹肉鸽 CloseCollection 的 Continue 和 Close 改为 RGBCount
  resource/tasks.json
Labels: module: roguelike, MAA Team

#11305 style: tweak unsupported level logging
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#11307 fix: YostarJP MedicineExpiringTime ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: module: others, client: JP

#11311 rft: WpfGui重构 拆分`一键长草-公招任务`
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RecruitSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RecruitSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RecruitSettingsUserControl.xaml.cs
Labels: module: recruit, client: WpfGui, MAA Team

#11316 rft: 简化完成后动作UI绑定
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/PostActionUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/PostActionUserControl.xaml.cs
Labels: MAA Team

#11318 chore: 更新保全派驻荒地群兽音乐厅，多索雷斯在建地块新作业
  resource/copilot/SSS_多索雷斯在建地块_维什戴尔+荒芜拉普兰德+浊心斯卡蒂_镀膜装置导能阀.json
  resource/copilot/SSS_荒地群兽音乐厅_维什戴尔_荒芜拉普兰德_轻型瞄准测距仪.json
  resource/copilot/old/SSS_交战荒野-维什戴尔+澄闪+浊心斯卡蒂+纯烬艾雅法拉or流明-皇家科学院望远镜.json
  resource/copilot/old/SSS_交战荒野_澄闪+塞雷娅+纯烬艾雅法拉or流明+重岳or水月or阿斯卡纶_皇家科学院望远镜.json
  resource/copilot/old/SSS_玉门市集-维什戴尔+澄闪+浊心斯卡蒂+纯烬艾雅法拉or流明-攀云机.json
  resource/copilot/old/SSS_玉门市集_澄闪+塞雷娅+维什戴尔+纯烬艾雅法拉+重岳or水月or阿斯卡纶_攀云机.json
  resource/tasks.json
Labels: module: copilot, MAA Team

#11317 ci/nightly-schedule
  .github/workflows/release-nightly-ota.yml
Labels: client: WpfGui, MAA Team

#11330 rft: WpfGui重构 部分拆分`设置-关于`
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/AboutUserControl.xaml.cs
Labels: client: WpfGui, MAA Team

#11334 fix: 进入去伪存真后识别太快导致错过 close collection 识别
  resource/tasks.json
Labels: MAA Team

#11336 fix: YostarKR improved StageMysteriousPresageEnter recognition score
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageMysteriousPresageEnter.png
Labels: module: roguelike, MAA Team, client: KR

#11351 fix: YostarKR improved StageBoskyPassageEnter recognition score
  resource/global/YoStarKR/resource/template/Sami@Roguelike@StageBoskyPassageEnter.png
Labels: module: roguelike, MAA Team, client: KR

#11352 Delete docs/.vuepress/public/image/Captain_Falcon.png
  docs/.vuepress/public/image/Captain_Falcon.png
Labels: MAA Team, ambiguous

#11354 debug: add image
  resource/template/Captain_Falcon.png
Labels: MAA Team

#11350 chore: add YostarJP ocrReplace 黑角
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11349 docs: 增加Mac模拟器：蓝叠模拟器air版
  docs/en-us/manual/device/macos.md
  docs/ja-jp/manual/device/macos.md
  docs/ko-kr/manual/device/macos.md
  docs/zh-cn/manual/device/macos.md
  docs/zh-tw/manual/device/macos.md
Labels: documentation, translation required

#11227 docs: 新手上路增加非 Windows 指引；macOS 和 Android 实体设备添加说明
  docs/en-us/manual/device/android.md
  docs/en-us/manual/device/macos.md
  docs/en-us/manual/newbie.md
  docs/ja-jp/manual/device/android.md
  docs/ja-jp/manual/device/macos.md
  docs/ja-jp/manual/newbie.md
  docs/ko-kr/manual/device/android.md
  docs/ko-kr/manual/device/macos.md
  docs/ko-kr/manual/newbie.md
  docs/zh-cn/manual/device/android.md
  docs/zh-cn/manual/device/macos.md
  docs/zh-cn/manual/newbie.md
  docs/zh-tw/manual/device/android.md
  docs/zh-tw/manual/device/macos.md
  docs/zh-tw/manual/newbie.md
Labels: documentation, MAA Team, client: MacGui

#11362 ci: prevent duplicate runs
  .github/workflows/ci.yml
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#11372 feat: 更新 243 极限效率一天四换排班表（20241216 修订）
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast

#11373 feat: add discord webhook external notification
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/DiscordWebhookNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
Labels: client: WpfGui

#11376 build: Update turbo from 2.2.3 to 2.3.3
  website/package.json
  website/pnpm-lock.yaml
Labels: MAA Team

#11378 Try to fix the compilation failure on aarch64
  src/MaaCore/Config/TaskData.cpp
Labels: ambiguous

#11385 chore: 繁中服「水晶箭行動」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11381 fix: 生息演算无存档刷点模式，允许在确认离开当前区块后没有 Loading Text 的情况下等待
  resource/tasks.json
Labels: module: fight, module: reclamation

#11395 i18n: Translations update from MAA Weblate
  docs/glossary/zh-tw.json
Labels: client: WpfGui, MAA Team

#11375 docs: 任务流程协议 管理员权限FAQ 牛牛监控
  docs/en-us/manual/faq.md
  docs/en-us/manual/introduction/tools.md
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/manual/faq.md
  docs/ja-jp/manual/introduction/tools.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/manual/faq.md
  docs/ko-kr/manual/introduction/tools.md
  docs/ko-kr/protocol/task-schema.md
  docs/zh-cn/manual/faq.md
  docs/zh-cn/manual/introduction/tools.md
  docs/zh-cn/protocol/task-schema.md
  docs/zh-tw/manual/faq.md
  docs/zh-tw/manual/introduction/tools.md
  docs/zh-tw/protocol/task-schema.md
Labels: documentation, MAA Team

#11400 ci: perf improvement with caching
  .github/workflows/ci.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/res-update-game-unix_disabled.yml
  .github/workflows/res-update-game.yml
  .github/workflows/smoke-testing.yml
  src/Cpp/main.cpp
Labels: MAA Team

#11405 ci: remove cache from markdown-checker
  .github/workflows/markdown-checker.yml
Labels: MAA Team

#11406 fix: RA删除存档时重复识别
  resource/tasks.json
Labels: MAA Team

#11386 chore: 更新繁中服進入肉鴿的方式
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Roguelike@IntegratedStrategies.png
Labels: module: roguelike, client: ZH_TW

#11414 chore: YostarKR HE rerun navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11408 feat: RA2 multiple crafting
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  src/MaaCore/Task/Reclamation/ReclamationConfig.h
  src/MaaCore/Task/Reclamation/ReclamationCraftTaskPlugin.cpp
  src/MaaCore/Task/Reclamation/ReclamationCraftTaskPlugin.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team, module: reclamation

#11398 docs: 更新 README
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
Labels: documentation, MAA Team

#11431 chore: tw OcrReplace 添加关卡内道具
  resource/global/txwy/resource/tasks.json
Labels: client: WpfGui, MAA Team

#11435 chore: change secret
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#11437 ci: utilize changelog generator as version difference checker
  .github/workflows/release-nightly-ota.yml
  tools/ChangelogGenerator/changelog_generator.py
Labels: module: others, MAA Team

#11441 ci: nightly workflow tweaks
  .github/workflows/release-nightly-ota.yml
  tools/ChangelogGenerator/changelog_generator.py
Labels: MAA Team

#11446 ci: revert builds to ubuntu 22.04
  .github/workflows/ci.yml
Labels: MAA Team

#11449 feat: 适配界面主题「大荒」与「视相」
  resource/tasks.json
  resource/template/DepotEnterDahuangCity.png
  resource/template/DepotEnterGaming.png
  resource/template/EnterInfrastDahuangCity.png
  resource/template/EnterInfrastGaming.png
  resource/template/FriendsDahuangCity.png
  resource/template/FriendsGaming.png
  resource/template/GachaEnterDahuangCity.png
  resource/template/GachaEnterGaming.png
  resource/template/MallDahuangCity.png
  resource/template/MallGaming.png
  resource/template/OperBoxEnterDahuangCity.png
  resource/template/OperBoxEnterGaming.png
  resource/template/RecruitDahuangCity.png
  resource/template/RecruitGaming.png
  resource/template/TaskDahuangCity.png
  resource/template/TaskGaming.png
  resource/template/TerminalDahuangCity.png
  resource/template/TerminalGaming.png
Labels: MAA Team

#11455 ci: implement ps script for smoke-testing
  .github/workflows/smoke-testing.yml
  tools/SmokeTesting/run_tests.ps1
Labels: MAA Team

#11457 perf: implement cache for smoke-test
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#11458 perf: manual recursion + robocopy for smoke-testing
  .github/workflows/ci.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#11467 ci: use API for release-nightly-ota cancel
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team
