Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-07, with the labels that each got.

#13094 chore: 更新繁中服線索與部分截圖
  resource/global/txwy/resource/template/BattleQuickFormationRole-All.png
  resource/global/txwy/resource/template/ClueVacancyNo1.png
  resource/global/txwy/resource/template/ClueVacancyNo2.png
  resource/global/txwy/resource/template/ClueVacancyNo3.png
  resource/global/txwy/resource/template/ClueVacancyNo4.png
  resource/global/txwy/resource/template/ClueVacancyNo5.png
  resource/global/txwy/resource/template/ClueVacancyNo6.png
  resource/global/txwy/resource/template/ClueVacancyNo7.png
  resource/global/txwy/resource/template/InfrastSortByTrustButton.png
  resource/global/txwy/resource/template/InfrastSortByTrustButtonClickAgain.png
  resource/global/txwy/resource/template/Roguelike/base/Roguelike@QuickFormation.png
Labels: client: ZH_TW

#13117 fix: 调整 YoStarEN 大荒城公招、抽卡的截图以修复识别失败的问题
  resource/global/YoStarEN/resource/template/GachaEnterDahuangCity.png
  resource/global/YoStarEN/resource/template/RecruitDahuangCity.png
Labels: module: recruit, module: others, client: EN

#13124 fix: YostarKR HS rerun navigation
  resource/global/YoStarKR/resource/tasks/Stages/HS.json
Labels: module: fight, MAA Team, client: KR

#13125 fix: 繁中服無法識別荒蕪拉普蘭德
  resource/global/txwy/resource/tasks/tasks.json
Labels: client: ZH_TW

#13130 Release v5.18.3
  CHANGELOG.md
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
Labels: MAA Team, release

#13185 fix: 肉鸽界面设计器error
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#13187 chore: YostarJP tasks edits
  resource/global/YoStarJP/resource/tasks/Stages/OR.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#13180 fix: 移除Roguelike@GetDrop2中重复的Roguelike@DropsFlag任务
  resource/tasks/Roguelike/base.json
Labels: module: roguelike, MAA Team

#12636 perf: 添加萨卡兹肉鸽 机动队 溃乱魔典 盲盒广场 关卡策略
  resource/roguelike/Sarkaz/autopilot/机动队.json
  resource/roguelike/Sarkaz/autopilot/溃乱魔典.json
  resource/roguelike/Sarkaz/autopilot/盲盒广场.json
Labels: module: roguelike

#13160 feat: 优化会客室线索处理逻辑
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.h
Labels: module: infrast, MAA Team

#13204 Release v5.19.0-beta.1
  CHANGELOG.md
Labels: MAA Team, release

#12671 perf: 改进水月肉鸽干员部署逻辑
  resource/roguelike/Mizuki/autopilot/“命运的宠儿”.json
  resource/roguelike/Mizuki/autopilot/互助.json
  resource/roguelike/Mizuki/autopilot/余烬方阵.json
  resource/roguelike/Mizuki/autopilot/共生.json
  resource/roguelike/Mizuki/autopilot/分离与统一.json
  resource/roguelike/Mizuki/autopilot/原始部落.json
  resource/roguelike/Mizuki/autopilot/回溯.json
  resource/roguelike/Mizuki/autopilot/地下天途.json
  resource/roguelike/Mizuki/autopilot/大君遗脉.json
  resource/roguelike/Mizuki/autopilot/大群所向.json
  resource/roguelike/Mizuki/autopilot/失控.json
  resource/roguelike/Mizuki/autopilot/好梦在何方.json
  resource/roguelike/Mizuki/autopilot/射手部队.json
  resource/roguelike/Mizuki/autopilot/崇敬深海.json
  resource/roguelike/Mizuki/autopilot/巢穴.json
  resource/roguelike/Mizuki/autopilot/异体同心.json
  resource/roguelike/Mizuki/autopilot/征兆.json
  resource/roguelike/Mizuki/autopilot/据险固守.json
  resource/roguelike/Mizuki/autopilot/教徒居所.json
  resource/roguelike/Mizuki/autopilot/机械之灾.json
  resource/roguelike/Mizuki/autopilot/水火相容.json
  resource/roguelike/Mizuki/autopilot/海神的信者.json
  resource/roguelike/Mizuki/autopilot/海窟沙暴.json
  resource/roguelike/Mizuki/autopilot/深度认知.json
  resource/roguelike/Mizuki/autopilot/溟痕乐园.json
  resource/roguelike/Mizuki/autopilot/漩涡.json
  resource/roguelike/Mizuki/autopilot/火之骄子.json
  resource/roguelike/Mizuki/autopilot/狩猎场.json
  resource/roguelike/Mizuki/autopilot/病症.json
  resource/roguelike/Mizuki/autopilot/瞻前顾后.json
  resource/roguelike/Mizuki/autopilot/精酿杀手.json
  resource/roguelike/Mizuki/autopilot/纠错.json
  resource/roguelike/Mizuki/autopilot/育生池.json
  resource/roguelike/Mizuki/autopilot/蓄水池.json
  resource/roguelike/Mizuki/autopilot/蔓延.json
  resource/roguelike/Mizuki/autopilot/虫群横行.json
  resource/roguelike/Mizuki/autopilot/订正.json
  resource/roguelike/Mizuki/autopilot/铳与秩序.json
  resource/roguelike/Mizuki/autopilot/领地意识.json
  resource/roguelike/Mizuki/autopilot/饥渴.json
  resource/roguelike/Mizuki/recruitment.json
Labels: module: roguelike

#13220 fix: 移除ClientType未选择, 统一变更为官服
  src/MaaWpfGui/ViewModels/UserControl/Settings/GameSettingsUserControlModel.cs
Labels: MAA Team

#13230 perf: 干员因模组不可选中时, 加个输出
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#13251 Release v5.20.0-beta.2
  CHANGELOG.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
  resource/global/YoStarEN/resource/template/UiTheme/Dark/OperBoxEnter.png
  resource/global/YoStarEN/resource/template/UiTheme/Dark/Terminal.png
  resource/global/YoStarEN/resource/template/UiTheme/Gaming/DepotEnter.png
  resource/global/YoStarEN/resource/template/UiTheme/Siege/Recruit.png
  resource/global/YoStarJP/resource/template/Roguelike/base/RoguelikeBattleAbandon.png
  resource/global/YoStarJP/resource/template/UiTheme/Gaming/DepotEnter.png
  resource/global/YoStarJP/resource/template/UiTheme/Siege/GachaEnter.png
  resource/global/YoStarJP/resource/template/UiTheme/Siege/Recruit.png
  resource/global/YoStarKR/resource/template/Roguelike/base/RoguelikeBattleAbandon.png
  resource/global/YoStarKR/resource/template/UiTheme/Dark/Terminal.png
  resource/global/txwy/resource/template/UiTheme/Siege/Recruit.png
  resource/tasks/Roguelike/JieGarden.json
  resource/template/Roguelike/JieGarden/JieGarden@Roguelike@CloseEvent.png
  resource/template/Roguelike/JieGarden/JieGarden@Roguelike@GetDrop3.png
  resource/template/Roguelike/JieGarden/JieGarden@Roguelike@LastReward4.png
  resource/template/Roguelike/base/RoguelikeFormationOper.png
  resource/template/UiTheme/Dark/OperBoxEnter.png
  resource/template/UiTheme/Default/OperBoxEnter.png
  resource/template/UiTheme/Default/Recruit.png
  resource/template/UiTheme/Gaming/DepotEnter.png
  resource/template/UiTheme/Siege/GachaEnter.png
  resource/template/UiTheme/Siege/Recruit.png
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.h
  src/MaaWpfGui/Configuration/Single/MaaTask/RoguelikeTask.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
  tools/OptimizeTemplates/optimize_templates.json
Labels: module: roguelike, MAA Team, release

#13255 fix: 肉鸽导航无法选择傀影肉鸽
  resource/tasks/Roguelike/base.json
Labels: module: roguelike, MAA Team

#13276 chore: YostarJP ocr edits
  resource/global/YoStarJP/resource/tasks/Roguelike/Mizuki.json
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#13293 fix: 肉鸽导航
  resource/tasks/Roguelike/base.json
Labels: module: roguelike, MAA Team

#13297 chore: CN issue模板简化及Bot优化
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-feature-request.yaml
  .github/ISSUE_TEMPLATE/cn-mumu-report.yaml
  .github/workflows/issue-checkbox-checker.yml
Labels: MAA Team

#13309 chore: 简中繁中截图耗时过长提示增加截图增强提醒
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#13250 perf: 添加自动编队选项 忽略干员属性要求
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaWpfGui/Models/AsstTasks/AsstCopilotTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: copilot

#13336 chore: 繁中服「追跡日落以西」活動導航
  resource/global/txwy/resource/tasks/Stages/GO.json
Labels: client: ZH_TW

#13333 i18n: wpf`干员`统一使用指定字符串资源
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#13346 fix: YostarJP rogue OCR tweak for Mushikazu no Taki
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: module: roguelike, client: JP

#13342 refactor: 肉鸽局内外招募流程拆分
  resource/tasks/Roguelike/JieGarden.json
  resource/tasks/Roguelike/Mizuki.json
  resource/tasks/Roguelike/Phantom.json
  resource/tasks/Roguelike/Sami.json
  resource/tasks/Roguelike/Sarkaz.json
  resource/tasks/Roguelike/base.json
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#13371 Release v5.21.1
  CHANGELOG.md
  resource/config.json
  resource/tasks/Roguelike/JieGarden.json
  resource/tasks/Roguelike/Mizuki.json
  resource/tasks/Roguelike/Phantom.json
  resource/tasks/Roguelike/Sami.json
  resource/tasks/Roguelike/Sarkaz.json
  src/MaaCore/Task/Interface/StartUpTask.cpp
  src/MaaCore/Task/Miscellaneous/StartGameTaskPlugin.cpp
  src/MaaWpfGui/Helper/EmulatorHelper.cs
Labels: MAA Team, release

#13380 fix: use HSVCount on JieGarden@Roguelike@StageEmergencyDps
  resource/tasks/Roguelike/JieGarden.json
  tools/MaskRangeTool/utils.py
Labels: module: roguelike

#13395 fix: 修复放弃招募任务链；避战识别不到得偿所愿
  resource/roguelike/JieGarden/map.json
  resource/tasks/Roguelike/JieGarden.json
  resource/tasks/Roguelike/Sarkaz.json
  resource/tasks/Roguelike/base.json
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
Labels: module: recruit
