Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-05, with the labels that each got.

#12500 fix: 适配新基建
  resource/tasks/tasks.json
  resource/template/ControlCenter.png
  resource/template/ControlCenterMini.png
  resource/template/InfrastOverview.png
  resource/template/InfrastProcessing.png
  resource/template/InfrastProcessingMini.png
  resource/template/Office.png
  resource/template/OfficeMini.png
  resource/template/Reception.png
  resource/template/ReceptionMini.png
  resource/template/Training.png
  resource/template/TrainingMini.png
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
  src/MaaCore/Task/Infrast/InfrastOfficeTask.cpp
  src/MaaCore/Task/Infrast/InfrastProcessingTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Infrast/InfrastTrainingTask.cpp
Labels: module: infrast, MAA Team

#12547 Release v5.16.1
  CHANGELOG.md
  docs/zh-cn/develop/development.md
  docs/zh-tw/develop/development.md
  resource/tasks/tasks.json
  resource/template/BattleQuickFormationExpandRole.png
  resource/template/FightSeries-Icon.png
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaWpfGui/Extensions/UIBehaviors/FadeBehavior.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
  tools/GetImageFromROI/cutter.py
  tools/GetImageFromROI/updater.py
  tools/OptimizeTemplates/optimize_templates.json
  tools/OverseasClients/ignore_list_of_templates.txt
  tools/ResourceUpdater/main.cpp
Labels: module: others, MAA Team, release

#12556 fix: 基建选人前收起职业栏
  resource/tasks/tasks.json
  resource/template/ClueCanBeSent.png
  resource/template/InfrastCloseQuickFormationExpandRole.png
  resource/template/OnShift.png
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastControlTask.cpp
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
  src/MaaCore/Task/Infrast/InfrastOfficeTask.cpp
  src/MaaCore/Task/Infrast/InfrastPowerTask.cpp
  src/MaaCore/Task/Infrast/InfrastProcessingTask.cpp
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
Labels: module: infrast, MAA Team

#12559 chore: YostarJP infrast and texts
  resource/global/YoStarJP/resource/template/InfrastCloseQuickFormationExpandRole.png
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: module: infrast, client: JP

#12561 chore: YostarKR Infrast and texts
  resource/global/YoStarKR/resource/template/InfrastCloseQuickFormationExpandRole.png
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: infrast, MAA Team, client: KR

#12555 feat:实现自适应调整连战次数
  .nuke/build.schema.json
  .vscode/settings.json
  resource/tasks/tasks.json
  resource/template/FightSeries-List-Exceeded.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.cpp
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.h
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
Labels: module: fight

#12562 perf: 优化干员识别
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: module: others, MAA Team

#12574 fix: github change string to int
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team

#12568 Release v5.16.2
  .github/workflows/markdown-checker.yml
  .github/workflows/release-nightly-ota.yml
  .nuke/build.schema.json
  .vscode/settings.json
  CHANGELOG.md
  resource/global/YoStarEN/resource/template/InfrastCloseQuickFormationExpandRole.png
  resource/global/YoStarJP/resource/template/InfrastCloseQuickFormationExpandRole.png
  resource/global/YoStarKR/resource/template/InfrastCloseQuickFormationExpandRole.png
  resource/tasks/tasks.json
  resource/template/ClueCanBeSent.png
  resource/template/ControlCenter.png
  resource/template/FightSeries-List-Exceeded.png
  resource/template/InfrastCloseQuickFormationExpandRole.png
  resource/template/OnShift.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.cpp
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.h
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastControlTask.cpp
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
  src/MaaCore/Task/Infrast/InfrastOfficeTask.cpp
  src/MaaCore/Task/Infrast/InfrastPowerTask.cpp
  src/MaaCore/Task/Infrast/InfrastProcessingTask.cpp
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml
  tools/OptimizeTemplates/optimize_templates.json
  tools/OverseasClients/FindMissingTemplates.py
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: module: fight, MAA Team, release

#12577 docs: 更正主文档和中文文档中的两处错别字
  README.md
  docs/zh-cn/readme.md
Labels: documentation

#12578 docs: 更正保全派驻协议文档中的拼写错误
  docs/zh-cn/protocol/sss-schema.md
Labels: documentation, module: copilot

#12592 feat(breaking change): 指定次数联动连战, 修复连战导致指定次数失效
  resource/tasks/tasks.json
  resource/template/FightSeries-List-Multiply.png
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.cpp
  src/MaaCore/Task/Fight/FightSeriesAdjustPlugin.h
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.h
  src/MaaCore/Task/Fight/SanityBeforeStageTaskPlugin.cpp
  src/MaaCore/Task/Fight/SanityBeforeStageTaskPlugin.h
  src/MaaCore/Task/Interface/FightTask.cpp
  src/MaaCore/Task/Interface/FightTask.h
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: module: fight, MAA Team

#12605 refactor: HttpService调整, Post函数追加
  src/MaaWpfGui/Helper/CopilotHelper.cs
  src/MaaWpfGui/Helper/ETagCache.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/Services/Web/IHttpService.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#12607 chore: YostarJP ocr edits
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/Stages/PV.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#12580 fix: 开始战斗前闪退无限循环识别，关卡名检查放宽至一分钟
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
Labels: module: fight, MAA Team

#12594 perf: 基建使用切换职业栏返回列表最左侧
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
Labels: module: infrast, module: roguelike, MAA Team

#12599 feat: 肉鸽适配新干员
  resource/roguelike/Mizuki/recruitment.json
  resource/roguelike/Phantom/recruitment.json
  resource/roguelike/Sami/recruitment.json
  resource/roguelike/Sarkaz/autopilot/卫士不语功.json
  resource/roguelike/Sarkaz/recruitment.json
Labels: module: roguelike, MAA Team

#12602 feat: 添加 自定义 webhook 功能
  MAA.sln.DotSettings
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/CustomWebhookNotificationProvider.cs
  src/MaaWpfGui/Services/Notification/ExternalNotificationService.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
Labels: fixed

#12626 perf: 添加萨卡兹肉鸽劳作的清晨关卡策略
  resource/roguelike/Sarkaz/autopilot/劳作的清晨.json
Labels: module: roguelike

#11666 docs: 用户协议
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
  terms-of-service.md
  website/apps/web/src/components/home/HomeActions/HomeActions.tsx
Labels: documentation, module: recruit, client: WpfGui, module: copilot, MAA Team

#12652 fix: 修复外服基建干员选择列表无法重置
  resource/tasks/tasks.json
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
Labels: module: infrast, MAA Team

#12655 Release v5.16.4
  .github/workflows/ci.yml
  CHANGELOG.md
  resource/tasks/tasks.json
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastAbstractTask.h
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Vision/VisionHelper.cpp
Labels: MAA Team, release

#12639 fix: 修复MaaCore asst.log文件句柄泄露
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team, module: core

#12667 ci: don't check github link
  .github/workflows/markdown-checker.yml
Labels: MAA Team

#12711 fix: 繁中服悖論模擬
  resource/global/txwy/resource/tasks/tasks.json
  resource/global/txwy/resource/template/BattleStartSimulation.png
Labels: client: ZH_TW

#12701 feat: ProcessTask支持特征匹配
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/protocol/task-schema.md
  docs/zh-cn/protocol/task-schema.md
  docs/zh-tw/protocol/task-schema.md
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Config/TaskData.h
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Vision/Config/FeatureMatcherConfig.cpp
  src/MaaCore/Vision/Config/FeatureMatcherConfig.h
  src/MaaCore/Vision/FeatureMatcher.cpp
  src/MaaCore/Vision/Miscellaneous/PipelineAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/PipelineAnalyzer.h
Labels: MAA Team

#12718 perf: 黄票绿票商店使用特征匹配
  resource/tasks/tasks.json
  resource/template/GreenTicket@Store@ClickItem_Furniture_Part.png
  resource/template/GreenTicket@Store@ClickItem_Headhunting_Permit.png
  resource/template/GreenTicket@Store@ClickItem_LMD.png
  resource/template/GreenTicket@Store@ClickItem_Orundum.png
  resource/template/GreenTicket@Store@ClickItem_Pure_Gold.png
  resource/template/GreenTicket@Store@ClickItem_Recruitment_Permit.png
  resource/template/GreenTicket@Store@ClickItem_Tactical_Battle_Record.png
  resource/template/YellowTicket@Store@ClickItem_Headhunting_Permit.png
  resource/template/YellowTicket@Store@ClickItem_Ten-roll_Headhunting_Permit.png
Labels: MAA Team

#12729 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#12734 chore: 尚蜀夜市招募黑名单添加新约能天使
  resource/copilot/SSS_任务专用_尚蜀夜市_阿斯卡纶_伊桑_自适应补给元件.json
Labels: module: recruit, MAA Team

#12736 fix: ocr fix
  resource/tasks/tasks.json
Labels: MAA Team

#12740 perf: 自动战斗编队优化干员识别, 修复roi未包含完整干员名
  resource/tasks/tasks.json
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
Labels: module: copilot, module: others, MAA Team

#12756 Release v5.16.8
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks/tasks.json
  resource/tasks/tasks.json
  resource/version.json
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Vision/RegionOCRer.cpp
  src/MaaCore/Vision/VisionHelper.cpp
  src/MaaCore/Vision/VisionHelper.h
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team, release

#12764 feat: 为Copilot添加土司通知
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: module: copilot, MAA Team

#12771 Release v5.16.9
  CHANGELOG.md
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/protocol/task-schema.md
  docs/zh-cn/protocol/task-schema.md
  docs/zh-tw/protocol/task-schema.md
  resource/Arknights-Tile-Pos/act1break_h01-activities-act1break-level_act1break_13.json
  resource/Arknights-Tile-Pos/act1break_h02-activities-act1break-level_act1break_14.json
  resource/Arknights-Tile-Pos/act1break_h03-activities-act1break-level_act1break_15.json
  resource/Arknights-Tile-Pos/act1break_h04-activities-act1break-level_act1break_16.json
  resource/Arknights-Tile-Pos/act1break_sp09-activities-act1break-level_act1break_sp09.json
  resource/Arknights-Tile-Pos/act1break_sp10-activities-act1break-level_act1break_sp10.json
  resource/Arknights-Tile-Pos/act1break_sp11-activities-act1break-level_act1break_sp11.json
  resource/Arknights-Tile-Pos/act1break_sp12-activities-act1break-level_act1break_sp12.json
  resource/Arknights-Tile-Pos/act1break_sp13-activities-act1break-level_act1break_sp13.json
  resource/Arknights-Tile-Pos/act1break_sp14-activities-act1break-level_act1break_sp14.json
  resource/Arknights-Tile-Pos/act1break_sp15-activities-act1break-level_act1break_sp15.json
  resource/Arknights-Tile-Pos/act1break_sp16-activities-act1break-level_act1break_sp16.json
  resource/Arknights-Tile-Pos/overview.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/version.json
  src/MaaCore/Task/Fight/MedicineCounterTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  tools/ResourceUpdater/version.ps1
Labels: MAA Team, release

#12773 rft: TooltipBlock封装
  src/MaaWpfGui/Styles/Controls/TooltipBlock.xaml
  src/MaaWpfGui/Styles/Controls/TooltipBlock.xaml.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team

#12765 feat: 自动战斗费用识别缓存, 减少性能消耗
  resource/tasks/tasks.json
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
  src/MaaCore/Task/Experiment/CombatRecordRecognitionTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.cpp
  src/MaaCore/Vision/Battle/BattlefieldMatcher.h
Labels: module: copilot, MAA Team, module: core

#12793 Release v5.16.10
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks/tasks.json
  resource/tasks/tasks.json
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Vision/Miscellaneous/OperBoxImageAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/OperNameAnalyzer.cpp
  src/MaaCore/Vision/Miscellaneous/OperNameAnalyzer.h
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: MAA Team, release

#12800 feat: 繁中服 薩卡茲肉鴿
  resource/global/txwy/resource/tasks/Roguelike/Sarkaz.json
  resource/global/txwy/resource/tasks/Roguelike/base.json
  resource/global/txwy/resource/tasks/tasks.json
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@ChooseBurdenOperatorAtStart.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@ChooseDifficulty.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@Continue.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@EnterAfterRecruit.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GamePass.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GamePassSkip1.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GamePassSkip2.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GetDropLeave.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GetDropSelect.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GetDropSelectRecruit.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@GetDropSelectReward.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@LastRewardConfirm.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@MapObject.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@MissionFailedFlag.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@MissionFailedFlag2.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@Recruit.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@RolesDefault.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@RoutingRefreshNode.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@SquadDefault.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageBoskyPassageEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageCombatDpsEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageDreadfulFoeEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageEmergencyDpsEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageEncounterEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageFilterTruthEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageFilterTruthLeave.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageFilterTruthLeaveConfirm.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageRefresh.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageRefreshConfirm.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageRefreshNoThought.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageRefreshUpperLimit.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageSafeHouseEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StageTraderEnter.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@StartExplore.png
  resource/global/txwy/resource/template/Roguelike/Sarkaz/Sarkaz@Roguelike@TodoEnter.png
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, client: ZH_TW

#12812 Release v5.17.0-beta.1
  resource/global/YoStarEN/resource/tasks/RA/Fire.json
  resource/global/YoStarJP/resource/tasks/RA/Fire.json
  resource/global/txwy/resource/tasks/RA/Fire.json
  resource/tasks/RA/Fire.json
Labels: MAA Team, release

#12818 perf: 肉鸽投资达限时, 增加输出提示
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.h
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
Labels: module: roguelike, MAA Team

#12827 i18n: wpf CN 修改描述`连战次数` -> `代理倍率`
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#12840 feat(#12823): 新增成就
  src/MaaWpfGui/Constants/AchievementIds.cs
  src/MaaWpfGui/Helper/AchievementTrackerHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/BackgroundSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/ErrorView.xaml.cs
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml.cs
Labels: MAA Team
