Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-08, with the labels that each got.

#13450 chore: 更新繁中服「崔林特爾梅之金」活動導航
  resource/global/txwy/resource/tasks/Stages/ZT.json
Labels: client: ZH_TW

#13368 feat: 新增是否进行线索交流选项
  docs/zh-cn/protocol/integration.md
  resource/tasks/tasks.json
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Models/AsstTasks/AsstInfrastTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast, module: roguelike, MAA Team

#13482 fix: clang编译警告
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
Labels: module: roguelike

#13500 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks/Roguelike/Mizuki.json
  resource/global/YoStarJP/resource/tasks/Roguelike/Sarkaz.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#13535 feat: Unhandled exception
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team

#13533 feat: u16 OCR replace
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Utils/Encoding.cpp
  src/MaaCore/Utils/Encoding.h
  src/MaaCore/Vision/OCRer.cpp
Labels: MAA Team

#13550 docs: KR update and overhaul entire documentation
  docs/.vuepress/public/images/ko-kr/readme/1-dark.png
  docs/.vuepress/public/images/ko-kr/readme/1-light.png
  docs/.vuepress/public/images/ko-kr/readme/2-dark.png
  docs/.vuepress/public/images/ko-kr/readme/2-light.png
  docs/.vuepress/public/images/ko-kr/readme/3-dark.png
  docs/.vuepress/public/images/ko-kr/readme/3-light.png
  docs/.vuepress/public/images/ko-kr/readme/4-dark.png
  docs/.vuepress/public/images/ko-kr/readme/4-light.png
  docs/ko-kr/develop/ci-tutorial.md
  docs/ko-kr/develop/development.md
  docs/ko-kr/develop/documentation-guidelines.md
  docs/ko-kr/develop/issue-bot-usage.md
  docs/ko-kr/develop/linux-tutorial.md
  docs/ko-kr/develop/overseas-client-adaptation.md
  docs/ko-kr/develop/pr-tutorial.md
  docs/ko-kr/manual/cli/README.md
  docs/ko-kr/manual/cli/intro.md
  docs/ko-kr/manual/connection.md
  docs/ko-kr/manual/device/android.md
  docs/ko-kr/manual/device/linux.md
  docs/ko-kr/manual/device/macos.md
  docs/ko-kr/manual/faq.md
  docs/ko-kr/manual/introduction/combat.md
  docs/ko-kr/manual/introduction/copilot.md
  docs/ko-kr/manual/introduction/credit.md
  docs/ko-kr/manual/introduction/infrastructure.md
  docs/ko-kr/manual/introduction/integrated-strategy.md
  docs/ko-kr/manual/introduction/others.md
  docs/ko-kr/manual/introduction/tools.md
  docs/ko-kr/manual/newbie.md
  docs/ko-kr/protocol/integrated-strategy-schema.md
  docs/ko-kr/protocol/integration.md
  docs/ko-kr/protocol/remote-control-schema.md
  docs/ko-kr/protocol/task-schema.md
  docs/ko-kr/readme.md
Labels: documentation, MAA Team

#13538 fix: 干员识别时因特殊排序时的遮挡而导致识别异常
  resource/global/YoStarEN/resource/tasks/tasks.json
  resource/global/YoStarJP/resource/tasks/tasks.json
  resource/global/YoStarKR/resource/tasks/tasks.json
  resource/global/txwy/resource/tasks/tasks.json
  resource/tasks/tasks.json
Labels: module: others, i18n

#13571 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#13576 feat: StartUp识别开始唤醒时最开始的完整性检测
  resource/global/YoStarEN/resource/tasks/tasks.json
  resource/global/YoStarJP/resource/tasks/tasks.json
  resource/global/YoStarKR/resource/tasks/tasks.json
  resource/global/txwy/resource/tasks/tasks.json
  resource/tasks/tasks.json
Labels: MAA Team, module: core

#13602 rft: 增加企鹅物流 .cn 备用域名，迁移上报逻辑到 UI 层
  MAA.sln.DotSettings
  docs/en-us/protocol/callback-schema.md
  docs/ja-jp/protocol/callback-schema.md
  docs/ko-kr/protocol/callback-schema.md
  docs/zh-cn/protocol/callback-schema.md
  docs/zh-tw/protocol/callback-schema.md
  resource/config.json
  src/MaaCore/Common/AsstMsg.h
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Task/Fight/StageDropsTaskPlugin.cpp
  src/MaaCore/Task/Fight/StageQueueMissionCompletedTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/ReportDataTask.cpp
  src/MaaCore/Task/ReportDataTask.h
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/Web/GameDataReportService.cs
Labels: MAA Team

#13612 perf: 代理倍率、肉鸽难度 使用 `不切换` 代替 `当前`、`不使用` 以符合实际逻辑
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
Labels: module: roguelike, MAA Team

#13635 refactor: 合并ocrBinThreshold
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/protocol/task-schema.md
  docs/maa_tasks_schema.json
  docs/maa_tasks_schema_en.json
  docs/zh-cn/protocol/task-schema.md
  docs/zh-tw/protocol/task-schema.md
  resource/tasks/Roguelike/JieGarden.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Vision/Config/OCRerConfig.cpp
Labels: MAA Team

#13638 ci: 关issue+提示，反复提issue+tag
  .github/workflows/issue-checkbox-checker.yml
Labels: MAA Team

#13644 chore: 繁中服「出蒼白海」活動導航
  resource/global/txwy/resource/tasks/Stages/EP.json
Labels: client: ZH_TW

#13652 fix: 移除使用empty.png当JustReturn屎
  resource/tasks/Roguelike/base.json
Labels: MAA Team

#13681 chore: 繁中服「出蒼白海」導航入口文字調整
  resource/global/txwy/resource/tasks/Stages/EP.json
Labels: client: ZH_TW

#13667 perf: 仓库识别改用二值化后的非char模型识别
  resource/tasks/tasks.json
  src/MaaCore/Vision/Miscellaneous/DepotImageAnalyzer.cpp
  src/MaaWpfGui/Extensions/NumberExtensions.cs
  src/MaaWpfGui/Helper/ToolTipHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
Labels: module: others, MAA Team, module: depot

#13691 fix: 修复萨卡兹肉鸽部分字段无法正确识别的问题
  resource/global/YoStarJP/resource/tasks/Roguelike/Sarkaz.json
Labels: module: roguelike

#13693 feat: 支持 梦乡 主题
  resource/tasks/RA/base.json
  resource/tasks/Roguelike/base.json
  resource/tasks/tasks.json
  resource/template/UiTheme/Dreamland/DreamlandDark/DepotEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDark/EnterInfrast.png
  resource/template/UiTheme/Dreamland/DreamlandDark/Friends.png
  resource/template/UiTheme/Dreamland/DreamlandDark/GachaEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDark/Mall.png
  resource/template/UiTheme/Dreamland/DreamlandDark/OperBoxEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDark/Recruit.png
  resource/template/UiTheme/Dreamland/DreamlandDark/Task.png
  resource/template/UiTheme/Dreamland/DreamlandDark/Terminal.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/DepotEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/EnterInfrast.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/Friends.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/GachaEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/Mall.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/OperBoxEnter.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/Recruit.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/Task.png
  resource/template/UiTheme/Dreamland/DreamlandDefault/Terminal.png
Labels: MAA Team

#13690 feat: 烧水模式启用快速退出
  resource/tasks/Roguelike/JieGarden.json
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
Labels: MAA Team

#13707 Revert "ci: bump the github-actions group in /.github/workflows with 2 updates"
  .github/workflows/blame-ignore.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/gen-changelog.yml
  .github/workflows/markdown-checker.yml
  .github/workflows/optimize-templates.yml
  .github/workflows/pr-auto-tag.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  .github/workflows/res-update-game.yml
  .github/workflows/smoke-testing.yml
  .github/workflows/sync-resource.yml
  .github/workflows/website-workflow.yml
Labels: MAA Team

#13713 docs: 文档日语化翻译
  docs/ja-jp/manual/introduction/combat.md
  docs/ja-jp/manual/introduction/credit.md
  docs/ja-jp/manual/introduction/infrastructure.md
  docs/ja-jp/manual/introduction/recruit.md
  docs/ja-jp/manual/introduction/startup.md
  docs/ja-jp/manual/introduction/tools.md
Labels: documentation, module: infrast, module: recruit, module: fight, module: others, translation required, module: core

#13699 feat: 设置排序
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Styles/Properties/ScrollViewerBinding.cs
  src/MaaWpfGui/ViewModels/SettingItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UI/SettingsView.xaml.cs
Labels: MAA Team

#13734 perf: 不同更新渠道加个描述
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team

#13756 chore: 更新新保全
  resource/copilot/SSS_约翰老妈新建地块_维什戴尔_荒芜拉普兰德_自适应补给元件.json
  resource/copilot/SSS_艺术馆旧址_维什戴尔_斩业星熊_遥_反制装甲套组.json
  resource/copilot/old/SSS_任务专用_尚蜀夜市_阿斯卡纶_伊桑_自适应补给元件.json
  resource/copilot/old/SSS_任务专用_阿卡胡拉丛林_维什戴尔+乌尔比安+安哲拉_阿戈尔示波器.json
  resource/copilot/old/SSS_尚蜀夜市_维什戴尔+阿斯卡纶+Mon3tr_天工夜行套装.json
  resource/copilot/old/SSS_尚蜀夜市——澄闪or荒芜拉普兰德+维什戴尔+余or任意盾+Mon3tror闪灵+伊桑or阿斯卡纶_天工夜行套装.json
  resource/copilot/old/SSS_尚蜀夜市——维什戴尔+塞雷娅+伊桑+温蒂_天工夜行套装.json
  resource/copilot/old/SSS_阿卡胡拉丛林_澄闪+荒芜拉普兰德+Mon3tr+逻各斯_丛林用示踪信标.json
  resource/copilot/old/SSS_阿卡胡拉丛林_维什戴尔单核_丛林用示踪信标.json
Labels: module: copilot, MAA Team

#13754 Release v5.23.0
  CHANGELOG.md
  docs/ja-jp/manual/introduction/combat.md
  docs/zh-cn/manual/introduction/combat.md
  docs/zh-tw/manual/introduction/combat.md
  resource/copilot/SSS_约翰老妈新建地块_维什戴尔_荒芜拉普兰德_自适应补给元件.json
  resource/copilot/SSS_艺术馆旧址_维什戴尔_斩业星熊_遥_反制装甲套组.json
  resource/copilot/old/SSS_任务专用_尚蜀夜市_阿斯卡纶_伊桑_自适应补给元件.json
  resource/copilot/old/SSS_任务专用_阿卡胡拉丛林_维什戴尔+乌尔比安+安哲拉_阿戈尔示波器.json
  resource/copilot/old/SSS_尚蜀夜市_维什戴尔+阿斯卡纶+Mon3tr_天工夜行套装.json
  resource/copilot/old/SSS_尚蜀夜市——澄闪or荒芜拉普兰德+维什戴尔+余or任意盾+Mon3tror闪灵+伊桑or阿斯卡纶_天工夜行套装.json
  resource/copilot/old/SSS_尚蜀夜市——维什戴尔+塞雷娅+伊桑+温蒂_天工夜行套装.json
  resource/copilot/old/SSS_阿卡胡拉丛林_澄闪+荒芜拉普兰德+Mon3tr+逻各斯_丛林用示踪信标.json
  resource/copilot/old/SSS_阿卡胡拉丛林_维什戴尔单核_丛林用示踪信标.json
  resource/tasks/Roguelike/JieGarden.json
  resource/tasks/Roguelike/Sami.json
  resource/tasks/tasks.json
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeCollapsalParadigmTaskPlugin.cpp
Labels: MAA Team, release

#13796 perf: 自动编队干员组显示模组需求
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaWpfGui/Models/Copilot/CopilotModel.cs
Labels: module: copilot

#13806 chore: 調整繁中服水月、薩卡茲肉鴿相關內容
  resource/global/txwy/resource/tasks/Roguelike/Mizuki.json
  resource/global/txwy/resource/tasks/Roguelike/Sarkaz.json
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike, client: WpfGui, client: ZH_TW

#13825 fix: 修正生息演算中 "丰饶灌木林" 的 OCR 识别
  resource/tasks/RA/Tales.json
Labels: module: reclamation

#13846 fix: 繁中服薩米肉鴿第四層名稱
  resource/global/txwy/resource/tasks/Roguelike/Sami.json
Labels: module: roguelike, client: ZH_TW

#13852 rft: 重构自动战斗战斗列表
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/MultiCopilotTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/MultiCopilotTaskPlugin.h
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.cpp
  src/MaaCore/Task/Miscellaneous/TaskFileReloadTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstCopilotTask.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#13800 i18n: 自动战斗模组错误本地化 & 移除多余的行末空格
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: copilot

#13888 chore: YostarKR EA navigation
  resource/global/YoStarKR/resource/tasks/Stages/EA.json
Labels: MAA Team, client: KR

#13893 feat: 支持一键悖论模拟
  resource/global/YoStarEN/resource/template/OperParadoxBegin.png
  resource/global/YoStarJP/resource/template/OperParadoxBegin.png
  resource/global/YoStarKR/resource/template/OperParadoxBegin.png
  resource/global/txwy/resource/template/OperParadoxBegin.png
  resource/tasks/tasks.json
  resource/template/OperInformationMenu.png
  resource/template/OperParadox.png
  resource/template/OperParadoxBegin.png
  resource/template/ParadoxChooseSkill.png
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Miscellaneous/CopilotConfig.h
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/MultiCopilotTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/MultiCopilotTaskPlugin.h
  src/MaaCore/Task/Miscellaneous/ParadoxRecognitionTask.cpp
  src/MaaCore/Task/Miscellaneous/ParadoxRecognitionTask.h
  src/MaaCore/Utils/Logger.hpp
  src/MaaWpfGui/Models/AsstTasks/AsstCopilotTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
Labels: module: others, MAA Team

#13905 chore: YostarJP remove old navigation
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: client: JP

#13906 chore: YostarEN updated main stage navigation
  resource/global/YoStarEN/resource/tasks/Roguelike/base.json
  resource/global/YoStarEN/resource/tasks/tasks.json
Labels: MAA Team, client: EN

#13926 ci: 更正了生成changelog工作流中debug信息的一处错误
  .github/workflows/gen-changelog.yml
Labels: module: others

#13928 refactor(wpf): 长草任务运行状态
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/TaskSettingVisibilityInfo.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast, module: fight, MAA Team
