Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-09, with the labels that each got.

#13923 docs: 修正文档中的部分错误
  docs/en-us/manual/connection.md
  docs/en-us/manual/device/windows.md
  docs/ja-jp/manual/connection.md
  docs/ja-jp/manual/device/windows.md
  docs/ko-kr/manual/connection.md
  docs/ko-kr/manual/device/windows.md
  docs/zh-cn/manual/device/windows.md
  docs/zh-cn/manual/faq.md
  docs/zh-tw/manual/device/windows.md
Labels: documentation, module: others

#13948 feat: 适配 悬想(界园肉鸽) 主题
  resource/tasks/RA/base.json
  resource/tasks/Roguelike/base.json
  resource/tasks/tasks.json
  resource/template/UiTheme/JieGarden/DepotEnter.png
  resource/template/UiTheme/JieGarden/EnterInfrast.png
  resource/template/UiTheme/JieGarden/Friends.png
  resource/template/UiTheme/JieGarden/GachaEnter.png
  resource/template/UiTheme/JieGarden/Mall.png
  resource/template/UiTheme/JieGarden/OperBoxEnter.png
  resource/template/UiTheme/JieGarden/Recruit.png
  resource/template/UiTheme/JieGarden/Task.png
  resource/template/UiTheme/JieGarden/Terminal.png
Labels: module: roguelike

#14005 fix: 允许生息演算任务反复点击存档位置直到画面改变
  resource/tasks/RA/Tales.json
Labels: module: reclamation

#14033 fix: EN Roguelike@ChooseOperConfirm
  resource/global/YoStarEN/resource/template/Roguelike/base/Roguelike@ChooseOperConfirm.png
Labels: module: roguelike

#14066 ci(perf): update smoke testing to ubuntu runner
  .github/workflows/smoke-testing.yml
  tools/SmokeTesting/run_tests.ps1
  tools/SmokeTesting/run_tests.sh
Labels: MAA Team

#14067 ci: split web and workflow codeql
  .github/workflows/codeql-web.yml
  .github/workflows/codeql-wf.yml
Labels: MAA Team

#14013 refactor: 维护信用作战相关功能及其文档
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/MallTask.cpp
  src/MaaCore/Task/Miscellaneous/CreditFightTask.cpp
  src/MaaCore/Task/Miscellaneous/CreditFightTask.h
Labels: module: fight, module: others

#14081 fix: 移除 debug_demo (原Sample) 的对应 resource 额外查找逻辑
  .github/workflows/smoke-testing.yml
  CMakeLists.txt
  cmake/utils.cmake
  src/Cpp/main.cpp
Labels: MAA Team

#14096 ci: 为smoke-testing使用cache时增加resource链接
  .github/workflows/smoke-testing.yml
  tools/SmokeTesting/run_tests.sh
Labels: MAA Team

#14107 refactor: use std::format instead of sprintf
  src/MaaCore/Controller/MinitouchController.h
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Experiment/CombatRecordRecognitionTask.cpp
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Utils/Time.hpp
  src/MaaCore/Vision/Battle/BattlefieldClassifier.cpp
  src/MaaCore/Vision/Matcher.cpp
  src/MaaCore/Vision/VisionHelper.cpp
Labels: MAA Team

#14095 feat: 自动战斗多作业支持保存干员组内编入的干员
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
Labels: module: copilot, MAA Team

#14109 ci: split cmake file
  CMakeLists.txt
  cmake/macos.cmake
  src/Cpp/CMakeLists.txt
  src/MaaCore/CMakeLists.txt
Labels: MAA Team

#14111 Release v5.25.0-beta.2
  .github/workflows/ci.yml
  .github/workflows/release-nightly-ota.yml
  .github/workflows/res-update-game.yml
  .github/workflows/smoke-testing.yml
  CHANGELOG.md
  CMakeLists.txt
  cmake/macos.cmake
  src/Cpp/CMakeLists.txt
  src/MaaCore/CMakeLists.txt
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Controller/MinitouchController.h
  src/MaaCore/Task/AbstractTask.cpp
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/Experiment/CombatRecordRecognitionTask.cpp
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSettlementTaskPlugin.cpp
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Utils/Time.hpp
  src/MaaCore/Vision/Battle/BattlefieldClassifier.cpp
  src/MaaCore/Vision/Matcher.cpp
  src/MaaCore/Vision/VisionHelper.cpp
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/SyncRes/SyncRes.csproj
  tools/SmokeTesting/run_tests.zsh
Labels: MAA Team, release

#14113 ci: use download-artifact v4
  .github/workflows/release-ota.yml
Labels: MAA Team

#14126 Release v5.25.0-beta.4
  .github/workflows/release-ota.yml
  CHANGELOG.md
  src/MaaCore/Controller/MinitouchController.h
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: MAA Team, release

#14137 chore: 繁中服「相見歡」活動導航
  resource/global/txwy/resource/tasks/Stages/OR.json
Labels: client: ZH_TW

#14145 fix: 肉鸽在结算界面卡死
  resource/tasks/Roguelike/base.json
Labels: module: roguelike, MAA Team

#14184 Release v5.25.0
  .github/stale_cache_cleanup.ps1
  .github/workflows/markdown-checker.yml
  CHANGELOG.md
  docs/.vuepress/navbar/en-us.ts
  docs/.vuepress/navbar/ja-jp.ts
  docs/.vuepress/navbar/ko-kr.ts
  docs/.vuepress/navbar/zh-cn.ts
  docs/.vuepress/navbar/zh-tw.ts
  docs/.vuepress/plume.config.ts
  docs/.vuepress/public/favicon.ico
  docs/.vuepress/public/files/MAA_Runtime_Fix_Pwsh.ps1
  docs/.vuepress/public/images/maa-support-panel.svg
  docs/README.md
  docs/en-us/develop/vsc-ext-tutorial.md
  docs/en-us/protocol/task-schema.md
  docs/ja-jp/develop/vsc-ext-tutorial.md
  docs/ja-jp/protocol/task-schema.md
  docs/ko-kr/develop/vsc-ext-tutorial.md
  docs/ko-kr/protocol/task-schema.md
  docs/zh-cn/develop/vsc-ext-tutorial.md
  docs/zh-cn/protocol/task-schema.md
  docs/zh-tw/develop/vsc-ext-tutorial.md
  docs/zh-tw/protocol/task-schema.md
  resource/infrast.json
  resource/roguelike/Mizuki/encounter/default.json
Labels: MAA Team, release

#14196 refactor: 重写完成后动作仅一次的ui字符串
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#14206 chore: YostarJP Mizuki StageEncounter
  resource/global/YoStarJP/resource/tasks/Roguelike/Mizuki.json
  resource/global/YoStarJP/resource/template/Roguelike/Mizuki/Mizuki@Roguelike@StageEncounterLeaveConfirm720p.png
Labels: client: JP

#14244 perf: 优化界园肉鸽部分关卡策略
  resource/roguelike/JieGarden/autopilot/去晦.json
  resource/roguelike/JieGarden/autopilot/啖之以利.json
  resource/roguelike/JieGarden/autopilot/所守者，义.json
  resource/roguelike/JieGarden/autopilot/明抢暗偷.json
  resource/roguelike/JieGarden/autopilot/月华寒.json
  resource/roguelike/JieGarden/autopilot/有教无类.json
  resource/roguelike/JieGarden/autopilot/正经生意.json
  resource/roguelike/JieGarden/autopilot/狡鼷三窟.json
  resource/roguelike/JieGarden/autopilot/破岁阵祀.json
  resource/roguelike/JieGarden/autopilot/老戏骨.json
  resource/roguelike/JieGarden/autopilot/背山面水.json
  resource/roguelike/JieGarden/autopilot/落叶归根.json
  resource/roguelike/JieGarden/autopilot/赶集.json
  resource/roguelike/JieGarden/autopilot/长驱不复.json
  resource/roguelike/JieGarden/autopilot/飞来横祸.json
  resource/roguelike/JieGarden/recruitment.json
Labels: module: roguelike
