Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-10, with the labels that each got.

#14276 perf: RegionOCRer 中 useRaw=false 时, 使用原图二值蒙版代替直接 OCR 二值图像
  src/MaaCore/Vision/RegionOCRer.cpp
Labels: MAA Team

#14292 docs: 将文档中指向部分文档目录的链接改为指向对应目录下的第一篇文档
  docs/en-us/manual/newbie.md
  docs/en-us/readme.md
  docs/ja-jp/manual/newbie.md
  docs/ja-jp/readme.md
  docs/ko-kr/manual/newbie.md
  docs/ko-kr/readme.md
  docs/zh-cn/manual/newbie.md
  docs/zh-cn/readme.md
  docs/zh-tw/manual/newbie.md
  docs/zh-tw/readme.md
Labels: documentation

#14270 docs: 文档站新增字符画组件
  docs/.prettierrc.cjs
  docs/.vuepress/client.ts
  docs/.vuepress/components/AsciiArt.vue
  docs/.vuepress/config.ts
  docs/.vuepress/env.d.ts
  docs/.vuepress/navbar/en-us.ts
  docs/.vuepress/navbar/index.ts
  docs/.vuepress/navbar/ja-jp.ts
  docs/.vuepress/navbar/ko-kr.ts
  docs/.vuepress/navbar/zh-cn.ts
  docs/.vuepress/navbar/zh-tw.ts
  docs/.vuepress/notes/en-us.ts
  docs/.vuepress/notes/genSidebar.ts
  docs/.vuepress/notes/index.ts
  docs/.vuepress/notes/ja-jp.ts
  docs/.vuepress/notes/ko-kr.ts
  docs/.vuepress/notes/zh-cn.ts
  docs/.vuepress/notes/zh-tw.ts
  docs/.vuepress/plugins/asciiArt.mts
  docs/.vuepress/plugins/search.ts
  docs/.vuepress/plume.config.ts
  docs/KeepDrinking.md
  docs/asciiArts/maa-logo-with-endorsement.txt
  docs/asciiArts/maa-logo.dark.txt
  docs/asciiArts/maa-logo.light.txt
  docs/asciiArts/priestess.dark.txt
  docs/asciiArts/priestess.light.txt
  docs/package.json
  docs/pnpm-lock.yaml
  docs/tsconfig.json
Labels: documentation

#14299 docs: 添加目录自动跳转组件并使locale自动生成
  docs/.vuepress/client.ts
  docs/.vuepress/components/Redirect.vue
  docs/.vuepress/config.ts
  docs/.vuepress/navbar/en-us.ts
  docs/.vuepress/navbar/index.ts
  docs/.vuepress/navbar/ja-jp.ts
  docs/.vuepress/navbar/ko-kr.ts
  docs/.vuepress/navbar/zh-cn.ts
  docs/.vuepress/navbar/zh-tw.ts
  docs/.vuepress/navigation/genLocales.ts
  docs/.vuepress/navigation/genNavigationComponents.ts
  docs/.vuepress/navigation/i18n.ts
  docs/.vuepress/notes/en-us.ts
  docs/.vuepress/notes/index.ts
  docs/.vuepress/notes/ja-jp.ts
  docs/.vuepress/notes/ko-kr.ts
  docs/.vuepress/notes/zh-cn.ts
  docs/.vuepress/notes/zh-tw.ts
  docs/.vuepress/plume.config.ts
  docs/en-us/develop/README.md
  docs/en-us/manual/README.md
  docs/en-us/manual/device/README.md
  docs/en-us/manual/faq.md
  docs/en-us/manual/introduction/README.md
  docs/en-us/manual/newbie.md
  docs/en-us/protocol/README.md
  docs/en-us/readme.md
  docs/ja-jp/develop/README.md
  docs/ja-jp/manual/README.md
  docs/ja-jp/manual/device/README.md
  docs/ja-jp/manual/faq.md
  docs/ja-jp/manual/introduction/README.md
  docs/ja-jp/manual/newbie.md
  docs/ja-jp/protocol/README.md
  docs/ja-jp/readme.md
  docs/ko-kr/develop/README.md
  docs/ko-kr/manual/README.md
  docs/ko-kr/manual/device/README.md
  docs/ko-kr/manual/faq.md
  docs/ko-kr/manual/introduction/README.md
  docs/ko-kr/manual/newbie.md
  docs/ko-kr/protocol/README.md
  docs/ko-kr/readme.md
  docs/zh-cn/develop/README.md
  docs/zh-cn/manual/README.md
  docs/zh-cn/manual/device/README.md
  docs/zh-cn/manual/introduction/README.md
  docs/zh-cn/manual/newbie.md
  docs/zh-cn/protocol/README.md
  docs/zh-cn/readme.md
  docs/zh-tw/develop/README.md
  docs/zh-tw/manual/README.md
  docs/zh-tw/manual/device/README.md
  docs/zh-tw/manual/faq.md
  docs/zh-tw/manual/introduction/README.md
  docs/zh-tw/manual/newbie.md
  docs/zh-tw/protocol/README.md
  docs/zh-tw/readme.md
Labels: documentation

#14290 fix: 尝试修复生息演算任务识别并删除编队时卡住的问题
  resource/tasks/RA/Tales.json
Labels: module: reclamation

#14319 docs: 补充 CopilotTask 的文档
  docs/zh-cn/protocol/integration.md
Labels: documentation, module: copilot
