Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-04, with the labels that each got.

#12230 fix: 繁中服生息演算無法讀檔
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW, module: reclamation

#12228 docs: 调整新手上路步骤顺序
  docs/en-us/manual/newbie.md
  docs/ja-jp/manual/newbie.md
  docs/ko-kr/manual/newbie.md
  docs/zh-cn/manual/newbie.md
  docs/zh-tw/manual/newbie.md
Labels: documentation, MAA Team

#12229 chore: ignore system shits
  .gitignore
Labels: module: others, MAA Team

#12234 fix: 修复宿舍填充干员时不经过检测盲点首位干员的问题
  src/MaaCore/Task/Infrast/InfrastDormTask.cpp
Labels: module: infrast

#12235 fix: mac下选择难度 999 导致卡死
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.h
Labels: module: roguelike

#12244 feat: YostarJP GO navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: module: infrast, client: JP

#11924 docs: 添加ci文档
  docs/zh-cn/develop/ci-tutorial.md
  docs/zh-cn/develop/development.md
Labels: documentation, MAA Team

#12243 chore: 添加一个临时定时
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/TimerSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/TimerSettingsUserControl.xaml
Labels: MAA Team

#12254 feat: 将背景设置独立出来
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RootViewModel.cs
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/BackgroundSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/RootView.xaml
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/BackgroundSettings.xaml
  src/MaaWpfGui/Views/UserControl/Settings/BackgroundSettings.xaml.cs
  src/MaaWpfGui/Views/UserControl/Settings/GuiSettingsUserControl.xaml
Labels: MAA Team

#12266 fix: 修复资源/肉鸽导航
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
Labels: module: roguelike, MAA Team

#12272 feat: 官网添加工具箱友链 [skip changelog]
  resource/item_index.json
  website/apps/web/src/assets/links/arkntools.app.png
  website/apps/web/src/components/home/HomeLinks/HomeLinks.tsx
Labels: module: others, MAA Team

#12274 feat: overseas (JP & KR) data
  resource/battle_data.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/item_index.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/item_index.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/tasks.json
Labels: module: infrast, module: fight, MAA Team

#12276 chore: YostarJP clue and GUI updates
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/ClueVacancyNo1.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo2.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo3.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo4.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo5.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo6.png
  resource/global/YoStarJP/resource/template/ClueVacancyNo7.png
Labels: client: WpfGui, client: JP

#12284 chore: YostarKR ocr and UI updates
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/ClueVacancyNo1.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo2.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo3.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo4.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo5.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo6.png
  resource/global/YoStarKR/resource/template/ClueVacancyNo7.png
Labels: MAA Team, client: KR

#12283 chore: 调整主任务勾选框显示
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
Labels: MAA Team

#12282 feat: 生成问题反馈压缩包&打开debug文件夹按钮
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/IssueReportUserControlModel.cs
  src/MaaWpfGui/Views/UI/SettingsView.xaml
  src/MaaWpfGui/Views/UserControl/Settings/AboutUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/IssueReportUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/IssueReportUserControl.xaml.cs
Labels: client: WpfGui, module: others, module: core

#12292 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#12296 ci: MirrorChyan for macos
  .github/workflows/mirrorchyan.yml
  .github/workflows/mirrorchyan_release_note.yml
Labels: MAA Team, client: MacGui

#12281 rft: Wpf刷理智任务、基建任务序列化
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstBaseTask.cs
  src/MaaWpfGui/Models/AsstTasks/AsstFightTask.cs
  src/MaaWpfGui/Services/RemoteControl/RemoteControlService.cs
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
Labels: module: infrast, module: fight, MAA Team

#12312 feat: 日志包一并打包gui配置文件 (#12310)
  resource/tasks.json
  src/MaaWpfGui/Configuration/ConfigFactory.cs
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/IssueReportUserControlModel.cs
Labels: client: WpfGui, MAA Team

#11627 build: 更新文档主题库
  .github/workflows/website-workflow.yml
  docs/.vuepress/components/LanguageDropdown.ts
  docs/.vuepress/config.ts
  docs/.vuepress/styles/palette.scss
  docs/.vuepress/theme.ts
  docs/KeepDrinking.md
  docs/index.md
  docs/package.json
  website/apps/web/package.json
  website/apps/web/tsconfig.json
  website/apps/web/vite.config.mts
  website/bundler.mjs
  website/package.json
  website/pnpm-lock.yaml
  website/turbo.json
Labels: MAA Team

#12317 fix: YostarKR InfrastReward ocr fix
  resource/global/YoStarKR/resource/tasks.json
Labels: module: infrast, MAA Team, client: KR

#12329 feat: Guide enable ADB
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
Labels: client: WpfGui, MAA Team

#12335 feat(BREAKING for global): 支持新 UI 的 OF-1 导航
  resource/tasks.json
  resource/template/StageOFNew.png
Labels: client: EN

#12332 fix: FightSeries for global
  resource/global/YoStarJP/resource/tasks.json
Labels: module: fight, client: ZH_TW, client: JP, client: KR

#12337 feat: 更新 243/153 极限效率一天四换排班表（20250412 修订）
  resource/custom_infrast/153_layout_4_times_a_day.json
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast

#12342 feat: CustomTasks 支持逗号、分号切割任务列表
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/CustomSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/CustomUserControl.xaml
Labels: MAA Team

#12136 fix: 移除battleHelper中的BestMatcher复用
  src/MaaCore/Task/BattleHelper.cpp
  src/MaaCore/Task/BattleHelper.h
Labels: module: fight, MAA Team

#12360 docs: add glossary missing operator name
  docs/glossary/en-us.json
  docs/glossary/ja-jp.json
  docs/glossary/ko-kr.json
  docs/glossary/zh-cn.json
Labels: documentation

#12366 i18n: KR translation tweaks
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: others, MAA Team

#12372 fix: tile resource
  resource/Arknights-Tile-Pos/act41side_tr01-activities-act41side-level_act41side_tr01.json
  resource/Arknights-Tile-Pos/main_15-06#s-obt-main-level_main_15-06.json
  resource/Arknights-Tile-Pos/main_15-06-obt-main-level_main_15-06.json
  resource/Arknights-Tile-Pos/main_15-08#s-obt-main-level_main_15-08.json
  resource/Arknights-Tile-Pos/main_15-08-obt-main-level_main_15-08.json
  resource/Arknights-Tile-Pos/main_15-09#s-obt-main-level_main_15-09.json
  resource/Arknights-Tile-Pos/main_15-09-obt-main-level_main_15-09.json
  resource/Arknights-Tile-Pos/main_15-10#s-obt-main-level_main_15-10.json
  resource/Arknights-Tile-Pos/main_15-10-obt-main-level_main_15-10.json
  resource/Arknights-Tile-Pos/main_15-11#s-obt-main-level_main_15-11.json
  resource/Arknights-Tile-Pos/main_15-11-obt-main-level_main_15-11.json
  resource/Arknights-Tile-Pos/main_15-12#s-obt-main-level_main_15-12.json
  resource/Arknights-Tile-Pos/main_15-12-obt-main-level_main_15-12.json
  resource/Arknights-Tile-Pos/main_15-13#s-obt-main-level_main_15-13.json
  resource/Arknights-Tile-Pos/main_15-13-obt-main-level_main_15-13.json
  resource/Arknights-Tile-Pos/main_15-14#s-obt-main-level_main_15-14.json
  resource/Arknights-Tile-Pos/main_15-14-obt-main-level_main_15-14.json
  resource/Arknights-Tile-Pos/main_15-15#s-obt-main-level_main_15-15.json
  resource/Arknights-Tile-Pos/main_15-15-obt-main-level_main_15-15.json
  resource/Arknights-Tile-Pos/main_15-16#s-obt-main-level_main_15-16.json
  resource/Arknights-Tile-Pos/main_15-16-obt-main-level_main_15-16.json
  resource/Arknights-Tile-Pos/main_15-17-obt-main-level_main_15-17.json
  resource/Arknights-Tile-Pos/mem_kalts_1-obt-memory-level_memory_kalts_1.json
  resource/Arknights-Tile-Pos/overview.json
  resource/version.json
Labels: MAA Team

#12363 perf: 加快无基建技能干员选择速度，加快选择列表回正速度
  resource/tasks.json
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
Labels: module: infrast, MAA Team

#12370 feat: 新增 尚蜀夜市、多索雷斯在建地块、荒地群兽音乐厅 保全派驻作业
  resource/copilot/SSS_多索雷斯在建地块_塞雷娅+泥岩+维什戴尔_任意元件.json
  resource/copilot/SSS_尚蜀夜市——澄闪or荒芜拉普兰德+维什戴尔+余or任意盾+Mon3tror闪灵+伊桑or阿斯卡纶_天工夜行套装.json
  resource/copilot/SSS_荒地群兽音乐厅_塞雷娅+星熊+维什戴尔_轻型瞄准测距仪 .json
  resource/copilot/SSS_荒地群兽音乐厅_荒芜拉普兰德+纯烬艾雅法拉+重岳+维什戴尔_轻型瞄准测距仪.json
Labels: module: copilot

#12374 feat: 新增 尚蜀夜市 保全派驻作业
  resource/copilot/SSS_尚蜀夜市——维什戴尔+塞雷娅+伊桑+温蒂_天工夜行套装.json
Labels: module: copilot

#12361 docs: 优化文档
  docs/en-us/manual/introduction/combat.md
  docs/en-us/manual/introduction/copilot.md
  docs/en-us/manual/introduction/credit.md
  docs/en-us/manual/introduction/infrastructure.md
  docs/en-us/manual/introduction/integrated-strategy.md
  docs/en-us/manual/introduction/others.md
  docs/en-us/manual/introduction/reclamation-algorithm.md
  docs/en-us/manual/introduction/recruit.md
  docs/en-us/manual/introduction/rewards.md
  docs/en-us/manual/introduction/startup.md
  docs/en-us/manual/introduction/tools.md
  docs/ja-jp/manual/introduction/combat.md
  docs/ja-jp/manual/introduction/copilot.md
  docs/ja-jp/manual/introduction/credit.md
  docs/ja-jp/manual/introduction/infrastructure.md
  docs/ja-jp/manual/introduction/integrated-strategy.md
  docs/ja-jp/manual/introduction/introduction_old.md
  docs/ja-jp/manual/introduction/others.md
  docs/ja-jp/manual/introduction/reclamation-algorithm.md
  docs/ja-jp/manual/introduction/recruit.md
  docs/ja-jp/manual/introduction/rewards.md
  docs/ja-jp/manual/introduction/startup.md
  docs/ja-jp/manual/introduction/tools.md
  docs/ko-kr/manual/introduction/combat.md
  docs/ko-kr/manual/introduction/copilot.md
  docs/ko-kr/manual/introduction/credit.md
  docs/ko-kr/manual/introduction/infrastructure.md
  docs/ko-kr/manual/introduction/integrated-strategy.md
  docs/ko-kr/manual/introduction/others.md
  docs/ko-kr/manual/introduction/reclamation-algorithm.md
  docs/ko-kr/manual/introduction/recruit.md
  docs/ko-kr/manual/introduction/rewards.md
  docs/ko-kr/manual/introduction/startup.md
  docs/ko-kr/manual/introduction/tools.md
  docs/zh-cn/manual/introduction/combat.md
  docs/zh-cn/manual/introduction/copilot.md
  docs/zh-cn/manual/introduction/credit.md
  docs/zh-cn/manual/introduction/infrastructure.md
  docs/zh-cn/manual/introduction/integrated-strategy.md
  docs/zh-cn/manual/introduction/others.md
  docs/zh-cn/manual/introduction/reclamation-algorithm.md
  docs/zh-cn/manual/introduction/recruit.md
  docs/zh-cn/manual/introduction/rewards.md
  docs/zh-cn/manual/introduction/startup.md
  docs/zh-cn/manual/introduction/tools.md
  docs/zh-cn/protocol/integrated-strategy-schema.md
  docs/zh-tw/manual/introduction/combat.md
  docs/zh-tw/manual/introduction/copilot.md
  docs/zh-tw/manual/introduction/credit.md
  docs/zh-tw/manual/introduction/infrastructure.md
  docs/zh-tw/manual/introduction/integrated-strategy.md
  docs/zh-tw/manual/introduction/introduction_old.md
  docs/zh-tw/manual/introduction/others.md
  docs/zh-tw/manual/introduction/reclamation-algorithm.md
  docs/zh-tw/manual/introduction/recruit.md
  docs/zh-tw/manual/introduction/rewards.md
  docs/zh-tw/manual/introduction/startup.md
  docs/zh-tw/manual/introduction/tools.md
  docs/zh-tw/protocol/integrated-strategy-schema.md
Labels: documentation, MAA Team

#12375 chore: 新增 阿卡胡拉丛林 保全派驻作业
  resource/copilot/SSS_保全派驻_阿卡胡拉丛林_澄闪+荒芜拉普兰德+Mon3tr+逻各斯_丛林用示踪信标.json
Labels: module: copilot, MAA Team

#12381 fix: 新保全第六关地图错误
  resource/Arknights-Tile-Pos/lt_18_06-obt-legion-lt18-level_lt18_06.json
  resource/version.json
Labels: module: copilot, MAA Team

#12382 feat: LoadResourceAndCheckRet 额外读取对应文件名_custom.json
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/IssueReportUserControlModel.cs
Labels: MAA Team

#12393 chore: lastUpdateTime -> stageAndTasksUpdateTime
  src/MaaWpfGui/Services/StageManager.cs
Labels: MAA Team

#12401 fix: 修复某些情况下官网本地开发服务器拒绝连接的问题
  website/turbo.json
Labels: module: others, MAA Team

#12388 ci: bump oxi, clang, prettier, markdownlint
  .clang-format
  .pre-commit-config.yaml
  docs/en-us/develop/development.md
  docs/en-us/protocol/integrated-strategy-schema.md
  docs/ja-jp/develop/development.md
  docs/ja-jp/protocol/integrated-strategy-schema.md
  docs/ko-kr/develop/development.md
  docs/ko-kr/protocol/integrated-strategy-schema.md
  docs/zh-cn/develop/development.md
  docs/zh-tw/develop/development.md
  resource/template/CloseSendClue.png
  resource/template/InfrastFilterMenu.png
  src/MaaCore/Common/AsstBattleDef.h
  src/MaaCore/Config/Miscellaneous/CopilotConfig.cpp
  src/MaaCore/Config/Roguelike/RoguelikeCopilotConfig.cpp
  src/MaaCore/Task/Experiment/CombatRecordRecognitionTask.cpp
  src/MaaCore/Task/Fight/MedicineCounterTaskPlugin.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleProcessTask.cpp
  src/MaaCore/Task/Miscellaneous/DepotRecognitionTask.cpp
  src/MaaCore/Task/Miscellaneous/OperBoxRecognitionTask.cpp
  tools/ClangFormatter/clang-formatter.py
Labels: MAA Team

#12423 chore: 添加保全派驻作业
  resource/copilot/SSS_任务专用_尚蜀夜市_阿斯卡纶_伊桑_自适应补给元件.json
  resource/copilot/SSS_任务专用_阿卡胡拉丛林_维什戴尔+乌尔比安+安哲拉_阿戈尔示波器.json
  resource/copilot/SSS_尚蜀夜市_维什戴尔+阿斯卡纶+Mon3tr_天工夜行套装.json
  resource/copilot/SSS_阿卡胡拉丛林_澄闪+荒芜拉普兰德+Mon3tr+逻各斯_丛林用示踪信标.json
  resource/copilot/SSS_阿卡胡拉丛林_维什戴尔单核_丛林用示踪信标.json
Labels: module: copilot, MAA Team

#12431 chore: YostarKR PV preload
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#12430 feat: 添加任务超时提示
  resource/tasks.json
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/States/RunningState.cs
  src/MaaWpfGui/ViewModels/LogItemViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GameSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml
Labels: MAA Team

#12444 chore: 繁中服「太陽甩在身後」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#12432 feat: 优化官网动画效果
  website/apps/web/src/components/home/HomeActions/HomeActions.tsx
  website/apps/web/src/components/home/HomeActionsRelease/HomeActionsRelease.tsx
  website/apps/web/src/components/home/HomeHero.tsx
  website/apps/web/src/components/home/HomeLinks/HomeLinks.tsx
Labels: MAA Team

#12386 chore: issue模板添加使用生成日志压缩包按钮提示
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-ld-report.yaml
  .github/ISSUE_TEMPLATE/cn-mumu-report.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
Labels: MAA Team

#12447 chore: YostarJP ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#12445 feat: Microsoft VC++可用检查
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#12455 chore: YostarKR IS5 squads and ocr update
  resource/global/YoStarKR/resource/tasks/Roguelike/Sami.json
  resource/global/YoStarKR/resource/tasks/Roguelike/base.json
Labels: MAA Team, client: KR

#12453 fix: 定时执行tooltip修正
  src/MaaWpfGui/Views/UserControl/Settings/TimerSettingsUserControl.xaml
Labels: client: WpfGui

#12466 Release v5.15.5
  CHANGELOG.md
  resource/global/YoStarJP/resource/tasks/Stages/BB.json
  resource/global/txwy/resource/tasks/Stages/BB.json
  resource/tasks/Stages/BB.json
  resource/tasks/Stages/base.json
  src/MaaCore/Config/ResourceLoader.cpp
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
Labels: MAA Team, release

#12460 chore: meoJson update to v4.3.4
  3rdparty/include/meojson/common/array.hpp
  3rdparty/include/meojson/common/exception.hpp
  3rdparty/include/meojson/common/object.hpp
  3rdparty/include/meojson/common/serialization.hpp
  3rdparty/include/meojson/common/types.hpp
  3rdparty/include/meojson/common/utils.hpp
  3rdparty/include/meojson/common/value.hpp
  3rdparty/include/meojson/json.hpp
  3rdparty/include/meojson/json5.hpp
  3rdparty/include/meojson/parser/bitops.hpp
  3rdparty/include/meojson/parser/packed_bytes.hpp
  3rdparty/include/meojson/parser/packed_bytes_arm.hpp
  3rdparty/include/meojson/parser/packed_bytes_x86.hpp
  3rdparty/include/meojson/parser/parser.hpp
  3rdparty/include/meojson/parser5/parser5.hpp
  3rdparty/include/meojson/parser5/unicode.h
  3rdparty/include/meojson/reflection/jsonization.hpp
Labels: MAA Team

#12470 feat: 争锋频道：青草城
  resource/tasks/tasks.json
  resource/template/GreenGrass@DuelChannel@duck.png
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/RecognizerViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/CustomSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
Labels: module: reclamation

#12487 fix: KR RoutingRefreshNode dimension too large
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@RoutingRefreshNode.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageRefresh.png
Labels: MAA Team

#11252 feat: 适配基建队列轮换与干员休整
  MAA.sln.DotSettings
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
  resource/tasks/tasks.json
  resource/template/InfrastEnterTrim.png
  resource/template/InfrastOperatorTrim.png
  resource/template/InfrastOverviewEnter.png
  resource/template/InfrastQueueRotation.png
  src/MaaCore/Task/Infrast/InfrastProductionTask.cpp
  src/MaaCore/Task/Infrast/InfrastProductionTask.h
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaCore/Task/Interface/InfrastTask.h
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Models/AsstTasks/AsstInfrastTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast
