Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-01, with the labels that each got.

#11470 chore: 繁中服「源石塵行動」復刻活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11474 ci: smoke-testing cache + scope
  .github/workflows/smoke-testing.yml
Labels: MAA Team

#11473 chore: YostarJP phantom roguelike game pass, SSS#6
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@GamePass.png
  resource/global/YoStarJP/resource/template/Phantom@Roguelike@GamePassSkip1.png
Labels: module: roguelike, client: JP

#11380 feat:不自动招募1/5/6星干员时，不计入最大确认招募次数
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
Labels: module: recruit, client: WpfGui

#11487 fix: tw OcrReplace 肉鸽招募助战
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, MAA Team

#11360 docs: 肉鸽辅助协议文档翻译
  docs/zh-cn/protocol/integrated-strategy-schema.md
Labels: documentation, module: roguelike

#11194 fix: 删除傀影肉鸽远方来客意义不明的撤退
  resource/roguelike/Phantom/autopilot/远方来客.json
Labels: module: roguelike, MAA Team

#11195 perf: 优化傀影肉鸽雪山上的来客ew部署
  resource/roguelike/Phantom/autopilot/雪山上的来客.json
Labels: module: roguelike, MAA Team

#11506 chore: disable link checker in issues and PRs
  .github/issue-checker.yml
Labels: MAA Team

#11509 feat: 萨卡兹内容拓展II点刺进入商店获得构想
  resource/tasks.json
Labels: MAA Team

#11511 fix: tasks.json png后缀
  resource/tasks.json
Labels: MAA Team

#11524 i18n: Translations update from MAA Weblate
  docs/glossary/ja-jp.json
Labels: client: WpfGui, MAA Team

#11496 chore: Release 模式下，如文件夹中包含 DEBUG.txt 也会输出 DBG 日志
  src/MaaCore/Task/Miscellaneous/ScreenshotTaskPlugin.cpp
  src/MaaCore/Utils/Logger.hpp
  src/MaaCore/Vision/Matcher.cpp
Labels: MAA Team

#11521 feat: 点刺、后勤种子存钱 & ProcessTask 添加 Input 方法
  docs/maa_tasks_schema.json
  docs/zh-cn/protocol/task-schema.md
  resource/config.json
  resource/tasks.json
  resource/template/Sarkaz@Roguelike@StartExploreWithSeed-ClickPen.png
  resource/template/Sarkaz@Roguelike@StartExploreWithSeed-Confirm.png
  resource/template/Sarkaz@Roguelike@StartExploreWithSeed-SetDifficulty.png
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/GeneralConfig.cpp
  src/MaaCore/Config/GeneralConfig.h
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Controller/AdbController.h
  src/MaaCore/Controller/ControlScaleProxy.h
  src/MaaCore/Controller/Controller.cpp
  src/MaaCore/Controller/Controller.h
  src/MaaCore/Controller/ControllerAPI.h
  src/MaaCore/Controller/PlayToolsController.cpp
  src/MaaCore/Controller/PlayToolsController.h
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/ProcessTask.cpp
  src/MaaCore/Task/ProcessTask.h
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#11531 docs: 为肉鸽参数 start_with_seed 添加文档
  docs/zh-cn/protocol/integration.md
Labels: documentation, module: roguelike, module: others, MAA Team

#11532 docs: changelog 难度描述
  CHANGELOG.md
Labels: documentation, module: others, MAA Team

#11533 rft: Wpf重构 拆分`开始唤醒`任务
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/StartUpTaskUserControlModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/StartUpTaskUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/StartUpTaskUserControl.xaml.cs
Labels: MAA Team, module: core

#11535 chore: YostarJP AS navigation
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11537 chore: YostarKR AS navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11540 fix: 生息演算为点击右上角天数任务添加重试机制
  resource/tasks.json
Labels: module: reclamation

#11277 feat: 萨卡兹肉鸽刷开局 2 构想
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike

#11546 doc: 补充 Roguelike 任务 investment_with_more_score 与 start_with_two_ideas 参数的文档
  docs/en-us/protocol/integration.md
  docs/ja-jp/protocol/integration.md
  docs/ko-kr/protocol/integration.md
  docs/zh-cn/protocol/integration.md
  docs/zh-tw/protocol/integration.md
Labels: documentation, module: roguelike

#11547 rft: Wpf重构 拆分模拟器关闭相关
  src/MaaWpfGui/Helper/EmulatorHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team

#11553 fix: 94a8e01543a420bf70b6eef2539fea46466f2699
  src/MaaCore/Controller/AdbController.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
Labels: MAA Team

#11552 fix: 修复肉鸽种子模式引起的异常卡死
  resource/tasks.json
Labels: module: roguelike

#11558 perf: 肉鸽优先拿美愿
  resource/roguelike/Sarkaz/encounter/default.json
  resource/roguelike/Sarkaz/encounter/deposit.json
Labels: module: roguelike, MAA Team

#11561 chore: YostarJP ocr update
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11562 ci: disable ccache
  .github/workflows/ci.yml
Labels: MAA Team

#11563 chore: YostarKR update OrudumActivities
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11548 rft: WpfGui重构 一键长草任务callback拆分
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/TaskViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/StartUpSettingsUserControlModel.cs
Labels: client: WpfGui, module: others, MAA Team

#11421 refactor: [ recruitment tool ] use StrEnum instead of Enum for Theme
  tools/RoguelikeRecruitmentTool/roguelike/config/main.py
  tools/RoguelikeRecruitmentTool/roguelike/recruitment/export.py
  tools/RoguelikeRecruitmentTool/roguelike_recruitment_tool/main_window.py
Labels: module: recruit

#11564 feat: 添加萨卡兹肉鸽丛林密布，卡兹瀑布，遮天蔽日，有序清场。调整了血脉之辩
  resource/roguelike/Sarkaz/autopilot/丛林密布.json
  resource/roguelike/Sarkaz/autopilot/卡兹瀑布.json
  resource/roguelike/Sarkaz/autopilot/有序清场.json
  resource/roguelike/Sarkaz/autopilot/血脉之辩.json
  resource/roguelike/Sarkaz/autopilot/遮天蔽日.json
Labels: module: roguelike

#11571 chore: 目录下存在 DEBUG_skill_ready.txt 时自动收集技能准备状态截图
  src/MaaCore/Vision/Battle/BattlefieldClassifier.cpp
Labels: MAA Team

#11577 feat: 萨卡兹肉鸽卫士不语功战斗策略调整
  resource/roguelike/Sarkaz/autopilot/卫士不语功.json
Labels: module: roguelike

#11579 chore: YostarJP Mizuki DataTraceBack
  resource/global/YoStarJP/resource/template/Mizuki@Roguelike@DataTraceback.png
Labels: client: JP

#11582 feat: 萨卡兹肉鸽卫士不语功战斗策略调整
  resource/roguelike/Sarkaz/autopilot/卫士不语功.json
Labels: module: roguelike

#11580 perf: give priority to higher value choices in I.S. encounter.json
  resource/roguelike/Sami/encounter/default.json
Labels: module: roguelike, MAA Team

#11590 fix: 修复基建排班错误和加工站卡住
  resource/infrast.json
  src/MaaCore/Task/Infrast/InfrastProcessingTask.cpp
Labels: module: infrast

#11559 feat: 优化肉鸽刷开局模式的流程和逻辑
  docs/zh-cn/protocol/integration.md
  resource/tasks.json
  resource/template/Phantom@Roguelike@LastReward2.png
  resource/template/Phantom@Roguelike@LastReward3.png
  src/MaaCore/Config/TaskData.cpp
  src/MaaCore/MaaCore.vcxproj
  src/MaaCore/MaaCore.vcxproj.filters
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardSelectTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardSelectTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GuiSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/GuiSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#11597 feat: SideStory「相见欢」导航
  resource/tasks.json
Labels: MAA Team

#11593 feat(style): Colored logs for I.S.
  src/MaaWpfGui/Constants/UILogColor.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
Labels: module: roguelike, MAA Team

#11602 feat: 繁中服 抽幸運牆的功能
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11607 i18n: Translations update from MAA Weblate
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: client: WpfGui, MAA Team

#11615 fix: “围攻”主题 基建无法打开
  resource/template/EnterInfrastSiege.png
Labels: module: infrast

#11620 feat: 繁中服 生息演算【沙洲遺聞】
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Tales@RA@Navigation-FromTodoList.png
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: client: ZH_TW, module: reclamation

#11618 fix: 基建修复2
  resource/tasks.json
  resource/template/DormMini.png
  resource/template/ManufacturingMini.png
  resource/template/OfficeMini.png
  resource/template/PowerMini.png
  resource/template/TradeMini.png
  resource/template/TrainingMini.png
Labels: module: infrast, MAA Team

#11624 Release v5.12.1
  CHANGELOG.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/version.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Tales@RA@Navigation-FromTodoList.png
  resource/global/txwy/resource/version.json
  resource/tasks.json
  resource/template/DormMini.png
  resource/template/EnterInfrastSiege.png
  resource/template/ManufacturingMini.png
  resource/template/OfficeMini.png
  resource/template/PowerMini.png
  resource/template/TradeMini.png
  resource/template/TrainingMini.png
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
Labels: MAA Team, release

#11629 fix: 基建修复3
  resource/tasks.json
  resource/template/Dorm.png
  resource/template/DormMini.png
  resource/template/InfrastProcessing.png
  resource/template/Office.png
  resource/template/Training.png
Labels: module: infrast, MAA Team

#11630 Release 5.12.2
  CHANGELOG.md
  resource/tasks.json
  resource/template/Dorm.png
  resource/template/DormMini.png
  resource/template/InfrastProcessing.png
  resource/template/Office.png
  resource/template/Training.png
Labels: MAA Team

#11636 docs: README 移除 MaaX，更换前端仓库地址
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
Labels: documentation, MAA Team

#11642 fix: 基建修复4
  resource/template/DormMini.png
Labels: module: infrast, MAA Team

#11646 fix: 繁中服 生息演算讀檔畫面卡住
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW, module: reclamation

#11648 chore: 補上繁中服的加工站、訓練室相關內容
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/InfrastProcessing.png
  resource/global/txwy/resource/template/InfrastProcessingMini.png
  resource/global/txwy/resource/template/Training.png
  resource/global/txwy/resource/template/TrainingMini.png
Labels: module: infrast, client: ZH_TW

#11592 feat: 繁中服更新活動導航"懷黍離"
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11649 fix: 繁中服-生息演算中，完成生存週期畫面、大地圖畫面卡住
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW, module: reclamation

#11639 Release v5.12.3
  CHANGELOG.md
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/EnterInfrastSiege.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/EnterInfrastSiege.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/EnterInfrastSiege.png
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/EnterInfrastSiege.png
  resource/global/txwy/resource/template/InfrastProcessing.png
  resource/global/txwy/resource/template/InfrastProcessingMini.png
  resource/global/txwy/resource/template/Tales@RA@Navigation-FromTodoList.png
  resource/global/txwy/resource/template/Training.png
  resource/global/txwy/resource/template/TrainingMini.png
  resource/global/txwy/resource/version.json
  resource/tasks.json
  resource/template/ControlCenterMini.png
  resource/template/Dorm.png
  resource/template/DormMini.png
  resource/template/EnterInfrast.png
  resource/template/EnterInfrastDahuangCity.png
  resource/template/EnterInfrastDark.png
  resource/template/EnterInfrastSami.png
  resource/template/EnterInfrastSiege.png
  resource/template/InfrastProcessing.png
  resource/template/InfrastProcessingMini.png
  resource/template/ManufacturingMini.png
  resource/template/Office.png
  resource/template/OfficeMini.png
  resource/template/PowerMini.png
  resource/template/Reception.png
  resource/template/ReceptionMini.png
  resource/template/TradeMini.png
  resource/template/Training.png
  src/MaaWpfGui/Services/Web/HttpService.cs
  tools/OptimizeTemplates/optimize_templates.json
Labels: module: others, MAA Team, release

#11653 ci: disable cache for pnpm
  .github/workflows/website-workflow.yml
Labels: MAA Team

#11662 chore: 繁中服「懷黍離」導航入口更動
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11565 Revert "perf: 肉鸽优先拿美愿 (#11558)"
  resource/roguelike/Sarkaz/encounter/default.json
  resource/roguelike/Sarkaz/encounter/deposit.json
Labels: module: roguelike, client: WpfGui, MAA Team

#11527 fix: 肉鸽作战编队截图过快导致截图与实际不符
  resource/tasks.json
Labels: module: roguelike, MAA Team

#11512 perf: 萨卡兹肉鸽不期而遇统一使用默认策略
  resource/roguelike/Sarkaz/encounter/deposit.json
  src/MaaCore/Config/ResourceLoader.cpp
Labels: module: roguelike, MAA Team

#11550 fix: Attempt retry once screencap for MumuExtras
  src/MaaCore/Controller/MumuExtras.cpp
Labels: client: WpfGui, module: reclamation, MuMu API

#11682 chore: 修改划火柴设置界面布局
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml
Labels: MAA Team

#11687 feat: discord link for website docs
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
Labels: MAA Team

#11570 docs: 肉鸽推荐开局策略
  docs/en-us/manual/introduction/integrated-strategy.md
  docs/zh-cn/manual/introduction/integrated-strategy.md
Labels: documentation, module: roguelike, MAA Team

#11669 feat: 添加 MirrorChyan 资源更新方式
  MAA.sln.DotSettings
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Extensions/HttpResponseLoggingExtension.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/Services/Web/IHttpService.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team

#11689 rft: 调整肉鸽选择烧水奖励任务链，重新将Roguelike@LastRewardConfirm并入主任务链
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardSelectTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardSelectTaskPlugin.h
Labels: module: roguelike, MAA Team

#11685 chore: JP 艾雅法拉 ocrReplace
  resource/global/YoStarJP/resource/tasks.json
Labels: MAA Team, client: JP

#11684 fix: 公告窗口触控板滚动异常
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
Labels: MAA Team

#11693 docs: 替换.NET8 桌面运行时下载链接为直链
  docs/en-us/manual/faq.md
  docs/ja-jp/manual/faq.md
  docs/ko-kr/manual/faq.md
  docs/zh-cn/manual/faq.md
  docs/zh-tw/manual/faq.md
Labels: documentation

#11670 rft: 任务执行期间Log Rotate增加检查，并上调阈值至64MiB
  src/MaaCore/Assistant.cpp
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team

#11651 docs: 推荐分辨率720P或1080P
  docs/en-us/manual/connection.md
  docs/en-us/manual/device/windows.md
  docs/en-us/manual/newbie.md
  docs/ja-jp/manual/connection.md
  docs/ja-jp/manual/device/windows.md
  docs/ja-jp/manual/newbie.md
  docs/ko-kr/manual/connection.md
  docs/ko-kr/manual/device/windows.md
  docs/ko-kr/manual/newbie.md
  docs/zh-cn/manual/connection.md
  docs/zh-cn/manual/device/windows.md
  docs/zh-cn/manual/newbie.md
  docs/zh-tw/manual/connection.md
  docs/zh-tw/manual/device/windows.md
  docs/zh-tw/manual/newbie.md
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: documentation, MAA Team

#11100 perf: 将Sarkaz开局添加负荷干员的进入任务改为范围点击
  resource/tasks.json
Labels: MAA Team
