Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-06, with the labels that each got.

#12835 docs: `连战次数` -> `代理倍率`; `指定次数` 描述优化
  docs/en-us/manual/introduction/combat.md
  docs/ja-jp/manual/introduction/combat.md
  docs/ko-kr/manual/introduction/combat.md
  docs/zh-cn/manual/introduction/combat.md
  docs/zh-tw/manual/introduction/combat.md
Labels: documentation, MAA Team

#12849 chore: YostarJP EP navigation and i18n changes
  resource/global/YoStarJP/resource/tasks/Stages/EP.json
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: client: JP

#12852 chore: YostarKR EP navigation
  resource/global/YoStarKR/resource/tasks/Stages/EP.json
Labels: MAA Team, client: KR

#12869 chore: add mirrorchyan url source
  .github/workflows/ci.yml
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Helper/ToastNotification.cs
  website/apps/web/src/components/home/HomeActionsRelease/HomeActionsRelease.tsx
  website/apps/web/src/components/home/HomeLinks/HomeLinks.tsx
Labels: MAA Team

#12875 chore: 移除因勾选"我未仔细阅读"的自动回复 增加文档描述
  .github/workflows/issue-not-reading-checker.yml
  docs/zh-cn/develop/ci-tutorial.md
Labels: MAA Team

#12912 fix: update mini templates after base update
  resource/global/YoStarEN/resource/template/ControlCenterMini.png
  resource/global/YoStarEN/resource/template/DormMini.png
  resource/global/YoStarEN/resource/template/ManufacturingMini.png
  resource/global/YoStarEN/resource/template/OfficeMini.png
  resource/global/YoStarEN/resource/template/PowerMini.png
  resource/global/YoStarEN/resource/template/TradeMini.png
  resource/global/YoStarEN/resource/template/TrainingMini.png
Labels: MAA Team

#12915 fix: YostarKR infrast mini
  resource/global/YoStarKR/resource/tasks/tasks.json
  resource/global/YoStarKR/resource/template/ControlCenterMini.png
  resource/global/YoStarKR/resource/template/DormMini.png
  resource/global/YoStarKR/resource/template/InfrastProcessingMini.png
  resource/global/YoStarKR/resource/template/ManufacturingMini.png
  resource/global/YoStarKR/resource/template/OfficeMini.png
  resource/global/YoStarKR/resource/template/OnShift.png
  resource/global/YoStarKR/resource/template/PowerMini.png
  resource/global/YoStarKR/resource/template/ReceptionMini.png
  resource/global/YoStarKR/resource/template/TradeMini.png
  resource/global/YoStarKR/resource/template/TrainingMini.png
Labels: module: infrast, MAA Team, client: KR

#12689 docs: update connection doc to reflect latest change.
  docs/en-us/manual/connection.md
  docs/ja-jp/manual/connection.md
  docs/ko-kr/manual/connection.md
  docs/zh-cn/manual/connection.md
  docs/zh-tw/manual/connection.md
Labels: documentation

#12725 perf: wpf属性监听简化
  src/MaaWpfGui/Utilities/PropertyDependsOnAttribute.cs
  src/MaaWpfGui/ViewModels/TaskViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
Labels: MAA Team

#12941 Release v5.17.2
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team, release

#12943 Release v5.17.2
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team, release

#12953 chore: update txwy for update infrast training room
  resource/global/txwy/resource/tasks/tasks.json
Labels: module: infrast, client: ZH_TW

#12952 fix: 繁中服 傀影肉鴿 卡在通關劇情
  resource/global/txwy/resource/template/Roguelike/Phantom/Phantom@Roguelike@GamePassSkip1.png
Labels: module: roguelike, client: ZH_TW

#12966 fix: 繁中服 肉鴿助戰可能招募失敗
  resource/global/txwy/resource/tasks/tasks.json
Labels: module: roguelike, client: ZH_TW

#12970 chore: YostarJP Gaming theme
  resource/global/YoStarJP/resource/template/DepotEnterGaming.png
  resource/global/YoStarJP/resource/template/EnterInfrastDelicious.png
  resource/global/YoStarJP/resource/template/EnterInfrastGaming.png
  resource/global/YoStarJP/resource/template/EnterInfrastSiege.png
  resource/global/YoStarJP/resource/template/FriendsGaming.png
  resource/global/YoStarJP/resource/template/GachaEnterGaming.png
  resource/global/YoStarJP/resource/template/MallGaming.png
  resource/global/YoStarJP/resource/template/OperBoxEnterGaming.png
  resource/global/YoStarJP/resource/template/RecruitGaming.png
  resource/global/YoStarJP/resource/template/TaskGaming.png
  resource/global/YoStarJP/resource/template/TerminalGaming.png
Labels: client: JP

#12987 i18n: 更正英文本地化文本中的两处错误
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: infrast

#12986 refactor: 迁移理智, 战斗次数, 代理倍率, 关卡理智缓存
  src/MaaWpfGui/Helper/Instances.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
Labels: module: fight, MAA Team

#12988 fix: 基建高级设置中部分元素未正确隐藏
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast

#13044 chore: YostarJP Dahuang city theme and ocr edits
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/tasks.json
  resource/global/YoStarJP/resource/template/DepotEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/EnterInfrastDahuangCity.png
  resource/global/YoStarJP/resource/template/FriendsDahuangCity.png
  resource/global/YoStarJP/resource/template/GachaEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/MallDahuangCity.png
  resource/global/YoStarJP/resource/template/OperBoxEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/RecruitDahuangCity.png
  resource/global/YoStarJP/resource/template/TaskDahuangCity.png
  resource/global/YoStarJP/resource/template/TerminalDahuangCity.png
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: client: JP

#13047 chore: YostarKR IS4 dlc2
  resource/global/YoStarKR/resource/tasks/Roguelike/base.json
  resource/global/YoStarKR/resource/tasks/tasks.json
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: roguelike, MAA Team, client: KR

#13053 chore: YostarJP infrast training room and IS4 squad
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/tasks.json
Labels: module: infrast, module: roguelike, client: JP

#13058 docs: 用户文档基建换班添加队列轮换说明
  docs/zh-cn/manual/introduction/infrastructure.md
Labels: documentation, module: infrast, MAA Team

#13048 Release v5.18.1
  CHANGELOG.md
  docs/zh-cn/manual/introduction/infrastructure.md
  resource/global/YoStarEN/resource/tasks/Roguelike/base.json
  resource/global/YoStarEN/resource/tasks/tasks.json
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/tasks/Roguelike/base.json
  resource/global/YoStarJP/resource/tasks/tasks.json
  resource/global/YoStarJP/resource/template/DepotEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/EnterInfrastDahuangCity.png
  resource/global/YoStarJP/resource/template/FriendsDahuangCity.png
  resource/global/YoStarJP/resource/template/GachaEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/MallDahuangCity.png
  resource/global/YoStarJP/resource/template/OperBoxEnterDahuangCity.png
  resource/global/YoStarJP/resource/template/RecruitDahuangCity.png
  resource/global/YoStarJP/resource/template/TaskDahuangCity.png
  resource/global/YoStarJP/resource/template/TerminalDahuangCity.png
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/tasks/Roguelike/base.json
  resource/global/YoStarKR/resource/tasks/tasks.json
  resource/global/YoStarKR/resource/template/DepotEnterDahuangCity.png
  resource/global/YoStarKR/resource/template/EnterInfrastDahuangCity.png
  resource/global/YoStarKR/resource/template/FriendsDahuangCity.png
  resource/global/YoStarKR/resource/template/GachaEnterDahuangCity.png
  resource/global/YoStarKR/resource/template/MallDahuangCity.png
  resource/global/YoStarKR/resource/template/OperBoxEnterDahuangCity.png
  resource/global/YoStarKR/resource/template/RecruitDahuangCity.png
  resource/global/YoStarKR/resource/template/TaskDahuangCity.png
  resource/global/YoStarKR/resource/template/TerminalDahuangCity.png
  resource/global/YoStarKR/resource/version.json
  resource/stages.json
  resource/tasks/Roguelike/Phantom.json
  resource/tasks/tasks.json
  resource/version.json
  src/MaaCore/Task/Fight/FightTimesTaskPlugin.cpp
  src/MaaCore/Task/Fight/MedicineCounterTaskPlugin.cpp
  src/MaaCore/Task/Fight/SideStoryReopenTask.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Main/Bootstrapper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ConnectSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  tools/OptimizeTemplates/optimize_templates.json
  tools/ResourceUpdater/main.cpp
  website/apps/web/src/assets/links/mirrorc.png
Labels: MAA Team, release

#13064 i18n: 用户文档基建换班添加队列轮换说明
  docs/en-us/manual/introduction/infrastructure.md
  docs/ja-jp/manual/introduction/infrastructure.md
  docs/ko-kr/manual/introduction/infrastructure.md
  docs/zh-cn/manual/introduction/infrastructure.md
  docs/zh-tw/manual/introduction/infrastructure.md
Labels: module: infrast, MAA Team

#13079 chore: meojson update to v4.4.1 & remove json5
  3rdparty/include/meojson/json5.hpp
  3rdparty/include/meojson/parser/parser.hpp
  3rdparty/include/meojson/parser5/parser5.hpp
  3rdparty/include/meojson/parser5/unicode.h
Labels: MAA Team

#13101 docs: 更新Linux开发环境配置教程 加入 Mac 开发建议
  docs/zh-cn/develop/linux-tutorial.md
Labels: documentation, client: WpfGui
