Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-02, with the labels that each got.

#11706 perf: 优化存亡之战部署策略
  resource/roguelike/Sarkaz/autopilot/存亡之战.json
Labels: MAA Team

#11718 Release v5.13.0-beta.3
  CHANGELOG.md
  resource/roguelike/Sarkaz/autopilot/存亡之战.json
  resource/tasks.json
  src/MaaCore/Common/AsstTypes.h
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/DebugTask.cpp
  src/MaaCore/Task/Interface/RoguelikeTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeControlTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.h
  src/MaaCore/Task/Roguelike/RoguelikeDebugTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeDifficultySelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeFormationTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeLastRewardTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStrategyChangeTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.cpp
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UI/VersionUpdateView.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: MAA Team, release

#11720 Release v5.13.0-beta.4
  CHANGELOG.md
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.cpp
Labels: module: recruit, MAA Team, release

#11723 fix：招募测试函数修复
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
Labels: module: recruit, ambiguous

#11730 Release v5.13.0-beta.5
  CHANGELOG.md
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
Labels: MAA Team, release

#11732 chore: 繁中服「懷黍離」導航入口再更動
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11733 fix: 繁中服無法進入薩米肉鴿
  resource/global/txwy/resource/tasks.json
Labels: module: roguelike, client: ZH_TW

#11738 fix: 繁中服「黍」辨識問題
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11748 perf: 开始任务自动关闭雷电模拟器 Google 套件窗口
  resource/tasks.json
Labels: module: others

#11751 chore: 在 issue_template 中添加链接
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-feature-request.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-feature-request.yaml
Labels: MAA Team

#11752 fix: 狭路相逢事件识别失败
  resource/tasks.json
Labels: MAA Team

#11756 fix: 修复国际服无法通过文字OCR识别关闭雷电模拟器弹窗的问题
  resource/tasks.json
  resource/template/LeidianGoogleFrameworkConfirm.png
Labels: client: EN

#11581 rft: 简化肉鸽局中数据存储
  src/MaaCore/Task/Roguelike/RoguelikeBattleTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeShoppingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeSkillSelectionTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalGainTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/Sami/RoguelikeFoldartalUseTaskPlugin.cpp
Labels: module: roguelike, MAA Team

#11762 chore(fix): issue_template 的公告链接会导致 mention
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
  .github/ISSUE_TEMPLATE/cn-feature-request.yaml
  .github/ISSUE_TEMPLATE/en-bug-report.yaml
  .github/ISSUE_TEMPLATE/en-feature-request.yaml
Labels: MAA Team

#11761 fix: use_skill 在按下停止按钮后不退出
  src/MaaCore/Task/BattleHelper.cpp
Labels: module: copilot, MAA Team

#11777 feat: 添加mirror酱备用线路
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
Labels: MAA Team

#11764 fix: CheckLevelMax: OCR["MAX"]->OCR["-/-"]
  resource/tasks.json
Labels: module: roguelike, module: core

#11780 ci(fix): pre-commit.ci prettier hook
  .pre-commit-config.yaml
Labels: MAA Team

#11749 docs: 补充自动战斗可能遇到的问题
  docs/en-us/manual/faq.md
  docs/en-us/manual/introduction/copilot.md
  docs/ja-jp/manual/faq.md
  docs/ja-jp/manual/introduction/copilot.md
  docs/ko-kr/manual/faq.md
  docs/ko-kr/manual/introduction/copilot.md
  docs/zh-cn/manual/faq.md
  docs/zh-cn/manual/introduction/copilot.md
  docs/zh-tw/manual/faq.md
  docs/zh-tw/manual/introduction/copilot.md
Labels: documentation, module: copilot

#11781 feat: add format hint for proxy setting
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
Labels: MAA Team

#11788 ci: remove pre-commit workflow check
  .pre-commit-config.yaml
Labels: MAA Team

#11734 refactor: 重构公告
  MAA.sln.DotSettings
  src/MaaWpfGui/Res/Img/NoSkland.jpg
  src/MaaWpfGui/Res/Img/NoSklandEn.jpg
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
  src/MaaWpfGui/Views/UI/AnnouncementView.xaml
Labels: MAA Team

#11793 feat: Paradox Simulation update UI for YoStar
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/BattleStartSimulation.png
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/BattleStartSimulation.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/BattleStartSimulation.png
Labels: MAA Team

#11792 fix: JP 塑心 OCR
  resource/global/YoStarJP/resource/tasks.json
Labels: MAA Team

#11794 fix: KR 黑角 OCR
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team

#11798 chore: add missing text for YostarKR
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#11799 refactor: switch gamedata repos for workflow
  .github/workflows/res-update-game.yml
  tools/ResourceUpdater/clone_data_repo.ps1
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#11804 chore: issue 模板 将阅读提醒提至 label
  .github/ISSUE_TEMPLATE/cn-bug-report.yaml
Labels: MAA Team

#11812 feat: update maa self by mirrorc
  MAA.sln.DotSettings
  src/MaaWpfGui/Constants/MaaUrls.cs
  src/MaaWpfGui/Extensions/StringExtensions.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Services/Web/HttpService.cs
  src/MaaWpfGui/ViewModels/UI/RootViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
Labels: MAA Team

#11823 chore: using
  src/MaaWpfGui/Utilities/AutoStart.cs
Labels: module: others, MAA Team

#11843 fix: 肉鸽未提供指挥分队时用OCR随便选一个
  resource/tasks.json
Labels: module: roguelike

#11824 fix: Wpf公告内容显示错误显示为上次内容
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
Labels: MAA Team

#11820 fix: 移除账号切换中不必要的任务
  resource/tasks.json
  src/MaaCore/Task/Miscellaneous/AccountSwitchTask.cpp
Labels: module: others, MAA Team

#11831 fix: null check
  src/MaaWpfGui/ViewModels/UI/SettingsViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/FightSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
Labels: module: others, MAA Team

#11830 perf: 自动战斗自动编队在选择职业前编入非干员组干员
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
Labels: module: copilot, MAA Team

#11825 rft: Wpf公告存储拆分
  src/MaaWpfGui/Configuration/AnnouncementInfo.cs
  src/MaaWpfGui/ViewModels/UI/AnnouncementViewModel.cs
Labels: MAA Team

#11834 chore: 上调MaaCore Log Rotate阈值为64MB
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team, module: core

#11817 ci: add retry for macui
  .github/workflows/ci.yml
Labels: MAA Team

#11826 perf: 肉鸽投资在同一局内投资系统错误后不再进入投资插件
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInvestTaskPlugin.h
Labels: module: roguelike, MAA Team

#11821 rft: Wpf肉鸽任务RoguelikeMode参数类型改为int
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#11850 feat: YostarJP Sarkaz roguelike preload
  resource/global/YoStarJP/resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: module: roguelike, client: JP

#11783 perf: MaaCore PackageTask中未进入的subtask将不再输出log
  src/MaaCore/Task/PackageTask.cpp
Labels: MAA Team, module: core

#11863 chore: 繁中服「巴別塔」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#11847 fix: 肉鸽开局无法选择指挥分队时放弃探索
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
Labels: module: roguelike, MAA Team, translation required

#11870 fix: Roguelike InitialDrop: SquadDefault -> Squad-EnterPoint
  resource/tasks.json
Labels: module: roguelike

#11857 perf: 资源更新后无需重启，优化手动更新逻辑
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
Labels: MAA Team

#11856 rft: WpfGui引入AsstTaskType代替硬编码
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Services/MaaService.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: client: WpfGui, MAA Team

#11867 feat: bypass update resources in formatting cases
  .github/workflows/res-update-game.yml
  .gitignore
  tools/ResourceUpdater/validator.ps1
  tools/TaskSorter/TaskSorter.py
Labels: MAA Team

#11874 chore: 资源更新后重载 BattleData
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
Labels: module: infrast, module: recruit, module: fight, MAA Team

#11868 feat!: 自动战斗不再允许使用带TR的导航关卡名禁用自动编队，改为自动检测
  resource/tasks.json
  resource/template/BattleFormationInvalid.png
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.cpp
  src/MaaCore/Task/Miscellaneous/BattleFormationTask.h
Labels: client: WpfGui, module: copilot, MAA Team

#11876 chore: 简化干员名正则
  resource/tasks.json
Labels: MAA Team

#11872 fix: 月度小队模式不再试图提前离开肉鸽
  resource/tasks.json
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike

#11877 fix: YostarJP OCR mismatched parenthesis
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11875 feat: script to update version.json
  .github/workflows/res-update-game.yml
  tools/ResourceUpdater/main.cpp
  tools/ResourceUpdater/version.ps1
Labels: MAA Team

#11884 fix: YostarJP OCR
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#11898 fix: 修复招募功能中的逻辑漏洞，并添加相应的测试函数
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
Labels: module: recruit, MAA Team

#11900 revert: 448171060575c4bcafaef82959e49cda0abf1ca6
  src/MaaCore/Config/Roguelike/RoguelikeStageEncounterConfig.h
  src/MaaCore/Task/Roguelike/Map/RoguelikeRoutingTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.cpp
  src/MaaCore/Task/Roguelike/RoguelikeConfig.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeInputSeedTaskPlugin.cpp
  src/MaaCore/Task/Roguelike/RoguelikeRecruitTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: MAA Team

#11911 Release v5.13.1
  .github/workflows/res-update-game.yml
  CHANGELOG.md
  resource/Arknights-Tile-Pos/act18mini_01#f#-activities-act18mini-level_act18mini_01.json
  resource/Arknights-Tile-Pos/act18mini_01-activities-act18mini-level_act18mini_01.json
  resource/Arknights-Tile-Pos/act18mini_02#f#-activities-act18mini-level_act18mini_02.json
  resource/Arknights-Tile-Pos/act18mini_02-activities-act18mini-level_act18mini_02.json
  resource/Arknights-Tile-Pos/act18mini_03#f#-activities-act18mini-level_act18mini_03.json
  resource/Arknights-Tile-Pos/act18mini_03-activities-act18mini-level_act18mini_03.json
  resource/Arknights-Tile-Pos/act18mini_04#f#-activities-act18mini-level_act18mini_04.json
  resource/Arknights-Tile-Pos/act18mini_04-activities-act18mini-level_act18mini_04.json
  resource/Arknights-Tile-Pos/act18mini_05#f#-activities-act18mini-level_act18mini_05.json
  resource/Arknights-Tile-Pos/act18mini_05-activities-act18mini-level_act18mini_05.json
  resource/Arknights-Tile-Pos/act18mini_06#f#-activities-act18mini-level_act18mini_06.json
  resource/Arknights-Tile-Pos/act18mini_06-activities-act18mini-level_act18mini_06.json
  resource/Arknights-Tile-Pos/act18mini_07#f#-activities-act18mini-level_act18mini_07.json
  resource/Arknights-Tile-Pos/act18mini_07-activities-act18mini-level_act18mini_07.json
  resource/Arknights-Tile-Pos/act18mini_08#f#-activities-act18mini-level_act18mini_08.json
  resource/Arknights-Tile-Pos/act18mini_08-activities-act18mini-level_act18mini_08.json
  resource/Arknights-Tile-Pos/act18mini_s01-activities-act18mini-level_act18mini_sub-1-1.json
  resource/Arknights-Tile-Pos/act18mini_s02-activities-act18mini-level_act18mini_sub-2-1.json
  resource/Arknights-Tile-Pos/overview.json
  resource/battle_data.json
  resource/infrast.json
  resource/item_index.json
  resource/roguelike/Mizuki/encounter/default.json
  resource/roguelike/Sarkaz/encounter/default.json
  resource/stages.json
  resource/tasks.json
  resource/template/BattleFormationInvalid.png
  resource/template/infrast/Bskill_ctrl_c_victoria.png
  resource/template/infrast/Bskill_ctrl_sp.png
  resource/template/infrast/Bskill_ctrl_train_spd1.png
  resource/template/infrast/Bskill_ctrl_train_spd2.png
  resource/template/infrast/Bskill_man_gold4.png
  resource/template/infrast/Bskill_man_spd_bd1.png
  resource/template/infrast/Bskill_tra_limit2spd.png
  resource/template/infrast/Bskill_tra_spd_bd2.png
  resource/template/infrast/Trade_ord_spd&gold2.png
  resource/template/items/act18mini_token_petals.png
  resource/version.json
  src/MaaCore/Task/Interface/CopilotTask.cpp
  src/MaaCore/Task/Interface/CopilotTask.h
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Task/Roguelike/RoguelikeCustomStartTaskPlugin.cpp
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/GameSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
  tools/OptimizeTemplates/optimize_templates.json
  tools/ResourceUpdater/version.ps1
Labels: MAA Team, release

#11913 fix: 3星招募逻辑修复
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
Labels: module: recruit, MAA Team

#11835 fix: Log Rotate 临时性检查措施
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
Labels: MAA Team

#11917 ci: try to fix pre commit using an updated fork
  .pre-commit-config.yaml
Labels: MAA Team

#11926 feat: remove spaces for all ocrReplaces for KR + various optimizations
  tools/ResourceUpdater/main.cpp
Labels: MAA Team

#11920 feat: YostarKR Sarkaz roguelike
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@ChooseBurdenOperatorAtStart.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@ChooseDifficulty.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@Continue.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault1.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault2.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GamePass.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GamePassSkip1.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GamePassSkip2.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDrop1.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDrop2.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDrop3.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDropLeave.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDropRecruit.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDropSelect.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDropSelectRecruit.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@GetDropSelectReward.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@LastRewardConfirm.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@MapObject.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@MissionFailedFlag.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@Recruit.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@RolesDefault.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@RoutingRefreshNode.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@SquadDefault.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageBoskyPassageEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageEncounterEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageFilterTruthEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageFilterTruthLeave.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageFilterTruthLeaveConfirm.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageRefresh.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageRefreshConfirm.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageRefreshNoThought.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageRefreshUpperLimit.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageTraderEnter.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StartExplore.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@TodoEnter.png
  resource/tasks.json
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
Labels: module: roguelike, MAA Team, client: KR

#11934 perf: 肉鸽难度选项降到18个
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
Labels: module: roguelike

#11879 rft: 使用RecruitData代替ocrReplace的外服适配
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/txwy/resource/tasks.json
  src/MaaCore/Config/Miscellaneous/RecruitConfig.cpp
  src/MaaCore/Config/Miscellaneous/RecruitConfig.h
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.cpp
Labels: module: recruit, module: fight, MAA Team, client: ZH_TW

#11916 rft: Wpf重构生息演算任务参数序列化
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
Labels: MAA Team, module: reclamation

#11878 chore: TaskData增加OcrTask的ocrReplace合法性检查
  src/MaaCore/Config/TaskData.cpp
Labels: MAA Team

#11921 feat: YoStarEN Sarkaz roguelike
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@ChooseBurdenOperatorAtStart.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@ChooseDifficulty.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@Continue.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault1.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault2.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GamePass.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GamePassSkip1.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GamePassSkip2.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDrop1.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDrop2.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDrop3.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDropLeave.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDropRecruit.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDropSelect.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDropSelectRecruit.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@GetDropSelectReward.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@LastRewardConfirm.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@MapObject.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@MissionFailedFlag.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@Recruit.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@RolesDefault.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@RoutingRefreshNode.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@SquadDefault.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageBoskyPassageEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageEncounterEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageFilterTruthEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageFilterTruthLeave.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageFilterTruthLeaveConfirm.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageRefresh.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageRefreshConfirm.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageRefreshNoThought.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageRefreshUpperLimit.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StageTraderEnter.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@StartExplore.png
  resource/global/YoStarEN/resource/template/Sarkaz@Roguelike@TodoEnter.png
  resource/tasks.json
  src/MaaWpfGui/Res/Localizations/en-us.xaml
Labels: module: roguelike, MAA Team, client: EN

#11951 rft: Wpf重构自动公招任务序列化
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/TaskViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/ReclamationSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RecruitSettingsUserControlModel.cs
Labels: module: recruit, MAA Team

#11946 perf: 肉鸽为识别错误的事件也添加 callback
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: module: roguelike

#11914 feat: YostarJP Sarkaz roguelike
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@ChooseBurdenOperatorAtStart.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@ChooseDifficulty.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@Continue.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault1.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@DecreaseBurdenSwapUiToDefault2.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@EnterAfterRecruit.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GamePass.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GamePassSkip1.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GamePassSkip2.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDrop1.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDrop2.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDrop3.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDropLeave.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDropRecruit.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDropSelect.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDropSelectRecruit.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@GetDropSelectReward.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@LastRewardConfirm.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@MapObject.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@MissionFailedFlag.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@MissionFailedFlag2.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@Recruit.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@RolesDefault.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@RoutingRefreshNode.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@SquadDefault.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageBoskyPassageEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageCombatDpsEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageDreadfulFoe-5Enter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageDreadfulFoeEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageEmergencyDpsEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageEncounterEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageEncounterLeaveConfirm.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageFilterTruthEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageFilterTruthLeave.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageFilterTruthLeaveConfirm.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageRefresh.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageRefreshConfirm.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageRefreshNoThought.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageRefreshUpperLimit.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageSafeHouseEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StageTraderEnter.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@StartExplore.png
  resource/global/YoStarJP/resource/template/Sarkaz@Roguelike@TodoEnter.png
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
Labels: module: roguelike, client: JP

#11955 fix: EN 服 IS2 导航失效
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, client: EN

#11956 feat: YostarEN I.S. modes
  resource/global/YoStarEN/resource/tasks.json
Labels: module: roguelike, MAA Team, client: EN

#11960 fix: YostarKR updated the StartUpConnectingFlag template
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/StartUpConnectingFlag.png
Labels: MAA Team, client: KR

#11971 feat: IS4 extend2 似是而非事件
  resource/roguelike/Sarkaz/encounter/default.json
Labels: module: roguelike

#11969 fix: IS4 绝境？抉择？ocr
  resource/tasks.json
Labels: module: roguelike

#11973 feat: 读取地图数据
  src/MaaWpfGui/Helper/DataHelper.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
Labels: MAA Team

#11985 chore: add missing tasks and template for txwy
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/AnnihilationReturnFlag.png
Labels: client: ZH_TW

#11981 fix: YostarKR missing tasks
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, MAA Team, client: KR

#11986 fix: YostarKR Sarkaz CR Node recognition
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageFilterTruthCR.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageSafeHouseCR.png
  resource/global/YoStarKR/resource/template/Sarkaz@Roguelike@StageTraderCR.png
Labels: module: roguelike, MAA Team, client: KR

#11990 fix: YostarJP IS4 计划耕种
  resource/global/YoStarJP/resource/tasks.json
Labels: module: roguelike, client: JP

#11979 fix: Mac 日服 IS4 识别阈值
  resource/platform_diff/iOS/resource/tasks.json
Labels: module: roguelike, client: JP

#11980 docs: 作业协议补充难度字段
  docs/en-us/protocol/copilot-schema.md
  docs/ja-jp/protocol/copilot-schema.md
  docs/ko-kr/protocol/copilot-schema.md
  docs/zh-cn/protocol/copilot-schema.md
  docs/zh-tw/protocol/copilot-schema.md
Labels: documentation, module: copilot, MAA Team

#11950 fix: 会客室进入失败
  src/MaaCore/Task/Infrast/InfrastAbstractTask.cpp
  src/MaaCore/Task/Infrast/InfrastOfficeTask.cpp
Labels: module: infrast, MAA Team

#11993 fix: CloseInterview for closing popups in MS and ocr target fix for mode 6/7 for all roguelikes
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
  resource/tasks.json
  resource/template/Phantom@Roguelike@CommsCompleted.png
  resource/template/Roguelike@CommsCompleted.png
  resource/template/Roguelike@RewardCompleted.png
  src/MaaCore/Task/Roguelike/RoguelikeIterateMonthlySquadPlugin.cpp
Labels: module: roguelike

#12005 docs: 此AI非彼AI
  docs/en-us/manual/introduction/integrated-strategy.md
  docs/ja-jp/manual/introduction/integrated-strategy.md
  docs/ko-kr/manual/introduction/integrated-strategy.md
  docs/zh-cn/manual/introduction/integrated-strategy.md
  docs/zh-tw/manual/introduction/integrated-strategy.md
Labels: documentation, MAA Team

#12024 ci: 临时措施
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
Labels: MAA Team

#12021 fix: fast forward text in encounter
  resource/tasks.json
Labels: MAA Team

#11977 rft: Wpf自动战斗重构
  src/MaaWpfGui/Helper/CopilotHelper.cs
  src/MaaWpfGui/Models/CopilotModel.cs
  src/MaaWpfGui/Models/SSSCopilotModel.cs
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
Labels: module: copilot, MAA Team

#11987 feat(wpf): Wpf旧Config增加int读取
  src/MaaWpfGui/Helper/ConfigurationHelper.cs
Labels: MAA Team

#12017 feat: 猫猫
  src/MaaWpfGui/MaaWpfGui.csproj
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Img/EasterEgg/1.gif
  src/MaaWpfGui/Res/Img/EasterEgg/2.gif
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
Labels: MAA Team

#12020 feat: ExternalNotification 可选输出详细信息
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/SmtpNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
Labels: MAA Team

#12033 Revert "ci: 临时措施"
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
Labels: MAA Team

#12040 Release v5.14.0-beta.3
  .github/workflows/release-nightly-ota.yml
  .github/workflows/release-ota.yml
  CHANGELOG.md
  docs/maa_tasks_schema_en.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/Sami@Roguelike@MissionFailedFlag3.png
  resource/template/Sami@Roguelike@MissionFailedFlag3.png
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/Copilot/SSSCopilotModel.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  tools/OptimizeTemplates/optimize_templates.json
Labels: MAA Team, release

#12043 docs: 更新开发前须知
  docs/en-us/develop/development.md
  docs/ja-jp/develop/development.md
  docs/ko-kr/develop/development.md
  docs/zh-cn/develop/development.md
  docs/zh-tw/develop/development.md
Labels: documentation, MAA Team

#12054 fix: 修复不自动招募4星干员时，执行空招募的问题
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.cpp
  src/MaaCore/Vision/Miscellaneous/RecruitImageAnalyzer.h
Labels: module: recruit, MAA Team

#12056 fix: 修复公招的几个问题
  src/MaaCore/Task/Miscellaneous/AutoRecruitTask.h
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RecruitSettingsUserControlModel.cs
Labels: module: recruit, MAA Team

#12057 fix: 「滋味」主题在有多个 badge 时无法识别基建入口
  resource/template/EnterInfrastDelicious.png
Labels: module: infrast

#12046 chore: add sami investigation equipment text and temporary retreat template
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/Sami@Roguelike@MissionFailedFlag3.png
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/Sami@Roguelike@MissionFailedFlag3.png
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/template/Sami@Roguelike@MissionFailedFlag3.png
Labels: module: roguelike, MAA Team, client: ZH_TW
