Repository MaaAssistantArknights/MaaAssistantArknights, pull requests merged in 2025-03, with the labels that each got.

#12059 fix: stuck on StageEnterBattleAgain while in team selection screen
  resource/tasks.json
Labels: module: roguelike

#12039 fix: Sarkaz MS unable to progress from post StartExplore
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarKR/resource/tasks.json
Labels: module: roguelike, client: EN, client: JP

#12065 fix: remove duplicate strings
  src/MaaWpfGui/Main/AsstProxy.cs
Labels: MAA Team

#12025 fix: log rotate
  src/MaaCore/Task/Roguelike/RoguelikeResetTaskPlugin.cpp
  src/MaaCore/Utils/Logger.hpp
Labels: MAA Team

#12076 ci: nightly版本打包tag获取
  .github/workflows/release-nightly-ota.yml
Labels: MAA Team

#12053 rft: Wpf基建任务序列化调整
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstInfrastTask.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/FightSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast, MAA Team

#12090 fix: 修复截图速度过快导致不能切换贸易站订单的问题
  resource/tasks.json
Labels: module: infrast, MAA Team

#12096 docs : 枯朽祭坛 维什戴尔 逻各斯 OCR辨識
  resource/global/txwy/resource/tasks.json
  resource/template/infrast/Bskill_man_spd&trade.png
Labels: ambiguous

#12092 feat: parse release note for resource updater
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UserControl/Settings/VersionUpdateSettingsUserControlModel.cs
Labels: MAA Team

#12101 chore: YostarJP DT テラ飯 preload
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#12105 chore: YostarKR DT navigation
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#12080 rft: wpf招募任务序列化
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstRecruitTask.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RecruitSettingsUserControlModel.cs
Labels: module: recruit, client: WpfGui, MAA Team

#12127 chore: YostarKR DT stage roi and text
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#12129 chore: YostarJP DT stage
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#12130 chore: YostarJP Theme Delicious
  resource/global/YoStarJP/resource/template/DepotEnterDelicious.png
  resource/global/YoStarJP/resource/template/FriendsDelicious.png
  resource/global/YoStarJP/resource/template/GachaEnterDelicious.png
  resource/global/YoStarJP/resource/template/MallDelicious.png
  resource/global/YoStarJP/resource/template/RecruitDelicious.png
Labels: client: JP

#12131 chore: YostarKR Theme Delicious
  resource/global/YoStarKR/resource/template/DepotEnterDelicious.png
  resource/global/YoStarKR/resource/template/EnterInfrastDelicious.png
  resource/global/YoStarKR/resource/template/FriendsDelicious.png
  resource/global/YoStarKR/resource/template/GachaEnterDelicious.png
  resource/global/YoStarKR/resource/template/MallDelicious.png
  resource/global/YoStarKR/resource/template/RecruitDelicious.png
Labels: module: infrast, MAA Team, client: KR

#12132 feat: 更新 243 极限效率一天四换排班表（20250310 修订）
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast, module: fight

#12137 fix: 更新 243 极限效率一天四换排班表
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast

#12135 feat: 适配「滋味」界面主题（YoStarEN）
  resource/global/YoStarEN/resource/template/DepotEnterDelicious.png
  resource/global/YoStarEN/resource/template/EnterInfrastDelicious.png
  resource/global/YoStarEN/resource/template/FriendsDelicious.png
  resource/global/YoStarEN/resource/template/GachaEnterDelicious.png
  resource/global/YoStarEN/resource/template/MallDelicious.png
  resource/global/YoStarEN/resource/template/RecruitDelicious.png
  resource/global/YoStarEN/resource/template/TaskDelicious.png
Labels: client: EN

#12050 perf: 基建信息板收取信用增加开关
  docs/zh-cn/protocol/integration.md
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstInfrastTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
Labels: module: infrast, module: others, MAA Team

#12139 Release v5.14.0
  CHANGELOG.md
  docs/zh-cn/protocol/integration.md
  resource/battle_data.json
  resource/custom_infrast/243_layout_4_times_a_day.json
  resource/global/YoStarEN/resource/item_index.json
  resource/global/YoStarEN/resource/tasks.json
  resource/global/YoStarEN/resource/template/DepotEnterDelicious.png
  resource/global/YoStarEN/resource/template/EnterInfrastDelicious.png
  resource/global/YoStarEN/resource/template/FriendsDelicious.png
  resource/global/YoStarEN/resource/template/GachaEnterDelicious.png
  resource/global/YoStarEN/resource/template/MallDelicious.png
  resource/global/YoStarEN/resource/template/RecruitDelicious.png
  resource/global/YoStarEN/resource/template/TaskDelicious.png
  resource/global/YoStarEN/resource/version.json
  resource/global/YoStarJP/resource/item_index.json
  resource/global/YoStarJP/resource/tasks.json
  resource/global/YoStarJP/resource/template/DepotEnterDelicious.png
  resource/global/YoStarJP/resource/template/FriendsDelicious.png
  resource/global/YoStarJP/resource/template/GachaEnterDelicious.png
  resource/global/YoStarJP/resource/template/MallDelicious.png
  resource/global/YoStarJP/resource/template/RecruitDelicious.png
  resource/global/YoStarJP/resource/version.json
  resource/global/YoStarKR/resource/item_index.json
  resource/global/YoStarKR/resource/tasks.json
  resource/global/YoStarKR/resource/template/DepotEnterDelicious.png
  resource/global/YoStarKR/resource/template/EnterInfrastDelicious.png
  resource/global/YoStarKR/resource/template/FriendsDelicious.png
  resource/global/YoStarKR/resource/template/GachaEnterDelicious.png
  resource/global/YoStarKR/resource/template/MallDelicious.png
  resource/global/YoStarKR/resource/template/RecruitDelicious.png
  resource/global/YoStarKR/resource/version.json
  resource/tasks.json
  resource/template/Roguelike@TutorialButton.png
  resource/version.json
  src/MaaCore/Task/Infrast/InfrastReceptionTask.cpp
  src/MaaCore/Task/Infrast/InfrastReceptionTask.h
  src/MaaCore/Task/Interface/InfrastTask.cpp
  src/MaaCore/Task/Roguelike/RoguelikeStageEncounterTaskPlugin.cpp
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/GpuOption.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstInfrastTask.cs
  src/MaaWpfGui/Models/AsstTasks/AsstRecruitTask.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/CopilotViewModel.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/InfrastSettingsUserControlModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RecruitSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
  tools/OptimizeTemplates/optimize_templates.json
  tools/OverseasClients/ignore_list_of_templates.txt
Labels: MAA Team, release

#12146 fix: 更新 243 极限效率一天四换排班表
  resource/custom_infrast/243_layout_4_times_a_day.json
Labels: module: infrast

#12088 fix: roguelike already left encounter check and return from map screen
  resource/tasks.json
Labels: module: roguelike

#12124 rft: Wpf肉鸽任务序列化
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Main/AsstProxy.cs
  src/MaaWpfGui/Models/AsstTasks/AsstRoguelikeTask.cs
  src/MaaWpfGui/ViewModels/UI/TaskQueueViewModel.cs
  src/MaaWpfGui/ViewModels/UserControl/TaskQueue/RoguelikeSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
Labels: module: roguelike, MAA Team

#12153 chore: 资源更新换一个解压目录
  src/MaaWpfGui/Models/ResourceUpdater.cs
Labels: MAA Team

#12156 feat: 调整下载来源提示
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#12164 Release v5.14.1
  CHANGELOG.md
  README.md
  docs/en-us/readme.md
  docs/ja-jp/readme.md
  docs/ko-kr/readme.md
  docs/zh-cn/readme.md
  docs/zh-tw/readme.md
  resource/Arknights-Tile-Pos/act41side_ex01#f#-activities-act41side-level_act41side_ex01.json
  resource/Arknights-Tile-Pos/act41side_ex01-activities-act41side-level_act41side_ex01.json
  resource/Arknights-Tile-Pos/act41side_ex02#f#-activities-act41side-level_act41side_ex02.json
  resource/Arknights-Tile-Pos/act41side_ex02-activities-act41side-level_act41side_ex02.json
  resource/Arknights-Tile-Pos/act41side_ex03#f#-activities-act41side-level_act41side_ex03.json
  resource/Arknights-Tile-Pos/act41side_ex03-activities-act41side-level_act41side_ex03.json
  resource/Arknights-Tile-Pos/act41side_ex04#f#-activities-act41side-level_act41side_ex04.json
  resource/Arknights-Tile-Pos/act41side_ex04-activities-act41side-level_act41side_ex04.json
  resource/Arknights-Tile-Pos/act41side_ex05#f#-activities-act41side-level_act41side_ex05.json
  resource/Arknights-Tile-Pos/act41side_ex05-activities-act41side-level_act41side_ex05.json
  resource/Arknights-Tile-Pos/act41side_ex06#f#-activities-act41side-level_act41side_ex06.json
  resource/Arknights-Tile-Pos/act41side_ex06-activities-act41side-level_act41side_ex06.json
  resource/Arknights-Tile-Pos/act41side_ex07#f#-activities-act41side-level_act41side_ex07.json
  resource/Arknights-Tile-Pos/act41side_ex07-activities-act41side-level_act41side_ex07.json
  resource/Arknights-Tile-Pos/act41side_ex08#f#-activities-act41side-level_act41side_ex08.json
  resource/Arknights-Tile-Pos/act41side_ex08-activities-act41side-level_act41side_ex08.json
  resource/Arknights-Tile-Pos/overview.json
  resource/battle_data.json
  resource/custom_infrast/243_layout_4_times_a_day.json
  resource/global/txwy/resource/item_index.json
  resource/global/txwy/resource/tasks.json
  resource/global/txwy/resource/version.json
  resource/stages.json
  resource/version.json
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
  tools/ResourceUpdater/main.cpp
  tools/ResourceUpdater/version.ps1
Labels: MAA Team, release

#12173 feat: check nightly version with mirrorchyan
  .github/workflows/release-nightly-ota.yml
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#12174 chore: 繁中服_聲浪安保派駐_定向導能元件
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#12176 chore: YostarJP EnterInfrastDelicious
  resource/global/YoStarJP/resource/template/EnterInfrastDelicious.png
Labels: module: infrast, client: JP

#12168 feat: SSS#6 for EN
  resource/copilot/SSS_WartornWilderness_1.json
  resource/copilot/SSS_WartornWilderness_2.json
  resource/copilot/SSS_YumenMarket_1.json
  resource/copilot/SSS_YumenMarket_2.json
  resource/copilot/old/SSS_DossolesCommercialPlate_1.json
  resource/copilot/old/SSS_DossolesCommercialPlate_2.json
  resource/copilot/old/SSS_NomadicBorderTown_1.json
  resource/copilot/old/SSS_NomadicBorderTown_2.json
  resource/copilot/old/SSS_NomadicBorderTown_3.json
Labels: client: WpfGui, client: EN

#12182 fix: 繁中服_生息演算組裝道具後卡住
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW, module: reclamation

#12177 fix: 控制中枢模板mask
  resource/template/ControlCenterMini.png
Labels: module: infrast

#12185 fix: 保全开始部署 点击过快导致点击无效
  resource/tasks.json
Labels: module: recruit, module: copilot

#12188 feat: Telegram Topic notification
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Services/Notification/TelegramNotificationProvider.cs
  src/MaaWpfGui/ViewModels/UserControl/Settings/ExternalNotificationSettingsUserControlModel.cs
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
Labels: MAA Team

#12191 chore: YostarKR SSS#6 BuffChoose
  resource/global/YoStarKR/resource/tasks.json
Labels: MAA Team, client: KR

#12193 fix: YostarKR lower StartToVisit templThreshold
  resource/global/YoStarKR/resource/tasks.json
Labels: module: others, MAA Team, client: KR

#12208 chore: Update zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
Labels: MAA Team

#12202 chore: 新增 MirrorChyan ErrorCode 提示
  src/MaaWpfGui/Constants/Enums.cs
  src/MaaWpfGui/Models/ResourceUpdater.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/ViewModels/UI/VersionUpdateViewModel.cs
Labels: MAA Team

#12219 chore: YostarJP 琳琅诗怀雅 ocr fix
  resource/global/YoStarJP/resource/tasks.json
Labels: client: JP

#12216 chore: YostarJP Sarkaz Theme
  resource/global/YoStarJP/resource/template/DepotEnterSarkaz.png
  resource/global/YoStarJP/resource/template/EnterInfrastSarkaz.png
  resource/global/YoStarJP/resource/template/FriendsSarkaz.png
  resource/global/YoStarJP/resource/template/GachaEnterSarkaz.png
  resource/global/YoStarJP/resource/template/MallSarkaz.png
  resource/global/YoStarJP/resource/template/OperBoxEnterSarkaz.png
  resource/global/YoStarJP/resource/template/RecruitSarkaz.png
  resource/global/YoStarJP/resource/template/TaskSarkaz.png
Labels: client: JP

#12220 chore: YostarKR Sarkaz Theme
  resource/global/YoStarKR/resource/template/DepotEnterSarkaz.png
  resource/global/YoStarKR/resource/template/EnterInfrastSarkaz.png
  resource/global/YoStarKR/resource/template/FriendsSarkaz.png
  resource/global/YoStarKR/resource/template/GachaEnterSarkaz.png
  resource/global/YoStarKR/resource/template/MallSarkaz.png
  resource/global/YoStarKR/resource/template/OperBoxEnterSarkaz.png
  resource/global/YoStarKR/resource/template/RecruitSarkaz.png
  resource/global/YoStarKR/resource/template/TaskSarkaz.png
Labels: MAA Team, client: KR

#12224 chore: 繁中服「生路」活動導航
  resource/global/txwy/resource/tasks.json
Labels: client: ZH_TW

#12204 feat: 添加控件半透明背景色，新增自定义背景
  src/MaaWpfGui/App.xaml
  src/MaaWpfGui/App.xaml.cs
  src/MaaWpfGui/Constants/ConfigurationKeys.cs
  src/MaaWpfGui/Helper/HoverDelayHelper.cs
  src/MaaWpfGui/Res/Localizations/en-us.xaml
  src/MaaWpfGui/Res/Localizations/ja-jp.xaml
  src/MaaWpfGui/Res/Localizations/ko-kr.xaml
  src/MaaWpfGui/Res/Localizations/zh-cn.xaml
  src/MaaWpfGui/Res/Localizations/zh-tw.xaml
  src/MaaWpfGui/Res/Style.xaml
  src/MaaWpfGui/Res/Styles/Button.xaml
  src/MaaWpfGui/Res/Styles/CheckComboBox.xaml
  src/MaaWpfGui/Res/Styles/ComboBox.xaml
  src/MaaWpfGui/Res/Styles/DataGrid.xaml
  src/MaaWpfGui/Res/Styles/Divider.xaml
  src/MaaWpfGui/Res/Styles/ListBox.xaml
  src/MaaWpfGui/Res/Styles/MdXaml.xaml
  src/MaaWpfGui/Res/Styles/MessageBox.xaml
  src/MaaWpfGui/Res/Styles/NumericUpDown.xaml
  src/MaaWpfGui/Res/Styles/TextBlock.xaml
  src/MaaWpfGui/Res/Styles/TextBox.xaml
  src/MaaWpfGui/Res/Theme.xaml
  src/MaaWpfGui/Res/Themes/Dark.xaml
  src/MaaWpfGui/Res/Themes/Light.xaml
  src/MaaWpfGui/ViewModels/UI/RootViewModel.cs
  src/MaaWpfGui/Views/UI/CopilotView.xaml
  src/MaaWpfGui/Views/UI/ErrorView.xaml
  src/MaaWpfGui/Views/UI/RecognizerView.xaml
  src/MaaWpfGui/Views/UI/RootView.xaml
  src/MaaWpfGui/Views/UI/TaskQueueView.xaml
  src/MaaWpfGui/Views/UserControl/GuideUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/ExternalNotificationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GameSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/GuiSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/PerformanceUserControl.xaml
  src/MaaWpfGui/Views/UserControl/Settings/VersionUpdateSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/InfrastSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/MallSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/ReclamationSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RecruitSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/RoguelikeSettingsUserControl.xaml
  src/MaaWpfGui/Views/UserControl/TaskQueue/StartUpTaskUserControl.xaml
Labels: MAA Team
